<ng-template #searchModal>
  <div class="row remove-modal-margin">
    <div class="col-12 remove-col-padding">
      <div class="dialog-title-container ">
        <span class="font-size-24 font-white">Advanced Search</span>
        <i class="material-icons font-size-24 float-right font-white margin-top-10" (click)="closeDialog()">
          cancel
        </i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 remove-col-padding">
      <br>
      <form [formGroup]="generalFilterForm">
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Voucher From Date</mat-label>
              <input matInput [matDatepicker]="picker" [max]="today" placeholder="Choose a date" formControlName="from_date"
                 />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Voucher To Date</mat-label>
              <input matInput [matDatepicker]="picker1" [max]="today" placeholder="Choose a date" formControlName="to_date"
                (blur)="getToDate($event.target.value)" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Account</mat-label>
              <input matInput type="text" formControlName="vc_account_type" placeholder="Please Select Account"
                      aria-label="State" [matAutocomplete]="auto" (click)="getAccounts()" (keyup)="getAccounts($event)"
                      required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let aitem of accountsArray" [value]="aitem.coa_acc_name"
                        (onSelectionChange)="setaccount(aitem,i)">
                        {{aitem.coa_acc_name | titlecase}}
                      </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Voucher Type</mat-label>
              <mat-select formControlName="vc_type">
                <mat-option value="">Please Select Voucher Type</mat-option>
                <mat-option *ngFor="let item of voucherArray" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Operator</mat-label>
              <mat-select formControlName="operator">
                <mat-option value="">Please Select Operator</mat-option>
                <mat-option *ngFor="let item of operatorArray" [value]="item.id">{{item.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Amount</mat-label>
              <input matInput type="number" placeholder="Amount" formControlName="vc_debit">
            </mat-form-field>
          </div>
        </div>
      </form>
      <br />
      <div class="row text-center">
        <div class="col-12">
          <button mat-raised-button class="btn-success-green" (click)="submit()">Submit</button>
          <button mat-raised-button class="btn-reset btn-spacer" (click)="reset()">
            Reset
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>
</ng-template>