@mixin background($position) {
    background-image: url(./assets/images/sprite.png);
    background-position: $position;
    height: 25px;
    width: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.inv.upload {
    @include background(0px 0px)
}

.inv.file {
    @include background(-50px 0px)
}

.inv.question {
    @include background(-100px 0px)
}
.syllabus-management {
    @include background(-650px 0px)
}
.dashboard{
    @include background(-300px 0px)
}
.assignment{
    @include background(-750px 0px)
}
.log-entry{
    @include background(-800px 0px)
}
.auxiliaries{
    @include background(-700px 0px)
}
.report{
    @include background(-550px 0px)
}
.setup{
    @include background(-950px 0px)
}
.add-syllabus{
    @include background(-1000px 0px)
}
.review-syllabus{
    @include background(-1050px 0px)
}
.browse-syllabus{
    @include background(-1100px 0px)
}
.classwork-update{
    @include background(-1500px 0px)
}
.topicwise-update{
    @include background(-1550px 0px)
}
.assignment-review{
    @include background(-1150px 0px)
}
.past-assignment{
    @include background(-1200px 0px)
}
.timetable{
    @include background(-1350px 0px)
}
.subject-period-counter{
    @include background(-1300px 0px)
}
.scheduler{
    @include background(-1250px 0px)
}
.syllabus-progress-report{
    @include background(-1400px 0px)
}
.past-assignment-report{
    @include background(-1450px 0px)
}
.view-syllabus{
    @include background(-2250px 0px)
}
.comparative-analysis{
    @include background(-2350px 0px)
}
.log-entry-report{
    @include background(-2300px 0px)
}
.sysytem-info{
    @include background(-2400px 0px)
}
.view-classwork{
    @include background(-2150px 0px)
}
.negative-report{
    @include background(-2050px 0px)
}
.grade-master{
    @include background(-2600px 0px)
}
.student-academic-profile{
    @include background(-2650px 0px)
}
.marks-entry{
    @include background(-2700px 0px)
}
.remarks-entry{
    @include background(-2750px 0px)
}
.reveiw{
    @include background(-2800px 0px)
}
.grade-card{
    @include background(-2850px 0px)
}
.additional-subject{
    @include background(-2900px 0px)
}
.marks-analysis{
    @include background(-2950px 0px)
}
.rollno-allotment{
    @include background(-3000px 0px)
}
.mark-attendance{
    @include background(-3050px 0px)
}
.marks-register{
    @include background(-3100px 0px)
}
.performance-reports{
    @include background(-3150px 0px)
}
.record-assessment{
    @include background(-3200px 0px)
}
.exam{
    @include background(-3250px 0px)
}
.sub-exam{
    @include background(-3300px 0px)
}
.gradecard-setting{
    @include background(-3350px 0px)
}
.upload-marks{
    @include background(-3400px 0px)
}
.subject-subexam-mapping{
    @include background(-3450px 0px)
}
// .record-assessment{
//     @include background(-3500px 0px)
// }

.catalogue-management{
    @include background(-3550px 0px)
}
.accession-master{
    @include background(-3600px 0px)
}
.periodical-master{
    @include background(-3650px 0px)
}
.vendor-master{
    @include background(-3700px 0px)
}
.purchase-master{
    @include background(-3750px 0px)
}
.circulation{
    @include background(-3800px 0px)
}
.issue-return{
    @include background(-3850px 0px)
}
.book-reservation{
    @include background(-3900px 0px)
}
.change-book-status{
    @include background(-3950px 0px)
}
.books-issued{
    @include background(-4000px 0px)
}
.book-search{
    @include background(-4100px 0px)
}
.verification{
    @include background(-4150px 0px)
}
.bar-code-printing{
    @include background(-4200px 0px)
}
.rfid-mapping{
    @include background(-4250px 0px)
}
.bulk-upload{
    @include background(-4300px 0px)
}
.employee_master {
    @include background(-4350px 0px)
}
.employee-details{
    @include background(-4400px 0px)
}
.employee-attendance{
    @include background(-4450px 0px)
}
.employee-leave{
    @include background(-4500px 0px)
}
.payroll-master{
    @include background(-4550px 0px)
}
.salary-computation{
    @include background(-4600px 0px)
}
.disbursment-sheet{
    @include background(-4650px 0px)
}
.employee-ledger{
    @include background(-4700px 0px)
}
.student-profile{
    @include background(-4750px 0px)
}
.invoice-creation{
    @include background(-4800px 0px) 
}
.fee-transaction-entry-bulk{
    @include background(-4850px 0px)
}
.fee-ledger{
    @include background(-4900px 0px)
}
.cheque-control-tool{
    @include background(-4950px 0px)
}
.concession-rectification{
    @include background(-5000px 0px)
}
.familywise-fee-receipt{
    @include background(-5050px 0px)
}
.edit-requests{
    @include background(-5000px 0px)
}
.fee-heads{
    @include background(-5050px 0px)
}
.fee-group{
    @include background(-5100px 0px)
}
.fee-structure{
    @include background(-5150px 0px)
}
.concession-category{
    @include background(-5200px 0px)
}
.concession-group{
    @include background(-5250px 0px)
}
.fines-and-penalities{
    @include background(-5300px 0px)
}
.transport-slabs{
    @include background(-5350px 0px)
}
.stopages{
    @include background(-5400px 0px)
}
.route{
    @include background(-5450px 0px)
}
.maps{
    @include background(-5500px 0px)
}
.file-management-system{
    @include background(-5550px 0px)
}
.school-records{
    @include background(-5600px 0px)
}
.student-records{
    @include background(-5650px 0px)
}
.teacher-records{
    @include background(-5700px 0px)
}
.communications{
    @include background(-5750px 0px)
}
.message{
    @include background(-5800px 0px)
}
.broadcast{
    @include background(-5850px 0px)
}
.notification{
    @include background(-5900px 0px)
}
.store-master{
    @include background(-5950px 0px)
}
.record-master{
    @include background(-6000px 0px)
}
.procurement-master{
    @include background(-6050px 0px)
}
.create-procurement-master{
    @include background(-6100px 0px)
}
.procurement-master{
    @include background(-6150px 0px)
}
.branch-transfer{
    @include background(-6200px 0px)
}
.circulation-consumption{
    @include background(-6250px 0px)
}
.item-search{
    @include background(-6350px 0px)
}
.physical-verification{
    @include background(-6400px 0px)
}
.stock-reconciliation{
    @include background(-6450px 0px)
}
.inventory-bulk{
    @include background(-6500px 0px)
}
.change-status{
    @include background(-6550px 0px)
}
.barcode-printing{
    @include background(-6600px 0px)
}
.item-code-generation{
    @include background(-6750px 0px)
}
.location-master{
    @include background(-6800px 0px)
}