.calender-class{
    font-size: 20px;
    line-height: 3;
}
.desc_class{
    margin-top: 5px;
    font-size: 12px;
    color: #212529a3;
}
.trash-class{
    font-size: 20px;
    line-height: 3;
    text-align: center;
}
@media screen and (max-width:720px) {
    .custom-row {
        padding: 0px !important;
    }
    i.fas.fa-trash {
        position: absolute;
        top: -104px !important;
        right: 0 !important;
    }
}
