<div class="fee-container-box__grey">
  <div class="row">
    <div class="col-12 remove-col-padding">
      <mat-card class="card-top-title__container">
        <div class="row">
          <div class="col-6 remove-col-padding-left">
            <h1 class="remove-bottom-margin font-size-24">Missing Invoice</h1>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row margin-top-10">
    <div class="col-12 remove-col-padding" >
       <app-common-student-profile [loginId]="lastRecordId" [feeRenderId]="feeRenderId" (next)="next($event)"
          (prev)="prev($event)" (first)="first($event)" (last)="last($event)" (key)="key($event)"
          (processTypeEmit)="checkEmit($event)"></app-common-student-profile>
    </div>
 </div>
 <div class="row margin-top-10" *ngIf="datasource.length > 0">
  <div class="col-12 remove-col-padding">
  <mat-card class="card-top-title__container ">
   <table  class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height">
     <thead class='mat-header header' >
      <th  class=' mat-header-cell' style="background-color: #c8d6e5; ">
        <mat-checkbox (change)="getallItem()" [ngModel]= 'checkallstatus'>
        </mat-checkbox>
      </th>
       <th class=' mat-header-cell' style="background-color: #c8d6e5;">
         Invoice No.
       </th>
       <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Period
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Particulars
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Date
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Due Date
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Amount
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Status
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Session
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Type
      </th>
      <th class=' mat-header-cell' style="background-color: #c8d6e5;">
        Invoice Remark
      </th>
      
     </thead>
     <tbody>
       <tr class=' mat-row' *ngFor="let item of datasource" [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}">
          <td >
            <mat-checkbox  (change) ='getItem(item)' [checked] = 'checkResult(item)'>
            </mat-checkbox>
          </td>
          <td>
            {{item.inv_invoice_no}}
          </td>
          <td>
            {{getValue(item.inv_fp_name)}}
          </td>
          <td>
            {{item.inv_title }}
          </td>
          <td>
            {{item.inv_invoice_date | date: 'd-MMM-y'}}
          </td>
          <td>
            {{item.inv_due_date | date: 'd-MMM-y'}}
          </td>
          <td>
            {{getInteger(item.inv_fee_amount , item.inv_fine_amount , item.inv_opening_balance)  }}
          </td>
          <td>
            {{item.inv_paid_status | capitalize}}
          </td>
          <td>
            {{(item.ses_name)}}
          </td>
          <td>
            {{item.calm_name}}
          </td>
          <td>
            {{item.inv_remark}}
          </td>
       </tr>
     </tbody>
   </table>
   <div class="row margin-top-10" style="margin-left: 48%;">
    <div class="button-row">
      <button mat-raised-button class="submit-button" (click)="addInvoiceToledger()">Move to Ledger</button>
   </div>
   </div>
   </mat-card>
   </div>
 </div>
 <div *ngIf="datasource.length < 1" class="row margin-top-10">
 <div class="col-12 remove-col-padding">
  <mat-card class="card-top-title__container ">
  <div  class="text-center font-size-20 font-bold font-color-brown">No Data Available</div>
  </mat-card>
  </div>
  </div>
</div>
