td.mat-cell {
    border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
.mat-column-counter{
    width: 2% !important;
}
.side-menu-mat-panel-title {
    color: black !important;
}