<div>
  <div class="row">
     <div class="col-12">
        <mat-card>
           <mat-card-title>
            <div class="row">
              <div class="col-6">
                <h1 class="remove-bottom-margin font-size-24">School Details</h1>
               </div>
               <div class="col-6 remove-col-padding-right text-right">
                <button mat-button class="btn-success-green" 
                  (click)="createInvoice(null,false,school_id)" >Create Invoice</button>
               </div>
             </div>              
           </mat-card-title>
        </mat-card>
     </div>
  </div>
  <div class="row">
     <div class="col-12">
        <mat-card>
           <mat-card-content>
            <div class="row">
              <div class="col-2 text-center">
                <img style="border-radius:50%"
                  [src]="'https://apisis.invictusdigisoft.com/createonfly.php?src=' + schooldetails?.school_logo + '&h=80&w=80'">
                
              </div>
              <div class="col-1 smart-col-3">
                <div class="fee-vertical-line-divider"></div>
              </div>
              <div class="col-9 fee-col-80 remove-col-padding">
                <div class="row remove-top-margin">
                  <div class="col-3 remove-col-padding">
                    <div class="row remove-top-margin">
                      <div class="col-12">
                        <span class="font-size-16 font-light">School Name: </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_name | titlecase}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="font-size-16 font-light">Email </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_email | titlecase}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="font-size-16 font-light">Contact: </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_phone}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 smart-col-3">
                    <div class="vertical-line-divider"></div>
                  </div>
                  <div class="col-3 remove-col-padding">
                    <div class="row remove-top-margin">
                      <div class="col-12">
                        <span class="font-size-16 font-light">School Address: </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_address | titlecase}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="font-size-16 font-light">City </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_city | titlecase}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="font-size-16 font-light">Pin: </span><span
                          class="font-size-16 font-regular">{{schooldetails?.si_pincode}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 smart-col-3">
                    <div class="vertical-line-divider"></div>
                  </div>
                  <div class="col-3 remove-col-padding">
                    <div class="row remove-top-margin">
                      <div class="col-12">
                        <span class="font-size-16 font-light">School Website: </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_website | titlecase}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="font-size-16 font-light">billing_month No </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_afflication_no | titlecase}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="font-size-16 font-light">Board: </span><span
                          class="font-size-16 font-regular">{{schooldetails?.school_board}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </mat-card-content>
        </mat-card>
     </div>
  </div>
  <div class="row">
    <div class="col-12">
       <mat-card>
          <mat-card-content>
             <div class="row">
                <div class="col-12 pd_left pd_right">
                   <div class="col-2">
                      <mat-form-field class="form-field">
                         <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                         <span matPrefix><i class="fas fa-sliders-h table-filter-icon"></i>&nbsp;&nbsp;
                         </span>
                      </mat-form-field>
                   </div>
                </div>
                <div class="col-12">
                   <table mat-table [dataSource]="dataSource" matSort class="table-100 text-center">
                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                         <th *matHeaderCellDef mat-sort-header> No. </th>
                         <td *matCellDef="let item"> {{item.position}} </td>
                      </ng-container>
                      <!-- Teacher Column -->
                      <ng-container matColumnDef="billing_invoiceid">
                         <th *matHeaderCellDef mat-sort-header>Invoice No </th>
                         <td *matCellDef="let item"> {{item.billing_invoiceid}} </td>
                      </ng-container>
                      <!-- designation Column -->
                      <ng-container matColumnDef="billing_date">
                         <th *matHeaderCellDef mat-sort-header> Date </th>
                         <td *matCellDef="let item"> {{item.billing_date | date : 'd-MMM-y'}}</td>
                      </ng-container>
                      <!--Mobile Column -->
                      <ng-container matColumnDef="billing_duedate">
                         <th *matHeaderCellDef mat-sort-header>Due Date</th>
                         <td *matCellDef="let item"> {{item.billing_duedate | date : 'd-MMM-y'}} </td>
                      </ng-container>
                      <!-- Email Column -->
                      <ng-container matColumnDef="billing_month">
                         <th *matHeaderCellDef mat-sort-header>Period</th>
                         <td *matCellDef="let item"> {{item.billing_month}} </td>
                      </ng-container>
                      <!--status-->
                      <ng-container matColumnDef="billing_amount">
                         <th *matHeaderCellDef mat-sort-header>Amount</th>
                         <td *matCellDef="let item"> {{item.billing_amount}} </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                         <th *matHeaderCellDef> Action </th>
                         <td *matCellDef="let item">
                          <i class="fa fa-pencil-square-o fa-edit fa-lg" style="cursor: pointer;"
                          aria-hidden="true" (click)="editBilling(item.action)"></i>
                          <i class="fa fa-trash fa-delete fa-lg p-l-10" style="cursor: pointer;" aria-hidden="true"
                                    (click)="deleteBilling(item.action)">
                                 </i> 
                          <i class="fa fa-pencil-square-o fa-print fa-lg p-l-10" style="cursor: pointer;"
                          aria-hidden="true" (click)="printBilling(item.action)"></i>
                         </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                   </table>
                   <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]"
                      [showFirstLastButtons]="true">
                   </mat-paginator>
                </div>
             </div>
          </mat-card-content>
       </mat-card>
    </div>
 </div>
</div>
<app-delete-modal #deleteModalRef [deleteMessage]="'Are you Sure? You want to Delete '" (deleteOk)="deleteComOk($event)"
    (deleteCancel)="deleteComCancel()">
</app-delete-modal>