.table-fee-ledger { 
    height: 500px;
    overflow: hidden;
}
.table-fee-ledger-child {
    overflow-y: scroll;
    height: 100%
}

.pointer {
    cursor: pointer;
}
.fa-rupee-sign{
    font-size: 12px;
}
.mat-column-srno {
    width: 3% !important;
    flex: 0 0 8% !important;
}
.cdk-column-feehead {
    width: 65%!important;
}
tr.mat-footer-row {
    height: 35px !important;
    /* color: white; */
}
.mat-footer-row td {
    color: #000 !important;
    font-weight: bolder;
}
td.mat-cell {
    border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
tr.mat-footer-row {
    font-weight: bold;
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
td.mat-footer-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}

.btn-unconsolidate {
    background: #004261;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}

.btn-receiptMod {
    background: #004261;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}
.btn-delete-rec {
    background: #ff5a5a;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}

.btn-edit-inv{
    background: #6c757d;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}

.mat-row, .mat-header-row {  
    min-width: 2800px;  
    width: 100%;  
 }  
 .table-100{
    width: 140% !important;
 }
 .view-less {
    font-size: 13px;
    padding:1px;
    cursor: pointer;
    margin-right: 1px;
 }
[hidden] {
    display: none !important;
  }
.pointer {
    cursor: pointer;
}
.p-l-10{
    padding-left: 10px;
}
.fa-edit {
    color: #0069d9;
  }
  
  .fa-delete {
    color: #dc3545;
  }
  
.make-pay-btn {
    color: #fff !important;
    background-color: #053b73 !important;
    text-transform: uppercase;
    font-size: 13px;
  
}
.make-pay-btn:hover {
    color: #053b73 !important;
    background-color:white !important;
    border: 2px solid #053b73 !important;
    text-transform: uppercase;
    font-size: 13px;
  
}
.print-invoice-btn {
    color: white !important;
    background-color: #a1245f !important;
    text-transform: uppercase;
    font-size: 13px;
}
.print-invoice-btn:hover {
    color: #a1245f !important;
    background-color: white  !important;
    border: 2px solid #a1245f !important;
    text-transform: uppercase;
    font-size: 13px;
}
.fa-rupee-sign{
    font-size: 12px!important;
}
.mat-column-srno {
    width: 3% !important;
    flex: 0 0 8% !important;
}
.cdk-column-feehead {
    width: 50%!important;
}
@media only screen and (max-width: 1024px) {
    .cdk-column-feehead {
        width:45%!important;
    }
    .cdk-column-netpay {
        width:11%!important;
    }
}
td.mat-cell {
    border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
.close-btn {
    cursor: pointer!important;
}
.form-field-60 {
    max-width: 60px !important;
}
