<div class="row">
  <div class="col-12">
    <mat-card>
      <form [formGroup]="searchForm">
        <div class="row">

          <div class="col-10 margin-top-15">
            <span class="font-size-24">Leave Master</span>
          </div>

          <div class="col-2">
            <!-- <mat-form-field class="form-field" appearance="outline">
              <mat-label>Employee Name</mat-label>
              <input matInput [placeholder]="'Enter Employee Name'" formControlName="emp_id" autocomplete="off" (change)="getEmployeeData()" />
            </mat-form-field> -->
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Employee Name</mat-label>
              <input matInput placeholder="Enter Employee Name" formControlName="emp_name" required
                [matAutocomplete]="auto"  (keyup)="getFilterEmployee($event)"/>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of allEmployeeData" [value]="item.emp_id"
                  (onSelectionChange)="setEmployeeId(item)">
                  <small>{{item.emp_name | capitalize}}( {{item.emp_id}} )</small>
                </mat-option>
              </mat-autocomplete>



            </mat-form-field>
          </div>



        </div>
      </form>
    </mat-card>
  </div>

  <div class="col-12">

    <mat-card class="margin-top-10 card-height-325" [hidden]="!(EMPLOYEE_ELEMENT.length > 0)">

      <div class="row margin-top-15 booklog" [hidden]="!(EMPLOYEE_ELEMENT.length > 0)">
        <div class="row">
          <div class="col-12 margin-top-15">
            <div class="col-12 remove-col-padding">
              <span class="font-size-14 font-bold">Employee ID : </span><span
                class="font-size-14 opacity-7">{{employeeData?.emp_id}}</span>
              <span class="font-size-14 font-bold margin-left-15 ver-line-divider">Employee Name : </span><span
                class="font-size-14 opacity-7">
                {{employeeData?.emp_name}}
              </span>
              <span class="font-size-14 font-bold margin-left-15 ver-line-divider">Designation : </span><span
                class="font-size-14 opacity-7">{{employeeData?.emp_designation_detail?.des_name}} </span>
              <span class="font-size-14 font-bold margin-left-15 ver-line-divider">Department : </span><span
                class="font-size-14 opacity-7">
                {{employeeData?.emp_department_detail?.dpt_name}}
              </span>
              <span class="font-size-14 font-bold margin-left-15 ver-line-divider">Category : </span><span
                class="font-size-14 opacity-7">
                {{employeeData?.emp_category_detail?.cat_name}}
              </span>
              <span class="font-size-14 font-bold margin-left-15 ver-line-divider">Status : </span><span
                class="font-size-14 opacity-7">
                {{employeeData?.emp_status}}
              </span>
              <span class="font-size-14 font-bold margin-left-15 ver-line-divider">Opening Balance : </span><span
              class="font-size-14 opacity-7">
              {{leave_opening_balance}}
            </span>
            </div>

          </div>
        </div>
        <div class="col-12 margin-top-15">

          <!-- <form [formGroup]="employeeForm"> -->

          <div class="row">
            <div class="col-12">
              <!-- <div class="row ">
                  <div class="col-10 remove-col-padding">
                    <mat-form-field appearance="legacy lib-form">
                      <input matInput placeholder="Search" (keyUp)="applyFilter($event.target.value)" />
                      <mat-icon matPrefix>filter_list</mat-icon>
                    </mat-form-field>
                  </div>
                </div> -->
              <table mat-table [dataSource]="employeedataSource" matSort class="table-80 text-center"
                id="report_table67">
                <ng-container matColumnDef="srno">
                  <th mat-header-cell *matHeaderCellDef  class="text-nowrap" width="1%"> Sr. No. </th>
                  <ng-container *matCellDef="let element">
                    <td mat-cell *ngIf="element.srno==='Grand Total'" colspan="2">
                      <b>{{element?.srno}}</b>

                    </td>
                    <td mat-cell *ngIf="!(element.srno==='Grand Total')">
                      <p [innerHtml]="element.srno"> </p>

                    </td>
                  </ng-container>

                </ng-container>
                <ng-container matColumnDef="month_name">
                  <th mat-header-cell *matHeaderCellDef  width="30%"> Month </th>
                  <ng-container *matCellDef="let element">
                    <td mat-cell *ngIf="!(element.srno==='Grand Total')" class="text-left">{{element.month_name}}
                    </td>
                  </ng-container>
                </ng-container>
                <!-- <ng-container matColumnDef="leave_opening_balance">
                  <th mat-header-cell *matHeaderCellDef  width="25%"> Opening Balance</th>
                  <ng-container *matCellDef="let element">
                    <td mat-cell *ngIf="!(element.srno==='Grand Total')" class="text-center">
                      {{element.leave_opening_balance}}
                    </td>
                  </ng-container>
                </ng-container> -->
                <ng-container matColumnDef="leave_credited">
                  <th mat-header-cell *matHeaderCellDef  width="5%"> Leave Credited </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <p [innerHtml]="element.leave_credited"></p>
                  </td>
                </ng-container>
                <ng-container matColumnDef="leave_availed">
                  <th mat-header-cell *matHeaderCellDef  width="5%"> Leave Availed </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <p [innerHtml]="element.leave_availed"></p>
                  </td>
                </ng-container>
                <ng-container matColumnDef="leave_granted">
                  <th mat-header-cell *matHeaderCellDef  width="5%"> Leave Granted </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <p [innerHtml]="element.leave_granted"></p>
                  </td>

                </ng-container>
                <ng-container matColumnDef="lwp">
                  <th mat-header-cell *matHeaderCellDef  width="5%"> LWP</th>
                  <td mat-cell *matCellDef="let element">
                    <p [innerHtml]="element.lwp"></p>
                  </td>
                </ng-container>
                <ng-container matColumnDef="leave_closing_balance">
                  <th mat-header-cell *matHeaderCellDef  width="5%"> Closing Balance </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <p [innerHtml]="element.leave_closing_balance"></p>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedEmployeeColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedEmployeeColumns;">
                </tr>
              </table>
              <mat-paginator #paginator [pageSizeOptions]=[5,10,20] [pageSize]="15" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
          <br />

          <!-- </form> -->

        </div>
      </div>
      <br />



    </mat-card>
    <mat-card class="margin-top-10 card-height-325" *ngIf="EMPLOYEE_ELEMENT.length == 0">
      <div class="text-center">
        <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
          [noDataText]="" [subText]="'No Employee Leave Found'"></app-no-data>
      </div>
    </mat-card>
  </div>
</div>