.adm-no-student-30 {
    font-size: 30px !important;
}
button.nav-button.mat-mini-fab.mat-accent {
    width: 18px !important;
    margin-top: -10px !important;
}
.smart-col-13 {
    max-width: 14% !important;
    flex: 0 0 14% !important;
}
.vertical-divide {
    border-right: 2px solid #dee2e6;
    margin-right: 0.5%;
    height: 70px;
    margin-top: 22px;
}

.blue-circle-btn{
    cursor: pointer;
}
.center-field{
    text-align: center !important;
}
.vertical-divider {
    border-right: 2px solid #dee2e6;
    margin-right: 1.5%;
}
.blink{
    background-color: #e11022;
    text-align: center;
}
.blink span{
    font-family: cursive;
    color: white;
    animation: blink 1s linear infinite;
}
.credit {
    color: green;
}
.debit {
    color: red;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

    @media (max-width:1280px) and (min-width:1024px) {
        .three-icon {
            position: absolute !important;
            right:20px !important;
        }
    }
    @media (max-width:1280px) and (min-width:960px) {
        .three-icon {
            position: absolute !important;
            right:20px !important;
        }
    }
    @media screen and (max-width:1800px) and (min-width: 1336px){
        .smart-col-13 {
            max-width: 12% !important;
            flex: 0 0 12% !important;
        }
    }