/* .user-table {
  padding-top: 10px;
  overflow-x: auto;
  width: 100%;
}

tr, th, td {
  padding: 5px;
}



.form-group-filter {
  margin-bottom: 0rem;
}

.fa-edit {
  color: #0069d9;
}

.fa-delete {
  color: #dc3545;
  cursor: pointer;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.top_header {
  background-color: #e6e5df;
}

.mat-header-cell {
  color: #343a40;
  font-weight: 500;
}
@media only screen and (max-width:996px){
  .col-md-2 {
  margin-top: 5px;
 }

}

@media only screen and (max-width:720px){
  .example-container{
    width: 424px;
    position: absolute;
    padding-right: 2px;
    display: flex;
  }
} */

.table-box{
  margin-bottom: 60px;
}
.create-new-user {
  float: right;
  margin-right: 10px;
}