<div class="fee-container-box__grey">
  <div class="container-box__white">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="text-uppercase"><b>Teacher Management</b></h4>
      </div>
    </div>

    <!--white space-->
    <div class="add-question-content">
      <div class="row row-remove-top-margin">
        <div class="col-lg-12 col-mobile-view-add-ques">
          <div>
            <div class="container-box__white">
             
              <!--white space-->
              <!--select parameters-->
              <div class="row row-remove-top-margin">
                <div class="col-lg-12 remove-col-padding col-mobile-view-add-ques">
                  <div class="top-right-parameter top-middle-parameter">
                    <div class="top-right-box">
                      <div class="top-right-box-content top-middle-box-content">
                        <div class="top-right-box-content-title">
                          <!-- <div class="row">
                            <div class="col-lg-12 col-mobile-view-add-ques">
                              <span>Select Parameters</span>
                            </div>
                          </div> -->
                          <div class="row">
                            <div class="col-lg-12 col-mobile-view-add-ques">
                              <form [formGroup]="Filter_form" novalidate>
                                <div class="row">
                                  <div class="col-lg-2 fin-tab-col-25  col-mobile-view-add-ques">
                                      <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Select Class</mat-label>
                                      <mat-select id="school-region" formControlName="uc_class_id"
                                        (change)="getSubjectsByClass();getSectionsByClass()" placeholder="Select Class">
                                        <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                                          {{item.class_name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                      <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Section</mat-label>
                                      <mat-select formControlName="sub_id" id="school-region"
                                        formControlName="uc_sec_id" placeholder="Section">
                                        <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                                          {{item.sec_name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                      <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Subject</mat-label>
                                      <mat-select formControlName="topic_id" id="school-region"
                                        formControlName="uc_sub_id" placeholder="Subject">
                                        <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                                          {{item.sub_name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>



                                  <div
                                    class="col-lg-2 fin-tab-col-25 col-remove-right-padding col-mobile-view-add-ques">
                                    <div class="row row-remove-top-margin">
                                      <div class="col-lg-12 col-remove-padding col-mobile-view-add-ques">
                                        <div class="add-question-button-collection">
                                          <!-- <button class="btn btn-primary" (click)="insertQuestion()" [disabled]="!ind_entry_form1.valid">Submit</button>
                        <button class="btn btn-danger submit-button" (click)="reset()">Reset</button> -->
                                          <div class="button-row text-center margin-top-12">
                                            <button mat-raised-button class="btn-success-sis"
                                              (click)="getAllTeacher(this)">Apply</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--select parameters-->


              <div class="row remove-top-margin">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <button mat-raised-button class="create-new-user reset-button"
                    *ngIf="isExistUserAccessMenu('114')">View Profile</button>
                  <a *ngIf="isExistUserAccessMenu('303')" [routerLink]="['../create-new-teacher']">
                    <button mat-raised-button class="create-new-user btn-success access-button">
                      <i class="fa fa-plus"></i>&nbsp; New Teacher</button>
                  </a>
                </div>
              </div>
              <br>

              <div class="row remove-top-margin">
                <div class="col-lg-12 col-remove-padding col-mobile-view-add-ques">
                  <div  *ngIf="tableCollection">


                    <div class="example-container table-box-main">
                      <div class="example-header">

                        <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                          <span matPrefix><i class="fas fa-sliders-h table-filter-icon"></i>&nbsp;&nbsp; </span>
                        </mat-form-field>
                      </div>

                      <table mat-table  #table [dataSource]="dataSource" matSort class="table-100 text-center">
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                          <td mat-cell *matCellDef="let item"> {{item.position}} </td>
                        </ng-container>
                        <!-- Template Name Column -->
                        <ng-container matColumnDef="userId">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                          <td mat-cell *matCellDef="let item"> {{item.userId}} </td>
                        </ng-container>
                        <!-- Teacher Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher Name </th>
                          <td mat-cell *matCellDef="let item"> {{item.name | titlecase}} </td>
                        </ng-container>
                        <!-- designation Column -->
                        <ng-container matColumnDef="designation">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                          <td mat-cell *matCellDef="let item"> Admin</td>
                        </ng-container>
                        <!--Mobile Column -->
                        <ng-container matColumnDef="mobile">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</th>
                          <td mat-cell *matCellDef="let item"> {{item.mobile}} </td>
                        </ng-container>
                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                          <td mat-cell *matCellDef="let item"> {{item.email}} </td>
                        </ng-container>
                        <!--status-->
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                          <td mat-cell *matCellDef="let item"> {{item.status}} </td>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let item">
                            <a [routerLink]="['../view-teacher-profile']"
                              [queryParams]="{login_id:item.action.au_login_id}">
                              <i class=" view-icon material-icons" matTooltip="View Teacher Profile"
                                aria-hidden="true">visibility</i>
                            </a>
                            &nbsp;
                            <a [routerLink]="['../create-new-teacher']"
                              [queryParams]="{login_id:item.action.au_login_id}">
                              <i *ngIf="isExistUserAccessMenu('304')" class=" inline-form-table-icon-spacing material-icons modify-icon"
                                 aria-hidden="true">create</i>
                            </a>
                            &nbsp;
                            <i *ngIf="isExistUserAccessMenu('305')" class="inline-form-table-icon-spacing material-icons delete-icon"
                               aria-hidden="true"
                              (click)="deleteUsr(item.action.au_login_id);openModal({});">delete</i>
                          </td>
                        </ng-container>
                        <tr mat-header-row class="top_header header-normal" *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row class="row-normal" *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]"
                        [showFirstLastButtons]="true">
                      </mat-paginator>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<app-delete-modal #deleteModalRef [deleteMessage]="'Are you Sure? You want to Delete'" (deleteOk)="deleteUser(currentUser)"></app-delete-modal>

