.company-logo-mob {
    width: 29px;
    height: 39px;
}

h1.font-size-14 {
    font-size: 14px !important;
}

.instruction-sub-title.font-size-8 {
    font-size: 8px !important;
}

.instruction-sub-title-mob {
    width: 132px !important; 
}
@media (min-width: 300px) and (max-width: 960px) {
    .big-screen {
      display: none;
    }
}
@media (min-width: 960px) {
    .small-screen {
      display: none;
    }
}

.questions-modal-button{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: #f7931e !important;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 9999 !important;
}
.questions-modal-icon{
	margin-top:22px;
}
