.company-logo-mob {
    width: 29px;
    height: 39px;
}

h1.font-size-14 {
    font-size: 14px !important;
}

.instruction-sub-title.font-size-8 {
    font-size: 8px !important;
}

.instruction-sub-title-mob {
    width: 132px !important; 
}