.company-logo-mob {
    width: 29px;
    height: 39px;
}

h1.font-size-13 {
    font-size: 13px !important;
    margin-bottom: 0px !important;
}

.instruction-sub-title.font-size-8 {
    font-size: 8px !important;
}

.instruction-sub-title-mob {
    width: 132px !important; 
}

.indivi-ques-instruct {
    border: 2px solid #000;
    font-size: 12px;
    padding: 1px !important;
}
.question-parent-class{
    height: 120px;
    width: 100%;
    overflow-y: auto;
    margin-left: 1px;
    margin-right: 1px;
}
.ques-content-card-parent{
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
.options-parent-class{
    height: 213px;
    width: 100%;
    overflow-y: auto;
    margin-left: 1px;
    margin-right: 1px;
}
.question-options-card{
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
::-webkit-scrollbar {
    display: none !important;
}
.adv-jee-top-title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: -3px !important;
}
.add-jee-ongpsc-subheader {
    padding: 1px !important;
    margin-top: -10px !important;
    background-color: rgb(19, 18, 18) !important;
    color: #fff !important;
}
.section-tab-container {
    padding: 0px !important;
    background-color: #e2dfdf;
    margin-top: -10px !important;
}
.ques-number-coll {
   margin-top: -6px !important;
}
/* .ongoing-left-container {
    padding-right: 10px !important
} */
.notpad-numericpad-parent {
    height: 440px;
    width: 100%;
    overflow-y: auto; 
}
.notpad-numericpad {
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
.test-objective-option-card-jee {
    border-radius: 10px !important;
    padding: 10px !important;
    text-align: center !important;
    border: 1px solid #88cdf2 !important;
    margin-right: 10px;
    margin-bottom: 10px;
}
input.jee-input {
    height: 20px;
}
.backdiv {
    background-color: #f4f4f4;
    padding: 10px;
    width: 151px;
}
button.backspace-btn {
    border-radius: 5px;
    background-color: #dedbe4;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
button.backspace-btn:hover{
background-color: #6db91d;
cursor: pointer;
}
button.number-btn {
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    background-color: #eeeeee;
    cursor: pointer;
}
button.number-btn:hover {
    background-color: #88cdf2;
    cursor: pointer;
}
.backspace-btn-clear{
    border-radius: 5px;
    background-color: #dedbe4;
    font-weight: bold;
    font-size: 16px;
    width: 85px;
    cursor: pointer;
}
.backspace-btn-clear:hover{
    background-color: #6db91d;
    cursor: pointer;
    }
    .confirmDiv {
        padding: 20px;
        margin-top: -205px;
        background-color: white;
        margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px
    }
    .adv-student-pic {
        height: 74px !important;
    }


    @media screen and (max-width: 1400px) and (min-width: 900px) {

        .options-parent-class {
            height: 137px !important;
        }

        .notpad-numericpad-parent {
            height: 370px !important;
            overflow-y: auto;
        }
        .small-screen {
            display: none !important;
        }
    }
    @media screen and (max-width: 2000px) and (min-width: 1500px) { 
        .small-screen {
            display: none !important;
        }
        .on-adv-test-margin-top-30 {
            margin-top: 30px;
        }
         .custom-col-2 {
            flex: 0 0 23.666667% !important;
            max-width: 23.666667% !important;
        }
    
        .remove-right-padding {
            padding-right: 0px !important;
        }
    
        .custom-col-10 {
            flex: 0 0 79.333333% !important;
            max-width: 76.333333% !important;
        }
        .ques-number-coll {
            height: 74vh !important;
        }
    
        .numberpad-adv-container {
            border: 2px solid #000;
            height: 74vh;
        }
    
        .mat-tab-body-content {
            overflow: auto;
        }
    
        .custom-mid-right-ques-container {
            flex: 0 0 23.666667% !important;
            max-width: 23.666667% !important;
            padding-right: 15px;
        }
    
        .custom-mid-left-ques-container {
            flex: 0 0 76.333333% !important;
            max-width: 76.333333% !important;
            padding-left: 20px;
        }
    
      .numberpad-adv-container {
        border: 2px solid #000;
        height: 63.45vh;
      }
      .remove-right-padding {
        padding-right: 0px !important;
    }
    
      .submit-btn-ne9 {
        margin-top: -9px !important;
    }
    }
    @media screen and (max-width: 550px) and (min-width: 300px) {  
        .big-screen {
            display: none !important;
        }
        .custom-mid-left-ques-container {
            flex: 0 0 94.333333% !important;
            max-width: 94.333333% !important;
            padding-left: 20px;
        }
        .question-parent-class[_ngcontent-c4] {
            height: 30% !important;
            margin-top: 5px !important;
        }
        .question-options-card{
            width: 100% !important;
            height: 100% !important;
            overflow-y: scroll !important;
        }
        .ques-content-card-parent{
            width: 100% !important;
            height: 100% !important;
            overflow-y: scroll !important;
        }
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color: #3379b7 !important;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            z-index: 9999 !important;
            }

            .my-float{
                margin-top:22px;
            }
            ::-webkit-scrollbar {
                display: none !important
            }
            .text-center {
                text-align: left !important;
            }
            .float-div-small{
                z-index: 3 !important;
            }
            footer {
                z-index: 9999 !important
            }
    }