.indivi-ques-instruct {
    border: 2px solid #000;
    font-size: 12px;
    padding: 1px !important;
}
.question-parent-class{
    height: 120px;
    width: 100%;
    overflow-y: auto;
    margin-left: 1px;
    margin-right: 1px;
}
.ques-content-card-parent{
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
.options-parent-class{
    height: 213px;
    width: 100%;
    overflow-y: auto;
    margin-left: 1px;
    margin-right: 1px;
}
.question-options-card{
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
::-webkit-scrollbar {
    display: none !important;
}
.adv-jee-top-title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: -3px !important;
}
.add-jee-ongpsc-subheader {
    padding: 1px !important;
    margin-top: -10px !important;
    background-color: rgb(19, 18, 18) !important;
    color: #fff !important;
}
.section-tab-container {
    padding: 0px !important;
    background-color: #e2dfdf;
    margin-top: -10px !important;
}
.ques-number-coll {
   margin-top: -6px !important;
}
.ongoing-left-container {
    padding-right: 10px !important
}
.notpad-numericpad-parent {
    height: 440px;
    width: 100%;
    overflow-y: auto; 
}
.notpad-numericpad {
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
.test-objective-option-card-jee {
    border-radius: 10px !important;
    padding: 10px !important;
    text-align: center !important;
    border: 1px solid #88cdf2 !important;
    margin-right: 10px;
    margin-bottom: 10px;
}
input.jee-input {
    height: 20px;
}
.backdiv {
    background-color: #f4f4f4;
    padding: 10px;
    width: 151px;
}
button.backspace-btn {
    border-radius: 5px;
    background-color: #dedbe4;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
button.backspace-btn:hover{
background-color: #6db91d;
cursor: pointer;
}
button.number-btn {
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    background-color: #eeeeee;
    cursor: pointer;
}
button.number-btn:hover {
    background-color: #88cdf2;
    cursor: pointer;
}
.backspace-btn-clear{
    border-radius: 5px;
    background-color: #dedbe4;
    font-weight: bold;
    font-size: 16px;
    width: 85px;
    cursor: pointer;
}
.backspace-btn-clear:hover{
    background-color: #6db91d;
    cursor: pointer;
    }
    .confirmDiv {
        padding: 20px;
        margin-top: -205px;
        background-color: white;
        margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px
    }
    .adv-student-pic {
        height: 74px !important;
    }


    @media screen and (max-width: 1400px) and (min-width: 900px) {

        .options-parent-class {
            height: 137px !important;
        }

        .notpad-numericpad-parent {
            height: 370px !important;
            overflow-y: auto;
        }
    }