.over-div {
    height: 320px;
    overflow: auto;
}
.row.cus-r {
    margin-top: 0px !important;
}
.fs-15{
    font-size: 15px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.fs-30{
    font-size: 30px;
}
.p0{
    padding: 0;
}
.pr5{
    padding-right: 5px;
}
.pr10{
    padding-right: 10px;
}
.clr-green{
    color: green;
}
.on-hover-circle:hover{
    border: 1px solid green;
    padding: 10px;
    border-radius: 35px;
    margin-top: 5px !important;
    cursor: pointer;
}
.mt-1r{
    margin-top: 1rem;
}