<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        <form [formGroup]="paramForm" novalidate>
          <div class="row">
            <div class="col-8">
              <h1 class="remove-bottom-margin font-size-24">Assignments</h1>
            </div>
            <div class="col-4 text-right date-margin" *ngIf="testView == 'past'">
              <div class="row justify-content-end">
                <div class="col-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>From Date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="from"
                      (dateChange)="getAssignment();setMinDate()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="to"
                      [min]="toMin" (dateChange)="getAssignment()">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card-title>
    </mat-card>
  </div>
</div>
<div class="row margin-top-15">
  <div class="col-6">
    <div class="margin-top-5"><span class="font-size-16"> Today's Date : </span><span
        class="font-size-16 font-bold">{{todaysDate  | date:'d-MMM-y'}}</span></div>
  </div>
  <div class="col-6 text-right">
    <button mat-button (click)="switchView('today')" [ngClass]="{'disablePage':testView == 'today'}">Today
      Assignment</button>
    <button mat-button (click)="switchView('past')" [ngClass]="{'disablePage':testView == 'past'}">Past
      Assignment</button>

  </div>
</div>
<!-- <div class="row margin-top-15">
<div class="col-4">
<mat-card class="student-yellow-border">
  <mat-card-content>
    <button mat-button class="student-small-btn font-bold">+5</button>
    <span class="font-size-20 font-bold font-skyblue">Science</span><br>
    <span class="font-size-18 font-bold">Health & Hygenie</span><br>
    <p class="margin-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nunc turpis. Aenean fermentum nisl a tortor iaculis feugiat. Pellentesque erat odio</p>
    <span>Assigned By : </span><span class="font-bold">Amit Kumar</span>
  </mat-card-content>
</mat-card>
</div>
<div class="col-4">
<mat-card class="student-green-border">
  <mat-card-content>
    <button mat-button class="student-small-green font-bold">+5</button>
    <span class="font-size-20 font-bold font-skyblue">Science</span><br>
    <span class="font-size-18 font-bold">Health & Hygenie</span><br>
    <p class="margin-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nunc turpis. Aenean fermentum nisl a tortor iaculis feugiat. Pellentesque erat odio</p>
    <span>Assigned By : </span><span class="font-bold">Amit Kumar</span>
  </mat-card-content>
</mat-card>
</div>
<div class="col-4">
<mat-card class="student-darkgreen-border">
  <mat-card-content>
    <button mat-button class="student-small-darkgreen font-bold">+5</button>
    <span class="font-size-20 font-bold font-skyblue">Science</span><br>
    <span class="font-size-18 font-bold">Health & Hygenie</span><br>
    <p class="margin-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nunc turpis. Aenean fermentum nisl a tortor iaculis feugiat. Pellentesque erat odio</p>
    <span>Assigned By : </span><span class="font-bold">Amit Kumar</span>
  </mat-card-content>
</mat-card>
</div>
</div>

<div class="row margin-top-15">
<div class="col-4">
<mat-card class="student-red-border">
  <mat-card-content>
    <button mat-button class="student-small-red font-bold">+5</button>
    <span class="font-size-20 font-bold font-skyblue">Science</span><br>
    <span class="font-size-18 font-bold">Health & Hygenie</span><br>
    <p class="margin-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nunc turpis. Aenean fermentum nisl a tortor iaculis feugiat. Pellentesque erat odio</p>
    <span>Assigned By : </span><span class="font-bold">Amit Kumar</span>
  </mat-card-content>
</mat-card>
</div>
<div class="col-4">
<mat-card class="student-purple-border">
  <mat-card-content>
    <button mat-button class="student-small-purple font-bold">+5</button>
    <span class="font-size-20 font-bold font-skyblue">Science</span><br>
    <span class="font-size-18 font-bold">Health & Hygenie</span><br>
    <p class="margin-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nunc turpis. Aenean fermentum nisl a tortor iaculis feugiat. Pellentesque erat odio</p>
    <span>Assigned By : </span><span class="font-bold">Amit Kumar</span>
  </mat-card-content>
</mat-card>
</div>
</div> -->


<!--Past Ass-->
<div class="row margin-top-15" *ngIf="assignmentFlag">
  <div class="col-12">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step *ngFor="let item of assignmentArray; let i = index">
        <ng-template matStepLabel><span
            class="font-size-20 font-bold font-skyblue">{{item.as_entry_date | date:'d-MMM-y'}}</span></ng-template>
        <ng-container *ngFor="let item2 of item.as_array">
          <div class="row">
            <div class="col-11">
              <span class="font-size-20 font-bold font-skyblue">{{item2.sub_name | titlecase}}</span><br>
              <span class="font-size-18 font-bold">{{item2.topic_name | titlecase}}</span><br>
              <p><span>Assigned By : </span><span class="font-bold">{{item2.au_full_name | titlecase}}</span></p>
              <div class="margin-top-10" [innerHTML]="item2.as_assignment_desc | titlecase"></div>
            </div>
            <div class="col-1 " *ngIf="item2.as_attachment.length > 0">
              <button mat-mini-fab class="yellow-circle-button circle-button"
                (click)="previewDocuments(item2.as_attachment)"><span
                  class="font-white font-size-16 font-bold">+{{item2.as_attachment.length}}</span></button>
            </div>
          </div>
          <hr>
        </ng-container>
      </mat-step>

    </mat-vertical-stepper>

  </div>
</div>
<div class="row margin-top-15" *ngIf="!assignmentFlag">
    <div class="col-12 text-center noRecord">
      <div style="border: 1px solid #89a8c9;background-color:#ffffff">
          <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'"
          [noDataText]="'No Record Found'" [subText]="''"></app-no-data>
      </div>
        
    </div>
</div>