<div class="modal-custom-cotainer">
  <div class="row remove-top-margin" *ngIf="showtitle">
    <div class="col-12 remove-col-padding">
      <div class="modal-title-box">
        <span class="font-size-20 font-white font-regular">{{data.title}}</span><span
          class="float-right margin-top-5"><i (click)="closeDialog()"
            class="far fa-times-circle font-white cursor-pointer font-size-24"></i></span>
      </div>
    </div>
  </div>
  <div class="row" id="ledger_log" style="margin:20px 0">
    <div class="col-12">
      <div class="row" *ngFor="let item of param?.ledger_data; let tableindex=index; ">
        <div class="col-12 text-center" style="margin-top: 5px;">
          <p class="ledger-head">
            {{item.coa_acc_name | titlecase}}
          </p>
          
          <!-- <p><a href="javascript:void(0)" (click)="downloadPdf()">Download Pdf</a></p>
          <p><a href="javascript:void(0)" (click)="downloadExcel(tableindex)">Download Excel</a></p> -->
        </div>
        <div class="col-12 text-right remove-col-padding-right">
            <!-- <i class="fa fa-file-excel font-skyblue font-bold font-size-20" (click)="downloadExcel()"></i>&nbsp;
              <i class="fa fa-file-pdf font-skyblue font-bold font-size-20" (click)="downloadPdf()"></i> -->

            <div class="inline-flex btn-spacer text-right margin-bottom-5">
              <div>
                <img style="cursor: pointer; height: 25px !important" src="/assets/images/pdf.svg"
                  matTooltip="Download as Pdf" (click)="downloadPdf(item?.coa_acc_name)" [matTooltipPosition]="'left'" />
              </div>
            </div>
            <div class="inline-flex btn-spacer text-right margin-bottom-5">
              <div>
                <img style="cursor: pointer; height: 25px !important" src="/assets/images/xml.svg"
                  matTooltip="Export as excel" (click)="downloadExcel(tableindex)" [matTooltipPosition]="'left'" />
              </div>
            </div>
          </div>
        <ng-container>
          <table style="width:100%;" id="tablepdf">
            <tr>
              <td style="padding-right: 0px;">
                <table #tablecmp
                  class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height">
                  <thead>
                    <tr>
                      <th width="20%">Date</th>
                      <th width="40">Particulars</th>
                      <th width="25%">Folio</th>
                      <th width="15%">Amount (<i class="fas fa-rupee-sign font-size-14 m-lr-2"></i>)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let par of item.debit_data">
                      <tr *ngIf="par?.vc_account_type === 'Opening Balance'">
                        <td><span
                            *ngIf="par?.vc_credit != 0 && !(par?.vc_mode)">{{par?.vc_date | date: 'd-MMM-yyyy'}}</span><span
                            *ngIf="par?.vc_credit != 0 && (par?.vc_mode == 'consolidate')">{{par?.vc_date}}</span></td>

                        <td class="text-left"><span
                            *ngIf="par?.vc_credit != 0">{{par?.vc_account_type | titlecase}}</span></td>
                        <td><span *ngIf="par?.vc_credit != 0">{{par?.vc_number?.vc_name}}</span></td>
                        <td class="text-right"><span
                            *ngIf="par?.vc_credit < 0">{{getTwoDecimalValue(-par?.vc_credit) | indianCurrency}}</span><span
                            *ngIf="par?.vc_credit > 0">{{par?.vc_credit | indianCurrency}}</span>
                          <span *ngIf="par?.vc_credit == 0">
                            -</span></td>
                      </tr>
                    </ng-container>
                    <ng-container *ngFor="let par of item.debit_data">
                      <tr *ngIf="!(par?.vc_account_type === 'Opening Balance')">
                        <td><span
                            *ngIf="par?.vc_credit != 0 && !(par?.vc_mode)">{{par?.vc_date | date: 'd-MMM-yyyy'}}</span><span
                            *ngIf="par?.vc_credit != 0 && (par?.vc_mode == 'consolidate')">{{par?.vc_date}}</span></td>

                        <td class="text-left"><span
                            *ngIf="par?.vc_credit != 0">{{par?.vc_account_type | titlecase}}</span></td>
                        <td><a href="javascript:void(0)" (click)="openVoucherModal(par)"><span
                              *ngIf="par?.vc_credit != 0">{{par?.vc_number?.vc_name}}</span></a></td>
                        <td class="text-right">
                          <span
                            *ngIf="par?.vc_credit > 0">{{getTwoDecimalValue(par?.vc_credit) | indianCurrency}}</span>
                          <span
                            *ngIf="par?.vc_credit < 0">{{getTwoDecimalValue(par?.vc_credit) | indianCurrency}}</span>
                          <span *ngIf="par?.vc_credit == 0">-</span>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="item.debit_data.length < item.credit_data.length">
                      <tr *ngFor="let citem of checkBlankArray(item);">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="text-right"></td>
                      </tr>
                    </ng-container>

                    <tr *ngIf="getDeviation(item) > 0">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="text-right">&nbsp;</td>
                    </tr>
                    <tr *ngIf="getDeviation(item) < 0">
                      <td><span
                          *ngIf="item?.credit_data.length > 0">{{item?.credit_data[0]['vc_closing_date'] | date: 'd-MMM-yyyy'}}</span>
                      </td>
                      <td class="text-left"><b> Balance c/d</b></td>
                      <td>&nbsp;</td>
                      <td class="text-right"><b>{{getTwoDecimalValue(-(deviation_f)) | indianCurrency }}</b></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <!-- <td class="text-right">{{(item?.total[0]['credit_total']-item?.total[0]['deviation']) | indianCurrency}}</td> -->
                      <td class="text-right"><b><span *ngIf="deviation_f < 0">
                            <span
                              *ngIf="(debit_total_f-(deviation_f)) != 0">{{getTwoDecimalValue((debit_total_f-(deviation_f))) | indianCurrency}}</span>
                            <span *ngIf="(debit_total_f-(deviation_f)) == 0">-</span>

                          </span>
                          <span *ngIf="deviation_f > 0">{{getTwoDecimalValue(debit_total_f) | indianCurrency}}</span>
                          <span *ngIf="deviation_f == 0">-</span>
                        </b> </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td style="padding-left: 0px;">
                <table #tablecmp1
                  class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height">
                  <thead>

                    <tr>
                      <th width="20%">Date</th>
                      <th width="40">Particulars</th>
                      <th width="25%">Folio</th>
                      <th width="15%">Amount (<i class="fas fa-rupee-sign font-size-14 m-lr-2"></i>)</th>
                    </tr>
                  </thead>
                  <tbody>

                    <ng-container *ngFor="let par of item.credit_data">
                      <tr>
                        <td class="text-left"><span
                            *ngIf="par?.vc_debit > 0 && !(par?.vc_mode == 'consolidate')">{{par?.vc_date | date: 'd-MMM-yyyy'}}</span><span
                            *ngIf="par?.vc_debit > 0 && par?.vc_mode=='consolidate'">{{par?.vc_date | date: 'd-MMM-yyyy'}}</span>&nbsp;
                        </td>
                        <td class="text-left"><span
                            *ngIf="par?.vc_debit > 0">{{par?.vc_account_type | titlecase}}</span></td>
                        <td class="text-left"><a href="javascript:void(0)" (click)="openVoucherModal(par)"><span
                              *ngIf="par?.vc_debit > 0">{{par?.vc_number?.vc_name}}</span></a></td>
                        <td class="text-right"><span
                            *ngIf="par?.vc_debit > 0">{{getTwoDecimalValue(par?.vc_debit) | indianCurrency}}</span></td>
                      </tr>
                    </ng-container>

                    <ng-container *ngIf="item.debit_data.length > item.credit_data.length">
                      <tr *ngFor="let citem of checkBlankArray(item);">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="text-right">&nbsp;</td>
                      </tr>

                    </ng-container>
                    <tr *ngIf="getDeviation(item) > 0">
                      <td><span
                          *ngIf="item?.debit_data.length > 0">{{item?.debit_data[0]['vc_closing_date'] | date: 'd-MMM-yyyy'}}</span>
                      </td>
                      <td class="text-left"><b> Balance c/d</b></td>
                      <td>&nbsp;</td>
                      <td class="text-right"><b>{{getTwoDecimalValue(deviation_f) | indianCurrency}}</b></td>
                    </tr>
                    <tr *ngIf="getDeviation(item) < 0">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="text-right">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="text-right">
                        <b><span *ngIf="deviation_f > 0">
                            {{getTwoDecimalValue(credit_total_f+deviation_f) | indianCurrency}}</span>
                          <span *ngIf="deviation_f < 0">
                            <span *ngIf="credit_total_f != 0">{{getTwoDecimalValue(credit_total_f) | indianCurrency}}
                            </span>
                            <span *ngIf="credit_total_f == 0">-
                            </span></span>
                          <span *ngIf="deviation_f == 0">-</span>
                        </b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </ng-container>
        <!-- <div class="col-12" *ngIf="item?.total && item.debit_data.length ==0 &&  item.credit_data.length == 0">
        <table class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height" >
          <thead>
            <tr>
              <th class="mat-header-cell" width="10%">Date</th>
              <th class="mat-header-cell" width="20">Particulars</th>
              <th class="mat-header-cell" width="12,5%">Folio</th>
              <th class="mat-header-cell" width="7.5%">Amount</th> 
              <th class="mat-header-cell" width="10%">Date</th>
              <th class="mat-header-cell" width="20">Particulars</th>
              <th class="mat-header-cell" width="12.5%">Folio</th>
              <th class="mat-header-cell" width="7.5%">Amount</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"  colspan="8">No Record Found</td>
            </tr>
          </tbody>
          </table>
          
      </div> -->
      </div>
    </div>
  </div>
</div>
<!-- <div #dummydiv [hidden]="!showExcel">
</div> -->