<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-2 sis-col-15 text-center">
          <div class="row">
            <div class="col-12">
              <span class="font-size-14">Admission No</span>
            </div>
          </div>
          <div class="row">
            <div class="col-3 margin-top-15 inline-flex">
              <i class="material-icons">
                first_page
              </i><i class="material-icons">
                chevron_left
              </i>
            </div>
            <div class="col-6">
              <mat-form-field class="form-field">
                <input class="font-size-30 font-bold text-center font-skyblue" matInput>
              </mat-form-field>
            </div>
            <div class="col-3 margin-top-15 inline-flex">
              <i class="material-icons">
                chevron_right
              </i><i class="material-icons">
                last_page
              </i>

            </div>
          </div>
        </div>
        <div class="col-1 text-right margin-top-20">
          <img class="student-profile-image-68" src="https://via.placeholder.com/68">
        </div>
        <div class="col-1">
          <div class="row ">
            <div class="col-12 text-left margin-top-20">
              <span class="font-size-16">Aarti Kumari</span><br>
              <span class="font-size-14">Class : X - A</span>
            </div>
          </div>
        </div>
        <div class="col-1 text-center">
          <div class="vertical-line-divider"></div>
        </div>
        <div class="col-1 text-center">
          <div class="row ">
            <div class="col-12 text-left">
              <span class="font-size-10">Date of Birth</span><br>
              <span class="font-size-13 font-medium">Class : X - A</span>
            </div>
          </div>
          <div class="row ">
            <div class="col-12 text-left">
              <span class="font-size-10">Contact no.</span><br>
              <span class="font-size-13 font-medium">9856489521</span>
            </div>
          </div>
        </div>
        <div class="col-2 sis-col-15 text-center">
          <div class="row ">
            <div class="col-12 text-left">
              <span class="font-size-10">Admitted</span><br>
              <span class="font-size-13 font-medium">VI - A on 15-Apr-2014</span>
            </div>
          </div>
          <div class="row ">
            <div class="col-12 text-left">
              <span class="font-size-10">House</span><br>
              <span class="font-size-13 font-medium">Red House</span>
            </div>
          </div>
        </div>
        <div class="col-1">
          <div class="vertical-line-divider"></div>
        </div>
        <div class="col-2 sis-col-15 text-center">
          <div class="row margin-top-30">
            <div class="col-12 ">
              <span class="font-size-13 font-medium">As On Date : <span class="font-bold">15-Apr-2014</span> </span>
            </div>
          </div>
          <div class="row ">
            <div class="col-12">
              <span class="font-size-20 font-medium"><span class="font-bold">185</span>/265</span>
            </div>
          </div>
        </div>

        <div class="col-1 text-center">
          <div>High Chart will go here</div>
        </div>
      </div>


    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-7">
    <mat-card class="card-height-400">
      <div class="row">
        <div class="col-6">
          <span class="font-bold font-size-20">Performance</span>
        </div>
        <div class="col-6 text-right">
          <button mat-button><span>Year Wise</span></button>
          <button mat-button class="margin-left-10 btn-blue font-white"><span>Current Session</span></button>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-5 remove-col-padding-left">
    <mat-card class="card-height-400">
      <span class="font-bold font-size-20">Skills & Rewards</span><i
        class="fas fa-plus-circle margin-left-10 font-size-20 font-skyblue"></i>
      <div class="row">
        <div class="col-5">
          <span class="font-size-14">Updated on</span> <span class="float-right">:</span>
        </div>
        <div class="col-7">
          <span class="font-bold font-size-14">15-Feb-2019</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <span class="font-size-14">Activity Name</span> <span class="float-right">:</span>
        </div>
        <div class="col-7">
          <span class="font-bold font-size-14">Elocution/Extempore</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <span class="font-size-14">Activity Club</span> <span class="float-right">:</span>
        </div>
        <div class="col-7">
          <span class="font-bold font-size-14">Dance</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <span class="font-size-14">Level of Interest</span> <span class="float-right">:</span>
        </div>
        <div class="col-7">
          <span class="font-bold font-size-14">Level 2</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <span class="font-size-14">Duration in Day or Month</span> <span class="float-right">:</span>
        </div>
        <div class="col-7">
          <span class="font-bold font-size-14">Days</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <span class="font-size-14">Remarks</span> <span class="float-right">:</span>
        </div>
        <div class="col-7">
          <span class="font-bold font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis
            eget sem a sodales. Duis </span>
        </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-12 remove-col-padding">
          <span class="font-size-14 font-bold">Badges</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <i class="material-icons">
            chevron_left</i>
            <i class="material-icons">
              chevron_right</i>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <span class="font-bold font-size-20">Remarks</span><i
        class="fas fa-plus-circle margin-left-10 font-size-20 font-skyblue"></i>
      <div class="row margin-top-15">
        <div class="col-12 remove-col-padding">
          <mat-accordion>
            <mat-expansion-panel class="exam-dash-exp-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="font-size-16 font-bold">Principal</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="padding-15">
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Poor Attendence</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Good in Sport</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-12 remove-col-padding">
          <mat-accordion>
            <mat-expansion-panel class="exam-dash-exp-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="font-size-16 font-bold">Vice Principal</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="padding-15">
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Poor Attendence</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Good in Sport</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-12 remove-col-padding">
          <mat-accordion>
            <mat-expansion-panel class="exam-dash-exp-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="font-size-16 font-bold">School Admin</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="padding-15">
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Poor Attendence</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Good in Sport</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-12 remove-col-padding">
          <mat-accordion>
            <mat-expansion-panel class="exam-dash-exp-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="font-size-16 font-bold">Class Teacher</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="padding-15">
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Poor Attendence</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Good in Sport</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-12 remove-col-padding">
          <mat-accordion>
            <mat-expansion-panel class="exam-dash-exp-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="font-size-16 font-bold">Subject Teacher</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="padding-15">
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Poor Attendence</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-12">
                    <span class="font-skyblue font-size-14">13-Jun-2019</span><span
                      class="margin-left-15 ver-line-divider"></span><span
                      class="font-skyblue font-size-14 margin-left-10">Good in Sport</span>
                    <p class="font-size-12 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                      interdum, eros id suscipit mollis, erat elit tempus quam, vitae convallis sem nisi pellentesque
                      diam. Pellentesque vel mauris nec dui commodo eleifend vel nec purus. Curabitur sagittis, nunc nec
                      convallis egestas, quam augue mollis dolor, nec faucibus magna massa id lorem. </p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card>
  </div>
</div>