.sub-heading {
    margin-top:3px;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alert{
  font-size:14px; 
  margin-top: -11px;
  padding: 0.3rem;
  text-align: center;
  margin-bottom: 5px;
}

.reference {
  margin-top: -10px;
}