<div class="row">
  <div class="col-8 col-ver-line-divider">
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="btn-group float-right">
          <i class="material-icons cursor-pointer" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">navigate_before</i>

          <h3 class="margin-left-20">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>

          <i class="material-icons cursor-pointer margin-left-20" mwlCalendarNextView [view]="view"
            [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">navigate_next</i>

        </div>
      </div>
    </div>
    <br />
    <div [ngSwitch]="view" *ngIf="schedulerFlag">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [activeDayIsOpen]="false" [cellTemplate]="customCellTemplate" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
    </div>
  </div>
  <div class="col-3">
    <div class="steps">
      <div *ngFor="let item of ecArray;let i =index" [class]="bgClassColorArray[i]">
        <div class="step-header">
          <div class="header">{{item.ec_name}}</div>
          <div class="subheader" *ngFor="let item1 of item.ecArray">{{item1.sc_from | date:'dd MMM, yyyy'}} -
            {{item1.sc_title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" mwlConfirmationPopover [hideConfirmButton]="true" [hideCancelButton]="true"
    [popoverMessage]="popoverMessage" placement="right">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span></div>
  <div class="cell-totals">
    <span *ngFor="let group of day.eventGroups" class="badge badge-{{ group[0] }}">
      {{ group[1].length }}
    </span>
  </div>
</ng-template>