<div>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6 margin-top-15">
            <span class="font-size-24 font-bold">Bar Code Printing</span>
          </div>
          <div class="col-6 text-right">
            <mat-form-field appearance="outline" class=" form-field-150">
              <mat-label>Book ID From</mat-label>
              <input matInput placeholder="Book ID From" />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="btn-spacer form-field-150"
            >
              <mat-label>Book ID To</mat-label>
              <input matInput placeholder="Book ID TO" />
            </mat-form-field>
            <button mat-raised-button class="btn-success-blue btn-spacer">
              Advanced Filter
            </button>
            <button mat-raised-button class="btn-success-green btn-spacer">
              Create Bar Code
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card class="card-height-730">
        <div class="margin-left-15 ">
        <div class="row">
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
          <div class="col-1 smart-col-11">
            <span class="font-size-16 font-bold">The Three Musketeers</span
            ><br />
            <img
              class="barcode-print"
              src="../../../../../../src/assets/images/Library/barcode.png"
            /><br />
            <span class="font-size-14 font-bold">125487956</span
            ><span class="float-right font-size-14 font-bold">H-2</span>
          </div>
        </div>
        </div>
        <hr class="margin-left-15 margin-right-15">
        <div class="margin-left-15 ">
            <div class="row">
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
              <div class="col-1 smart-col-11">
                <span class="font-size-16 font-bold">The Three Musketeers</span
                ><br />
                <img
                  class="barcode-print"
                  src="../../../../../../src/assets/images/Library/barcode.png"
                /><br />
                <span class="font-size-14 font-bold">125487956</span
                ><span class="float-right font-size-14 font-bold">H-2</span>
              </div>
            </div>
            </div>
        <br />
        <div class="row text-center">
          <div class="col-12">
            <button mat-raised-button class="btn-success-green">Print</button>
            <button mat-raised-button class="btn-reset btn-spacer">
              Cancel
            </button>
          </div>
        </div>
        
      </mat-card>
    </div>
  </div>
</div>
