.bar-tiltle-span {
    position: relative;
    left: 10px !important;
}
.bar-isbn-span {
    position: relative;
    left: 10px;
    top: -20px;
}
.bar-location-span {
    position: relative;
    left: -26px;
    top: -20px;
}
.align-btn-bar {
    position: relative;
    top: -5px;
}
.bar-acc-div {
    width: 184px !important
}