<form [formGroup]="topicwiseforForm">
  <div class="row">
    <div class="col-12 ">
      <mat-card class="remove-card-padding">
        <div class="row">
          <div class="col-6">
            <div class="top-card-title">
              <span class="font-size-24 font-medium">Topicwise Update</span>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="top-card-title-form">
              <mat-form-field class="form-field-220 remove-form-field-bottom-margin margin-left-10" appearance="outline"
                *ngIf="!isTeacher">
                <mat-label>Teacher Name</mat-label>
                <input matInput formControlName="teacher_name" placeholder="Teacher Name" aria-label="State"
                  [matAutocomplete]="auto" (keyup)="getTeacherInfo($event)">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let item of teacherArray" [value]="item.au_login_id"
                    (onSelectionChange)="setTeacherId(item)">
                    <small>Id: {{item.au_login_id}}</small>,&nbsp;
                    <small>{{item.au_full_name | capitalize}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="form-field-150 remove-form-field-bottom-margin margin-left-10"
                appearance="outline">
                <mat-label>Class & Section</mat-label>
                <mat-select formControlName="tw_class_sec_id"
                  (selectionChange)="getSubjectByTeacherIdClassIdSectionId($event)">
                  <mat-option *ngFor="let item of classSectionArray" [value]="item.cs_id">{{item.cs_name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-field-220 remove-form-field-bottom-margin margin-left-10"
                appearance="outline">
                <mat-label>Subject</mat-label>
                <mat-select formControlName="tw_sub_id" (selectionChange)="getTopicwiseDetails()">
                  <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">{{item.sub_name | capitalize}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </mat-card>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="a">
            <input class="margin-left-10" matInput placeholder="Filter">
            <mat-icon matPrefix>filter_list</mat-icon>
          </mat-form-field>
        </div>
        <!-- <div class="col-8 text-right">
          <span class="font-size-20 font-color-gray font-light">Teacher ID: </span><span class="font-size-20 font-bold">235945</span><span class="margin-left-10 ver-line-divider"></span>
          <span class="font-size-20 font-color-gray font-light">Teacher Name: </span><span class="font-size-20 font-bold">Aarti Kumari</span><span class="margin-left-10 ver-line-divider"></span>
          <span class="font-size-20 font-color-gray font-light">Class: </span><span class="font-size-20 font-bold">XIth</span><span class="margin-left-10 ver-line-divider"></span>
          <span class="font-size-20 font-color-gray font-light">Subject: </span><span class="font-size-20 font-bold">Science</span>
        </div> -->
      </div>
      <div class="row margin-top-10">
        <div class="col-12">
          <table class="table table-borderd table-stripped custom-table">
            <thead class="table-skill__head text-center">
              <tr class="custom-tr">
                <th class="custom-th">Topic</th>
                <th class="custom-th">Subtopic</th>
                <th class="custom-th">Course Completed</th>
                <th class="custom-th">Revision Done</th>
                <th class="custom-th">Test Conducted</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let topic of topicsubtopicDetailsArray; let i=index">
                <ng-container *ngFor="let subtopic of topic.subtopics; let j=index">
                  <tr class="custom-tr" *ngIf="j == 0">
                    <td [attr.rowspan]="topic.subtopicCount" class="custom-td text-left">
                      {{topic.topic_name  | capitalize}}</td>
                    <td class="custom-td text-left">{{subtopic.st_name | capitalize}}</td>
                    <td [attr.rowspan]="topic.subtopicCount" class="custom-td"
                      (click)="toggleStatus(i,1,topic.courseCompleted)">
                      <ng-container *ngIf="topic.courseCompleted">
                        <i class="fas fa-check-circle font-size-40 font-color-green"></i><br>
                        <span class="font-size-12 font-regular">Updated On: </span>
                        <span
                          class="font-size-12 font-bold">{{topic.courseCompleted.tw_entry_date | date:'dd MMM, yyyy'}}</span>
                      </ng-container>
                    </td>
                    <td [attr.rowspan]="topic.subtopicCount" class="custom-td"
                      (click)="toggleStatus(i,3,topic.revisionDone)">
                      <ng-container *ngIf="topic.revisionDone">
                        <i class="fas fa-check-circle font-size-40 font-color-green"></i><br>
                        <span class="font-size-12 font-regular">Updated On: </span>
                        <span
                          class="font-size-12 font-bold">{{topic.revisionDone.tw_entry_date | date:'dd MMM, yyyy'}}</span>
                      </ng-container>
                    </td>
                    <td [attr.rowspan]="topic.subtopicCount" class="custom-td"
                      (click)="toggleStatus(i,2,topic.testConducted)">
                      <ng-container *ngIf="topic.testConducted">
                        <i class="fas fa-check-circle font-size-40 font-color-green"></i><br>
                        <span class="font-size-12 font-regular">Updated On: </span>
                        <span
                          class="font-size-12 font-bold">{{topic.testConducted.tw_entry_date | date:'dd MMM, yyyy'}}</span>
                      </ng-container>
                    </td>
                  </tr>
                  <tr class="custom-tr" *ngIf="j != 0">
                    <td class="custom-td text-left">{{subtopic.st_name | capitalize}}</td>
                  </tr>
                </ng-container>
              </ng-container>
              <tr class="text-center" *ngIf="noDataFlag && !isTeacher">
                <td colspan="5">
                  <app-no-data
                    [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'"
                    [noDataText]="'No Data Available'" [subText]="'Please select teacher, class, section and subject'"></app-no-data>
                </td>
              </tr>
              <tr class="text-center" *ngIf="noDataFlag && isTeacher">
                <td colspan="5">
                  <app-no-data
                    [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'"
                    [noDataText]="'No Data Available'" [subText]="'Please select class, section and subject'"></app-no-data>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="row margin-top-20">
        <div class="col-12 text-center">
          <button mat-raised-button class="btn-success-green">Submit</button>
          <button mat-raised-button class="btn-reset margin-left-10">cancel</button>
        </div>
      </div> -->
    </mat-card>
  </div>
</div>