.mat-header-cell {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.mat-header-row {
    
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mat-row {
    
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mat-cell {
    
    border-right: 1px solid transparent;
}
// .process-adm-ul , .process-adm-ul  li{
//     text-align: left !important;
// }

