.vertical-line-1 {
    border-right: 1px solid #99909026 !important;
}

.no-records {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }