img.watermark-image {
    position: absolute;
    top: 100px;
    left: 131px;
    width: 8%;
    z-index: 0;
    opacity: 0.3;
}
.container-printid-landscape2 {
    width: 325px !important;
    height: 207px !important;
    margin-left: -8px;
    margin-top: -8px;
}
.school-logo-pt {
    position: relative !important;
    top: -43px !important;
}
.id-card-portriat-school-logo {
    width: 30px;
    height: 30px;
    position: relative;
    left: -13px;
    top: -7px;
}
.potrait-bar {
    position: relative;
    top: -20px;
}
.portriat-principal-sign--size {
    margin-top: 0px !important;  
     margin-left: 0px !important;
    position: relative !important;
    top: 84px !important;
    left: 52px !important;
    width: 55px !important;
    height: 24px !important;
}
.student-portrait-photo--size {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #f6bc0a;
    margin-bottom: -34px;
    position: relative;
    top: -64px;
}
.id-card-school-name {
    font-size: 12px;
    font-weight: bold !important;
    position: relative;
    top: -10px;
}
.id-card-div-move-pot {
    position: relative;
    top: -57px;
    text-align: center;
}
.potrait-bar .barcode img {
    width: 180px !important;
    height: 32px !important;
    margin-left: -5px !important;
}