
.height-100 {
    height: 100%;
}

.notif-container-height {
    height: 547px !important
}

td {
    border: 1px solid #89A8C9 !important;
    height: 35px !important
}
th {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
tr {
    height: 40px !important;
}