<div class="row">
  <div class="col-11">
    <form class="example-form" [formGroup]='searchForm'>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Location" formControlName="item_location" required [matAutocomplete]="auto"
          (keyup)="getFilterLocation($event)" />
      </mat-form-field>
      <mat-progress-bar mode="determinate" value="100" *ngIf="!isLoading">
      </mat-progress-bar>
      <div class="green-progress">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="#ff0000"></mat-progress-bar>
      </div>
      <mat-autocomplete flex #auto="matAutocomplete">
        <mat-option *ngFor="let item of allLocationData" [value]="item.location_id"
          (onSelectionChange)="setLocationId(item, i)">
          <!-- <small>{{item.location_hierarchy | capitalize}}</small> -->
          <span [innerHTML]="item.location_hierarchy | capitalize | highlight: toHighlight"></span>
        </mat-option>
      </mat-autocomplete>

    </form>
  </div>
  <div class="col-1 margin-top-25" *ngIf="showAdd">
    <button class="btn-success-blue mat-raised-button" (click)="openAddLocationDialog()">
      +
    </button>
  </div>
</div>