<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        <h1 class="remove-bottom-margin font-size-24">Question Review</h1>
      </mat-card-title>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <div class="row row-remove-top-margin">
          <div class="col-lg-12  col-mobile-view-add-ques">
            <form [formGroup]="parameterform" novalidate>
              <div class="row row-remove-top-margin">
                <div class="col-lg-2 fin-tab-col-16 col-mobile-view-add-ques">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Question Sub Type</mat-label>
                    <mat-select formControlName="qst_id" (ngModelChange)="loadListTemp($event)" required
                      placeholder="Select Question Subtype">
                      <mat-option *ngFor="let item of questionSubtypeArray" [value]="item.qst_id">
                        {{item.qst_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 fin-tab-col-16  col-mobile-view-add-ques">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Class</mat-label>
                    <mat-select formControlName="class_id" (selectionChange)="getSubjectsByClass()"
                      placeholder="Select Class">
                      <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                        {{item.class_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 fin-tab-col-16 col-mobile-view-add-ques">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Subject</mat-label>
                    <mat-select formControlName="sub_id" (selectionChange)="getTopicByClassSubject()"
                      placeholder="Select Subject">
                      <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                        {{item.sub_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 fin-tab-col-16 col-mobile-view-add-ques">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Topic</mat-label>
                    <mat-select formControlName="topic_id" (selectionChange)="getSubtopicByTopic()"
                      placeholder="Select Topic">
                      <mat-option *ngFor="let item of topicArray" [value]="item.topic_id">
                        {{item.topic_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 fin-tab-col-16 col-mobile-view-add-ques">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Sub Topic</mat-label>
                    <mat-select formControlName="st_id" placeholder="Select SubTopic">
                      <mat-option *ngFor="let item of subtopicArray" [value]="item.st_id">
                        {{item.st_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 fin-tab-col-16 col-mobile-view-add-ques">
                  <div class="row row-remove-top-margin">
                    <button mat-raised-button class="submit-button mt-3" (click)="getQuestionsReview()">Apply</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row row-remove-top-margin" *ngIf="tableCollection">
          <div class="col-lg-12 col-mobile-view-add-ques">
            <div *ngIf="tableCollection">
              <div class="col-12 col-lg-2 col-xl-2 col-md-4 col-sm-12">
                <mat-form-field class="form-field">
                  <input matInput (keyup)=" applyFilterSubjective($event.target.value)" placeholder="Filter">
                  <span matPrefix>
                    <i class="fas fa-sliders-h table-filter-icon"></i>&nbsp;&nbsp; </span>
                </mat-form-field>
              </div>
              <div class="table-overflow">
                <table mat-table class="specific-table" #table [dataSource]="subjectivedataSource" matSort>
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <th *matHeaderCellDef mat-sort-header class="sub-position">S No. </th>
                    <td *matCellDef="let item" class="sub-position">Q-{{item.position}} </td>
                  </ng-container>
                  <!-- Questions Name Column -->
                  <ng-container matColumnDef="question">
                    <th *matHeaderCellDef mat-sort-header class="sub-question"> Questions</th>
                    <td *matCellDef="let item" class="sub-question">
                      <div [MathJax]="item.question" class="imgClassExpress"></div>
                    </td>
                  </ng-container>
                  <!-- Answer Name Column -->
                  <ng-container matColumnDef="answer">
                    <th *matHeaderCellDef mat-sort-header class="sub-answer">Answer</th>
                    <td *matCellDef="let item" class="sub-answer">
                      <div [MathJax]="item.answer" class="imgClassExpress"></div>
                    </td>
                  </ng-container>
                  <!-- Class Name Column -->
                  <ng-container matColumnDef="class">
                    <th *matHeaderCellDef mat-sort-header>Class</th>
                    <td *matCellDef="let item">{{item.class}}</td>
                  </ng-container>
                  <!-- Topic Name Column -->
                  <ng-container matColumnDef="topic">
                    <th *matHeaderCellDef mat-sort-header>Topic</th>
                    <td *matCellDef="let item">{{item.topic}}</td>
                  </ng-container>
                  <!-- Sub Topic Name Column -->
                  <ng-container matColumnDef="subtopic">
                    <th *matHeaderCellDef mat-sort-header>Sub Topic</th>
                    <td *matCellDef="let item">{{item.subtopic}}</td>
                  </ng-container>
                  <!-- Details Name Column -->
                  <ng-container matColumnDef="details">
                    <th *matHeaderCellDef> Details</th>
                    <td *matCellDef="let item">
                      <div [innerHTML]="item.details"></div>
                    </td>
                  </ng-container>
                  <!-- Details Name Column -->
                  <ng-container matColumnDef="reasons">
                    <th *matHeaderCellDef>Reason to Unpublish</th>
                    <td *matCellDef="let item">
                      <div [innerHTML]="item.reasons"></div>
                    </td>
                  </ng-container>
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th *matHeaderCellDef> Action </th>
                    <td *matCellDef="let item">
                      <span class="padding-8">
                        <i *ngIf="isExistUserAccessMenu('26')" class="far fa-thumbs-up table-publish-icon"
                          data-toggle="tooltip" data-placement="top" matTooltip="Publish" aria-hidden="true"
                          (click)="publishQuestion(item.action.qus_id)">&nbsp;</i>
                        <i *ngIf="currentUser.role_id == '1'" class="far fa-thumbs-down table-unpublish-icon"
                          data-toggle="tooltip" data-placement="top" matTooltip="UnPublish" aria-hidden="true"
                          (click)="openModalUnpublish(template);getCurrentUnpublishedQues(item.action)">&nbsp;</i>
                        <a *ngIf="isExistUserAccessMenu('24')" (click)="openDialog(item.action)">
                          <i class="far fa-edit table-edit-icon" data-toggle="tooltip" data-placement="top"
                            matTooltip="Edit" aria-hidden="true">&nbsp;</i>
                        </a>
                        <i *ngIf="isExistUserAccessMenu('14')" class="far fa-trash-alt table-delete-icon"
                          data-placement="top" matTooltip="Delete" aria-hidden="true"
                          (click)="openModal(template);deleteQus(item.action.qus_id)">&nbsp;</i>
                      </span>
                    </td>
                  </ng-container>
                  <tr mat-header-row class="top_header" *matHeaderRowDef="subjectivedisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: subjectivedisplayedColumns"></tr>
                </table>
              </div>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Modal goes here  -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exapleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6>Question Template</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="CLose">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <simple-notifications></simple-notifications>
        <div class="row">
          <div class="col-lg-12">
            <h6>Edit Questions</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <h6>Question Entry Option</h6>
                    <hr>
                    <form [formGroup]="ind_entry_form1">
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <select class="form-control form-control-sm" formControlName="qus_board_id" disabled>
                            <option value="" selected>Board</option>
                            <option [value]="schoolinfoArray.school_board_id">{{schoolinfoArray.school_board}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <select class="form-control form-control-sm" formControlName="qus_class_id"
                            (selectionChange)="getSubjectsByClass()" disabled>
                            <option value="" selected>Class</option>
                            <option *ngFor="let item of classArray" [value]="item.class_id">{{item.class_name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <select class="form-control form-control-sm" formControlName="qus_sub_id"
                            (selectionChange)="getTopicByClassSubject()" disabled>
                            <option value="" selected>Subject</option>
                            <option *ngFor="let item of subjectArray" [value]="item.sub_id">{{item.sub_name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <select class="form-control form-control-sm" formControlName="qus_topic_id"
                            (selectionChange)="getSubtopicByTopic()">
                            <option value="" selected>Topic</option>
                            <option *ngFor="let item of topicArray" [value]="item.topic_id">{{item.topic_name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <select class="form-control form-control-sm" formControlName="qus_st_id">
                            <option value="" selected>Subtopic</option>
                            <option *ngFor="let item of subtopicArray" [value]="item.st_id">{{item.st_name}}</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-12">
                    <h6 class="sub-heading">Select Parameters</h6>
                    <hr>
                    <form [formGroup]="ind_entry_form2">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-3">
                              <div class="form-group">
                                <select class="form-control form-control-sm" formControlName="qus_qt_id"
                                  (selectionChange)="getQuestionSubtypeDataByQuestiontype()">
                                  <option value="">Question Type</option>
                                  <option *ngFor="let item of questionTypeArray" [value]="item.qt_id">{{item.qt_name}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <select class="form-control form-control-sm" formControlName="qus_qst_id">
                                  <option value="">Question Sub-Type</option>
                                  <option *ngFor="let item of questionSubtypeArray" [value]="item.qst_id">
                                    {{item.qst_name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <select class="form-control form-control-sm" formControlName="qus_skill_id">
                                  <option value="">Skill Type</option>
                                  <option *ngFor="let item of skillTypeArray" [value]="item.skill_id">
                                    {{item.skill_name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <select class="form-control form-control-sm" formControlName="qus_dl_id">
                                  <option value="">Level of Difficulty</option>
                                  <option *ngFor="let item of lodArray" [value]="item.dl_id">{{item.dl_name}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-3">
                              <div class="form-group">
                                <select class="form-control form-control-sm" formControlName="qus_marks">
                                  <option value="">Suggested Marks</option>
                                  <option *ngFor="let marksvalue of marksArray" [value]="marksvalue">{{marksvalue}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <select class="form-control form-control-sm" formControlName="qus_negative_marks">
                                  <option value="">Negative Marks</option>
                                  <option *ngFor="let negativemarksvalue of negativemarksArray"
                                    [value]="negativemarksvalue">{{negativemarksvalue}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <input class="form-control form-control-sm" type="text" placeholder="Time Alloted(Min)"
                                  formControlName="qus_time_alloted"> </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <input class="form-control form-control-sm" type="text" placeholder="Reference"
                                  formControlName="qus_historical_reference"> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-6">
                        <h6>Question Details</h6>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <div>
                  <div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <form [formGroup]="sub_entry_form3" novalidate>
                              <div class="row">
                                <div class="col-lg-12">
                                  <label for="mcq-quest">Type your Question:</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                  <ckeditor ngDefaultControl required name="mcq-quest" id="mcq-quest"
                                    class="text-editor" formControlName="qus_name" #question [config]="ckeConfig"
                                    debounce="500">
                                  </ckeditor>
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-lg-12">
                                  <label for="mcq-quest">Answer</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                  <ckeditor ngDefaultControl required name="mcq-answer" id="mcq-answer"
                                    class="text-editor" formControlName="qopt_answer" #answerckeditor
                                    [config]="ckeConfig" debounce="500">
                                  </ckeditor>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                  <label>Explanation:</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                  <ckeditor ngDefaultControl required name="mcq-explanation" id="mcq-explanation"
                                    class="text-editor" formControlName="qus_explanation" #explanationckeditor
                                    [config]="ckeConfig" debounce="500">
                                  </ckeditor>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                <button class="btn btn-primary" (click)="updateQuestion()" data-dismiss="modal">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<app-delete-modal #deleteModalRef [deleteMessage]="'Are you Sure? You want to Delete '"
  (deleteOk)="deleteQuestion(currentQues)" (deleteCancel)="deleteComCancel()">
</app-delete-modal>
<ng-template #template>
  <div class="modal-main-box">
    <div class="modal-delete-content-box">
      <div>
        <div class="row">
          <div class="col-lg-12">
            <div class="close-button-content">
              <button mat-icon-button class="close-button" (click)="modalRef.hide()"><img
                  src="/assets/images/clear-button.svg"></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div>
              <h6 class="text-center">Confirmation Message</h6>
            </div>
          </div>
        </div>



      </div>
      <div class="text-center">
        <br>
        <span>Do you want to unpublish ?</span>
        <br>
        <br>
        <button mat-button class="submit-button" (click)="openModal2(templateNested);modalRef.hide()">Yes</button>
        <button mat-button class="reset-button" (click)="modalRef.hide()">No</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #templateNested>
  <div class="modal-main-box">
    <div class="modal-delete-content-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="close-button-content">
            <button mat-icon-button class="close-button" (click)="modalRef2.hide()"><img
                src="/assets/images/clear-button.svg"></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div>
            <h6 class="text-center">Reason To Unpublish?</h6>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form [formGroup]="modalForm" novalidate>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="mat-form-field">
                      <mat-select formControlName="reason_id" placeholder="Reasons..">
                        <mat-option *ngFor="let item of reasonsArray" [value]="item.reason_id">{{item.reason_desc}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="mat-form-field">
                      <label for="exampleFormControlTextarea"></label>
                      <textarea matInput id="exampleFormControlTextarea" rows="3" placeholder="Remarks..."
                        formControlName="qus_unpublish_remark"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<button mat-button class="submit-button"
                        (click)="unpublishQuestion(currentUnpublishedQues.qus_id)">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>