<div class="row margin-top-15">
  <div class="col-12">
    <mat-card>
      <div class="row">        
        <div class="col-4">
          <span class="font-size-20 font-bold">Teacher Wise Time Table</span>
        </div>
        
        <div class="col-8 text-right">
            <form [formGroup]="teacherwiseForm" novalidate>
            <mat-form-field class="form-field-220 remove-form-field-bottom-margin"  appearance="outline">
              <mat-label>Teacher Name</mat-label>
              <input matInput formControlName="teacher_name" placeholder="Teacher Name" aria-label="State"
                [matAutocomplete]="auto" (keyup)="getTeacherInfo($event)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of teacherArray" [value]="item.au_login_id"
                  (onSelectionChange)="setTeacherId(item)">
                  <span>{{item.au_full_name}}</span> ,
                  <small>Id: {{item.au_login_id}}</small>
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="form-field-150 margin-left-10" appearance="outline">
            <mat-label>Subject</mat-label>
            <mat-select formControlName="subject_name"  placeholder="Select Subject">
                <mat-option value="">Please select</mat-option>
                <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">{{item.sub_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        </div>
     
      </div>
      <div class="row margin-top-10">
        <div class="col-12">
          <table class="table table-borderd table-stripped custom-table">
            <thead class="table-skill__head text-center">
              <tr class="custom-tr">
                <th class="custom-th">Periods</th>
                <th class="custom-th">Monday</th>
                <th class="custom-th">Tuesday</th>
                <th class="custom-th">Wednesday</th>
                <th class="custom-th">Thursday</th>
                <th class="custom-th">Friday</th>
                <th class="custom-th">Saturday</th>

              </tr>
            </thead>
            <tbody>
              <tr class="custom-tr">
                <td class="custom-td"><i class="margin-right-10"></i> 1st</td>
                <td class="custom-td"><i class="fas fa-circle color-green margin-right-10"></i> Math</td>
                <td class="custom-td"><i class="fas fa-circle color-purple margin-right-10"></i> Library</td>
                <td class="custom-td"><i class="fas fa-circle color-blue margin-right-10"></i> Arts & Craft</td>
                <td class="custom-td"><i class="fas fa-circle color-tealgreen margin-right-10"></i> Math</td>
                <td class="custom-td"><i class="fas fa-circle color-yellow margin-right-10"></i> Music</td>
                <td class="custom-td"><i class="fas fa-circle color-grey margin-right-10"></i> Library</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-12 text-center">
          <span class="font-size-20 font-bold">Day Wise Summary</span>
        </div>
      </div>
      <div class="row margin-top-10">
      <div class="col-1"></div>
        <div class="col-10">
          <table class="table table-borderd table-stripped custom-table">
            <thead class="table-skill__head text-center">
              <tr class="custom-tr">
                <th class="custom-th ">Subject</th>
                <th class="custom-th ">Monday</th>
                <th class="custom-th ">Tuesday</th>
                <th class="custom-th ">Wednesday</th>
                <th class="custom-th ">Thursday</th>
                <th class="custom-th ">Friday</th>
                <th class="custom-th ">Saturday</th>
                <th class="custom-th ">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="custom-tr">
                <td class="custom-td background-color-green">Mathematics</td>
                <td class="custom-td">08</td>
                <td class="custom-td">07</td>
                <td class="custom-td">08</td>
                <td class="custom-td">04</td>
                <td class="custom-td">02</td>
                <td class="custom-td">06</td>
                <td class="custom-td">06</td>
              </tr>
              <tr class="custom-tr">
                  <td class="custom-td background-color-red">English</td>
                  <td class="custom-td">08</td>
                  <td class="custom-td">07</td>
                  <td class="custom-td">08</td>
                  <td class="custom-td">04</td>
                  <td class="custom-td">02</td>
                  <td class="custom-td">06</td>
                  <td class="custom-td">06</td>
                </tr>
                <tr class="custom-tr">
                    <td class="custom-td background-color-blue">History</td>
                    <td class="custom-td">08</td>
                    <td class="custom-td">07</td>
                    <td class="custom-td">08</td>
                    <td class="custom-td">04</td>
                    <td class="custom-td">02</td>
                    <td class="custom-td">06</td>
                    <td class="custom-td">06</td>
                  </tr>
                  <tr class="custom-tr">
                      <td class="custom-td background-color-grey">Total</td>
                      <td class="custom-td">08</td>
                      <td class="custom-td">07</td>
                      <td class="custom-td">08</td>
                      <td class="custom-td">04</td>
                      <td class="custom-td">02</td>
                      <td class="custom-td">06</td>
                      <td class="custom-td">06</td>
                    </tr>
            </tbody>
          </table>
        </div>
        <div class="col-1"></div>
      </div>
    </mat-card>
  </div>
</div>