.color-1 {
    color: aqua;
}
.color-2 {
    color: aquamarine;
}
.color-3{
    color: chocolate;
}
.color-4 {
    color: peru;
}
.color-5 {
    color: crimson;
}
.color-6{
    color: rebeccapurple;
}
.color-7 {
    color: red;
}
.color-8 {
    color: rosybrown;
}
.color-9{
    color: royalblue;
}
.color-10 {
    color: yellow;
}
.color-11 {
    color: yellowgreen;
}
.color-12{
    color: gold;
}
.color-13 {
    color: goldenrod;
}
.color-14 {
    color: gray;
}
.color-15{
    color: green;
}
.color-16 {
    color: greenyellow;
}
.color-17 {
    color: grey;
}
.color-18{
    color: royalblue;
}
.color-19 {
    color: blue;
}
.color-20{
    color: black;
}
.color-21 {
    color: blueviolet;
}
.color-22 {
    color: brown;
}
.color-23{
    color: coral;
}
.color-24 {
    color: olive;
}
.color-25 {
    color: orange;
}
.color-26{
    color: orchid;
}
.background-color-1 {
    background-color: aqua!important;
}
.background-color-2 {
    background-color: aquamarine!important;
}
.background-color-3{
    background-color: chocolate!important;
}
.background-color-4 {
    background-color: peru!important;
}
.background-color-5 {
    background-color: crimson!important;
}
.background-color-6{
    background-color: rebeccapurple!important;
}
.background-color-7 {
    background-color: red!important;
}
.background-color-8 {
    background-color: rosybrown!important;
}
.background-color-9{
    background-color: royalblue!important;
}
.background-color-10 {
    background-color: yellow!important;
}
.background-color-11 {
    background-color: yellowgreen!important;
}
.background-color-12{
    background-color: gold!important;
}
.background-color-13 {
    background-color: goldenrod!important;
}
.background-color-14 {
    background-color: gray!important;
}
.background-color-15{
    background-color: green!important;
}
.background-color-16 {
    background-color: greenyellow!important;
}
.background-color-17 {
    background-color: grey!important;
}
.background-color-18{
    background-color: royalblue!important;
}
.background-color-19 {
    background-color: blue!important;
}
.background-color-20{
    background-color: black!important;
}
.background-color-21 {
    background-color: blueviolet!important;
}
.background-color-22 {
    background-color: brown!important;
}
.background-color-23{
    background-color: coral!important;
}
.background-color-24 {
    background-color: olive!important;
}
.background-color-25 {
    background-color: orange!important;
}
.background-color-26{
    background-color: orchid!important;
}
.animation {
    -webkit-animation: ripplefive 0.7s linear infinite;
    animation: ripplefive 0.7s linear infinite;
    cursor: pointer;
    color: #7D5FFF !important;
    font-size: 10px !important;
    border-radius: 50%;
}