.bookmark-expansion-panel-decorator {
    margin-bottom: 10px !important;
    margin: 5px 10px !important;
    /* background-color:#f1f1f19e !important;
    border: 1px solid #6c757dbd !important; */
    border-radius: 5px !important;
  }
  
  .bookmark-expansion-panel-decorator.mat-expanded {
    background:white !important;
    margin-bottom: 10px !important;
    margin: 5px 10px !important;
    /* border: 1px solid #6c757dbd !important; */
    border-radius: 5px !important;
    height:570px !important;
  }
  .grade-value
{
  color: #ffffff;
  font-weight: bolder;
}
.grade-button-border
{
  border:none !important
}