<ng-template #paymentOrderModel>
    <div class="modal-main-box">
       <div>
          <div>
             <div class="row">
                <div class="col-lg-12">
                   <div class="close-button-content">
                      <button mat-icon-button class="close-button" (click)="closeDialog()">
                      <img src="/assets/images/clear-button.svg"></button>
                   </div>
                </div>
             </div>
             <br>
             <div class="row">
                <div class="col-lg-12">
                   <div>
                      <h6 class="text-center"><b>Confirmation Message</b></h6>
                   </div>
                </div>
             </div>
          </div>
          <div class="text-center">
             <br>
             <p [innerHTML]="orderMessage"></p>             
             <br>
    
             <button mat-raised-button class="btn-success" (click)="makeOrder();">Yes</button>&nbsp;
             <button mat-raised-button class="btn-danger" (click)="closeDialog()">No</button>
          </div>
       </div>
    </div>
 </ng-template>