<div class="container-box__white">
  <ng-container>
    <div class="functional-button-five">
      <button mat-fab *ngIf="(viewOnly && isExistUserAccessMenu('request') && studentdetails?.editable_status == '1')"
        (click)="editRequest()" (keydown.enter)="$event.preventDefault()">
        <mat-icon class="btn-top-icon">create</mat-icon><span class="right-btn-text">Edit Request</span>
      </button>
    </div>
    <div class="padding-15">
      <form [formGroup]="personalDetails">
        <div class="row remove-top-margin">
          <div class="col-4 col-pad-5">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Address</mat-label>
              <input class="text-capitalize" matInput placeholder="Address" formControlName="p_address" required
                [errorStateMatcher]="confirmValidParentMatcher" [readonly]="viewOnly" />
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>City</mat-label>
              <input type="text" matInput placeholder="City" formControlName="p_city" required [readonly]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher" [matAutocomplete]="autoGroup"
                (keyup)="filterCityStateCountry($event)">
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-option (onSelectionChange)="getCityPerId(item)" (keyup.enter)="getCityPerId(item)"
                  (click)="getCityPerId(item)" *ngFor="let item of cityCountryArray" [value]="item.cit_id">
                  {{item.cit_name}} -
                  {{item.sta_name}} - {{item.cou_name}}</mat-option>
              </mat-autocomplete>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>State</mat-label>
              <mat-select formControlName="p_state" placeholder="State" required disabled="true"
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-option value="">Please Select</mat-option>
                <mat-option *ngFor="let item of arrayState" [value]="item.sta_id">
                  {{item.sta_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Pincode</mat-label>
              <input type="number" matInput placeholder="Pincode" required [readonly]="viewOnly"
                formControlName="p_pincode" [errorStateMatcher]="confirmValidParentMatcher">
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4 col-pad-5" *ngIf="addressFlag">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Residential Address</mat-label>
              <input class="text-capitalize" matInput placeholder="Residential Address" [readonly]="viewOnly"
                formControlName="r_address" required [errorStateMatcher]="confirmValidParentMatcher" />
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>City</mat-label>
              <input type="text" matInput placeholder="City" formControlName="r_city" required [readonly]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher" [matAutocomplete]="autoGroup"
                (keyup)="filterCityStateCountry($event)">
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-option (onSelectionChange)="getCityResId(item)" (click)="getCityResId(item)"
                  *ngFor="let item of cityCountryArray" [value]="item.cit_id">{{item.cit_name}} -
                  {{item.sta_name}} - {{item.cou_name}}</mat-option>
              </mat-autocomplete>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>State</mat-label>
              <mat-select formControlName="r_state" placeholder="State" required disabled="true"
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-option value="">Please Select</mat-option>
                <mat-option *ngFor="let item of arrayState" [value]="item.sta_id">
                  {{item.sta_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Pincode</mat-label>
              <input  matInput placeholder="Pincode" [readonly]="viewOnly" required minlength="6"
                maxlength="6" pattern="[0-9]*"  formControlName="r_pincode" [errorStateMatcher]="confirmValidParentMatcher">             
            </mat-form-field>
          </div>

          <div class="col-4 col-pad-5">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Primary Mobile No.</mat-label>
              <input class="text-capitalize" matInput placeholder="Primary Mobile No." required minlength="10"
                maxlength="10" pattern="[0-9]*" [readonly]="viewOnly" formControlName="pri_mobile"
                [errorStateMatcher]="confirmValidParentMatcher" />
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Secondary Mobile No.</mat-label>
              <input matInput placeholder="Secondary Mobile No." required formControlName="sec_mobile" minlength="10"
                maxlength="10" pattern="[0-9]*" [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Whatsapp No.</mat-label>
              <input minlength="10" maxlength="10" pattern="[0-9]*" matInput placeholder="Whatsapp No." required
                formControlName="whatsapp_no" [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Email Id</mat-label>
              <input pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" type="email" matInput
                formControlName="email_id" placeholder="Email Id" required [readonly]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
              <mat-error>
                Please enter valid email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4 col-pad-5" *ngIf="!addressFlag">
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <span>Whether the address of correspondence is different from the Permanent address?</span>
            <mat-slide-toggle class="btn-spacer" [checked]="addressFlag" (change)="address_change($event)">
            </mat-slide-toggle>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-12 text-center ">
        <button *ngIf="addOnly" mat-raised-button class="btn-success btn-save-continue" (click)="saveForm()">Save &
          Continue</button>
        <button *ngIf="editOnly" mat-raised-button class="btn-success" (click)="updateForm(true)">Submit</button>
        <button *ngIf="editOnly" mat-raised-button class="btn-success btn-spacer btn-save-continue"
          (click)="updateForm(false)">Update &
          Continue</button>
        <!-- <button mat-raised-button class="btn-neutral btn-spacer" *ngIf="editRequestFlag"
          (click)="checkFormChangedValue()">Edit & Continue</button> -->
        <button *ngIf="!viewOnly" mat-raised-button class="btn-danger btn-spacer" (click)="cancelForm()">Cancel</button>
      </div>
    </div>

  </ng-container>
</div>
<app-edit-request-modal #editReference (confirm)="editConfirm()"></app-edit-request-modal>