<div class="fee-container-box__grey">
  <div class="row">
    <div class="col-12 remove-col-padding">
      <mat-card class="card-top-title__container">
        <div class="row">
          <div class="col-6">
            <h1 class="remove-bottom-margin font-size-24">Fee Ledger</h1>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 remove-col-padding">
      <app-common-student-profile [loginId]="lastRecordId" 
      [feeRenderId]="feeRenderId"
      (next)="next($event)" (prev)="prev($event)"
        (first)="first($event)" (last)="last($event)" (key)="key($event)" (processTypeEmit)="checkEmit($event)">
      </app-common-student-profile>
    </div>
  </div>
  <div class="floating-button">
    <button mat-button class="float-edit-button"><i class="material-icons font-white">playlist_add</i>
      <span class="margin-top-2 right-text" (click)="openCreateInvoiceModal()">
        <i class="material-icons font-white">playlist_add</i>
        <span class="btn-spacer">Create Invoice</span></span>
    </button>
 </div>
  <div class="row">
    <div class="col-12 remove-col-padding">
      <mat-card class="card-top-title__container card-height-677 card-height-795">
        <!-- <div class="row margin-bottom-10">
          <div class="col-6 remove-col-padding-left">
          </div>
        </div> -->
        <div style="margin-top:15px !important" class="col-12 text-right">
          <!-- <button *ngIf="actionFlag.receiptmodification" mat-raised-button class="btn-primary btn-receiptMod"
            (click)="openReciptModificationDialog()">Receipt Modification</button> -->
          <button *ngIf="actionFlag.attach" mat-raised-button class="btn-primary btn-consolidate btn-spacer"
            (click)="openAttachDialog(fetchInvId())">Attach</button>
          <button *ngIf="actionFlag.detach" mat-raised-button class="btn-primary btn-consolidate btn-spacer"
            (click)="openDetachReceiptDialog(fetchInvId())">Detach</button>
          <button *ngIf="actionFlag.edit" mat-raised-button class="btn-primary btn-edit-inv btn-spacer"
          (click)="openDialog1(true)">Edit Invoice</button>
          <button *ngIf="actionFlag.consolidate" mat-raised-button class="btn-primary btn-consolidate btn-spacer"
            (click)="openConsolidateDialog({})">Consolidate</button>
          <button *ngIf="actionFlag.unconsolidate" mat-raised-button class="btn-primary btn-unconsolidate btn-spacer"
            (click)="openUnConsolidateDialog(fetchInvId())">Un-Consolidate</button>
          <button *ngIf="actionFlag.recalculate" mat-raised-button class="btn-primary recalulate-invoice-btn btn-spacer"
            (click)="openRecalculateDialog()">Recalutate</button>
          <button *ngIf="actionFlag.deleteinvoice" mat-raised-button class="btn-primary btn-delete-rec btn-spacer"
            (click)="openDeleteDialog(fetchInvId())">Delete Invoice</button>
          <button *ngIf="actionFlag.deletereceipt" mat-raised-button class="btn-primary btn-delete-rec btn-spacer"
            (click)="openDeleteReciptDialog(fetchRecId())">Delete Receipt</button>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="table-overflow">
                <table id="fee_ledger" #table mat-table [dataSource]="dataSource" class="text-center table-100">

                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td width="3%" mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? manipulateAction(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Inv. Date </th>
                    <td width="7%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.date}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="invoiceno">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Inv. No. </th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap">
                      <span *ngIf="item.invoiceno != '0'"
                        class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openDialog(item.action, false)">{{item.invoiceno}}</a>
                      </span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="feeperiod">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Fee Period </th>
                    <td  width="5%" mat-cell *matCellDef="let item" class="text-nowrap" style="text-align: left !important;padding-left: 0.5%;">  {{item.feeperiod}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="particular">
                    <th mat-header-cell *matHeaderCellDef  class="text-nowrap"> Particulars </th>
                    <td width="15%" mat-cell *matCellDef="let item" class="text-nowrap"
                      style="text-align: left !important;padding-left: 0.5%;">
                      {{item.particular}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef  class="text-nowrap"> Due Date </th>
                    <td width="7%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.duedate | date: 'd-MMM-y'}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Amt. Due (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item"  class="text-nowrap"> {{item.amount | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.feeduetotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="concession">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Con. (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.concession | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.concessiontotal | number | zerodash}} </td>
                  </ng-container>

                  <ng-container matColumnDef="adjustment">
                      <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Adj. (<span><i class="fas fa-rupee-sign"></i></span>)
                      </th>
                      <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.adjustment | number | zerodash}} </td>
                      <td mat-footer-cell *matFooterCellDef> {{footerRecord.adjustmenttotal | number | zerodash}} </td>
                    </ng-container>

                  <ng-container matColumnDef="fine">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap" > Fine (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.fine | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.finetotal | number | zerodash}} </td>
                  </ng-container>

                  <ng-container matColumnDef="reciept">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Amt. Rec. (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.reciept | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.receipttotal | number | zerodash}} </td>
                  </ng-container>

                  <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Balance (<span><i class="fas fa-rupee-sign"></i></span>)</th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.balance | number}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.balancetotal | number}} </td>
                  </ng-container>
                  <ng-container matColumnDef="receiptdate">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Rpt. Date</th>
                    <td width="7%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.receiptdate | date:'d-MMM-y'}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="receiptno">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Rpt. No</th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap">
                      <span *ngIf="item.action.rpt_id" class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openReceiptDialog(item.action.rpt_id, false)">{{item.receiptno}}</a>
                      </span></td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="mop">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> MOP</th>
                    <td width="10%" mat-cell *matCellDef="let item" class="text-nowrap"> {{item.mop | titlecase}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Remarks
                      <span style="float:right; padding-right: 10px;"><img style="cursor: pointer"
                          src="/assets/images/xml.svg" (click)="exportAsExcel()" matTooltip="Export as excel"></span>
                    </th>
                    <td width="40%" mat-cell *matCellDef="let item"
                      style="text-align: left !important;padding-left: 0.5%;" class="text-nowrap">
                      {{item.remarks | capitalize}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns;" [hidden]="FEE_LEDGER_ELEMENT.length == 0">
                  </tr>
                </table>
                <table class="table-100 text-center" style="margin-top:5px;">
                  <tr *ngIf="FEE_LEDGER_ELEMENT.length == 0">
                    <td colspan="8">No Record Found</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
        <!-- <div class="row">
          <div class="col-12">
            <div>
              <div class="table-fee-ledger-child">
                <table id="fee_ledger" #table mat-table [dataSource]="dataSource" class="text-center table-100">
                  <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef>Sr No. </th>
                    <td mat-cell *matCellDef="let item"> {{item.srno}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.date}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="invoiceno">
                    <th mat-header-cell *matHeaderCellDef> Invoice No. </th>
                    <td width="8%" mat-cell *matCellDef="let item">
                      <span *ngIf="item.action.flgr_invoice_type === 'I' && item.invoiceno != '0'"
                        class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openDialog(item.action.flgr_inv_id, false)">I-#{{item.invoiceno}}</a>
                      </span>
                      <span *ngIf="item.action.flgr_invoice_type === 'R'  && item.invoiceno != '0'"
                        class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openReceiptDialog(item.action.rpt_id, false)">R-#{{item.invoiceno}}</a>
                      </span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="particular">
                    <th mat-header-cell *matHeaderCellDef> Particulars </th>
                    <td width="17%" mat-cell *matCellDef="let item" style="text-align: left !important;padding-left: 0.5%;">
                      {{item.particular}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Fee Due (<span><i class="fas fa-rupee-sign"></i></span>)</th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.amount | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.feeduetotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="concession">
                    <th mat-header-cell *matHeaderCellDef> Concession (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.concession | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.concessiontotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="reciept">
                    <th mat-header-cell *matHeaderCellDef> Receipt (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.reciept | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.receipttotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef> Balance (<span><i class="fas fa-rupee-sign"></i></span>)
                      
                    </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.balance | number}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks 
                      <span style="float:right; padding-right: 10px;"><img style="cursor: pointer"
                        src="/assets/images/xml.svg" (click)="exportAsExcel()" matTooltip="Export as excel"></span>
                    </th>
                    <td width="28%" mat-cell *matCellDef="let item" style="text-align: left !important;padding-left: 0.5%;">
                      {{item.remarks | capitalize}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns;" [hidden]="FEE_LEDGER_ELEMENT.length == 0">
                  </tr>
                </table>
                <table class="table-100 text-center" style="margin-top:5px;">
                  <tr *ngIf="FEE_LEDGER_ELEMENT.length == 0">
                    <td colspan="8">No Record Found</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div> -->
      </mat-card>
    </div>
  </div>
</div>
<app-delete-modal #deleteModal [deleteMessage]="'Are you sure want to delete'" (deleteOk)="deleteConfirm($event)">
</app-delete-modal>
<app-delete-modal #deleteReceiptModal [deleteMessage]="'Are you sure want to delete'" (deleteOk)="deleteReciptConfirm($event)">
</app-delete-modal>
<app-delete-modal #recalculateModal [deleteMessage]="'On recalculation all adjustments/remarks if any, will be removed!<br>
Do you wish to continue?'" (deleteOk)="recalculateConfirm($event)"></app-delete-modal>
<app-delete-modal #consolidateModal [deleteMessage]="'Are you sure want to Consolidate'"
  (deleteOk)="consolidateConfirm($event)"></app-delete-modal>
<app-delete-modal #unconsolidateModal [deleteMessage]="'Are you sure want to Un-Consolidate Selected Invoice'"
  (deleteOk)="unconsolidateConfirm($event)"></app-delete-modal>
<app-delete-modal #detachReceiptModal [deleteMessage]="'Are you sure to Detach this Receipt'"
  (deleteOk)="detachReceiptConfirm($event)"></app-delete-modal>
<app-search-dialog #searchModal [deleteMessage]="'Please Choose Receipt Number to Attach with this Invoice'"
  (deleteOk)="attachReceipt($event)">
</app-search-dialog>
<app-delete-with-reason #deleteWithReasonModal
  [deleteMessage]="'Please Choose Reason and Enter Remarks to Delete Invoice'"
  (deleteOk)="deleteInvoiceFinal($event)">
</app-delete-with-reason>
<app-delete-with-reason #deleteReceiptWithReasonModal
  [deleteMessage]="'Please Choose Reason and Enter Remarks to Delete receipt'"
  (deleteOk)="deleteReceiptFinal($event)">
</app-delete-with-reason>