.table-fee-ledger {
    height: 500px;
    overflow: hidden;
}
.table-fee-ledger-child {
    overflow-y: scroll;
    height: 100%
}
::-webkit-scrollbar {
    display: none !important
}
.pointer {
    cursor: pointer;
}
.fa-rupee-sign{
    font-size: 12px;
}
.cdk-column-srno{
    width: 3%!important;
}
.cdk-column-date{
    width: 6%!important;
}
.cdk-column-invoiceno{
    width: 7%!important;
}
.cdk-column-amount{
    width: 10%!important;
}
.cdk-column-concession{
    width: 10%!important;
}
.cdk-column-reciept{
    width: 8%!important;
}
.cdk-column-balance{
    width: 8%!important;
}
