<div>
  <div class="row">
    <div class="col-12 ">
      <mat-card class="card-top-title__container">
        <div class="row">
          <div class="col-6">
            <h1 class="remove-bottom-margin font-size-24">{{showMissingInvoice? 'Missing Invoice' :'Fee Ledger'}}</h1>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 ">
      <app-common-student-profile [loginId]="lastRecordId" [feeRenderId]="feeRenderId" (next)="next($event)"
        (prev)="prev($event)" (first)="first($event)" (last)="last($event)" (key)="key($event)"
        (processTypeEmit)="checkEmit($event)">
      </app-common-student-profile>
    </div>
  </div>
  <div class="floating-button" *ngIf="checkStatus()">
    <button mat-button class="float-edit-button"><i class="material-icons font-white">playlist_add</i>
      <span class="margin-top-2 right-text" (click)="openCreateInvoiceModal()">
        <i class="material-icons font-white">playlist_add</i>
        <span class="btn-spacer">Create Invoice</span></span>
    </button>
  </div>
  <div style="margin-top: 8%;" class="floating-button" *ngIf="isExistUserAccessMenu('793')">
    <button mat-button  class="float-edit-button"><i class="material-icons font-white">create_new_folder</i>
      <span class="margin-top-2 right-text" (click)="changeToggle()">
        <i class="material-icons font-white">create_new_folder</i>
        <span class="btn-spacer">{{!showMissingInvoice? 'Missing Invoice' :'Fee Ledger'}}</span></span>
    </button>
  </div>
  <div *ngIf="!showMissingInvoice" class="row">
    <div class="col-12 ">
      <mat-card class="card-top-title__container card-height-677 card-height-795">
        <!-- <div class="row margin-bottom-10">
          <div class="col-6 remove-col-padding-left">
          </div>
        </div> -->
        <div style="margin-top:15px !important" class="col-12 text-right">
          <!-- <button *ngIf="actionFlag.receiptmodification" mat-raised-button class="btn-primary btn-receiptMod"
            (click)="openReciptModificationDialog()">Receipt Modification</button> -->
          <button *ngIf="actionFlag.attach && isExistUserAccessMenu('768')" mat-raised-button class="btn-primary btn-consolidate btn-spacer"
            (click)="openAttachDialog(fetchInvId())">Attach</button>
          <button *ngIf="actionFlag.detach && isExistUserAccessMenu('769')" mat-raised-button class="btn-primary btn-consolidate btn-spacer"
            (click)="openDetachReceiptDialog(fetchInvId())" >Detach</button>
          <button *ngIf="actionFlag.edit && isExistUserAccessMenu('770')" mat-raised-button class="btn-primary btn-edit-inv btn-spacer"
            (click)="openDialog1(true)" >Edit Invoice</button>
          <button *ngIf="actionFlag.consolidate && isExistUserAccessMenu('771')" mat-raised-button class="btn-primary btn-consolidate btn-spacer"
            (click)="openConsolidateDialog({})" >Consolidate</button>
          <button *ngIf="actionFlag.unconsolidate && isExistUserAccessMenu('772')" mat-raised-button class="btn-primary btn-unconsolidate btn-spacer"
            (click)="openUnConsolidateDialog(fetchInvId())" >Un-Consolidate</button>
          <button *ngIf="actionFlag.recalculate && isExistUserAccessMenu('773')" mat-raised-button class="btn-primary recalulate-invoice-btn btn-spacer"
            (click)="openRecalculateDialog()">Re-calutate</button>
          <button *ngIf="actionFlag.deleteinvoice && isExistUserAccessMenu('774')" mat-raised-button class="btn-primary btn-delete-rec btn-spacer"
            (click)="openDeleteDialog(fetchInvId())">Delete Invoice</button>
          <button *ngIf="actionFlag.deletereceipt && isExistUserAccessMenu('775')" mat-raised-button class="btn-primary btn-delete-rec btn-spacer"
            (click)="openDeleteReciptDialog(fetchRecId())">Delete Receipt</button>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="table-overflow">
                <table id="fee_ledger" #table mat-table [dataSource]="dataSource" class="text-center table-100">

                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>

                    <td width="3%" mat-cell *matCellDef="let row; let i=index"
                      [ngStyle]="{'background-color': getColor(row),'border': getBorder(row)}"
                      [attr.rowspan]="row?.flgr_payment_mode === 'partial' ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="row?.flgr_payment_mode === 'partial' ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''"
                      >
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? manipulateAction(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="feeperiod">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Fee Period </th>
                    <td width="5%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      style="text-align: left !important;padding-left: 0.5%;"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial' ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial' ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''">
                      {{item.feeperiod}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="invoiceno">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Inv. No. </th>
                    <td width="5%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial' ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial' ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''">
                      <span *ngIf="item.invoiceno != '0'" class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openDialog(item.action, false)">{{item.invoiceno}}</a>
                      </span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="particular">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Particulars </th>
                    <td width="10%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      style="text-align: left !important;padding-left: 0.5%;"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial' ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial' ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''">
                      {{item.particular}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Inv. Date </th>
                    <td width="7%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial' ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial' ? (getRowSpan('invoiceno', i) ? '' : 'none') : '-'">
                      {{item.date}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Due Date </th>
                    <td width="7%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial' ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial' ? (getRowSpan('invoiceno', i) ? '' : 'none') : '-'">
                      {{item.duedate | date: 'd-MMM-y'}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Amt. Due (<span><i
                          class="fas fa-rupee-sign"></i></span>)
                    </th>

                    <td width="5%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial'  ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial'  ? (getRowSpan('invoiceno', i) ? '' : 'none') : '-'">
                      {{item.amount | number | zerodash}}</td>
                    <!-- <ng-container *matCellDef="let item; let i=index">
                      <td width="5%" mat-cell  class="text-nowrap" *ngIf="!(item.flgr_payment_mode)"
                        [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                        >
                        {{item.amount | number | zerodash}}</td>
                      </ng-container> -->

                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.feeduetotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="concession">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Con. (<span><i
                          class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial'  ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial' ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''">
                      {{item.concession | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.concessiontotal | number | zerodash}} </td>
                  </ng-container>

                  <ng-container matColumnDef="adjustment">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Adj. (<span><i
                          class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial'  ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial'  ? (getRowSpan('invoiceno', i) ? '-' : 'none') : ''">
                      {{item.adjustment | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.adjustmenttotal | number | zerodash}} </td>
                  </ng-container>

                  <ng-container matColumnDef="fine">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Fine (<span><i
                          class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item; let i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial'  ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial'  ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''">
                      {{item.fine | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.finetotal | number | zerodash}} </td>
                  </ng-container>

                  <ng-container matColumnDef="netpayableamount">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Net Payable (<span><i
                          class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell class="text-nowrap" *matCellDef="let item; let i=index"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial'  ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial'  ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''">
                      {{item.netpayableamount | number | zerodash}} </td>


                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.netpayabletotal | number | zerodash}} </td>

                  </ng-container>

                  <ng-container matColumnDef="reciept">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Amt. Rec. (<span><i
                          class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}">
                      {{item.reciept | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.receipttotal | number | zerodash}} </td>
                  </ng-container>

                  <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Balance (<span><i
                          class="fas fa-rupee-sign"></i></span>)</th>
                    <td width="5%" mat-cell *matCellDef="let item; let  i=index" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"
                      [attr.rowspan]="item.flgr_payment_mode === 'partial'  ? getRowSpan('invoiceno',i) : ''"
                      [style.display]="item.flgr_payment_mode === 'partial'  ? (getRowSpan('invoiceno', i) ? '' : 'none') : ''">
                      {{item.balance | number}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.balancetotal | number}} </td>
                  </ng-container>
                  <ng-container matColumnDef="receiptdate">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Rpt. Date</th>
                    <td width="7%" mat-cell *matCellDef="let item" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}">
                      {{item.receiptdate | date:'d-MMM-y'}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="receiptno">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Rpt. No</th>
                    <td width="5%" mat-cell *matCellDef="let item" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}">
                      <span *ngIf="item.action.rpt_id" class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openReceiptDialog(item.action.rpt_id, false)">{{item.receiptno}}</a>
                      </span></td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="mop">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> MOP</th>
                    <td width="10%" mat-cell *matCellDef="let item" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}">
                      {{item.mop | titlecase}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="chqno">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Chqno</th>
                    <td width="10%" mat-cell *matCellDef="let item" class="text-nowrap" [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"> {{item.chqno}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="chequedate">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Cheque Date</th>
                    <td width="10%" mat-cell *matCellDef="let item" class="text-nowrap" [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}"> <span *ngIf="item.chequedate != '-'">{{item.chequedate | date:'d-MMM-y'}}</span> <span *ngIf="item.chequedate == '-'">{{item.chequedate}}</span> </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container> -->
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Remarks<span
                        style="float:right; padding-right: 10px;"><img style="cursor: pointer"
                          src="/assets/images/xml.svg" (click)="exportAsExcel()" matTooltip="Export as excel"></span>
                    </th>
                    <td width="41%" mat-cell *matCellDef="let item; let i= index"
                      style="text-align: left !important;padding-left: 0.5%;" class="text-nowrap"
                      [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}">
                      <span *ngIf="item?.remarks?.length > 60 && !item.showMore">{{item.remarks | capitalize | slice:0:60 }} <a herf="javascript:void(0)" (click)="getShowMore(i)" title="View More" class="view-less"> ... </a></span>
                      <span *ngIf="item?.remarks?.length > 60 && item.showMore">{{item.remarks | capitalize }} <a href="javascript:void(0)" (click)="getShowLess(i)" class="view-less"> View Less </a></span>
                      <span *ngIf="item?.remarks?.length <= 60">{{item.remarks | capitalize}}</span>
                       </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns;" [hidden]="FEE_LEDGER_ELEMENT.length == 0">
                  </tr>
                </table>
                <table class="table-100 text-center" style="margin-top:5px;">
                  <tr *ngIf="FEE_LEDGER_ELEMENT.length == 0">
                    <td colspan="8">No Record Found</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
        <!-- <div class="row">
          <div class="col-12">
            <div>
              <div class="table-fee-ledger-child">
                <table id="fee_ledger" #table mat-table [dataSource]="dataSource" class="text-center table-100">
                  <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef>Sr No. </th>
                    <td mat-cell *matCellDef="let item"> {{item.srno}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.date}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="invoiceno">
                    <th mat-header-cell *matHeaderCellDef> Invoice No. </th>
                    <td width="8%" mat-cell *matCellDef="let item">
                      <span *ngIf="item.action.flgr_invoice_type === 'I' && item.invoiceno != '0'"
                        class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openDialog(item.action.flgr_inv_id, false)">I-#{{item.invoiceno}}</a>
                      </span>
                      <span *ngIf="item.action.flgr_invoice_type === 'R'  && item.invoiceno != '0'"
                        class="pointer font-bold font-skyblue font-underline">
                        <a (click)="openReceiptDialog(item.action.rpt_id, false)">R-#{{item.invoiceno}}</a>
                      </span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <ng-container matColumnDef="particular">
                    <th mat-header-cell *matHeaderCellDef> Particulars </th>
                    <td width="17%" mat-cell *matCellDef="let item" style="text-align: left !important;padding-left: 0.5%;">
                      {{item.particular}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Fee Due (<span><i class="fas fa-rupee-sign"></i></span>)</th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.amount | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.feeduetotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="concession">
                    <th mat-header-cell *matHeaderCellDef> Concession (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.concession | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.concessiontotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="reciept">
                    <th mat-header-cell *matHeaderCellDef> Receipt (<span><i class="fas fa-rupee-sign"></i></span>)
                    </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.reciept | number | zerodash}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{footerRecord.receipttotal | number}} </td>
                  </ng-container>

                  <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef> Balance (<span><i class="fas fa-rupee-sign"></i></span>)
                      
                    </th>
                    <td width="8%" mat-cell *matCellDef="let item"> {{item.balance | number}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks 
                      <span style="float:right; padding-right: 10px;"><img style="cursor: pointer"
                        src="/assets/images/xml.svg" (click)="exportAsExcel()" matTooltip="Export as excel"></span>
                    </th>
                    <td width="28%" mat-cell *matCellDef="let item" style="text-align: left !important;padding-left: 0.5%;">
                      {{item.remarks | capitalize}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns;" [hidden]="FEE_LEDGER_ELEMENT.length == 0">
                  </tr>
                </table>
                <table class="table-100 text-center" style="margin-top:5px;">
                  <tr *ngIf="FEE_LEDGER_ELEMENT.length == 0">
                    <td colspan="8">No Record Found</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div> -->
      </mat-card>
    </div>
  </div>
  <div *ngIf="showMissingInvoice" >
   <div class="row" *ngIf="datasource.length > 0">
    <div class="col-12">
    <mat-card class="card-top-title__container card-height-677 card-height-795 ">
      <div style="margin-top:15px !important" class="col-12 text-right" >
        <button style = "margin-bottom: 5px;" mat-button class="submit-button" (click)="addInvoiceToledger()" *ngIf="isExistUserAccessMenu('794') && resultdataArray.length > 0">Move to Ledger</button>
      </div>
      <div class="table-overflow" >
     <table  class="mat-table table table-100 table-borderd table-stripped custom-table text-center empty-same-height">
       <thead class='header' >
        <th style="background-color: #c8d6e5; ">
          <mat-checkbox (change)="getallItem()" [ngModel]= 'checkallstatus'>
          </mat-checkbox>
        </th>
         
         <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Period
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice No.
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Particulars
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Date
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Due Date
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Amount
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Status
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Session
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Type
        </th>
        <th class=' mat-header-cell' style="background-color: #c8d6e5;">
          Invoice Remark
        </th>
        
       </thead>
       <tbody>
         <tr class=' mat-row' *ngFor="let item of datasource" [ngStyle]="{'background-color': getColor(item),'border': getBorder(item)}" style="padding-left: 0.5%;font-size: 16px !important;">
            <td >
              <mat-checkbox  (change) ='getItem(item)' [checked] = 'checkResult(item)'>
              </mat-checkbox>
            </td>
            
            <td style="text-align: left !important">
              {{getValue(item.inv_fp_name)}}
            </td>
            <td >
              <span class="pointer font-bold font-skyblue font-underline">
                <a (click)="openDialog(item, false)">{{item.inv_invoice_no}}</a>
              </span> 
            </td>
            <td style="text-align: left !important">
              {{item.inv_title }}
            </td>
            <td>
              {{item.inv_invoice_date | date: 'd-MMM-y'}}
            </td>
            <td>
              {{item.inv_due_date | date: 'd-MMM-y'}}
            </td>
            <td>
              {{getInteger(item.inv_fee_amount , item.inv_fine_amount , item.inv_opening_balance)  }}
            </td>
            <td>
              {{item.inv_paid_status | capitalize}}
            </td>
            <td>
              {{(item.ses_name)}}
            </td>
            <td>
              {{item.calm_name}}
            </td>
            <td>
              {{item.inv_remark}}
            </td>
         </tr>
       </tbody>
     </table>
    </div>
     </mat-card>
     </div>
   </div>
   <div *ngIf="datasource.length < 1" class="row margin-top-10">
   <div class="col-12 remove-col-padding">
    <mat-card class="card-top-title__container ">
    <div  class="text-center font-size-20 font-bold font-color-brown">No Data Available</div>
    </mat-card>
    </div>
    </div>
  </div>
</div>
<app-delete-modal #deleteModal [deleteMessage]="'Are you sure want to delete?'" (deleteOk)="deleteConfirm($event)">
</app-delete-modal>
<app-delete-modal #deleteReceiptModal [deleteMessage]="'Are you sure want to delete?'"
  (deleteOk)="deleteReciptConfirm($event)">
</app-delete-modal>
<app-delete-modal #recalculateModal [deleteMessage]="'On re-calculation all adjustments/remarks if any, will be removed!<br>
Do you wish to continue?'" (deleteOk)="recalculateConfirm($event)"></app-delete-modal>
<app-delete-modal #consolidateModal [deleteMessage]="'Are you sure want to Consolidate?'"
  (deleteOk)="consolidateConfirm($event)"></app-delete-modal>
<app-delete-modal #unconsolidateModal [deleteMessage]="'Are you sure want to Un-Consolidate Selected Invoice?'"
  (deleteOk)="unconsolidateConfirm($event)"></app-delete-modal>
<app-delete-modal #detachReceiptModal [deleteMessage]="'Are you sure to Detach this Receipt?'"
  (deleteOk)="detachReceiptConfirm($event)"></app-delete-modal>
<app-search-dialog #searchModal [deleteMessage]="'Please Choose Receipt Number to Attach with this Invoice'"
  (deleteOk)="attachReceipt($event)">
</app-search-dialog>
<app-delete-with-reason #deleteWithReasonModal
  [deleteMessage]="'Please Choose Reason and Enter Remarks to Delete Invoice'" (deleteOk)="deleteInvoiceFinal($event)">
</app-delete-with-reason>
<app-delete-with-reason #deleteReceiptWithReasonModal
  [deleteMessage]="'Please Choose Reason and Enter Remarks to Delete receipt'" (deleteOk)="deleteReceiptFinal($event)">
</app-delete-with-reason>