<div class="row remove-top-margin">
  <div class="col-12 ">
    <mat-card class="remove-card-padding">
      <form>
        <div class="row">
          <div class="col-6">
            <div class="top-card-title">
              <span class="font-size-24 font-medium">View Classwork</span>
            </div>

          </div>
          <div class="col-6 text-right">
            <div class="top-card-title-form">
              <mat-form-field class="form-field-150 remove-form-field-bottom-margin" appearance="outline">
                <mat-label>As On Date</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<div class="row margin-top-15">
  <div class="col-12">
    <mat-card>
    <div class="row">
          <div class="col-4">
              <mat-form-field appearance="a">
                  <input class="margin-left-10" matInput placeholder="Filter">
                  <mat-icon matPrefix>filter_list</mat-icon>
                </mat-form-field>
          </div>
      </div>
      <div class="row margin-top-10">
        <div class="col-12">
            <table class="table table-borderd table-stripped custom-table">
                <thead class="table-skill__head text-center">
                    <tr class="custom-tr">
                        <th class="custom-th">Period</th>
                        <th class="custom-th">Subject</th>
                        <th class="custom-th">Category</th>
                        <th class="custom-th">Class</th>
                        <th class="custom-th">Topic</th>
                        <th class="custom-th">Subopic</th>
                    </tr>
                    <tr class="custom-tr">
                      <th colspan="6" class="custom-th text-center">Add on date : 13- Apr- 2019</th>
                    <tr>
                </thead>

                <tbody>
                    <tr class="custom-tr">
                      <td class="custom-td">1st</td>
                      <td class="custom-td text-left">Science</td>
                      <td class="custom-td text-left">Teaching</td>
                      <td class="custom-td">XI - A</td>
                      <td class="custom-td text-left">Helath & Hygenie</td>
                      <td class="custom-td text-left">Inroduction to Food</td>
                      
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">2nd</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">3rd</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">4th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">5th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">6th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">7th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">8th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                </tbody>
                <thead>
                <tr class="custom-tr">
                      <th colspan="6" class="custom-th text-center">Add on date : 13- Apr- 2019</th>
                    <tr>
                </thead>
                <tbody>
                    <tr class="custom-tr">
                      <td class="custom-td">1st</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">2nd</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">3rd</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">4th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">5th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">6th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">7th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                    <tr class="custom-tr">
                      <td class="custom-td">8th</td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td"></td>
                      <td class="custom-td text-left"></td>
                      <td class="custom-td text-left"></td>
                    <tr>
                </tbody>
            </table>
        </div>
      </div>
    </mat-card>
    </div>
    </div>