// $font-stack-sans-serif: 'Open Sans',
// 'sans-serif';
// $font-size-base: 14px;
// $font-color-base: #000;
// $font-size-header: 20px;

$font-size-base: 14px;
$top-header-background:#004261;
$top-header-font-color:#FFFFFF;
$top-header-font-size:13px;

$sidebar-nav-background: #007D9E;

$sidenav-content-background: #F6F6F6;
$sidenave-white-box: #FFFFFF;

$table-header: #C8D6E5;

$button-success: #43A047;
$font-success: #43A047;

$button-danger: #FF5A5A;
$font-danger: #FF5A5A;






