/*
Angular Gauge styling
 */
 .gauges-container {
  display: flex;
}
.gaugeLabel {
  font-weight: bold;
}
/* ------ Default Style ---------- */
mwl-gauge {
  flex: 1;
  display: block;
  margin: 7px;
  border-radius: 3px;
}
mwl-gauge > .gauge > .dial {
  stroke: #334455;
  stroke-width: 4;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}
/* ------- Alternate Style ------- */
mwl-gauge.twot {
}
mwl-gauge.twot > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.twot > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.twot > .gauge > .value-text {
  fill: #334455;
}
mwl-gauge.twot {
}
mwl-gauge.twot > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.twot > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.twot > .gauge > .value-text {
  fill: #334455;
}
mwl-gauge.two {
}
mwl-gauge.two > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.two > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.two > .gauge > .value-text {
  fill: #334455;
}
mwl-gauge.two {
}
mwl-gauge.two > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.two > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.two > .gauge > .value-text {
  fill: #334455;
}

/* ------- Alternate Style ------- */
.gaugeLabel {
    font-weight: bold;
  }
/*  
Gauge styling ends
*/
.user-table {
padding-top: 10px;
overflow-x: auto;
width: 100%;
}

tr, th, td {
padding: 5px;
}

.create-new-school {
float: right;
margin-right: 10px;
}

.form-group-filter {
margin-bottom: 0rem;
}

.card1 {
border-style: dashed;
border-color: #6f42c1;
border-width: 0.1rem;
}

.card2 {

border-style: dashed;
border-color: #fd7e14;
border-width: 0.1rem;
}

.card3 {

border-style: dashed;
border-color:  #007bff;
border-width: 0.1rem;
}

.top-card {
border-color: #fff;
}

.inner-card {
border-color: #fff;
}

.fa-active {
color: #28a745;
}

.fa-edit {
color: #0069d9;
}

.fa-delete {
color: #dc3545;
}

.fa-thumbs-up {
color: #ffc108;
}

.fa-thumbs-down {
color: #dc3545;
}

table {
font-size: 14px;
}

.filter-hr {
margin-top: 0.45rem;
}

.graph-div{
height: 300px;
}

.performance-graph {
height: 500px;
}

/************************/

.custom-container {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 14px;
}



.page-heading {
    color: #007bff;
}

.btn-outline-secondary {
    padding-left: 1.5px;
    padding-right: 1.5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-title-right {
    float: right;
    margin-left: 5px;
}

.btn-nxt {
    float: right;
}

.container-cu {
    height: 60%;
}

.last-instruct {
    margin-top: 5px;
}

.cmp-logo {
    float: right;
}

.display-container {
    margin-top: 5px;
}

.check-btn {
    float: right;
}

.button-container {
    margin-top: 5px;
}
.card-body {
font-size: 14px;
}

.quest-btn {
border-radius: 100%;
}

.eye {

color: #28a745;
}

.fa-eye-slash{
font-size: 1.25rem;
color: #dc3545;
}
/*** custom checkboxes ***/

input[type=checkbox] {
    display: none;
}
/* to hide the checkbox itself */

input[type=checkbox]+label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox]+label:before {
    content: "\f096";
}
/* unchecked icon */

input[type=checkbox]+label:before {
    letter-spacing: 10px;
}
/* space between checkbox and label */

input[type=checkbox]:checked+label:before {
    content: "\f046";
}
/* checked icon */

input[type=checkbox]:checked+label:before {
    letter-spacing: 5px;
}

.review {
    color: #ffc107;
}

.skip{
    color: #6610f2;
}

@media screen and (max-width: 1448px) {
.margin-right-list {
    padding-right: 20%;
}
.quest-btn {
    padding-left: 2px;
    border-radius: 100%;
    text-align: center;
}
}

@media screen and (max-width: 1300px) {
.margin-right-list {
    padding-right: 20%;
}
.quest-btn {
    
}
}


/***mcq*************/
.card-radio {
padding: 0rem;
}

.header-radio {
padding: 0rem;
background-color: #343a40;
color: #fff;
}

.header-radio1 {
padding: 0rem;
background-color: #343a40;
color: #fff;
}

.radio-card1 {
width: 3rem;
word-wrap: none;
}

.radio-card {
width: 2rem;
}

.radio-col {
padding-top: 5px;

}

.show-option {
margin-top: 0.25rem;
border: none;
}

.show-option-body {
padding-top: 0.5rem;
padding-bottom: 0.75rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

.option-answer-h6{
margin-bottom: 0rem;
}

.options-card-body {
padding-top: 0.35rem;
padding-bottom: 0.5rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
}
/***********************/

.radio-mcqmr {
margin-left: 0.5rem;
margin-bottom: 0rem;
}
/*.main-row {
background-image: url(../../../../assets/blue-background-for-back-to-school_1053-591.jpg);
}*/
canvas.chartjs-render-monitor{
 width: 594px !important;
height: 291px !important;
}
