<div class="modal-custom-cotainer overflow-hidden">
  <div class="row remove-top-margin">
    <div class="col-12 remove-col-padding">
      <div class="modal-title-box">
        <span class="font-size-20 font-white font-regular">Search Student</span><span
          class="float-right margin-top-5"><i class="far fa-times-circle font-white cursor-pointer font-size-24"
            (click)="closeDialog()"></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <div class="col-lg-12">
          <span class="font-size-16 font-black font-regular">Please Enter Student Details</span><br>
          <mat-form-field appearance="outline">
            <input id="search" matInput placeholder="Search" (keydown.enter)="searchStudentByName($event.target.value)"
              (blur)="searchStudentByName($event.target.value)">
          </mat-form-field>
        </div>
      </div>
      <mat-dialog-content class="main-dialog-content">
        <div class="row" *ngIf="searchStudent">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-2 mt-2 mb-2">
                <mat-form-field appearance="legacy">
                  <input matInput (keyup)="applyFilter($event.target.value)">
                  <mat-icon matPrefix>filter_list</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="table-container">
              <div class="row">
                <div class="col-lg-12">
                  <table mat-table [dataSource]="dataSource" matSort class="table-100 text-center"
                    style="width: 100% !important">
                    <ng-container matColumnDef="sr_no">
                      <th mat-header-cell *matHeaderCellDef>S.No.
                      </th>
                      <td mat-cell *matCellDef="let item; "> {{item.srno}} </td>
                    </ng-container>
                    <ng-container matColumnDef="enrollment_no">
                      <th mat-header-cell *matHeaderCellDef> Enrollment No. </th>
                      <td mat-cell *matCellDef="let item"> {{item.admission_no ? item.admission_no : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
                      <td mat-cell *matCellDef="let item"> {{item.name ? item.name : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="class_section">
                      <th mat-header-cell *matHeaderCellDef> Class Section </th>
                      <td mat-cell *matCellDef="let item"> {{item.class_name }}-{{item.sec_name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="parent_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Name</th>
                      <td mat-cell *matCellDef="let item"> {{item.parent_name ? item.parent_name : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="contact_no">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</th>
                      <td mat-cell *matCellDef="let item"> {{item.contact_no ? item.contact_no : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="enrollment_status">
                      <th mat-header-cell *matHeaderCellDef>Enrollment Status</th>
                      <td mat-cell *matCellDef="let item"> {{getProcessType(item.process_type)}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-content>

    </div>
  </div>
</div>