.qst-dbsyn{
    flex:0 0 92% !important;
}
.action-dbsyn{
    flex:0 0 8% !important;
}
mat-row:nth-child(odd) {
    background-color: #ffffff !important;
}
.text {
    z-index: 2000;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    top: calc(50% + 40px);
  }