/* 
.fa-active {
  color: #28a745;
}

.fa-edit {
  color: #0069d9;
}

.fa-delete {
  color: #dc3545;
}

.fa-thumbs-up {
    color: #ffc108;
}

table {
  font-size: 14px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.top_header {
  background-color: #e6e5df;
}


.mat-header-cell {
  color: #343a40;
  font-weight: 500;
}

mat-header-cell:nth-child(1), mat-cell:nth-child(1) {
  flex:0 0 12%;
}

mat-header-cell:nth-child(2), mat-cell:nth-child(2) {
  flex:0 0 22%;
}

 */
