<div class="breadcrumb-section">
   <div class="row">
      <div class="bread-col-1 col-mobile-view-add-ques col-lg-1 ">
         <a [routerLink]="[homeUrl]">
            <i class="breadcrumb-icon fas fa-home"></i>
         </a>
      </div>
      <div class="bread-col-1 col-mobile-view-add-ques col-lg-1 ">
         <div class="vertical-line"></div>
      </div>
      <div class="col-lg-10 col-mobile-view-add-ques first-breadcrumb-title-col bread-col-10">
         <div class="first-breadcrumb-title">
            <span class="bread-title">Question Paper</span>
            <span class="bread-divider">-</span>
            <span class="bread-title"><a routerLink="../template_review_list">Template Review</a></span>
            <span class="bread-divider">-</span>
            <span class="bread-link">Generic Template Review</span>
         </div>
      </div>
   </div>
</div>
<div class="add-question-content">
   <div class="row row-remove-top-margin">
      <div class="col-lg-12 col-mobile-view-add-ques">
         <div class="white-box">
            <div class="white-box-content ">
               <div class="row">
                  <div class="col-lg-12 col-mobile-view-add-ques">
                     <div class="white-box-content-title">
                        <span>Generic Template Review</span>
                     </div>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-lg-12 col-mobile-view-add-ques">
                     <div class="table-box mob-table-box">
                        <div>
                           <div class="example-container table-box-main">
                              <div class="example-header table-filter">
                                 <mat-form-field class="mob-table-filter">
                                    <input matInput (keyup)=" applyFilter($event.target.value)" placeholder="Filter">
                                    <span matPrefix>
                                       <i class="fas fa-sliders-h table-filter-icon"></i>&nbsp;&nbsp; </span>
                                 </mat-form-field>
                              </div>
                              <mat-table class="specific-table table-100 table-qpaper-table-padding" #table
                                 [dataSource]="dataSource" matSort>
                                 <!-- Position Column -->
                                 <ng-container matColumnDef="position">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>S No. </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> {{item.position}} </mat-cell>
                                 </ng-container>
                                 <!-- Template Name Column -->
                                 <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Template Name </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
                                 </ng-container>
                                 <!-- Marks Column -->
                                 <ng-container matColumnDef="marks">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Marks </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> {{item.marks}}</mat-cell>
                                 </ng-container>
                                 <!-- Time Alloted Column -->
                                 <ng-container matColumnDef="time">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Time_Alloted </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> {{item.time}} </mat-cell>
                                 </ng-container>
                                 <ng-container matColumnDef="reasons">
                                    <mat-header-cell *matHeaderCellDef>Reason to Unpublish</mat-header-cell>
                                    <mat-cell *matCellDef="let item">
                                       <div [innerHTML]="item.reasons"></div>
                                    </mat-cell>
                                 </ng-container>
                                 <!-- Action Column -->
                                 <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> <i *ngIf="isExistUserAccessMenu('42')"
                                          class="far fa-thumbs-up table-publish-icon" matTooltip="publish"
                                          (click)=publishTemplate(item.action.tp_id)></i>&nbsp;
                                       <i *ngIf="isExistUserAccessMenu('46')" class="fa fa-print table-print-icon"
                                          data-toggle="tooltip" data-placement="top" matTooltip="print"
                                          aria-hidden="true" (click)="openDialog(item.action)" data-toggle="modal"
                                          data-target="#printModal"></i>&nbsp;
                                       <a *ngIf="isExistUserAccessMenu('40')"
                                          [routerLink]="['../generictemplate']"
                                          [queryParams]="{tp_id:item.action.tp_id}">
                                          <i class="far fa-edit table-edit-icon" matTooltip="edit"></i>
                                       </a>
                                       <i *ngIf="isExistUserAccessMenu('28')" matTooltip="delete"
                                          class="far fa-trash-alt table-delete-icon"
                                          (click)="openModal({});deleteTemp(item.action.tp_id)"></i>
                                    </mat-cell>
                                 </ng-container>
                                 <mat-header-row class="top_header template-mat-header-row"
                                    *matHeaderRowDef="displayedColumns"></mat-header-row>
                                 <mat-row class="template-mat-row" *matRowDef="let row; columns: displayedColumns;">
                                 </mat-row>
                              </mat-table>
                              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]"
                                 [showFirstLastButtons]="true"></mat-paginator>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-delete-modal #deleteModalRef [deleteMessage]="'Are you Sure? You want to Delete '"
   (deleteOk)="deleteTemplate(currentQues)" (deleteCancel)="deleteComCancel()">
</app-delete-modal>
<!--Ends-->