<div class="page-container" [class.example-is-mobile]="mobileQuery.matches">
   <div>
      <nav class="axiom-navbar-header axiom-navbar-hide-small">
         <a aria-label="axiom App" class="axiom-navbar-hide-small axiom-button mat-button" mat-button tabindex="0"
            aria-disabled="false">
            <span class="mat-button-wrapper">
               <img alt="invictus" class="axiom-invictus-logo" src="../../../assets/images/invictus-logo.png">
               <span class="axiom-invictus-title"><span class="invictus-title">Invictus</span> <span
                     class="digisoft-title">&nbsp;DigiSoft</span></span>
            </span>
         </a>
         <a aria-label="axiom App" class="axiom-icon-button mat-button" matTooltip="click icon to open menu"
            matTooltipPosition="below" #tooltip="matTooltip" mat-button tabindex="0" aria-disabled="false"
            [ngClass]="{'btn-add': !clicked, 'btn-remove': clicked}" (click)="clicked = !clicked"
            (click)="sidenavOpen()">
            <span class="mat-button-wrapper">
               <i class="fas ham-icon hide-for-tab-screen" [ngClass]="{'fa-bars': !clicked, 'fa-times': clicked} "></i>
            </span>
         </a>
         <button class="axiom-navbar-hide-small axiom-icon-button mat-button" [matMenuTriggerFor]="schoolbranch"
            mat-button>
            <i class="fas fa-graduation-cap top-nav-icon"></i>{{schoolInfo.school_name}}</button>
         <mat-menu #schoolbranch="matMenu">
            <button mat-menu-item class="profile-submenu"><i class="fas fa-school"></i>
               {{schoolInfo.school_name}}</button>
         </mat-menu>
         <button class="axiom-navbar-hide-small axiom-icon-button mat-button" [matMenuTriggerFor]="erpmodule"
            mat-button>
            <i class="fas fa-qrcode top-nav-icon"></i>{{defaultProject}}</button>
         <mat-menu #erpmodule="matMenu">
            <button *ngFor="let item of projectsArray"
               (click)="goToProject(item?.pro_url, item?.pro_status, item.pro_id)" mat-menu-item
               class="profile-submenu">
               <i class="fas fa-project-diagram"></i>
               {{item.pro_name}}
            </button>
         </mat-menu>
         <button class="axiom-navbar-hide-small axiom-icon-button mat-button" [matMenuTriggerFor]="academicyear"
            mat-button>
            <i class="fab fa-telegram-plane top-nav-icon"></i>{{getSessionName(session?.ses_id)}}</button>
         <mat-menu #academicyear="matMenu">
            <button *ngFor="let item of sessionArray" (click)="setSession(item.ses_id)" mat-menu-item
               class="profile-submenu">
               <i class="fas fa-calendar-alt"></i>
               {{item.ses_name}}
            </button>
         </mat-menu>
         <div class="flex-spacer"></div>
         <a aria-label="axiom App" class="axiom-icon-button mat-button" mat-button tabindex="0" aria-disabled="false">
            <span class="mat-button-wrapper">
               <i class="far fa-bell notification-icon"></i>
               <i class="fas fa-circle notif-circle"></i>
               <span class="notif-value">5</span>
            </span>
         </a>
         <a aria-label="axiom App" class="axiom-icon-button top-profile-image" tabindex="0" aria-disabled="false">
            <span class="mat-button-wrapper">
               <img *ngIf="showImage" alt="invictus" class="axiom-profile-image" src="{{hosturl+image}}">
               <img *ngIf="showImageBlank" class="axiom-profile-image"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJCq8ocdeBpdZgNebcoY0sM0Fl4T5rs31ughmmkCuVGkJ9lCASlA">
            </span>
         </a>
         <!-- <button class="axiom-icon-button mat-button username" [matMenuTriggerFor]="menu" mat-button>
        Hi, {{usernane}}</button>
        <mat-menu #menu="matMenu" class="log-menu">
           <button mat-menu-item class="profile-submenu">View Profile</button>
           <button mat-menu-item class="profile-submenu">Update Profile</button>
           <a routerLink="/login"><button mat-menu-item class="profile-submenu">Logout</button></a>
        </mat-menu> -->
         <div class="dropdown">
            <button class="axiom-icon-button mat-button username" mat-button>
               Hi, {{usernane}}</button>
            <div class="dropdown-content">
               <button mat-menu-item class="profile-submenu"><i class="fas fa-eye"></i> View Profile</button>
               <!-- <button mat-menu-item class="profile-submenu"><i class="fas fa-user-edit"></i> Update Profile</button> -->
               <a routerLink="./user-credential"> <button mat-menu-item class="profile-submenu"><i
                        class="fas fa-user-edit"></i> Change Credential</button></a>
               <a href="javascript:void(0);"><button mat-menu-item class="profile-submenu" (click)="logout()"><i
                        class="fas fa-sign-out-alt"></i> Logout</button></a>
            </div>
         </div>
      </nav>
      <nav class="axiom-navbar-header axiom-navbar-show-small">
         <a aria-label="axiom App" class="mobile-menu-icon" tabindex="0" aria-disabled="false"
            [ngClass]="{'btn-add': !clicked, 'btn-remove': clicked}" (click)="clicked = !clicked"
            (click)="sidenav.toggle()">
            <span class="mat-button-wrapper">
               <i class="fas ham-icon" [ngClass]="{'fa-bars': !clicked, 'fa-times': clicked}"></i>
            </span>
         </a>
         <div class="flex-spacer"></div>
         <a aria-label="axiom App" class="axiom-icon-button mat-button" mat-button tabindex="0" aria-disabled="false">
            <span class="mat-button-wrapper">
               <i class="far fa-bell notification-icon"></i>
               <i class="fas fa-circle notif-circle"></i>
               <span class="notif-value">5</span>
            </span>
         </a>
         <a aria-label="axiom App" class="axiom-icon-button top-profile-image" tabindex="0" aria-disabled="false">
            <span class="mat-button-wrapper">
               <img alt="invictus" class="axiom-profile-image" src="http://via.placeholder.com/35x35"
                  [matMenuTriggerFor]="menu">
               <mat-menu #menu="matMenu" class="mat-log-menu">
                  <button mat-menu-item class="profile-submenu"><i class="fas fa-eye"></i> View Profile</button>
                  <a routerLink="./user-credential"> <button mat-menu-item class="profile-submenu"><i
                           class="fas fa-user-edit"></i> Change Credential</button></a>
                  <a href="javascript:void(0);"><button mat-menu-item class="profile-submenu" (click)="logout()"><i
                           class="fas fa-sign-out-alt"></i> Logout</button></a>
               </mat-menu>
            </span>
         </a>
      </nav>
      <nav class="axiom-navbar axiom-navbar-show-small">
         <a class="axiom-navbar-link mat-button" mat-button tabindex="0" aria-label="false"
            [matMenuTriggerFor]="schoolbranch">
            <mat-menu #schoolbranch="matMenu" *ngIf="currentUser?.role_id != 1">
               <button mat-menu-item class="profile-submenu"><i class="fas fa-school"></i>{{schoolInfo}}</button>
            </mat-menu>
            <mat-menu #schoolbranch="matMenu" *ngIf="currentUser?.role_id == 1">
               <button mat-menu-item class="profile-submenu"><i
                     class="fas fa-school"></i>{{schoolInfo.school_name}}</button>
            </mat-menu>
            <span class="mat-button-wrapper">
               <i class="fas fa-graduation-cap top-nav-icon"></i>{{schoolInfo.school_name}}</span>
         </a>
         <a class="axiom-navbar-link mat-button" mat-button tabindex="0" aria-label="false"
            [matMenuTriggerFor]="erpmodule">
            <mat-menu #erpmodule="matMenu">
               <button *ngFor="let item of projectsArray" mat-menu-item class="profile-submenu"
                  (click)="goToProject(item?.pro_url, item?.pro_status, item.pro_id)"><i
                     class="fas fa-project-diagram"></i> {{item.pro_name}}</button>
            </mat-menu>
            <span class="mat-button-wrapper">
               <i class="fas fa-qrcode top-nav-icon"></i> Modules</span>
         </a>
         <a class="axiom-navbar-link mat-button" mat-button tabindex="0" aria-label="false"
            [matMenuTriggerFor]="academicyear">
            <mat-menu #academicyear="matMenu">
               <button *ngFor="let item of sessionArray" mat-menu-item class="profile-submenu"
                  (click)="setSession(item.ses_id)">
                  <i class="fas fa-calendar-alt"></i>
                  {{item.ses_name}}
               </button>
            </mat-menu>
            <span class="mat-button-wrapper">
               <i class="fab fa-telegram-plane top-nav-icon"></i> Year</span>
         </a>
      </nav>
   </div>
   <mat-sidenav-container class="axiom-sidebar">
      <mat-sidenav id="sidenav" class="axiom-sidenav" #sidenav [mode]="mobileQuery.matches ? 'push' : 'side'"
         [fixedInViewport]="mobileQuery.matches" [opened]="true">
         <div class="axiom-component-viewer-sidenav">
            <div class="axiom-component-viewer-sidenav-content">
               <app-side-nav></app-side-nav>
            </div>
         </div>
      </mat-sidenav>
      <mat-sidenav-content id="sidenav-content">
         <div>
            <router-outlet></router-outlet>
         </div>
         <footer class="axiom-footer">
            <app-footer></app-footer>
         </footer>
      </mat-sidenav-content>
   </mat-sidenav-container>
   <nav class="axiom-navbar-header axiom-navbar-show-small">
      <a aria-label="axiom App" class="mobile-menu-icon" tabindex="0" aria-disabled="false"
         [ngClass]="{'btn-add': !clicked, 'btn-remove': clicked}" (click)="clicked = !clicked"
         (click)="sidenav.toggle()">
         <span class="mat-button-wrapper">
            <i class="fas ham-icon" [ngClass]="{'fa-bars': !clicked, 'fa-times': clicked}"></i>
         </span>
      </a>
      <div class="flex-spacer"></div>
      <a aria-label="axiom App" class="axiom-icon-button mat-button" mat-button tabindex="0" aria-disabled="false">
         <span class="mat-button-wrapper">
            <i class="far fa-bell notification-icon"></i>
            <i class="fas fa-circle notif-circle"></i>
            <span class="notif-value">5</span>
         </span>
      </a>
      <a aria-label="axiom App" class="axiom-icon-button top-profile-image" tabindex="0" aria-disabled="false">
         <span class="mat-button-wrapper">
            <img alt="invictus" class="axiom-profile-image" src="http://via.placeholder.com/35x35"
               [matMenuTriggerFor]="menu">
            <mat-menu #menu="matMenu" class="mat-log-menu">
               <button mat-menu-item class="profile-submenu"><i class="fas fa-eye"></i> View Profile</button>
               <a routerLink="./user-credential"> <button mat-menu-item class="profile-submenu"><i
                        class="fas fa-user-edit"></i> Change Credential</button></a>

               <a href="javascript:void(0);"><button mat-menu-item class="profile-submenu" (click)="logout()"><i
                        class="fas fa-sign-out-alt"></i> Logout</button></a>
            </mat-menu>
         </span>
      </a>
   </nav>
   <!-- <nav class="axiom-navbar axiom-navbar-show-small">
         <a class="axiom-navbar-link mat-button" mat-button tabindex="0" aria-label="false" [matMenuTriggerFor]="schoolbranch">
            <mat-menu #schoolbranch="matMenu" *ngIf="currentUser?.role_id != 1">
               <button mat-menu-item class="profile-submenu"><i class="fas fa-school"></i>{{schoolInfo}}</button>
            </mat-menu>
            <mat-menu #schoolbranch="matMenu" *ngIf="currentUser?.role_id == 1">
               <button mat-menu-item class="profile-submenu"><i class="fas fa-school"></i>{{schoolInfo.school_name}}</button>
            </mat-menu>
            <span class="mat-button-wrapper">
            <i class="fas fa-graduation-cap top-nav-icon"></i>{{schoolInfo.school_name}}</span>
         </a>
         <a class="axiom-navbar-link mat-button" mat-button tabindex="0" aria-label="false" [matMenuTriggerFor]="erpmodule">
            <mat-menu #erpmodule="matMenu">
             <button *ngFor="let item of projectsArray"
             mat-menu-item class="profile-submenu"
             (click)="goToProject(item?.pro_url, item?.pro_status, item.pro_id)"><i class="fas fa-project-diagram"></i> {{item.pro_name}}</button>
            </mat-menu>
            <span class="mat-button-wrapper">
            <i class="fas fa-qrcode top-nav-icon"></i> Modules</span>
         </a>
         <a class="axiom-navbar-link mat-button" mat-button tabindex="0" aria-label="false" [matMenuTriggerFor]="academicyear">
            <mat-menu #academicyear="matMenu">
                <button *ngFor="let item of sessionArray" mat-menu-item class="profile-submenu" (click)="setSession(item?.ses_id)">
                      <i class="fas fa-calendar-alt"></i> 
                      {{item?.ses_name}}
                    </button>
            </mat-menu>
            <span class="mat-button-wrapper">
            <i class="fab fa-telegram-plane top-nav-icon"></i> Year</span>
         </a>
      </nav>
   <mat-sidenav-container class="axiom-sidebar">
      <mat-sidenav id="sidenav" class="axiom-sidenav" #sidenav [mode]="mobileQuery.matches ? 'push' : 'side'" [fixedInViewport]="mobileQuery.matches" [opened]="true">
      <div class="axiom-component-viewer-sidenav">
         <div class="axiom-component-viewer-sidenav-content">
            <app-side-nav></app-side-nav>
         </div>
      </div>
      </mat-sidenav> -->
   <!-- <mat-sidenav-content id="sidenav-content">
         <div>
            <router-outlet></router-outlet>
         </div>
         <footer class="axiom-footer">
            <app-footer></app-footer>
         </footer>
      </mat-sidenav-content> -->
   <!-- </mat-sidenav-container> -->
</div>