.stu-img-div {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    
    margin: auto;
}
.stu-prof {
    width: 100%;
    border-radius: 50%;
}
.details-div:nth-child(odd) {
    background: #f6f6f6;
}
.details-div {
    padding: 10px;
}
h4 {
    text-transform: uppercase;
}
img.prof-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: calc(100% - 8px);
}
.prof-image2 {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    right: 0;
    top: -1%;
}
.tr-mob {
    display: none;
}
@media screen and (max-width:720px) {
    .tr-mob {
    display: block;
    }
    .prof-image2 {
        display: none;
    }
}