<div class="fee-container-box__grey">
    <div class="container-box__white card-height-840-lp">
       <div class="row">
          <!-- <div class="col-4 text-center">
             <div class="line-divider"></div>
          </div> -->
          <div class="col-12 text-center">
             <h4 class="text-uppercase text-center"><b>{{setupHeader}}</b></h4>
          </div>
          <!-- <div class="col-4 text-center">
             <div class="line-divider"></div>
          </div> -->
       </div>
       <div class="row">
          <div class="col-lg-12">
             <mat-accordion>
                <mat-expansion-panel class="bookmark-expansion-panel bookmark-expansion-panel-decorator" *ngFor="let tab of tabBifurCationEnqCumRegistration
                ;let i= index"
                [disabled]="disabledArray[i].value"
                [expanded]="expandedArray[i].value">
                <mat-expansion-panel-header class="right-aligned-header bookmark-header-decorator">
                   <mat-panel-title class="side-menu-mat-panel-title">
                      <div>
                         <span class="bookmark-serialno">{{i+1}}.</span>
                      </div>
                      <div>
                         <span class="bookmark-subtopic">{{tab.tb_name}}</span>
                      </div>
                   </mat-panel-title>
                   <mat-panel-description *ngIf="tab.tb_id == '16'">
                      <mat-slide-toggle (change)="toggleTab($event, tab.tb_id, i)"
                      [checked]="checkTabStatus"></mat-slide-toggle>
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                   <div class="col-lg-12">
                      <div class="form-description-div">
                         <div *ngIf ="i!==5" class="row">
                            <ng-container *ngFor="let field of formFieldArray">
                               <ng-container *ngIf="field.ff_tb_id == tab.tb_id">
                                  <ng-container *ngIf="tab.tb_id !== '12'">
                                  <div class="col-2">
                                     <label><span class="text-uppercase text-center"><b>{{field.ff_label}}</b></span></label>
                                  </div>
                                  <div class="col-1 text-center">
                                     <mat-slide-toggle 
                                     (change)="statusChangeEvent($event,field.ff_id,field.ff_tb_id)" 
                                     [checked]="checkFieldsStatus(field.ff_id, field.ff_tb_id)"
                                     class="inline-form-radio-spacing"></mat-slide-toggle>
                                  </div>
                                  </ng-container>
                                  <ng-container *ngIf="tab.tb_id === '12'">
                                       <div class="col-2">
                                          <label><span class="text-uppercase text-center"><b>{{field.ff_label}}</b></span></label>
                                       </div>
                                       <div class="col-1 text-center">
                                          <mat-slide-toggle 
                                          (change)="statusChangeEvent($event,field.ff_id,field.ff_tb_id)" 
                                          [checked]="checkFieldsStatus(field.ff_id, field.ff_tb_id)"
                                          class="inline-form-radio-spacing"></mat-slide-toggle>
                                       </div>
                                       </ng-container>
                               </ng-container>
                            </ng-container>
                         </div>
                         <div *ngIf="i == 0" class="row">
                              <div class="col-4 text-center">
                                  <div class="line-divider"></div>
                                  <br>
                                  <h6 class="text-uppercase"><b>Important Notes</b></h6>
                                  <form [formGroup]="insForm1">
                                       <ckeditor [config]="ckeConfig" formControlName="schi_important_note"></ckeditor>
                                  </form>
                                  <br>
                              </div>
                              <div class="col-4 text-center">
                                  <h6 class="text-uppercase"><b>School Banner</b></h6>
                                  <br>
                                     <div class="text-center">
                                          <label>*Please upload an image of resolution 1180*200</label><br>
                                          <input  type="file" class="form-control form-control-sm mv_top"
                                              (change)="fileChangeEvent($event)" id="file"
                                              style="display: none !important">
                                          <button mat-raised-button class="btn-neutral">
                                              <mat-icon class="btn-top-icon">cloud_upload</mat-icon>&nbsp; &nbsp;<label
                                                  class="btn-document-label" for="file">Upload
                                                  Banner</label>
                                          </button>
                                      </div>
                                  <br>
                              </div>
                              <div class="col-4 text-center">
                                  <div class="line-divider"></div>
                                  <br>
                                  <div *ngIf="imageArray.length > 0" style="width:auto;height: auto">
                                       <img style="width:100%; height: 100%"
                                           [src]="imageArray[0].imgName" (click)="previewImage(img)">
                                   </div>
                              </div>
                          </div>
                         <div class="row"  *ngIf="i == 5"> 
                              <div class="col-4 text-center">
                                    <div class="line-divider"></div>
                                    </div>
                                    <div class="col-4 text-center">
                                       <h6 class="text-uppercase"><b>School Instructions</b></h6><br>
                                       <form [formGroup]="insForm2">
                                            <ckeditor [config]="ckeConfig" formControlName="schi_print_instruction"></ckeditor>
                                       </form>
                                       <br>
                                       </div>
                                       <div class="col-4 text-center">
                                          <div class="line-divider"></div>
                                          </div>
                                          <br>
                            <ng-container *ngIf="i == 5">
                            <ng-container *ngFor="let item of configArray">
                              <div class="col-2">
                                  <label><span class="text-uppercase text-center"><b>{{item.docreq_name}}</b></span></label>
                              </div>
                              <div class="col-1 text-center">
                                  <mat-slide-toggle 
                                  (change)="toggleDocStatus(item)" 
                                  [checked]="getActiveDocStatus(item)"
                                  class="inline-form-radio-spacing"></mat-slide-toggle>
                                </div>
                              </ng-container>
                            </ng-container>
                            </div>
                      </div>
                   </div>
                </div>
                </mat-expansion-panel>
             </mat-accordion>
          </div>
       </div>
       <br>
       <br>
       <div class="row margin-bottom-65">
          <div class="col-12 text-center">
             <button mat-raised-button class="btn-success" [disabled]= "disableApiCall" 
             (click)="saveEnquirySettings()">Save Settings</button>
          </div>
       </div>
       <br>
       <br>
    </div>
 </div>