.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
}

button.bookmark-question-indicator {
  border-radius: 50% !important;
  background-color: #f6f6f6!important;
  border: 1.5px solid #a7a7ab !important;
  color: #6610f2 !important;
  width: 30px !important;
  font-size: 14px !important;
  font-weight: bold;
  padding: 2px !important;
}

.bookmark-expansion-panel-decorator {
  margin-bottom: 10px;
  background-color:#f1f1f19e !important;
  border: 1px solid #6c757dbd !important;
  border-radius: 5px !important;
}

.bookmark-expansion-panel-decorator.mat-expanded {
  background:white !important;
  margin-bottom: 10px !important;
  border: 1px solid #6c757dbd !important;
  border-radius: 5px !important;
}

.bookmark-header-decorator{
  font-weight: bold !important
}
