<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-12">
          <span class="font-size-24 font-bold">Bulk Upload</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-card class="card-height-730">
      <div class="text-center margin-top-15per">
      <span class="font-size-24 font-bold">Books Bulk Upload</span><br />
      <span class="font-size-18 opacity-7">
        Now you can numbers of books with few clicks. Click on download template
        button for template format.</span
      ><br />
      <button mat-raised-button class="btn-success-blue margin-top-25 ">
        Download Template
      </button><br>
      <mat-hint class="font-size-12"
        >Have already template ?
        <span class="font-skyblue">Upload File</span></mat-hint
      >
    </div>
    </mat-card>
  </div>
</div>
