.calender-class{
    font-size: 20px;
    line-height: 3;
}
.desc_class{
    margin-top: 5px;
    font-size: 12px;
    color: #212529a3;
}
.trash-class{
    font-size: 20px;
    line-height: 3;
    text-align: center;
}
#large-screen {
    display: block;
}
#small-screen {
    display: none;
}
span.assign-span-len {
    position: relative;
    left: 38px;
    font-size: 11px;
}
button.blue-button-assign.font-size-14.font-white {
    background: #0f4261;
    border-radius: 20px;
    width: 120px;
    top: 0px;
    left: -81px;
    position: absolute;
}
@media screen and (max-width: 720px) {
    button.blue-button-assign.font-size-14.font-white {
    background: #0f4261;
    border-radius: 20px;
    width: 120px;
    top: -36px;
    left: -104px;
    position: absolute;
    }
    ::-webkit-scrollbar {
        display: none !important;
    }
    #large-screen {
        display: none;
    }
    #small-screen {
        display: block;
        overflow: scroll;
        height: 118vh;
        position: relative;
    } 
    mat-sidenav-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 5px;
        background-color: #ffffff;
    }
    .fixed-dexription {
        width: 100%;
        height: 75px;
        background: white;
        box-shadow: 0px 4px 5px #eae9e9;
        position: absolute;
        margin-left: -2%;
        top: 0;
    }
    span.header-desc {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        top: 15px;
        font-family: Roboto Bold,sans-serif;
    }
    .notif-card {
        background: white;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #cacaca;
        border-radius: 5px;
        overflow: hidden;
    }
    .timetable-card {
        background: white;
        height: 400px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px #cacaca;
        border-radius: 5px;
        overflow: hidden;
    }
    img.new-image {
        margin-top: 80px;
    }
    .content-div {
        margin-top: 74px;
    }
    i.fas.fa-calendar-alt {
        font-size: 18px;
        color: #f44859;
    }
    span.notif-span {
        font-size: 16px;
        position: relative;
        left: 10px;
        font-weight: bold;
        font-family: Roboto Bold, sans-serif;
        color: #f44859;
    }
    .col-12.subj-naae {
        font-size: 14px;
        font-weight: bold;
        font-family: Roboto Bold, sans-serif;
        text-transform: capitalize;
        color: #0f4261;
    }  
    .desc_class {
        margin-top: 5px;
        font-size: 14px;
        color: #131313;
    }  
    .inner-content-div {
        position: relative;
    }
    i.fas.fa-trash {
        position: absolute;
        right: 0;
        top: 5px;
        font-size: 14px;
        color: #e01515;
    }
}
.search-results{ overflow-y: scroll; height:800px }