.document-main-card {
    margin-bottom: 10px;
}

.document-title {
    vertical-align: -webkit-baseline-middle !important;
}

.management-card {
    border: 1px solid black;
}

.report-card {
    // width: 200px;
    height: 200px;
    border: 1px solid #D2D2D2;
    padding: 40px 0px !important;
}