// .document-title--small__textcolor {
//     color: #961d80;
// }

// .icon-purple {
//     color: #961d80;
// }

// .icon-danger {
//     color: #e11022;
// }

// .icon-success {
//     color: #02ed10;
// } 

// .icon-green {
//     color: #02ed10;
// }

// .text-purple {
//     color: #961d80;
// }

// .id-card-school-name {
//     font-size: 12px;
//     font-weight: 600;
// }

// .id-card-school-address {
//     font-size: 10px;
// }

// .id-card-school-address-style2 {
//     font-size: 10px;
//     margin-top : 8px;
//     color: #ffffff;
//     margin-left: 8px;
// }

// .id-card-school-contactno {
//     font-size: 10px;
// }


// .id_card_student_info {
//     font-size: 12px;
// }

// .id_card_student_minor_info {
//     font-size: 10px;
// }

// .id_card_footer {
//     font-size: 10px;
// }

// .id_card_footer-style2 {
//     font-size: 8px !important;
//     color: #000 !important;
// }

// .id_card_student_contact_info {
//     font-size: 10px;
// }

// .id_card_student_addr_info {
//     font-size: 11px;
// }

// .id_card_portrait_student_name {
//     color: #951d7f;
//     font-size: 12px;
//     margin-top: -20px;
// }

// .id_card_portrait_student_name_style2 {
//     color: #01233e;
//     font-size: 12px;
//     margin-top: -20px;
// }

// .id_card_portrait_student_info {
//     font-size: 10px;
// }

// .id_card_footer-style2 {
//     color: #000 !important;
// }

// .top-portrait-back-footer {
//     margin-top: 18px;
//     color: #ffffff;
// }

// .top-portrait-back-footer-style2 {
//     margin-top: 12px;
//     color: #000;
// }

// .top-portrait-back-footer-style3 {
//     margin-top: 14px;
//     color: #ffffff;
// }

// .id_card_portriat_color {
//     color: #ffffff;
// }

// .id-card-school-name-style2 {
//     font-size: 12px;
//     color: #0b4677;
//     font-weight: 600;
// }

// .id_card_footer-style2 {
//     margin-top: 8px;
//     font-size: 10px;
//     color: #ffffff;
// }

// .id-card-school-name-style3{
//     font-size: 11.25px;
// }

// .id_card_student_info_style3 {
//     font-size: 14px;
//     color: #2b348f;
// }

// .modify-icon {
//     color: #0091EA;
// }

// .view-icon {
//     color: #263238;
//     opacity: 0.6;
// }

// .view-icon:hover {
//     color: #263238;
//     opacity: 1.5;
// }

// .icon-pointer {
//     cursor: pointer !important;
// }

// .print-icon {
//     color: #0091EA;
//     opacity: 0.6;
// }

// .print-icon:hover {
//     color: #0091EA;
//     opacity: 1.5;
// }

// .delete-icon {
//     color: #d50000;
// }

// .inline-form-table-icon-spacing {
//     margin-left: 5px;
// }

// .text-capitalize {
//     text-transform: capitalize !important;
// }

// .process-adm-font {
//     font-size: 16px;
//     font-weight: bold;
// }

// .notification-img-text {
//     font-size: 14px;
// }

// .approval-checklist {
//     text-decoration: underline;
//     color: #009eff;
//     font-style: italic;
// }

// .approval-checklist:hover {
//     text-decoration: none;
//     color: #000;
//     font-style: normal;
// }

// .grey_back_title {
//     background-color: #f1f1f1;
//     padding: 15px;
// }

// .regno-title {
//     font-size: 16px;
//     font-weight: bold;
// }

// .blue_back_title {
//     background-color: #0091EA;
//     padding: 10px;
//     color: #fff;
// }

// .livadm-text {
//     font-size: 16px;
//     font-weight: bold;
// }

// .call-field-icon {
//     color: #000;
//     font-size: 16px;
// }

// .whatsapp-field-icon {
//     color: #02ed10;
//     font-size: 22px;
// }

// .main-label-img {
//     margin-bottom: 0rem !important;
// }

// .vertical-line {
//     border-left: 1px solid #bbbbbb;
//     position: relative;
//     z-index: 1000;
// }


// .vertical-line-1 {
//     border-right: 1px solid #bbbbbb;
//     position: relative;
//     z-index: 1000;
// }

// .text-heading-viewer {
//     text-transform: uppercase!important;
//     color: #fff;
//     z-index: 111;
//     position: absolute;
//     top: -38px;
//     left: 15px;
// }

// .crop-image-text {
//     position: absolute;
//     top: 38%;
//     margin-left: 45px;
// }

.adm-no-student {
    font-size: 47px !important;
    color: #007D9E !important;

}

.adm-no-student-30 {
    font-size: 30px !important;
    color: #007D9E !important;
}

.student-title {
    color: #707070;
    font-size: 18px;
}

.student-value {
    color: #131313;
    font-size: 18px;
}

.icon-ledger {
    border-left: 1px solid #bcbcbc;
    margin-left: 5px;
    margin-right: 5px;
}

.custom-entry-btn-text {
    color: #0C8CEE;
    text-decoration: underline;
    font-size: 14px;
}

.font-dark-blue {
    color: #004261;
}