<div class="padding-15">
  <form [formGroup]="baseform" novalidate>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-3" *ngIf="checkIfFieldExist('upd_dob')">
            <mat-form-field class="form-field">
              <input formControlName="upd_dob" [max]="dobDate" matInput [matDatepicker]="picker"
                placeholder="Date of birth" required [readonly]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
              <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker tabindex="-1" #picker [disabled]="viewOnly"></mat-datepicker>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" *ngIf="checkIfFieldExist('upd_doj')">
            <mat-form-field class="form-field">
              <input formControlName="upd_doj" [max]="maxDate" matInput [matDatepicker]="picker1"
                [placeholder]="datePlaceHolder" required [readonly]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
              <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker tabindex="-1" #picker1 [disabled]="viewOnly"></mat-datepicker>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" *ngIf="checkIfFieldExist('upd_gender')">
            <mat-form-field class="form-field">
              <mat-select placeholder="Gender" formControlName="upd_gender" required [disabled]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of gender" [value]="item.gen_alias">
                  {{item.gen_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" *ngIf="checkIfFieldExist('upd_category')">
            <mat-form-field class="form-field">
              <mat-select placeholder="Category" formControlName="upd_category" required [disabled]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of category" [value]="item.cat_id">
                  {{item.cat_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-3" *ngIf="checkIfFieldExist('upd_religion_id')">
            <mat-form-field class="form-field">
              <mat-select formControlName="upd_religion_id" placeholder="Religion" required [disabled]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of arrayReligion" [value]="item.rel_id">
                  {{item.rel_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" *ngIf="checkIfFieldExist('upd_mt_id')">
            <mat-form-field class="form-field">
              <mat-select formControlName="upd_mt_id" placeholder="Mother Tongue" required [disabled]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of arrayMotherTongue" [value]="item.mt_id">
                  {{item.mt_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" *ngIf="checkIfFieldExist('upd_nationality')">
            <mat-form-field class="form-field">
              <mat-select placeholder="Nationality" formControlName="upd_nationality" required [disabled]="viewOnly"
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of nationality" [value]="item.nat_id">
                  {{item.nat_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3" *ngIf="checkIfFieldExist('upd_aadhaar_no')">
            <mat-form-field class="form-field">
              <input formControlName="upd_aadhaar_no" mask="0000 0000 0000" minlength="12" maxlength="14" matInput
                placeholder="Aadhaar No." [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher">
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-12">
      <div *ngIf="!(paddressform?.value?.ea_same_residential_address)" class="row">
        <div class="col-12">
          <form [formGroup]="paddressform" novalidate>
            <div class="row">
              <div class="col-12 text-center">
                <span class="text-uppercase"><b>Permanent Address</b></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngIf="checkIfFieldExist('ea_address1')">
                <mat-form-field class="form-field ">
                  <input class="text-capitalize" formControlName="ea_address1" matInput placeholder="Address" required
                    [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-3" *ngIf="checkIfFieldExist('ea_city')">
                <mat-form-field class="form-field">
                  <input type="text" matInput placeholder="City" formControlName="ea_city" required
                    [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher" [matAutocomplete]="autoGroup"
                    (keyup)="filterCityStateCountry($event)">
                  <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-option (onSelectionChange)="getCityPerId(item)" (click)="getCityPerId(item)" *ngFor="let item of cityCountryArray"
                      [value]="item.cit_id">{{item.cit_name}} -
                      {{item.sta_name}} - {{item.cou_name}}</mat-option>
                  </mat-autocomplete>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-3" *ngIf="checkIfFieldExist('ea_state')">
                <mat-form-field class="form-field">
                  <mat-select formControlName="ea_state" placeholder="State" required disabled="true"
                    [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option *ngFor="let item of arrayState" [value]="item.sta_id">
                      {{item.sta_name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-3" *ngIf="checkIfFieldExist('ea_country')">
                <mat-form-field class="form-field">
                  <mat-select formControlName="ea_country" placeholder="Country" required disabled="true"
                    [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option *ngFor="let item of arrayCountry" [value]="item.cou_id">
                      {{item.cou_name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-3" *ngIf="checkIfFieldExist('ea_pincode')">
                <mat-form-field class="form-field">
                  <input formControlName="ea_pincode" minlength="6" maxlength="7" mask="000 000" matInput
                    placeholder="PIN" required [readonly]="viewOnly"
                    [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <span>Whether the address of correspondence is different from the Permanent address?
                  
                </span>
                <mat-slide-toggle class="btn-spacer" formControlName="ea_same_residential_address"
                  [checked]="paddressform?.value?.ea_same_residential_address"
                  [disabled]="viewOnly" (change)="ea_same_residential_address_change($event)">
                  {{paddressform?.value?.ea_same_residential_address ? 'Yes' : 'No'}}</mat-slide-toggle>
              </div>
              <div class="col-6">
                <span>Whether the child is having any sibling?</span>
                <mat-slide-toggle class="btn-spacer" [disabled]="viewOnly" [checked]="siblingdetailsdiv"
                  (change)="siblingdetailsdiv_change($event)">{{siblingStaus}}</mat-slide-toggle>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="paddressform?.value?.ea_same_residential_address" class="row">
        <div class="col-6 col-custom-49 vertical-line-1">
          <form [formGroup]="paddressform" novalidate>
            <div class="row">
              <div class="col-12 text-center">
                <span class="text-uppercase"><b>Permanent Address</b></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngIf="checkIfFieldExist('ea_address1')">
                <mat-form-field class="form-field ">
                  <input class="text-capitalize" formControlName="ea_address1" matInput placeholder="Address" required
                    [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_city')">
                <mat-form-field class="form-field">
                  <input type="text" matInput placeholder="City" formControlName="ea_city" required
                    [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher" [matAutocomplete]="autoGroup"
                    (keyup)="filterCityStateCountry($event)">
                  <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-option (onSelectionChange)="getCityPerId(item)" (click)="getCityPerId(item)" *ngFor="let item of cityCountryArray"
                      [value]="item.cit_id">{{item.cit_name}} -
                      {{item.sta_name}} - {{item.cou_name}}</mat-option>
                  </mat-autocomplete>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_state')">
                <mat-form-field class="form-field">
                  <mat-select formControlName="ea_state" placeholder="State" required disabled="true"
                    [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-option>Please Select</mat-option>
                    <mat-option *ngFor="let item of arrayState" [value]="item.sta_id">
                      {{item.sta_name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_country')">
                <mat-form-field class="form-field">
                  <mat-select formControlName="ea_country" placeholder="Country" required disabled="true"
                    [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-option>Please Select</mat-option>
                    <mat-option *ngFor="let item of arrayCountry" [value]="item.cou_id">
                      {{item.cou_name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_pincode')">
                <mat-form-field class="form-field">
                  <input formControlName="ea_pincode" minlength="6" maxlength="7" mask="000 000" matInput
                    placeholder="Zip/Pin Code" required [readonly]="viewOnly"
                    [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span>Whether the address of correspondence is different from the Permanent address
                  ?</span>
                  
                <mat-slide-toggle formControlName="ea_same_residential_address"
                  [checked]="paddressform?.value?.ea_same_residential_address"
                  class="btn-spacer" [disabled]="viewOnly" (change)="ea_same_residential_address_change($event)">
                  {{paddressform?.value?.ea_same_residential_address ? 'Yes' : 'No'}}</mat-slide-toggle>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="vertical-line"></div> -->
        <div class="col-6 col-custom-49">
          <form [formGroup]="raddressform" novalidate>
            <div class="row">
              <div class="col-12 text-center">
                <span class="text-uppercase"><b>Correspondence Address</b></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngIf="checkIfFieldExist('ea_address1')">
                <mat-form-field class="form-field ">
                  <input class="text-capitalize" formControlName="ea_address1" matInput placeholder="Address" required
                    [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_city')">
                <mat-form-field class="form-field">
                  <input type="text" matInput placeholder="City" formControlName="ea_city" required
                    [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher" [matAutocomplete]="autoGroup"
                    (keyup)="filterCityStateCountry($event)">
                  <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-option (onSelectionChange)="getCityResId(item)" (click)="getCityResId(item)" *ngFor="let item of cityCountryArray"
                      [value]="item.cit_id">{{item.cit_name}} -
                      {{item.sta_name}} - {{item.cou_name}}</mat-option>
                  </mat-autocomplete>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_state')">
                <mat-form-field class="form-field">
                  <mat-select formControlName="ea_state" placeholder="State" required disabled="true"
                    [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option *ngFor="let item of arrayState" [value]="item.sta_id">
                      {{item.sta_name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_country')">
                <mat-form-field class="form-field">
                  <mat-select formControlName="ea_country" placeholder="Country" required disabled="true"
                    [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option *ngFor="let item of arrayCountry" [value]="item.cou_id">
                      {{item.cou_name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf="checkIfFieldExist('ea_pincode')">
                <mat-form-field class="form-field">
                  <input formControlName="ea_pincode" minlength="6" maxlength="7" mask="000 000" matInput
                    placeholder="Zip/Pin Code" required [readonly]="viewOnly"
                    [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span>Whether the child is having any sibling?</span>
                <mat-slide-toggle class="btn-spacer" [disabled]="viewOnly" [checked]="siblingdetailsdiv"
                  (change)="siblingdetailsdiv_change($event)">
                  {{siblingStaus}}</mat-slide-toggle>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div *ngIf="siblingdetailsdiv">
    <div class="row">
      <div class="col-12 text-center">
        <span class="text-uppercase"><b>Sibling Details</b></span>
      </div>
    </div>
    <br>
    <form [formGroup]="siblingform" novalidate>
      <div class="row" *ngIf="!viewOnly">

        <div class="col-2" *ngIf="checkIfFieldExist('esd_admission_no')">
          <mat-form-field class="form-field">
            <input class="text-capitalize" #admission_no matInput placeholder="Admission No."
              formControlName="esd_admission_no" (blur)="getSiblingDetails(admission_no.value)" />
            <mat-error>
              Please enter a valid admission id
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-2" *ngIf="checkIfFieldExist('esd_name')">
          <mat-form-field class="form-field">
            <input class="text-capitalize" matInput placeholder="Name" formControlName="esd_name"
              [errorStateMatcher]="confirmValidParentMatcher" required />
            <mat-error>
              Please enter child name
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-1" *ngIf="checkIfFieldExist('esd_class')">
          <mat-form-field class="form-field">
            <mat-select placeholder="Class" [disabled]="checkReadOnlyStatus" (selectionChange)="getSectionsByClass()"
              [errorStateMatcher]="confirmValidParentMatcher" formControlName="esd_class" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                {{item.class_name}}
              </mat-option>
            </mat-select>
            <mat-error>
              Please select child class
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-1" *ngIf="checkIfFieldExist('esd_section')">
          <mat-form-field class="form-field">
            <mat-select placeholder="Section" [disabled]="checkReadOnlyStatus"
              [errorStateMatcher]="confirmValidParentMatcher" formControlName="esd_section" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">{{item.sec_name}}</mat-option>
            </mat-select>
            <mat-error>
              Please select child section
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-2" *ngIf="checkIfFieldExist('esd_school_name')">
          <mat-form-field class="form-field">
            <input class="text-capitalize" matInput placeholder="School Name"
              [errorStateMatcher]="confirmValidParentMatcher" formControlName="esd_school_name" required />
            <mat-error>
              Please enter school name
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field">
            <input type="number" matInput placeholder="Age (yrs)" formControlName="esd_age">
          </mat-form-field>
        </div>
        <div class="col-2">
          <button *ngIf="!siblingedit" mat-raised-button class="btn-neutral" (click)="addSiblingDetails()">Add to
            List</button>
          <button *ngIf="siblingedit" mat-raised-button class="btn-neutral" (click)="updateSiblingDetails()">Update to
            List</button>
        </div>

      </div>
    </form>
    <br>
    <div class="row" *ngIf="siblingArray.length > 0">
      <div class="col-12">
        <table class="table table-bordered table-stripped custom-table">
          <thead class="table-skill__head text-center">
            <tr class="custom-tr">
              <th class="custom-th">Sr No.</th>
              <th *ngIf="checkIfFieldExist('esd_admission_no')" class="custom-th">Admission No.</th>
              <th *ngIf="checkIfFieldExist('esd_name')" class="custom-th">Name </th>
              <th *ngIf="checkIfFieldExist('esd_class')" class="custom-th">Class - Section</th>
              <th *ngIf="checkIfFieldExist('esd_school_name')" class="custom-th">School Name</th>
              <th class="custom-th">Age(yrs)</th>
              <th *ngIf="!viewOnly" class="custom-th">Modify</th>
            </tr>
          </thead>
          <tbody class="table-skill__body text-center">
            <tr class="custom-tr" *ngFor="let item of siblingArray; let i=index">
              <td class="custom-td">{{i+1}}</td>
              <td *ngIf="checkIfFieldExist('esd_admission_no')" class="custom-td">{{item.esd_admission_no ? item.esd_admission_no: 'NA'}}</td>
              <td *ngIf="checkIfFieldExist('esd_name')" class="custom-td  text-capitalize">{{item.esd_name}}</td>
              <td *ngIf="checkIfFieldExist('esd_class')" class="custom-td">{{item.class_name}} - {{item.sec_name}}</td>
              <td *ngIf="checkIfFieldExist('esd_school_name')" class="custom-td text-capitalize">{{item.esd_school_name}}</td>
              <td *ngIf="checkIfFieldExist('esd_age')" class="custom-td">{{item.esd_age}}</td>
              <td *ngIf="!viewOnly" class="custom-td"><i class="far fa-edit modify-icon" style="cursor: pointer"
                  (click)="editSiblingDetails(i)"></i>&nbsp;
                <i class="far fa-trash-alt delete-icon inline-form-radio-spacing" style="cursor: pointer"
                  (click)="deleteSiblingDetails(i)"></i>
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>