<simple-notifications></simple-notifications>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-title>
            <h1 class="remove-bottom-margin font-size-24">Create Teacher</h1>
         </mat-card-title>
      </mat-card>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-content>
            <div class="row">
               <div class="col-lg-12 pd_left pd_right">
                  <form [formGroup]="Teacher_Form" novalidate>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="row">
                              <div class="col-lg-2 fin-tab-col-20 ">
                                 <div class="form-group row">
                                    <div class="image-upload">
                                       <label for="file-input">
                                          <img class="img-fluid teacher-img" id="teacherImage" [src]="url"
                                             style="width: 109px; height: 145px; border:1px solid #9591d8"
                                             matTooltip="upload-image 109px*145px" />
                                       </label>
                                       <input id="file-input" formControlName="au_profileimage" name="file-input"
                                          type="file" (change)="readUrl($event);uploadTeacherImage($event)" />
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-10 fin-tab-col-80">
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Teacher Id</mat-label>
                                          <input matInput formControlName="au_login_id" readonly
                                             placeholder="Teacher Id">
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Full Name</mat-label>
                                          <input matInput formControlName="au_full_name" required
                                             placeholder="Full Name">
                                          <mat-error *ngIf="au_full_name.hasError('required')">
                                             Full name is <strong>required</strong>
                                          </mat-error>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Contact No.</mat-label>
                                          <input matInput formControlName="au_mobile" required placeholder="Contact No."
                                             maxlength="10" pattern="[0-9]*">
                                          <mat-error *ngIf="au_mobile.hasError('required')">
                                             Mobile should be <strong>numbers</strong>
                                          </mat-error>
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>School Code</mat-label>
                                          <input matInput [value]="schoolinfoArray.school_prefix" readonly
                                             placeholder="School Code">
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>School Name</mat-label>
                                          <input matInput name="schoolname" [value]="schoolinfoArray.school_name"
                                             readonly placeholder="School Name">
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Email ID</mat-label>
                                          <input matInput name="email" formControlName="au_email" required
                                             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                             placeholder="Email ID">
                                          <mat-error *ngIf="au_email.hasError('required')">
                                             Email is <strong>required</strong>
                                          </mat-error>
                                       </mat-form-field>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <br>
            <mat-tab-group>
               <mat-tab>
                  <ng-template mat-tab-label>
                     <div>
                        <span>Class Subject Relation</span>
                     </div>
                  </ng-template>
                  <div *ngIf="isExistUserAccessMenu('109')" id="teacher-csr">
                     <div class="row">
                        <div class="col-lg-12 text-center">
                           <span>Class Subject Relation</span>
                        </div>
                     </div>
                     <div class="row row-remove-top-margin">
                        <div class="col-lg-12 pd_left pd_right">
                           <form [formGroup]="Cs_relation_Form" novalidate>
                              <div class="row">
                                 <div class="col-md-2 col-lg-2">
                                    <mat-form-field class="form-field" appearance="outline">
                                       <mat-label>Designation</mat-label>
                                       <input matInput name="user" placeholder="Designation"
                                          formControlName="uc_designation" [value]="designation">
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-2 col-lg-2">
                                    <mat-form-field class="form-field" appearance="outline">
                                       <mat-label>Department</mat-label>
                                       <input matInput placeholder="Department" formControlName="uc_department"
                                          [value]="department">
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-2 col-lg-2">
                                    <mat-form-field class="form-field" appearance="outline">
                                       <mat-label>Class</mat-label>
                                       <mat-select formControlName="uc_class_id" #inputclass
                                          (selectionChange)="getSectionsByClass();getSubjectsByClass();setCurrentClass(inputclass.value)"
                                          placeholder="Class" required>
                                          <mat-option [value]="">Select Class</mat-option>
                                          <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                                             {{item.class_name}}
                                          </mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-2 col-lg-2">
                                    <mat-form-field class="form-field" appearance="outline">
                                       <mat-label>Section</mat-label>
                                       <mat-select formControlName="uc_sec_id" #inputsec
                                          (selectionChange)="getSubjectsByClass();setCurrentSection(inputsec.value)"
                                          placeholder="Section" required>
                                          <mat-option [value]="">Select Section</mat-option>
                                          <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                                             {{item.sec_name}}
                                          </mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-2 col-lg-2">
                                    <mat-form-field class="form-field" appearance="outline">
                                       <mat-label>Subject</mat-label>
                                       <mat-select formControlName="uc_sub_id" #inputsub
                                          (selectionChange)="setCurrentSubject(inputsub.value)" placeholder="Subject"
                                          required>
                                          <mat-option [value]="">Select Subject</mat-option>
                                          <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                                             {{item.sub_name}}
                                          </mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-2 col-lg-2">
                                    <div class="mt-3">
                                       <button mat-raised-button class="submit-button" type="submit"
                                          (click)="addCSToTeacher()">Add</button>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="row" *ngIf="insertdata">
                        <div class="col-lg-12">
                           <table class=" dialog-table-review table">
                              <thead>
                                 <tr class="dialog-table-review-header">
                                    <th>Teacher Name</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Subject</th>
                                    <th class="text-center">Modify</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let item of cs_relationArray; let i=index">
                                    <td>{{Teacher_Form.value.au_full_name}}</td>
                                    <td>{{item.class_name}}</td>
                                    <td>{{item.sec_name}}</td>
                                    <td>{{item.sub_name}}</td>
                                    <td class="text-center">
                                       <a>
                                          <i class="far fa-trash-alt table-delete-icon" aria-hidden="true"
                                             title="Delete" (click)="deleteCSRelation(i)"></i>
                                       </a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <br>
                     <div class="col-lg-6">
                        <button mat-raised-button class="submit-button" *ngIf="!updateFlag" (click)="addUser()"
                           [disabled]="!Cs_relation_Form.valid">Submit</button>
                        <a [routerLink]="['../teacher-management']">
                           <button mat-raised-button class="submit-button" matTooltip="Update Teacher"
                              *ngIf="updateFlag" (click)="updateUser()">Update</button>
                        </a>
                        <button mat-raised-button class="reset-button" matTooltip="Are you sure you want to reset?"
                           (click)="saveief()">Reset</button>
                     </div>
                  </div>
               </mat-tab>
               <mat-tab>
                  <br>
                  <ng-template mat-tab-label>
                     <span>Control Dashboard</span>
                  </ng-template>
                  <div role="tabpanel" *ngIf="isExistUserAccessMenu('114')" id="teacher-dashboard">
                     <form [formGroup]="Remark_Form" novalidate>
                        <div class="row">
                           <div class="col-lg-12">
                              <p class="text-center tab-title">Control Dashboard</p>
                              <br>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4 col-md-4 col-lg-4">
                              <div class="form-group ">
                                 <div class="col-lg-9">
                                    <mat-form-field class="form-field">
                                       <mat-select placeholder="Project" formControlName="pro_id"
                                          (ngModelChange)="getModuleList($event)">
                                          <mat-option value="">
                                             Select Project
                                          </mat-option>
                                          <mat-option *ngFor="let item of projectsArray" [value]="item.pro_id">
                                             {{item.pro_name}}
                                          </mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div>
                                 <div>
                                    <div class="col-apple-10">
                                       <div class="module-list">
                                          <ngx-treeview [config]="config" [items]="moduleItems"
                                             (selectedChange)="moduleValues = $event">
                                          </ngx-treeview>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-12 mt-3 ">
                              <button mat-raised-button class="submit-button" (click)="submitModule()">Submit</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </mat-tab>
            </mat-tab-group>
         </mat-card-content>
      </mat-card>
   </div>
</div>