<simple-notifications></simple-notifications>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-title>
            <h1 class="remove-bottom-margin font-size-24">{{!updateFlag ? 'Create Teacher' : 'Update Teacher'}}</h1>
         </mat-card-title>
      </mat-card>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-content>
            <div class="row">
               <div class="col-lg-12 pd_left pd_right">
                  <form [formGroup]="Teacher_Form" novalidate>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="row">
                              <div class="col-lg-2 fin-tab-col-20 ">
                                 <div class="form-group row">
                                    <div class="image-upload">
                                       <label for="file-input">
                                          <img class="img-fluid teacher-img"
                                             [src]="'https://apisis.invictusdigisoft.com/createonfly.php?src=' + url + '&h=140&w=140'"
                                             style="border-radius: 50% !important;
                                             border: 1px solid rgb(149, 145, 216);"
                                             matTooltip="upload-image 109px*145px" />
                                       </label>
                                       <input id="file-input" formControlName="au_profileimage" name="file-input"
                                          type="file" (change)="readUrl($event)" />
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-10 fin-tab-col-80">
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Teacher Id</mat-label>
                                          <input matInput formControlName="au_login_id" readonly
                                             placeholder="Teacher Id">
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Full Name</mat-label>
                                          <input matInput formControlName="au_full_name" required
                                             placeholder="Full Name">
                                          <mat-error *ngIf="au_full_name.hasError('required')">
                                             Full name is <strong>required</strong>
                                          </mat-error>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>User Name</mat-label>
                                          <input matInput formControlName="au_username" [readonly]="updateFlag"
                                             minlength="6" (blur)="checkUserExists($event.target.value)"
                                             (keyup)="hideIcon()" required placeholder="User Name">
                                          <mat-error *ngIf="au_full_name.hasError('required')">
                                             Username is <strong>required of length min 6</strong>
                                          </mat-error>
                                       </mat-form-field>
                                       <span *ngIf="prefixStatus && !updateFlag" style="float:left"><i
                                             [class]="prefixStatusicon"></i> {{prefixStatus}}</span>
                                    </div>
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Contact No.</mat-label>
                                          <input matInput formControlName="au_mobile" required placeholder="Contact No."
                                             maxlength="10" pattern="[0-9]*">
                                          <mat-error *ngIf="au_mobile.hasError('required')">
                                             Mobile should be <strong>numbers</strong>
                                          </mat-error>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>School Name</mat-label>
                                          <input matInput name="schoolname" [value]="schoolinfoArray.school_name"
                                             readonly placeholder="School Name">
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Email ID</mat-label>
                                          <input matInput name="email" formControlName="au_email" required
                                             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                             placeholder="Email ID">
                                          <mat-error *ngIf="au_email.hasError('required')">
                                             Email is <strong>required</strong>
                                          </mat-error>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques" *ngIf="login_id">
                                       <div class="row">
                                          <div class="col-lg-4 fin-tab-col-50">
                                             <mat-checkbox class="user-opt-select" name="read-only"
                                                (change)="activePasswordInput($event)" formControlName="changepassword">
                                                Change Password </mat-checkbox>
                                          </div>
                                          <div class="col-lg-8 fin-tab-col-50"
                                             *ngIf="Teacher_Form.value.changepassword">
                                             <mat-form-field class="form-field" appearance="outline">
                                                <mat-label>Password</mat-label>
                                                <input matInput formControlName="au_password" autocomplete="off"
                                                   placeholder="Password" type="password">
                                             </mat-form-field>
                                          </div>
                                       </div>


                                    </div>
                                    <div class="col-lg-7 fin-tab-col-50 col-mobile-view-add-ques">
                                       <div class="image-upload">
                                          Signature :
                                          <label for="file-input_sign">
                                             <img class="img-fluid teacher-img" [src]="Teacher_Form.value.usr_signature"
                                                style="width: 200px; height: 60px;  border: 1px solid rgb(149, 145, 216);"
                                                matTooltip="upload-image 109px*145px" />
                                          </label>
                                          <input id="file-input_sign" type="file"
                                             (change)="uploadTeacherSign($event)" />
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <br>
            <mat-tab-group>
               <mat-tab>
                  <ng-template mat-tab-label>
                     <div>
                        <span>Class Subject Relation</span>
                     </div>
                  </ng-template>
                  <div class="row">
                     <div class="col-lg-12 text-center">
                        <span>Class Subject Relation</span>
                     </div>
                  </div>
                  <div class="row row-remove-top-margin">
                     <div class="col-lg-12 pd_left pd_right">
                        <form [formGroup]="Cs_relation_Form" novalidate>
                           <div class="row">
                              <div class="col-md-2 col-lg-2">
                                 <mat-form-field class="form-field" appearance="outline">
                                    <mat-label>Designation</mat-label>
                                    <input matInput name="user" placeholder="Designation"
                                       formControlName="uc_designation" [value]="designation">
                                 </mat-form-field>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                 <mat-form-field class="form-field" appearance="outline">
                                    <mat-label>Department</mat-label>
                                    <input matInput placeholder="Department" formControlName="uc_department"
                                       [value]="department">
                                 </mat-form-field>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                 <mat-form-field class="form-field" appearance="outline">
                                    <mat-label>Class</mat-label>
                                    <mat-select formControlName="uc_class_id" #inputclass
                                       (selectionChange)="getSectionsByClass();getSubjectsByClass();setCurrentClass(inputclass.value)"
                                       placeholder="Class" required>
                                       <mat-option [value]="">Select Class</mat-option>
                                       <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                                          {{item.class_name}}
                                       </mat-option>
                                    </mat-select>
                                 </mat-form-field>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                 <mat-form-field class="form-field" appearance="outline">
                                    <mat-label>Section</mat-label>
                                    <mat-select formControlName="uc_sec_id" #inputsec
                                       (selectionChange)="getSubjectsByClass();setCurrentSection(inputsec.value)"
                                       placeholder="Section" required>
                                       <mat-option [value]="">Select Section</mat-option>
                                       <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                                          {{item.sec_name}}
                                       </mat-option>
                                    </mat-select>
                                 </mat-form-field>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                 <!-- <mat-form-field class="form-field" appearance="outline">
                                    <mat-label>Subject</mat-label>
                                    <mat-select formControlName="uc_sub_id" #inputsub
                                       (selectionChange)="setCurrentSubject(inputsub.value)" placeholder="Subject"
                                       required>
                                       <mat-option [value]="">Select Subject</mat-option>
                                       <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                                          {{item.sub_name}}
                                       </mat-option>
                                    </mat-select>
                                 </mat-form-field> -->

                                 <mat-form-field appearance="outline" class=" form-field">
                                    <mat-label>Subject</mat-label>
                                    <mat-select formControlName="uc_sub_id" #inputsub
                                       (selectionChange)="setCurrentSubject(inputsub.value)" placeholder="Subject"
                                       required multiple>
                                       <!-- <mat-option value="">Please select</mat-option> -->

                                       <mat-optgroup label="Scholastic">
                                          <ng-container *ngFor="let item of subjectArray">
                                             <ng-container *ngIf="(item.sub_type == '1' || item.sub_type == '3') && item.childSub.length != 0">
                                                <mat-option [value]="item.sub_id" class="option-group-child">
                                                   {{item.sub_name}}</mat-option>
                                                <mat-option *ngFor="let item1 of item.childSub"
                                                   style="margin-left:25px;" [value]="item1.sub_id"
                                                   class="option-group-parent">
                                                   {{item1.sub_name}}</mat-option>
                                             </ng-container>
                                             <mat-option *ngIf="(item.sub_type == '1' || item.sub_type == '3') && item.childSub.length == 0"
                                                [value]="item.sub_id" class="option-group-child">
                                                {{item.sub_name}}</mat-option>
                                          </ng-container>
                                       </mat-optgroup>
                                       <mat-optgroup label="Co-Scholastic">
                                          <ng-container *ngFor="let item of subjectArray">
                                             <ng-container *ngIf="(item.sub_type == '2' || item.sub_type == '4') && item.childSub.length != 0">
                                                <mat-option [value]="item.sub_id" class="option-group-child">
                                                   {{item.sub_name}}</mat-option>
                                                <mat-option *ngFor="let item1 of item.childSub" style="margin-left:25px"
                                                   [value]="item1.sub_id" class="option-group-parent">
                                                   {{item1.sub_name}}</mat-option>
                                             </ng-container>
                                             <mat-option *ngIf="(item.sub_type == '2' || item.sub_type == '4') && item.childSub.length == 0"
                                                [value]="item.sub_id" class="option-group-child">
                                                {{item.sub_name}}</mat-option>
                                          </ng-container>
                                       </mat-optgroup>
                                    </mat-select>
                                 </mat-form-field>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                 <div class="mt-3">
                                    <button mat-raised-button class="btn-primary btn-success" type="submit"
                                       (click)="addCSToTeacher()">Add</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12 remove-col-padding text-right ">
                        <button mat-raised-button class="recalulate-invoice-btn btn-spacer"
                           *ngIf="deletedItemArray.length > 0" (click)="deleteSelected()">Delete</button>
                     </div>
                  </div>
                  <div class="row" *ngIf="insertdata">
                     <div class="col-lg-12">
                        <table class="table-100 text-center">
                           <thead>
                              <th>
                                 <mat-checkbox (click)="getDeleteEvent('all')">
                                 </mat-checkbox>
                              </th>
                              <th style="width:8%">Class Teacher</th>
                              <th>Class</th>
                              <th>Section</th>
                              <th>Subject</th>
                              <th class="text-center">Modify</th>
                           </thead>
                           <tbody>
                              <tr *ngFor="let item of cs_relationArray; let i=index">
                                 <td>
                                    <mat-checkbox [checked]="checkedFlag" (click)="getDeleteEvent(i)">
                                    </mat-checkbox>
                                 </td>
                                 <td>
                                    <mat-radio-button (change)="getChangeEvent($event,item)"
                                       [value]="item.uc_class_teacher" name="radio2"
                                       [checked]="checkStatus(item.uc_class_teacher)"></mat-radio-button>
                                 </td>
                                 <td>{{item.class_name}}</td>
                                 <td>{{item.sec_name}}</td>
                                 <td>{{item.sub_name}}</td>
                                 <td class="text-center">
                                    <a>
                                       <i class="material-icons icon-danger icon-spacer" matTooltip="Delete"
                                          (click)="deleteCSRelation(i)">delete</i>
                                    </a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <button mat-raised-button class="btn-primary btn-success" *ngIf="!updateFlag"
                           (click)="addUser()"
                           [disabled]="!(Teacher_Form.valid && Cs_relation_Form.valid && checkAvailable)">Submit</button>
                        <a [routerLink]="['../teacher-management']">
                           <button mat-raised-button class="btn-primary btn-success" matTooltip="Update Teacher"
                              [disabled]="!(Teacher_Form.valid)" *ngIf="updateFlag"
                              (click)="updateUser()">Update</button>
                        </a>
                        <button mat-raised-button class="btn-danger btn-spacer"
                           matTooltip="Are you sure you want to reset?" (click)="saveief()">Reset</button>
                     </div>
                  </div>
               </mat-tab>
               <mat-tab>
                  <br>
                  <ng-template mat-tab-label>
                     <span>Control Dashboard</span>
                  </ng-template>
                  <div role="tabpanel" *ngIf="isExistUserAccessMenu('114')" id="teacher-dashboard">
                     <form [formGroup]="Remark_Form" novalidate>
                        <div class="row">
                           <div class="col-lg-12">
                              <p class="text-center tab-title">Control Dashboard</p>
                              <br>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4 col-md-4 col-lg-4">
                              <mat-form-field class="form-field" appearance="outline">
                                 <mat-label>Interface</mat-label>
                                 <mat-select placeholder="Interface" [value]="typeVal"
                                    (selectionChange)="changeIsWebApp($event)">
                                    <mat-option value="">Select Interface</mat-option>
                                    <mat-option *ngFor="let item of typeArray" [value]="item.id">
                                       {{item.name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                           <div class="col-sm-4 col-md-4 col-lg-4">
                              <div class="form-group ">
                                 <div class="col-lg-9">
                                    <mat-form-field class="form-field" appearance="outline">
                                       <mat-label>Select Project</mat-label>
                                       <mat-select placeholder="Project" formControlName="pro_id" [disabled]="isApp"
                                          (selectionChange)="getModuleList($event.value)">
                                          <mat-option value="">
                                             Select Project
                                          </mat-option>
                                          <mat-option *ngFor="let item of projectsArray" [value]="item.pro_id">
                                             {{item.pro_name}}
                                          </mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row" *ngIf="moduleArray.length > 0">
                           <div class="col-lg-12">
                              <div>
                                 <div>
                                    <div class="col-apple-10">
                                       <div class="module-list">
                                          <!-- <ngx-treeview [config]="config" [items]="moduleItems"
                                             (selectedChange)="moduleValues = $event">
                                          </ngx-treeview> -->
                                          <ng-container *ngFor="let item of moduleArray; let i = index">
                                             <div class="row">
                                                <div class="col-12">
                                                   <i *ngIf="item.submenu_level_1 && item.submenu_level_1.length > 0"
                                                      [class]="item.display === 'block' ? 'fas fa-chevron-down icon-collapse-show'
                                                      : 'fas fa-chevron-right icon-collapse-show'"
                                                      (click)="toggleTopMenu(i)"></i>
                                                   <mat-checkbox [value]="item.mod_id"
                                                      [checked]="checkIfValueExist(item.mod_id)"
                                                      (change)="setMenuAssigned($event, item)">
                                                      {{item.mod_name}}
                                                   </mat-checkbox>
                                                </div>
                                             </div>
                                             <ng-container
                                                *ngIf="item.submenu_level_1 && item.submenu_level_1.length > 0">
                                                <div class="mod-div-2" [style.display]="item.display">
                                                   <ng-container
                                                      *ngFor="let submenu of item.submenu_level_1;let j = index">
                                                      <div class="row">
                                                         <div class="col-12">
                                                            <i *ngIf="submenu.submenu_level_2 && submenu.submenu_level_2.length > 0"
                                                               [class]="submenu.display === 'block' ? 'fas fa-chevron-down icon-collapse-show'
                                                                  : 'fas fa-chevron-right icon-collapse-show'"
                                                               (click)="toggleSubMenu1(i, j)"></i>
                                                            <mat-checkbox [checked]="checkIfValueExist(submenu.mod_id)"
                                                               (change)="setMenuAssignedLevel2($event, submenu)"
                                                               [value]="submenu.mod_id">
                                                               {{submenu.mod_name}}
                                                            </mat-checkbox>
                                                         </div>

                                                      </div>
                                                      <ng-container
                                                         *ngIf="submenu.submenu_level_2 && submenu.submenu_level_2.length > 0">
                                                         <div class="mod-div-3" [style.display]="submenu.display">
                                                            <ng-container *ngFor="let submenu2 of submenu.submenu_level_2;
                                                               let k = index">
                                                               <div class="row">
                                                                  <div class="col-12">
                                                                     <mat-checkbox
                                                                        [checked]="checkIfValueExist(submenu2.mod_id)"
                                                                        [value]="submenu2.mod_id"
                                                                        (change)="setMenuAssignedLevel3($event, submenu2)">
                                                                        {{submenu2.mod_name}}
                                                                     </mat-checkbox>
                                                                  </div>

                                                               </div>
                                                            </ng-container>
                                                         </div>
                                                      </ng-container>
                                                   </ng-container>
                                                </div>
                                             </ng-container>
                                          </ng-container>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row" *ngIf="moduleArray.length == 0">
                           <div class="col-12">
                              <span>No Records Found</span>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-12 mt-3 ">
                              <button mat-raised-button class="btn-primary btn-success"
                                 (click)="submitModule()">Submit</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </mat-tab>
            </mat-tab-group>
         </mat-card-content>
      </mat-card>
   </div>
</div>
<app-imagecrop #cropModal (cropYes)="acceptCrop($event)" (cropNo)="acceptNo($event)"></app-imagecrop>