//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––
// A map of breakpoints.
$breakpoints: (xs: 576px, sm: 768px, smb:810px, md: 992px, lg: 1200px, aslg:1400px, aelg:1500px, xl: 1900px, xxl: 2400px);
//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint); // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        } // If the breakpoint doesn't exist in the map.
    }
    @else {
        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint); // Write the media query.
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        } // If the breakpoint doesn't exist in the map.
    }
    @else {
        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

//
//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {
    // If both the lower and upper breakpoints exist in the map.
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
        // Get the lower and upper breakpoints.
        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper); // Write the media query.
        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        } // If one or both of the breakpoints don't exist.
    }
    @else {
        // If lower breakpoint is invalid.
        @if (map-has-key($breakpoints, $lower)==false) {
            // Log a warning.
            @warn 'Your lower breakpoint was invalid: #{$lower}.';
        } // If upper breakpoint is invalid.
        @if (map-has-key($breakpoints, $upper)==false) {
            // Log a warning.
            @warn 'Your upper breakpoint was invalid: #{$upper}.';
        }
    }
}

@include respond-between(xl, xxl) {
    .hide-for-large-screen {
        display: none !important;
    }
    .custom-fee-entry-col-15 {
        max-width: 15%;
        flex: 0 0 15%;
    }

    
    .card-height-545{
       min-height: 545px;
    }

    .card-height-880{
        min-height: 880px;
     }

     .card-height-560 {
         min-height: 560px;
     }
     .card-height-615 {
        min-height: 615px;
    }
    .card-height-540 {
        min-height: 540px;
    }
    .card-height-780 {
        min-height: 780px;
    }
    .card-height-720 {
        min-height: 720px;
    }
    .card-height-730 {
        min-height: 730px;
    }
    .card-height-795 {
        min-height: 795px;
    }
    .card-height-992 {
        min-height: 992px;
    }
    .card-height-950 {
        min-height: 950px;
    }
    .card-height-960 {
        min-height: 960px;
    }
    .card-height-835 {
        min-height: 835px;
    }
    .mat-drawer-content {
        height: 91.45vh !important;
    }
    .fee-blue-box {
        background-color: #1E88E5;
        padding: 8px 8px;
        width: 222px !important;
        color: #fff;
        font-size: 16px;
        margin-top: 15px;
    }

    .sis-col-14 {
        max-width: 14.2% !important;
        flex: 0 0 14.2% !important;
    }
    
    .sis-col-15 {
        max-width: 15% !important;
        flex: 0 0 15% !important;
    }

    .sis-col-16 {
        max-width: 16.6% !important;
        flex: 0 0 16.6% !important;
    }

    .sis-col-20 {
        max-width: 20% !important;
        flex: 0 0 20% !important;
    }
    .sis-col-40 {
        max-width: 40% !important;
        flex: 0 0 40% !important;
    }
    .sis-col-60 {
        max-width: 60% !important;
        flex: 0 0 60% !important;
    }

    .sis-student-profile-image {
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }
    .smart-col-5 {
        max-width: 5% !important;
        flex: 0 0 5% !important;
    }
    .smart-col-3 {
        max-width: 3% !important;
        flex: 0 0 3% !important;
    }
    .fee-col-25 {
        max-width: 25% !important;
        flex: 0 0 25% !important;
    }

    .date-width-100 {
        width: 100px;
    }
    .fee-col-80 {
        max-width: 80% !important;
        flex: 0 0 80% !important;
    }
    .fee-vertical-line-divider {
        border-left: 2px solid #dee2e6;
        height: 75%;
        margin-left: 50%;
    }
    .height-263 {
        height: 263px;;
    }
}

@include respond-between(lg, xl) {
    .height-296 {
        height: 296px;;
    }

    .fee-vertical-line-divider {
        border-left: 2px solid #dee2e6;
        height: 75%;
        margin-left: 50%;
    }
    .smart-col-3 {
        max-width: 3% !important;
        flex: 0 0 3% !important;
    }
    .fee-col-3 {
        max-width: 3% !important;
        flex: 0 0 3% !important;
    }
    .fee-col-25 {
        max-width: 25% !important;
        flex: 0 0 25% !important;
    }

    .fee-col-80 {
        max-width: 80% !important;
        flex: 0 0 80% !important;
    }

    .date-width-100 {
        width: 100px;
    }
    .smart-col-5 {
        max-width: 5% !important;
        flex: 0 0 5% !important;
    }
    mat-header-row.header-normal {
        width: 100% !important;
    }

    mat-row.row-normal {
        width: 100% !important;
    }
    .card-height-600 {
        min-height: 600px;
    }

    .sis-col-14 {
        max-width: 14.2% !important;
        flex: 0 0 14.2% !important;
    }

    .sis-col-15 {
        max-width: 15% !important;
        flex: 0 0 15% !important;
    }

    .sis-col-16 {
        max-width: 16.6% !important;
        flex: 0 0 16.6% !important;
    }

    .sis-col-20 {
        max-width: 20% !important;
        flex: 0 0 20% !important;
    }
    .sis-col-40 {
        max-width: 40% !important;
        flex: 0 0 40% !important;
    }

    .sis-col-60 {
        max-width: 60% !important;
        flex: 0 0 60% !important;
    }
    
    .card-height-330-lp{
        min-height: 330px;
     }

    .card-height-605 {
        min-height: 605px;
    }
    
    .card-height-760 {
        min-height: 760px;
    }
    
    .card-height-810 {
        min-height: 810px;
    }
    
    .card-height-830 {
        min-height: 830px;
    }
    
    .card-height-440 {
        min-height: 440px;
    }
    
    .card-height-677 {
        min-height: 677px;
    }

    .card-height-745-lp {
        min-height: 745px
    }

    .card-height-775-lp {
        min-height: 775px
    }

    .card-height-840-lp {
        min-height: 840px;
    }

    .card-height-860-lp {
        min-height: 860px
    }

    .card-height-850-lp {
        min-height: 850px
    }

    .card-height-470-lp {
        min-height: 470px
    }

    mat-sidenav-content.fee-sidenav-content {
        height: 100% !important;
    }
    .custom-col-2 {
        max-width: 2% !important;
        flex: 0 0 2% !important;  
    }

    .fee-custom-col-8 {
        max-width: 8% !important;
        flex: 0 0 8% !important;  
    }

    .fee-custom-col-64 {
        max-width: 64% !important;
        flex: 0 0 64% !important;  
    }

    .custom-col-5 {
        max-width: 5% !important;
        flex: 0 0 5% !important;  
    }
    .fee-custom-col-10 {
        max-width: 10% ;
        flex: 0 0 10%;
    }
    .fee-custom-col-15 {
        max-width: 15% !important;
        flex: 0 0 15% !important;
    }
    .custom-col-20 {
        max-width: 20% !important;
        flex: 0 0 20% !important;
    }
    .custom-col-26 {
        max-width: 26% !important;
        flex: 0 0 26% !important;
    }

    .custom-col-27 {
        max-width: 27% !important;
        flex: 0 0 27% !important;
    }

    .custom-col-30 {
        max-width: 30% !important;
        flex: 0 0 30% !important;
    }
    .custom-col-35 {
        max-width: 35% !important;
        flex: 0 0 35% !important;
    }
    .custom-col-40 {
        max-width: 40% !important;
        flex: 0 0 40% !important;
    }
    .custom-col-50 {
        max-width: 50% !important;
        flex: 0 0 50% !important;
    }
    .custom-col-60 {
        max-width: 60% !important;
        flex: 0 0 60% !important;
    }

    .custom-col-64 {
        max-width: 64% !important;
        flex: 0 0 64% !important;
    }

    .custom-col-70 {
        max-width: 70% !important;
        flex: 0 0 70% !important;
    }

    .custom-col-69 {
        max-width: 69% !important;
        flex: 0 0 69% !important;
    }
    .custom-col-75 {
        max-width: 75% !important;
        flex: 0 0 75% !important;
    }
    .custom-col-80 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    .inline-form-radio-spacing {
        padding-left: 15px;
    }
    .inline-checkbox-spacing {
        padding-left: 80px;
    }
    .remove-spacing {
        padding-left: 0px !important;
    }
    .mat-cell {
        font-size: 12px !important;
    }
    .container-studeng-img {
        height: 303px !important;
    }
    .custom-margin-25 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .student-pic__size {
        width: 225px !important;
        margin-top: 15px;
    }
    .custom-med-margin-bottom-22{
        margin-bottom: 22px;
    }
    .hide-for-large-screen {
        display: none !important;
    }
    .remove-padding {
        padding: 0px;
    }
    .functional-button-five {
        z-index: 11111;
        position: fixed;
        top: 50% !important;
        right: 20px;
    }
    .padding-left-222 {
        padding-left: 222px !important;
    }
    .padding-left-80 {
        padding-left: 80px !important;
    }
    .padding-left-100 {
        padding-left: 100px !important;
    }
    .margin-bottom-115 {
        margin-bottom: 115px !important;
    }

    .custom-fee-structure-head {
        max-width: 30% !important;
        flex: 0 0 30% !important;
    }

    .custom-fee-entry-col-14 {
        max-width: 14% !important;
        flex: 0 0 14% !important;
    }

    .custom-fee-entry-col-17 {
        max-width: 17% !important;
        flex: 0 0 17% !important;
    }

    .custom-fee-entry-col-18 {
        max-width: 18% !important;
        flex: 0 0 18% !important;
    }

    .custom-fee-entry-col-12 {
        max-width: 12% !important;
        flex: 0 0 12% !important;
    }

    .custom-fee-entry-col-5 {
        max-width: 4% !important;
        flex: 0 0 4% !important;
    }

    .custom-fee-entry-col-8 {
        max-width: 8% !important;
        flex: 0 0 8% !important;
    }

    .lap-custom-fee-entry-col-5 {
        max-width: 5% !important;
        flex: 0 0 5% !important;
    }

    .lap-custom-fee-entry-col-10 {
        max-width: 10% !important;
        flex: 0 0 10% !important;
    }

    .lap-custom-fee-entry-col-9 {
        max-width: 9% !important;
        flex: 0 0 9% !important;
    }
    .btn-custom {
        width: 110px !important;
    }
    .custom-student-profile-image{
        width: 120px !important;
        height: 120px !important;
    }
    .custom-margin-top-10 {
        margin-top: 10px !important;
    }

    .floating-button {
        top: 50px !important;
        right: 23px !important;
    }

    // .mat-header-cell {
    //     padding-left: 5px !important;
    // }

    // th.mat-header-cell:first-of-type {
    //     padding-left: 10px !important;
    // }
    
    
    
    // .cdk-overlay-container .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
    //     top: 45.7617px;
    // left: 1530.52px;
    // height: 722.238px;
    // align-items: flex-start;
    // justify-content: flex-start;
    // }
}


@include respond-between(aslg, aelg) {
    // .cdk-overlay-container .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
    //     top: 45.7617px;
    // left: 1610.52px;
    // height: 722.238px;
    // align-items: flex-start;
    // justify-content: flex-start;
    // }
}

@include respond-between(md, lg) {
    .tab-display-none {
        display: none !important;
    }
    .tab-display-flex {
        display: inline-flex !important;
    }
    .tab-flex {
        display: flex !important;
    }
    .tab-display-contents{
        display: contents !important;
    }
    .tab-col-14 {
        max-width: 14% !important;
        flex: 0 0 14% !important;
    }
    .tab-col-18 {
        max-width: 18% !important;
        flex: 0 0 18% !important;
    }
    .tab-remove-padding {
        padding: 0px !important;
    }
    .tab-margin-50{
        margin-top: 50px;
    }
    .mat-drawer-content {
        position: initial !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        height: 116.5vh !important;
    }
    .card-height-600 {
        min-height: 600px;
    }
    
    
    .card-height-605 {
        min-height: 605px;
    }
    
    .card-height-760 {
        min-height: 760px;
    }
    
    .card-height-810 {
        min-height: 810px;
    }
    
    .card-height-830 {
        min-height: 830px;
    }
    
    .card-height-440 {
        min-height: 440px;
    }
    
    .card-height-677 {
        min-height: 677px;
    }
}


@include respond-between(sm, lg)  {
    .custom-col-10 {
        max-width: 10%;
        flex: 0 0 10%;
    }
    .tab-custom-col-15 {
        max-width: 15% !important;
        flex: 0 0 15% !important;
    }
    .tab-custom-col-20 {
        max-width: 20% !important;
        flex: 0 0 20% !important;
    }
    .tab-custom-col-25 {
        max-width: 25% !important;
        flex: 0 0 25% !important;
    }
    .tab-custom-med-col-30 {
        max-width: 30% !important;
        flex: 0 0 25% !important;
    }
    .custom-col-50 {
        max-width: 50% !important;
        flex: 0 0 50% !important;
    }
    .tab-custom-col-75 {
        max-width: 75% !important;
        flex: 0 0 75% !important;
    }
    .tab-margin-button-bottom {
        margin-bottom: 50px !important;
    }
    .tab-btn-spacer {
        margin-left: 10px !important;
    }
    .hide-for-tab-screen {
        display: none !important;
    }
    .tab-btn-spacer {
        margin-left: 10px;
    }
    .sidenav-footer {
        display: none !important;
    }
    .mat-sidenav-fixed {
        position: absolute !important;
    }
    .hide-for-small-screen {
        display: none !important;
    }
    

    
}

