/* .fa-clock-o {
  color: #28a745;
}

.fa-eye {
  color: #0069d9;
}

.fa-delete {
  color: #dc3545;
}

.fa-play {
  color: #ffc108;
}

col-align{
  padding-left: 200px;
}
.mat-header-cell {
  color: #343a40;
  font-weight: 500;
}
@media screen and (max-width: 420px) {
  .mat-row{
    width:755px;
     float: left;
  
    }
    .mat-cell {
      font-size: 12px !important;
      padding-right: 0px !important;
    }
    .mat-header-row {
      position: relative;
      top: 0;
      z-index: 1;
      background-color: inherit;
  }
  }


@media (max-width: 420px){
  .mat-row, .mat-header-row {
    width: 209vw;
  }
}

@media (max-width: 426px){
  .col-mobile-view-add-ques {
    padding-bottom: 35px;
  }
} */