.mat-sno-sibling {
    width: 5%;
    flex: 0 0 5%;
}

.mat-section-sibling {
    width: 5%;
    flex: 0 0 5%;
}

.mat-gender-sibling {
    width: 5%;
    flex: 0 0 5%;
} 
.mat-cell span {
    word-break: break-all !important;
}
mat-cell:first-of-type {
    padding-left: 0px;
}
tr.mat-row {
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
tr.mat-row:nth-child(even) {
    background-color: #f1f4f7 !important;
}
tr.mat-row:nth-child(odd) {
    background-color: #ffffff !important;
}
tr.mat-header-row {
    background: #c8d6e5 !important;
}
th.mat-header-cell {
    text-align: center !important;
    font-size: 14px;
    border-right: none;
}
td.mat-cell {
    font-size: 12px !important;
    padding-right: 20px !important;
}
td.mat-cell {
    border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}