

.top-blue-box{
  margin-bottom: 60px;
}

/* .form-check-input{
  display: inline-block;
    height: 40px !important; 
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px !important;
    flex-shrink: 0;
} */