<div class="container-box__grey">
   <div class="row">
      <div class="col-12">
         <mat-card class="card-top-title__container">
            <div class="row">
               <div class="col-6">
                  <h1 class="remove-bottom-margin font-size-24">Accounts</h1>
               </div>
            </div>
         </mat-card>
      </div>
   </div>
   <div class="row margin-top-25">
      <div class="col-12">
         <app-common-student-profile [loginId]="lastRecordId" (next)="next($event)" (prev)="prev($event)"
            (first)="first($event)" (last)="last($event)" (key)="key($event)"></app-common-student-profile>
      </div>
   </div>
   <div class="row margin-top-25 ">
      <div class="col-12">
         <app-student-account [feeLoginId]="loginId" [viewOnly]="viewOnly" (editChange)="editChange($event)">
         </app-student-account>
      </div>
   </div>
   <div class="floating-button">
      <button *ngIf="editFlag" mat-button class="float-edit-button"><i class="material-icons font-white">
            edit
         </i><span class="margin-top-2 right-text" (click)="enableEdit()"><i class="fas fa-pencil-alt "></i> <span
               class="btn-spacer">Edit</span></span></button>
      <br>
      <br>
      <button *ngIf="editRequestFlag" mat-button class="float-edit-button" style="background-color: #dc9f36 !important">
         <i class="material-icons font-white">
            edit
         </i><span class="margin-top-2 right-text" (click)="enableEditRequest()"><i class="fas fa-pencil-alt "></i>
            <span class="btn-spacer">Edit Request</span></span></button>
   </div>
</div>