.green {
    color: green;
}
.red {
    color: red;
}

.overflow {
    overflow-x: scroll;
}

.mat-card {
    padding:5px !important;
}

.btn-success-blue {
    margin-top: 10px;
}

.overflow {
    overflow-x: auto;
    overflow-y: auto;
    height: 670px;
}

.btn-success-red {
    background-color: #f52424 !important;
    color: #ffffff !important;
    text-transform: capitalize;
    font-size: 13px !important;
    margin-top: 10px;
}
th {
    white-space: pre !important;
    word-break: break-word !important;
}
tr.mat-footer-row {
    font-weight: bold;
    text-align: center;
  }
  td.mat-footer-cell{
    border-top: 1px solid #89A8C9 !important;
    border-left: 1px solid #89A8C9 !important;
    border-right: 1px solid #89A8C9 !important;
  }