<div class="adv-ongoing-main-container">
    <div class="row">
        <div class="col-12">
          <div class="adv-jee-header">
            <h1 class="adv-jee-top-title">{{examDetail?.tp_name | titlecase}}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9 mob-col-100 height-100vh height-150vh instruct-container-side">
          <div class="row">
            <div class="col-12">
              <div class="adv-jee-sub-header">
                <h2 class="adv-jee-sub-title">Other Important Instructions</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="adv-jee-instruction-screen adv-jee-other-instruction-screen padding-all-15">
                  <div class="adv-jee-child-instruction">
                <div class="row">
                  <div class="col-12 text-right">
                    <label class="language-label-black font-size-14">View in :</label>
                    <select class="adv-jee-language-select btn-spacer">
                      <option value="volvo">English</option>
                      <option value="saab">Hindi</option>
                      <option value="opel">Tamil</option>
                      <option value="audi">Telgu</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h4 class="instruct-main-title text-uppercase">NAVIGATING THROUGH PARTS/SECTIONS OF QUESTION PAPER</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <ol>
                      <li>Parts (PHYSICS, CHEMISTRY and MATHEMATICS) and sections of the parts thereof in the question paper are displayed on the top of the screen. Questions within a section can be viewed by clicking on the corresponding section name. The section which you will be viewing will be highlighted.</li>
                      <li>After clicking the “Save & Next” button on the last question of a part/section, you will automatically be taken to the first question of the next part/section.</li>
                      <li>You can shuffle between parts/sections and questions within parts/sections anytime during the paper as per your convenience.</li>
                      <li>You can view the corresponding section summary which will be visible in every section above the question palette.</li>
                    </ol>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <h4 class="instruct-main-title text-uppercase">NAVIGATING TO A QUESTION</h4>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                        <p>To navigate between questions, you need to do the following:</p>
                        <ol>
                          <li>
                              Click on the question number in the Question Palette at the right of the screen to go to that numbered question directly. Note that using this option does NOT save the answer (if it is answered) to the current question. To save the answer, you must click on “Save & Next” button.
                          </li>
                          <li>Click on “Save & Next” button to save the answer for the current question and then go to the next question.</li>
                          <li>Click on “Mark for Review & Next” button to mark it for review (with or without answering the question) and go to the next question.</li>
                        </ol>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <h4 class="instruct-main-title text-uppercase">ANSWERING A QUESTION </h4>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                            
                            <ul>
                              <li>Follow the procedure, given in “Instructions to Candidates” sheet (handed over to you before the start of the paper), for answering a particular type of question.</li>
                              <li>To change the answer of a question that has already been answered, if required, first click on the “Clear Response” button to clear the saved answer and then follow the procedure for answering that type of question.</li>
                              <li>
                                  To mark a question ONLY for review (i.e. without answering it), click on the “Mark for Review & Next” button.
                              </li>
                              <li>To mark a question for review (after answering it), click on “Mark for Review & Next” button – the answered question which is also marked for review will be evaluated.</li>
                              <li>To save the answer, click on the “Save & Next” button - the answered question will be evaluated.</li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                              <h4 class="instruct-main-title text-uppercase">END OF PAPER </h4>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <ul>
                                <li>When the on-screen computer countdown timer on the top right corner of computer screen reaches zero, the paper will end by itself – No input from your side will be accepted after the timer reaches zero and whatever answers have been saved by you will be automatically submitted for evaluation. Note that the “Submit” button will be activated only after the timer has reached zero and the saved responses will be automatically submitted. It is NOT required to click on “Submit” after the timer has reached zero.</li>
                              </ul>
                            </div>
                          </div>
                <div class="row">
                  <div class="col-12">
                    <div class="hor-line-divider"></div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12 margin-top-10">
                      <label class="language-label-black font-size-14">Choose your default language :</label>
                      <select class="adv-jee-language-select btn-spacer">
                        <option value="volvo">English</option>
                        <option value="saab">Hindi</option>
                        <option value="opel">Tamil</option>
                        <option value="audi">Telgu</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                    <p class="text-important">Please note all the question will appear in default language. This languague can be changed for particular question later on.</p>
                  </div>
                </div>
                <br>
                </div>
              </div>
              <div class="row">
                  <div class="col-12 margin-top-2">
                      <form [formGroup]="instruction_form" novalidate>
                    <mat-checkbox formControlName="ins_read" (click)="insRead()">

                    </mat-checkbox><span class="text-wrap element-spacer">I have read and understood the instructions. All
                      computer hardware allotted to me are in proper working condition. I declare that I am not in possession
                      of / not wearing / not carrying any prohibited gadget like mobile phone, bluetooth devices etc. /any
                      prohibited material with me into the Examination Hall.I agree that in case of not adhering to the
                      instructions, I shall be liable to be debarred from this Test and/or to disciplinary action, which may
                      include ban from future Tests / Examinations</span>
                      </form>
                  </div>
                </div>
            <div class="row margin-top-15 ">
              <div class="col-2 mob-col-30">
                  <a [routerLink]="['/test/jee-advanced-instruction',es_id]">
                  <button mat-button class="btn-clear-res btn-without-radius"
                  ><i class="fas fa-angle-left"></i> Previous </button>
                  </a>
              </div>
              <div class="col-8 mob-col-70 text-center">
                  <button mat-raised-button class="adv-btn-proceed" 
                  (click)="startTest()" [disabled]="startTestFlag">I am ready to begin</button>
              </div>
            </div>
            <footer>
                <div class="row margin-top-2">
                  <div class="col-12 text-center">
                    <div class="footer-container footer-background">
                      <div class="text-center">
                        <span> &#169; 2018 - Invictus DigiSoft Pvt Ltd.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
        <div class="col-3 mob-col-100  height-100vh height-150vh margin-top-2">
            <div class="row">
               <div class="col-12 text-center">
                 <img  style="height:100%"
                 [src]="userDetails.au_profileimage ? userDetails.au_profileimage : 'https://g21.digialm.com//OnlineAssessment/images/NewCandidateImage.jpg'">
               </div>
            </div>
            <div class="row">
               <div class="col-12 text-center">
                  <h5 class="adv-jee-stu-name"><b>{{userDetails?.au_full_name}}</b></h5>
               </div>
            </div>
         </div>
      </div>
      </div>