<simple-notifications></simple-notifications>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-title>
            <h1 class="remove-bottom-margin font-size-24">Manage Users</h1>
         </mat-card-title>
      </mat-card>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-content>
            <div class="row row-remove-top-margin">
               <div class="col-lg-12 col-mobile-view-add-ques">
                  <div class="top-right-parameter top-middle-parameter">
                     <div class="top-right-box">
                        <div class="top-right-box-content top-middle-box-content">
                           <div class="top-right-box-content-title">
                              <div class="row ">
                                 <div class=" col-lg-12 col-remove-padding col-mobile-view-add-ques">
                                    <span class="font-16">User Access Management</span>
                                 </div>
                              </div>
                              <hr>
                              <!-- Tab panes -->
                              <mat-tab-group>
                                 <mat-tab>
                                    <ng-template mat-tab-label>
                                       <div>
                                          <span class="font-16">Manage Forms & Events</span>
                                       </div>
                                    </ng-template>
                                    <div *ngIf="isExistUserAccessMenu('73')">
                                       <div class="row">
                                          <div class="col-lg-12  col-remove-padding col-mobile-view-add-ques">
                                             <form [formGroup]="ModuleForm" novalidate>
                                                <div class="row" *ngIf="manageAccessDiv">
                                                   <div
                                                      class="col-lg-2 fin-tab-col-25 col-remove-left-padding  col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>User</mat-label>
                                                         <input matInput formControlName="login_id" placeholder="User"
                                                            value="{{userDetails.au_full_name}}" readonly>
                                                      </mat-form-field>
                                                   </div>
                                                   <div
                                                      class="col-lg-2 fin-tab-col-25 col-remove-left-padding  col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>Branch</mat-label>
                                                         <input matInput formControlName="si_id" placeholder="Branch"
                                                            readonly>
                                                      </mat-form-field>
                                                   </div>
                                                   <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>Interface</mat-label>
                                                         <mat-select placeholder="Interface" [value]="typeVal"
                                                            (selectionChange)="changeIsWebApp($event)">
                                                            <mat-option value="">Select Interface</mat-option>
                                                            <mat-option *ngFor="let item of typeArray"
                                                               [value]="item.id">
                                                               {{item.name}}
                                                            </mat-option>
                                                         </mat-select>
                                                      </mat-form-field>
                                                   </div>
                                                   <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>Project</mat-label>
                                                         <mat-select formControlName="pro_id" placeholder="Project"
                                                            [disabled]="isApp"
                                                            (selectionChange)="getModuleList($event)">
                                                            <mat-option value="">Select Project</mat-option>
                                                            <mat-option *ngFor="let item of projectsArray"
                                                               [value]="item.pro_id">
                                                               {{item.pro_name}}
                                                            </mat-option>
                                                         </mat-select>
                                                      </mat-form-field>
                                                   </div>
                                                </div>
                                                <div class="row" *ngIf="moduleArray.length > 0">
                                                   <div
                                                      class="col-lg-12 col-apple-10 apple-screen-paramter-content-div col-mobile-view-add-ques">
                                                      <div>
                                                         <div>
                                                            <div class="col-apple-10">
                                                               <div class="module-list">
                                                                  <ngx-treeview [config]="config" [items]="moduleItems"
                                                                     (selectedChange)="moduleValues = $event">
                                                                  </ngx-treeview>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="row" *ngIf="moduleArray.length == 0">
                                                   <div class="col-12">
                                                      <span>No Records Found</span>
                                                   </div>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                       <br>
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <button mat-raised-button class="btn-primary btn-success"
                                                (click)="submitModule()">Submit</button>
                                             <a [routerLink]="['../../user-management']">
                                                <button mat-raised-button class="btn-danger btn-spacer">Back</button>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </mat-tab>
                                 <mat-tab>
                                    <ng-template mat-tab-label>
                                       <div>
                                          <span class="font-16">Manage Classes</span>
                                       </div>
                                    </ng-template>
                                    <div *ngIf="isExistUserAccessMenu('74')">
                                       <div class="row">
                                          <div class="col-lg-12 col-apple-10">
                                             <br>
                                             <h6 class="text-center font-16">Manage Classes of Result Co-Ordinator</h6>
                                             <br>
                                          </div>
                                          <div class="col-lg-12">
                                             <form [formGroup]="ClassModuleForm" novalidate>
                                                <div class="row">
                                                   <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>User</mat-label>
                                                         <input matInput formControlName="login_id" placeholder="User"
                                                            value="{{userDetails.au_full_name}}" readonly>
                                                      </mat-form-field>
                                                   </div>
                                                   <div class="col-lg-2 fin-tab-col-25  col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>Branch</mat-label>
                                                         <mat-select id="exampleSelect1" placeholder="Branch">
                                                            <mat-option>DPS School, Ranchi</mat-option>
                                                            <mat-option>St. Xavier's School, Ranchi</mat-option>
                                                            <mat-option>Loyala School, Ranchi</mat-option>
                                                            <mat-option>St. Micheal School, Ranchi</mat-option>
                                                         </mat-select>
                                                      </mat-form-field>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                   <div
                                                      class="col-lg-12 col-apple-10 apple-screen-paramter-content-div col-mobile-view-add-ques">
                                                      <div>
                                                         <div>
                                                            <div>
                                                               <div class="col-apple-10">
                                                                  <div class="module-list">
                                                                     <ngx-treeview [config]="config"
                                                                        [items]="classItems"
                                                                        (selectedChange)="classValues = $event">
                                                                     </ngx-treeview>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                       <br>
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <button mat-raised-button class="btn-primary btn-success"
                                                (click)="addUserAccessClass()">Submit</button>
                                          </div>
                                       </div>
                                    </div>
                                 </mat-tab>
                                 <mat-tab>
                                    <ng-template mat-tab-label>
                                       <div>
                                          <span class="font-16">Manage Assessment Years</span>
                                       </div>
                                    </ng-template>
                                    <div *ngIf="isExistUserAccessMenu('75')">
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <br>
                                             <h6 class="text-center font-16">Manage Project Wise Academic Sessions</h6>
                                             <br>
                                          </div>
                                          <div class="col-lg-12">
                                             <form>
                                                <div class="row">
                                                   <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>User</mat-label>
                                                         <input matInput placeholder="User" value="USER" readonly>
                                                      </mat-form-field>
                                                   </div>
                                                   <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>Branch</mat-label>
                                                         <mat-select id="exampleSelect1" placeholder="Branch">
                                                            <mat-option>DPS School, Ranchi</mat-option>
                                                            <mat-option>St. Xavier's School, Ranchi</mat-option>
                                                            <mat-option>Loyala School, Ranchi</mat-option>
                                                            <mat-option>St. Micheal School, Ranchi</mat-option>
                                                         </mat-select>
                                                      </mat-form-field>
                                                   </div>
                                                   <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>Project</mat-label>
                                                         <mat-select formControlName="pro_id" id="exampleSelect1"
                                                            placeholder="Project">
                                                            <mat-option [value]="">Select Project</mat-option>
                                                            <mat-option>S.M.A.R.T</mat-option>
                                                            <mat-option>AXIOM</mat-option>
                                                            <mat-option>Website Management</mat-option>
                                                            <mat-option>School ERP</mat-option>
                                                         </mat-select>
                                                      </mat-form-field>
                                                   </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                   <div class="col-lg-12">
                                                      <section class="example-section">
                                                         <mat-checkbox name="switch" id="my1">2018-19</mat-checkbox>
                                                      </section>
                                                      <section class="example-section">
                                                         <mat-checkbox name="switch" id="my2">2019-20</mat-checkbox>
                                                      </section>
                                                   </div>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                       <br>
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <a [routerLink]="['../../user-management']">
                                                <button mat-raised-button
                                                   class="btn-primary btn-success">Submit</button>
                                             </a>
                                             <button mat-raised-button class="btn-danger btn-spacer">Reset</button>
                                          </div>
                                       </div>
                                    </div>
                                 </mat-tab>
                                 <mat-tab>
                                    <ng-template mat-tab-label>
                                       <div>
                                          <span class="font-16">Manage Project</span>
                                       </div>
                                    </ng-template>
                                    <div *ngIf="isExistUserAccessMenu('75')">
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <form>
                                                <br>
                                                <!-- <div class="col-lg-2 fin-tab-col-25 col-mobile-view-add-ques">
                                                      <mat-form-field class="form-field" appearance="outline">
                                                         <mat-label>Project</mat-label>
                                                         <mat-select formControlName="pro_id" placeholder="Project"
                                                            [disabled]="isApp"
                                                            (selectionChange)="getModuleList($event)">
                                                            <mat-option value="">Select Project</mat-option>
                                                            <mat-option *ngFor="let item of projectsArray"
                                                               [value]="item.pro_id">
                                                               {{item.pro_name}}
                                                            </mat-option>
                                                         </mat-select>
                                                      </mat-form-field>
                                                   </div> -->
                                                <div class="row">
                                                   <div class="col-lg-12" *ngFor="let item of projectsArray">
                                                      <section class="example-section">
                                                         <mat-checkbox name="switch" [id]="item.pro_id"
                                                            (click)="assignProject(item)">
                                                            {{item.pro_name}}</mat-checkbox>
                                                      </section>
                                                      <!-- <section class="example-section">
                                                         <mat-checkbox name="switch" id="my2">2019-20</mat-checkbox>
                                                      </section> -->
                                                   </div>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                       <br>
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <button mat-raised-button class="btn-primary btn-success"
                                                (click)="submitProject()">Submit</button>
                                             <a [routerLink]="['../../user-management']">
                                                <button mat-raised-button class="btn-danger btn-spacer">Back</button>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </mat-tab>
                              </mat-tab-group>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
</div>