input[type=checkbox], input[type=radio]{
  box-sizing: border-box;
  height: 20px;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.bookmark-expansion-panel-decorator {
  margin-bottom: 10px !important;
  margin: 5px 10px !important;
  /* background-color:#f1f1f19e !important;
  border: 1px solid #6c757dbd !important; */
  border-radius: 5px !important;
}

.bookmark-expansion-panel-decorator.mat-expanded {
  background:white !important;
  margin-bottom: 10px !important;
  margin: 5px 10px !important;
  /* border: 1px solid #6c757dbd !important; */
  border-radius: 5px !important;
  height:570px !important;
}

::ng-deep .bookmark-checkbox .mat-checkbox-frame {
  border-color: white;
}
.mydiv.ng-star-inserted {
  border: 1px solid #93cfee;
  padding-top: 5px;
  margin-bottom:19px;
  height:100%;
  /* overflow-y: scroll; */
}

.company-logo-mob {
  width: 29px;
  height: 39px;
}

h1.font-size-14 {
  font-size: 14px !important;
}

.instruction-sub-title.font-size-8 {
  font-size: 8px !important;
}

.instruction-sub-title-mob {
  width: 132px !important; 
}

@media (min-width: 960px) and (max-width: 991px) {
   .bookmark-expansion-panel-decorator.mat-expanded {

     height: 620px !important;
   }
}

@media (min-width: 300px) and (max-width: 960px) {
  .big-screen {
    display: none;
  }
}
@media (min-width: 960px) {
  .small-screen {
    display: none;
  }
}

.questions-modal-button{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color: #f7931e !important;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 9999 !important;
}
.questions-modal-icon{
  margin-top:22px;
}