<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-7 margin-top-15">
          <span class="font-size-24">Change Book Status</span>
        </div>
        <div class="col-5">
          <div class="search-container">
            <form [formGroup]="searchForm">
              <div class="row remove-top-margin">
                <div class="col-6">
                  <mat-form-field class="lib-form form-field">
                    <input matInput placeholder="Search Any Book By ID" id="search_book" type="text"
                      formControlName="search" (keydown.enter)="searchBook($event);$event.stopPropagation()"
                      autocomplete="off" />
                  </mat-form-field>
                  <barcode-scanner-livestream (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
                </div>
                <div class="col-6 margin-top-10  text-right">
                  <span class="font-size-12 margin-top-15 font-skyblue" (click)="openSearchDialog()">Advanced Search
                    <i class="fas fa-chevron-down"></i></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="bookData.length === 0">
  <div class="col-12">
    <mat-card style="margin-left: 10px !important; margin-right: 10px !important">
      <div class="text-center">
        <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
          [noDataText]="'No Books Selected'" [subText]="'It seems there is no books searched yet. Scan Book or Enter Book
                ID to view availaiable books in library.'"></app-no-data><br>
        <button mat-button class="btn-success-blue margin-top-10" (click)="intitiateSearch()"
          style="width: 140px;height:40px">
          Search Book
        </button>
      </div>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="bookData.length > 0">
  <div class="col-12">
    <mat-card style="height:auto">
      <div class="grid-view">
        <div class="row margin-top-20">
          <div class="col-1 smart-col-10" *ngFor="let item of bookData; let i = index;"
            style="margin-bottom: 30px !important">
            <div class="delete-div float-right">
              <i class="material-icons font-size-24 font-red" (click)="removeBookFromList(i)">
                cancel
              </i>
            </div>
            <div class="book-container">
              <img class="book-cover-img"
                [src]="(item.images_links && item.images_links.thumbnail) ? item.images_links.thumbnail : 'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_cover.png' " />
              <div [class]="item.book_container_class">
                <div class="book-title-content text-center" style="padding: 3px !important">
                  <div class="book-first-content" (click)="showSecondDetailDiv(i); $event.stopPropagation();">
                    <span class="font-size-16"><b>{{item.title | truncatetext : 12}}</b></span>
                  </div>
                  <div class="book-second-content" style="padding: 30px !important;position: relative;top:-30px"
                    (click)="showFirstDetailDiv(i); $event.stopPropagation()">
                    <div class="font-size-12 margin-top-15 font-medium">
                      <b>BOOK ID</b>: {{item.reserv_id}}
                    </div>
                    <span class="font-size-16 font-medium"><b>{{item.title ? (item.title | truncatetext : 25) : ''}}</b></span><br />
                    <span class="font-size-14 font-medium">{{item.authors}}</span>
                    <div class="font-size-14  font-medium">
                      <b>Location</b>: {{item.location}}
                    </div>
                    <div class="font-size-14  font-medium">
                      <b>{{item.reserv_flagged_status.status ? (item.reserv_flagged_status.status | capitalize) : (item.reserv_status | capitalize)}}</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="bookData.length > 0">
  <div class="col-12">
    <mat-card>
      <form [formGroup]="changeStatusForm" novalidate>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Filters</mat-label>
                  <mat-select placeholder="Filters" formControlName="filters" (selectionChange)="resetFilters()">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option *ngFor="let item of filterArray" [value]="item.filter_type">
                      {{item.filter_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.filters === '1'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Book Type</mat-label>
                  <mat-select placeholder="Book Type" formControlName="category_id"
                    [required]="changeStatusForm?.value?.filters === '1'">
                    <mat-option *ngFor="let item of booktypeArray" [value]="item.type_id" required>
                      {{item.type_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.filters === '2'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Change to</mat-label>
                  <mat-select formControlName="changed_to" placeholder="Change to"
                    [required]="changeStatusForm?.value?.filters === '2'">
                    <mat-option *ngFor="let item of statusArray" [value]="item.type_id">{{item.type_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.filters === '3'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Source</mat-label>
                  <mat-select placeholder="Book Type" placeholder="Source" formControlName="source"
                    [required]="changeStatusForm?.value?.filters === '3'">
                    <mat-option *ngFor="let item of sourceArray" [value]="item.type_id">
                      {{item.type_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.filters === '4'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Location Type</mat-label>
                  <mat-select placeholder="Location Type" formControlName="location_type"
                    [required]="changeStatusForm?.value?.filters === '4'">
                    <mat-option value="class">Class Library</mat-option>
                    <mat-option value="library">Master Library</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.location_type=='class'
              && changeStatusForm?.value?.filters === '4'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Class</mat-label>
                  <mat-select placeholder="Class" formControlName="location_class_id"
                    [required]="changeStatusForm?.value?.filters === '4' && changeStatusForm?.value?.location_type === 'class'"
                    (selectionChange)="getSectionByClass($event)">
                    <mat-option *ngFor="let item of classArray" [value]="item.class_id"
                      (click)="setClassLocation(item?.class_name)">
                      {{item.class_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf=" changeStatusForm?.value?.filters === '4'
              && changeStatusForm?.value?.location_type=='class'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Section</mat-label>
                  <mat-select placeholder="Section" formControlName="location_sec_id"
                    [required]="changeStatusForm?.value?.filters === '4' && changeStatusForm?.value?.location_type === 'class'">
                    <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id"
                      (click)="setSectionLocation(item?.sec_name)">
                      {{item.sec_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.filters === '4'
              && changeStatusForm?.value?.location_type=='library'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Stack</mat-label>
                  <input matInput placeholder="Stack" formControlName="stack"
                    [required]="changeStatusForm?.value?.filters === '4' && changeStatusForm?.value?.location_type === 'library'" />
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.filters === '4'
              && changeStatusForm?.value?.location_type=='library'">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Row</mat-label>
                  <input matInput placeholder="Row" formControlName="row" type="text"
                    [required]="changeStatusForm?.value?.filters === '4' && changeStatusForm?.value?.location_type === 'library'" />
                </mat-form-field>
              </div>
              <div class="col-4" *ngIf="changeStatusForm?.value?.filters">
                <mat-form-field class="form-field" appearance="outline" placeholder="Reason to Change">
                  <mat-label>Reason To Change</mat-label>
                  <mat-select formControlName="reason_id" required>
                    <mat-option *ngFor="let item of reasonArray" [value]="item.reason_id">{{item.reason_title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="changeStatusForm?.value?.filters">
              <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Remarks</mat-label>
                  <textarea matInput rows="5" formControlName="reason_desc" required placeholder="Remarks"></textarea>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div class="row text-center" *ngIf="changeStatusForm?.value?.filters">
              <div class="col-12">
                <button mat-raised-button class="btn-success-green" (click)="changeReservoirStatus()">
                  Submit
                </button>
                <button mat-raised-button class="btn-reset btn-spacer">
                  Reset
                </button>
              </div>
            </div>
            <br />
          </div>
          <div class="col-3"></div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<app-advanced-search-modal (searchOk)="searchOk($event)" #searchModal></app-advanced-search-modal>