<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<simple-notifications></simple-notifications>
<div *ngIf="schoolSetupDiv">
   <div class="row">
      <div class="col-12">
         <mat-card>
            <mat-card-title>
               <h1 class="remove-bottom-margin font-size-24">School Management</h1>
            </mat-card-title>
         </mat-card>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <mat-card>
            <mat-card-content>
               <div class="row row-remove-top-margin">
                  <div class="col-lg-12 pd_left pd_right">
                     <div class="row">
                        <div class="col-lg-2  col-mobile-view-add-ques">
                           <!-- <mat-form-field class="form-field" appearance="outline">
                                 <mat-label>Select Region</mat-label>
                                 <mat-select disabled="disabled" placeholder="Select Region">
                                    <mat-option *ngFor="let region of regions" [value]="region">
                                       {{region}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field> -->
                        </div>
                        <div class="col-lg-2  col-mobile-view-add-ques">
                           <!-- <mat-form-field class="form-field" appearance="outline">
                                 <mat-label>Select Board</mat-label>
                                 <mat-select disabled="disabled" id="school-board" placeholder="Select Board">
                                    <mat-option *ngFor="let board of boards" [value]="board">
                                       {{board}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field> -->
                        </div>
                        <div class="col-lg-2  col-mobile-view-add-ques">
                           <!-- <mat-form-field class="form-field" appearance="outline">
                                 <mat-label>Select School</mat-label>
                                 <mat-select disabled="disabled" id="school-name" placeholder="Select School">
                                    <mat-option *ngFor="let school of schools" [value]="school">
                                       {{school}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field> -->
                        </div>
                        <div class="col-lg-2 col-remove-right-padding col-mobile-view-add-ques">
                           <!-- <div class="mt-3">
                                 <button disabled="disabled" mat-raised-button
                                    class="submit-button float-left">Apply</button>
                              </div> -->
                        </div>
                        <div class="col-lg-4 col-remove-right-padding col-mobile-view-add-ques">
                           <div class="float-right mt-3">
                              <button mat-raised-button class="submit-button" (click)="openCreateNewSchoolDiv()">Add
                                 School
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 pd_left pd_right">
                     <div class="col-2">
                        <mat-form-field class="form-field">
                           <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                           <span matPrefix><i class="fas fa-sliders-h table-filter-icon"></i>&nbsp;&nbsp;
                           </span>
                        </mat-form-field>
                     </div>
                  </div>
                  <div class="col-12">
                     <table mat-table [dataSource]="dataSource" matSort class="table-100 text-center">
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                           <th *matHeaderCellDef mat-sort-header> No. </th>
                           <td *matCellDef="let item"> {{item.position}} </td>
                        </ng-container>
                        <!-- Template Name Column -->
                        <ng-container matColumnDef="logo">
                           <th *matHeaderCellDef mat-sort-header> Logo</th>
                           <td *matCellDef="let item"><img [src]="'https://apisis.invictusdigisoft.com/createonfly.php?src=' + 
                              item.logo + '&h32&w=32'" alt=""></td>
                        </ng-container>
                        <!-- Teacher Column -->
                        <ng-container matColumnDef="schoolname">
                           <th *matHeaderCellDef mat-sort-header>School Name </th>
                           <td *matCellDef="let item" class="text-left"> {{item.schoolname}} </td>
                        </ng-container>
                        <!-- designation Column -->
                        <ng-container matColumnDef="schoolprefix">
                           <th *matHeaderCellDef mat-sort-header> Prefix </th>
                           <td *matCellDef="let item"> {{item.schoolprefix}}</td>
                        </ng-container>
                        <!--Mobile Column -->
                        <ng-container matColumnDef="board">
                           <th *matHeaderCellDef mat-sort-header>Board</th>
                           <td *matCellDef="let item"> {{item.board}} </td>
                        </ng-container>
                        <!-- Email Column -->
                        <ng-container matColumnDef="affiliation">
                           <th *matHeaderCellDef mat-sort-header>Affiliation</th>
                           <td *matCellDef="let item"> {{item.affiliation}} </td>
                        </ng-container>
                        <!--status-->
                        <ng-container matColumnDef="address">
                           <th *matHeaderCellDef mat-sort-header>Address</th>
                           <td *matCellDef="let item"> {{item.address}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pin">
                           <th *matHeaderCellDef mat-sort-header>Pincode</th>
                           <td *matCellDef="let item"> {{item.pin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="contact">
                           <th *matHeaderCellDef mat-sort-header>Contact</th>
                           <td *matCellDef="let item"> {{item.contact}} </td>
                        </ng-container>
                        <ng-container matColumnDef="city">
                           <th *matHeaderCellDef mat-sort-header>City</th>
                           <td *matCellDef="let item"> {{item.city}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                           <th *matHeaderCellDef mat-sort-header>Email</th>
                           <td *matCellDef="let item"> {{item.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="manager">
                           <th *matHeaderCellDef mat-sort-header>Manager</th>
                           <td *matCellDef="let item"> {{item.manager}} </td>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                           <th *matHeaderCellDef> Action </th>
                           <td *matCellDef="let item">
                              <a>
                                 <i class="fa fa-pencil-square-o fa-edit fa-lg" style="cursor: pointer;"
                                    aria-hidden="true" (click)="editNewSchoolForm(item.action)"></i></a>&nbsp;<a><i
                                    class="fa fa-trash fa-delete fa-lg" style="cursor: pointer;" aria-hidden="true"
                                    (click)="deleteNewSchool(item.action.school_id)">
                                 </i>
                              </a>
                           </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                     </table>
                     <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]"
                        [showFirstLastButtons]="true">
                     </mat-paginator>
                  </div>
               </div>
            </mat-card-content>
         </mat-card>
      </div>
   </div>
</div>

<div *ngIf="createNewSchoolDiv">
   <div class="row">
      <div class="col-12">
         <mat-card>
            <mat-card-title>
               <h1 class="remove-bottom-margin font-size-24">Add New School</h1>
            </mat-card-title>
         </mat-card>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <mat-card>
            <mat-card-content>
               <form [formGroup]="newSchoolForm" enctype="multipart/form-data" novalidate>
                  <div class="row row-remove-top-margin">
                     <div class="col-lg-6 col-mobile-view-add-ques">
                        <div class="row">
                           <div class="col-lg-2">
                              <div class="image-upload">
                                 <label for="file-input">
                                    <img [src]="'https://apisis.invictusdigisoft.com/createonfly.php?src=' + 
                                    file1 + '&h=120&w=120'" style="margin-top: 30px;" />
                                 </label>
                                 <input id="file-input" formControlName="school_logo" name="file-input" type="file"
                                    (change)="readUrl($event);uploadSchoolLogo($event)" />
                              </div>
                           </div>
                           <div class="col-lg-10">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <mat-form-field class="form-field">
                                       <input matInput placeholder="School Name*" name="schoolname"
                                          formControlName="school_name" maxlength="86">
                                    </mat-form-field>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-12">
                                    <mat-form-field class="form-field">
                                       <mat-select id="exampleSelect1" formControlName="school_board"
                                          placeholder="Select Board">
                                          <mat-option *ngFor="let item of arrayBoard" [value]="item.board_id">
                                             {{item.board_name}}({{item.board_alias}})
                                          </mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-4">
                                    <mat-form-field class="form-field">
                                       <input matInput placeholder="Affiliation No." name="afflication"
                                          formControlName="school_afflication_no" maxlength="50" required>
                                    </mat-form-field>
                                 </div>
                                 <div class="col-lg-8">
                                    <mat-form-field class="form-field">
                                       <input matInput placeholder="Branch" name="schoolbranch"
                                          formControlName="school_branch" maxlength="50">
                                    </mat-form-field>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="Address" name="schooladdress"
                                    formControlName="school_address" maxlength="255" required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input type="text" matInput placeholder="City" formControlName="school_city" required
                                    [matAutocomplete]="autoGroup" (keyup)="filterCityStateCountry($event)">
                                 <mat-autocomplete #autoGroup="matAutocomplete">
                                    <mat-option (selectionChange)="getCityPerId(item)" (click)="getCityPerId(item)"
                                       *ngFor="let item of cityCountryArray" [value]="item.cit_id">{{item.cit_name}}
                                       -
                                       {{item.sta_name}} - {{item.cou_name}}</mat-option>
                                 </mat-autocomplete>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select id="schoolstate" formControlName="school_state" required
                                    placeholder="State" disabled>
                                    <mat-option *ngFor="let item of arrayState" [value]="item.sta_id">
                                       {{item.sta_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select id="schoolcountry" formControlName="school_country" required
                                    placeholder="Country" disabled>
                                    <mat-option *ngFor="let item of arrayCountry" [value]="item.cou_id">
                                       {{item.cou_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="Pin Code" name="schoolpin" formControlName="si_pincode"
                                    maxlength="6" minlength="6" pattern=[0-9]* required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="Contact No." name="schoolno"
                                    formControlName="school_phone" maxlength="10" minlength="10" pattern=[0-9]*
                                    required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select formControlName="school_theme" required placeholder="Select Theme">
                                    <mat-option *ngFor="let item of themeArray" [value]="item.school_theme">
                                       {{item.school_theme_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select formControlName="school_fee_period" required placeholder="Fee Period">
                                    <mat-option *ngFor="let item of feePeriodArray" [value]="item.fp_id">
                                       {{item.fp_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-mobile-view-add-ques">
                        <div class="row">
                           <div class="col-lg-1">
                              <div class="image-upload">
                                 <label for="file-input2">
                                    <img [src]="'https://apisis.invictusdigisoft.com/createonfly.php?src=' + 
                                    file2 + '&h=32&w=32'" style="margin-top:20px" />
                                 </label>
                                 <input id="file-input2" formControlName="school_favicon" name="file-input2" type="file"
                                    (change)="readfUrl($event);uploadSchoolFavicon($event)" />
                              </div>
                           </div>
                           <div class="col-lg-11">
                              <div class="row" style="margin-top:20px;">
                                 <div class="col-lg-12">
                                    <span>*Upload school favion</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="School Website" formControlName="school_website"
                                    maxlength="50" required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="SMS Id" formControlName="school_smsid" maxlength="50"
                                    required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="Email Id" name="schoolemail"
                                    formControlName="school_email" maxlength="50"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select formControlName="school_hindi_font" placeholder="Hindi Font">
                                    <mat-option value="1">Kruti Dev 011</mat-option>
                                    <mat-option value="2">Mangal</mat-option>
                                    <mat-option value="3">Krishna 015</mat-option>
                                    <mat-option value="4">Kruti</mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="Assigned Prefix" minlength="3" maxlength="6"
                                    formControlName="school_prefix" (keyup)="checkPrefix()"
                                    [readonly]="editNewSchoolActive" required>
                              </mat-form-field>
                              <span style="float:left"><i [class]="prefixStatusicon"></i> {{prefixStatus}}</span>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <input matInput placeholder="No. of Student" formControlName="school_total_students"
                                    type="number">
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select placeholder="Coordinator" formControlName="school_manager" disabled>
                                    <mat-option>Manager 1</mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select formControlName="school_session_start_month" required
                                    placeholder="School Start Month">
                                    <mat-option *ngFor="let item of startMonthArray"
                                       [value]="item.school_session_start_month">
                                       {{item.school_session_start_month_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <mat-form-field class="form-field">
                                 <mat-select formControlName="school_session_end_month" required
                                    placeholder="School End Month">
                                    <mat-option *ngFor="let item of endMonthArray"
                                       [value]="item.school_session_end_month">
                                       {{item.school_session_end_month_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="row">
                           <div class="col-lg-6">
                              <button mat-button *ngIf="editNewSchoolActive == false" class="submit-button"
                                 (click)="addNewSchool()">Submit</button>
                              <button mat-button *ngIf="editNewSchoolActive == true" class="submit"
                                 (click)="editNewSchool()">Update</button>
                              <button mat-button class="reset-button" (click)="resetNewSchoolForm()">Reset</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </mat-card-content>
         </mat-card>
      </div>
   </div>
</div>