<div class="fee-container-box__grey">
  <div class="row">
    <div class="col-12 remove-col-padding">
      <mat-card class="card-top-title__container">
        <div class="row">
          <div class="col-6 remove-col-padding-left">
            <h1 class="remove-bottom-margin font-size-24">Cheque Control Tool</h1>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 remove-col-padding">
      <mat-card class="card-height-760 card-height-880">
        <div class="row">
          <div class="col-12 remove-col-padding">
            <form [formGroup]="filterForm" id="formFlag">
              <div class="row margin-top-5">
                <div class="col-12 remove-col-padding">
                  <div class="inline-flex margin-left-15">
                    <mat-form-field appearance="outline" class="form-field-220">
                      <mat-label>Enrollment No.</mat-label>
                      <input matInput placeholder="Enrollment No." formControlName="inv_process_usr_no">
                    </mat-form-field>
                  </div>
                  <div class="inline-flex margin-left-15 ">
                    <mat-form-field appearance="outline" class="form-field-220">
                      <mat-label>Student Name</mat-label>
                      <input matInput placeholder="Student Name" formControlName="au_full_name">
                    </mat-form-field>
                  </div>
                  <div class="inline-flex margin-left-15 ">
                    <mat-form-field appearance="outline" class="form-field-220">
                      <mat-label>Invoice No.</mat-label>
                      <input matInput placeholder="Invoice No." formControlName="invoice_no">
                    </mat-form-field>
                  </div>
                  <div class="inline-flex margin-left-15 ">
                    <mat-form-field appearance="outline" class="form-field-220">
                      <mat-label>From</mat-label>
                      <input matInput [matDatepicker]="picker4" placeholder="From" formControlName="from_date">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="inline-flex margin-left-15  ">
                    <mat-form-field appearance="outline" class="form-field-220">
                      <mat-label>To</mat-label>
                      <input matInput [matDatepicker]="picker5" placeholder="To" formControlName="to_date">
                      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="inline-flex margin-left-15">
                    <mat-form-field appearance="outline" class="form-field-220">
                      <mat-label>Status</mat-label>
                      <mat-select placeholder="Status" formControlName="status">
                        <mat-option value="">Please Select</mat-option>
                        <mat-option *ngFor="let item of status" [value]="item.status">{{item.value}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="inline-flex margin-left-15">
                    <span><button mat-raised-button class="apply-btn" (click)="getFilteredValue()">Apply</button></span>
                    &nbsp;
                    <span>
                      <button mat-raised-button class="rst-btn " (click)="reset()">Reset</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field [hidden]="!(CHEQUE_ELEMENT_DATA.length > 0)">
              <input matInput placeholder="Filter" #input (keyup)="applyFilter(input.value)">
              <i class="fas fa-filter table-filter" matPrefix></i>
            </mat-form-field>
          </div>
          <div class="col-6">
            <div class="float-right">
              <button mat-raised-button class="my-filter-btn" (click)="enableSearch()">Filter
                Search</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table mat-table [dataSource]="dataSource" class="fee-table-100 text-center">
              <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                <td mat-cell *matCellDef="let item"> {{item.srno}} </td>
              </ng-container>
              <ng-container matColumnDef="recieptdate">
                <th mat-header-cell *matHeaderCellDef> Reciept Date </th>
                <td mat-cell *matCellDef="let item"> {{item.recieptdate}} </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let item"> {{item.amount | number}} </td>
              </ng-container>
              <ng-container matColumnDef="chequeno">
                <th mat-header-cell *matHeaderCellDef> Cheque No </th>
                <td mat-cell *matCellDef="let item"> {{item.chequeno}}</td>
              </ng-container>
              <ng-container matColumnDef="bankname">
                <th mat-header-cell *matHeaderCellDef> Deposit at Bank </th>
                <td mat-cell *matCellDef="let item"> {{item.bankname}} </td>
              </ng-container>
              <ng-container matColumnDef="bankdeposite">
                <th mat-header-cell *matHeaderCellDef> Date of Deposit</th>
                <td mat-cell *matCellDef="let item">
                  <span style="font-size: 14px" class="font-size-10">
                    <b>{{item.bankdeposite}}</b>
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="processingdate">
                <th mat-header-cell *matHeaderCellDef> Date of Clearence</th>
                <td mat-cell *matCellDef="let item">
                  <span style="font-size: 14px" *ngIf="item.action.status === '2'" class="font-size-10">
                    <b *ngIf="item.action.dishonor_date">{{item.action.dishonor_date | date : 'd-MMM-y'}}</b>
                    <b *ngIf="!item.action.dishonor_date">-</b>
                  </span>
                  <span style="font-size: 14px" *ngIf="item.action.status === '1'" class="font-size-10">
                    <b *ngIf="item.action.fcc_process_date">{{item.action.fcc_process_date | date : 'd-MMM-y'}}</b>
                    <b *ngIf="!item.action.fcc_process_date">-</b>
                  </span>
                  <span style="font-size: 14px" *ngIf="item.action.status === '0'" class="font-size-10">
                    <b>-</b>
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let item">
                  <div class="inline-flex margin-top-5">
                    <div class="text-center">
                      <span style="font-size: 14px" *ngIf="item.action.status === '4'" class="font-size-10">
                        <b *ngIf="item.action.fcc_status === 'c'"
                          style="font-size: 14px;cursor: pointer;color: green">Cleared</b>
                        <b *ngIf="item.action.fcc_status === 'b'" [matTooltip]="item.action.fcc_remarks"
                          style="font-size: 14px;cursor: pointer;color: red">Bounced</b>
                      </span>
                      <span style="font-size: 14px" *ngIf="item.action.status === '1'" class="font-size-10"
                        style="font-size: 14px;cursor: pointer;color:green">
                        <b>Cleared</b>
                      </span>
                      <span [matTooltip]="item.action.fcc_remarks" style="font-size: 14px;cursor: pointer;color: red"
                        *ngIf="item.action.status === '2'" class="font-size-10"><b>Bounced</b>
                      </span>
                      <span style="font-size: 14px" *ngIf="item.action.status === '3'" class="font-size-10">
                        <b>Deposited</b>
                      </span>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="admno">
                <th mat-header-cell *matHeaderCellDef> Enrollment no. </th>
                <td mat-cell *matCellDef="let item"> {{item.admno}} </td>
              </ng-container>
              <ng-container matColumnDef="studentname">
                <th mat-header-cell *matHeaderCellDef> Student Name </th>
                <td style="text-align: left !important" mat-cell *matCellDef="let item">
                  <span class="icon-spacer">{{item.studentname | titlecase}} </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="class_name">
                <th mat-header-cell *matHeaderCellDef> Class </th>
                <td mat-cell *matCellDef="let item"> {{item.class_name}} </td>
              </ng-container>
              <!-- <ng-container matColumnDef="recieptno">
                <th mat-header-cell *matHeaderCellDef> Reciept no. </th>
                <td mat-cell *matCellDef="let item"> <a class="font-skyblue text-link font-size-14"
                    (click)="openReceiptDialog(item.action.receipt_id, false)">{{item.recieptno}}</a> </td>
              </ng-container> -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let item">
                  <div class="inline-flex margin-top-5">
                    <span style="font-size: 14px" *ngIf="item.action.status === '4'" class="font-size-10">
                      <b>Approved</b>
                    </span>
                    &nbsp;<i
                      *ngIf="item.action.status !== '4' && (item.action.status === '0' || item.action.status === '3')"
                      class="material-icons" style="cursor: pointer" (click)="openCheckOperationModal(item.action)"
                      [matTooltip]="'Action'">list_alt</i>
                    &nbsp;<i
                      *ngIf="item.action.status !== '4' && (item.action.status === '2' || item.action.status === '1')"
                      class="material-icons" style="cursor: pointer" (click)="openCheckOperationModal(item.action)"
                      [matTooltip]="'Edit'">edit</i>
                    &nbsp;<i *ngIf="item.action.status === '2' || item.action.status === '1'" class="material-icons"
                      style="cursor: pointer" (click)="openDeleteModal(item.action)"
                      [matTooltip]="'Approve'">thumb_up</i>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <table class="table-100 text-center" style="margin-top:5px;">
              <tr *ngIf="CHEQUE_ELEMENT_DATA.length == 0">
                <td colspan="11">No Record Found</td>
              </tr>
            </table>
            <mat-paginator [hidden]="!(CHEQUE_ELEMENT_DATA.length > 0)" #paginator [pageSize]="8"
              [pageSizeOptions]="[5,10,25,100]" (page)="pageEvent = fetchData($event)"></mat-paginator>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<app-delete-modal #deleteModal [deleteMessage]="'Are you sure want to approve ?'" (deleteOk)="approveFTR($event)">
</app-delete-modal>