.rst-btn {
    background-color: #fd5a5a;
    color: #ffffff;
    text-transform: uppercase;
    width: 60px;
    font-size: 12px;
    line-height: 32px !important;
}
td.mat-cell {
    border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
ul {
    list-style-type: none;
    padding: 0px !important;
  }
  .mat-column-srno {
    width: 3% !important;
    flex: 0 0 8% !important;
}