.book-list td.reserv_issued {
    background-color: rgb(252, 191, 188) !important;
}

.book-list td.reserv_green {
    background-color:#cfe39b !important;
}

.booklog td.text-left {
    text-align: left !important;
    margin-left: 2px;
}

.card-height-325 {
    min-height: 378px;
}

.card-height-340 {
    min-height: 350px;
}


.mat-card-108 {
    min-height: 108px;
}


