<div class="row">
  <div class="col-12">
    <mat-card>
      <form [formGroup]="searchForm">
        <div class="row">

          <div class="col-7 margin-top-15">
            <span class="font-size-24">Books Issue Return Process</span>
          </div>

          <div class="col-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Choose User Type</mat-label>
              <mat-select formControlName="user_role_id" required (selectionChange)="resetAll()">
                <mat-option value="4">Student</mat-option>
                <mat-option value="3">Employee</mat-option>
                <!-- <mat-option value="2">Staff</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <div class="row remove-top-margin">
              <div class="col-8">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>
                    {{searchForm.value.user_role_id == '4' ? 'Search Student By Admission No' : 'Search Employee By Employee Id'}}
                  </mat-label>
                  <input matInput
                    [placeholder]="searchForm.value.user_role_id == '4' ? 'Search Student By Admission No' : 'Search Employee By Employee Id'"
                    formControlName="searchId" autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="col-4 margin-top-10  text-right">
                <button mat-button class="btn-spacer btn-lib-search margin-left-10" (click)="searchUser()">
                  Search
                </button>
              </div>

            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="userData!=''">
  <div class="col-6 ">
    <mat-card class="mat-card-108">
      <div class="row">
        <div class="col-2 smart-col-12 remove-col-padding-left margin-top-8">

          <img *ngIf="!userData?.au_profileimage" class="border-radius-50 student-profile-image-68"
            [src]="'https://apisis.invictusdigisoft.com/createonfly.php?src=' + defaultSrc + '&h=68&w=68'"
            onError="this.src='https://apisis.invictusdigisoft.com/createonfly.php?src=https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/man.png&h=68&w=68'" />
          <img *ngIf="userData?.au_profileimage" class="border-radius-50 student-profile-image-68"
            [src]="userData?.au_profileimage" height="90px" width="90px"
            onError="this.src='https://apisis.invictusdigisoft.com/createonfly.php?src=https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/man.png&h=68&w=68'" />
        </div>
        <div class="col-10 smart-col-88 remove-col-padding-left">
          <span class="font-size-16 font-bold text-capitalize">{{userData?.au_full_name}}</span>
          <span class="font-size-16 text-capitalize"> ( <span *ngIf="userData?.au_role_id == '4'"> S -
              {{userData?.em_admission_no}}</span> <span *ngIf="userData?.au_role_id == '3'"> T -
              {{userData?.emp_code_no}}</span> <span *ngIf="userData?.au_role_id == '2'"> A
              -{{userData?.emp_code_no}}</span> )
          </span>
          <div class="row">
            <div class="col-4 remove-col-padding">
              <div class="row remove-top-margin" *ngIf="userData?.au_role_id == '4'">
                <div class="col-4 remove-col-padding">
                  <span class="font-size-12 font-bold">Class</span>
                  <span class="font-size-12 font-bold float-right">:</span>
                </div>
                <div class="col-8 remove-col-padding-right">
                  <span class="font-size-12 font-bold opacity-7">{{userData?.class_name}} -
                    {{userData?.sec_name}}</span>
                </div>
              </div>
              <!-- <div class="row remove-top-margin" *ngIf="userData?.au_role_id == '4'">
                <div class="col-4 remove-col-padding">
                  <span class="font-size-12 font-bold">House</span>
                  <span class="font-size-12 font-bold float-right">:</span>
                </div>
                <div class="col-8 remove-col-padding-right">
                  <span class="font-size-12 font-bold opacity-7">{{userData?.hou_house_name}}</span>
                </div>
              </div> -->
              <div class="row remove-top-margin">
                <div class="col-4 remove-col-padding">
                  <span class="font-size-12 font-bold">Mobile No.</span>
                  <span class="font-size-12 font-bold float-right">:</span>
                </div>
                <div class="col-8 remove-col-padding-right">
                  <span class="font-size-12 font-bold opacity-7">{{userData?.au_mobile}}</span>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">
              <div class="vertical-line-divider"></div>
            </div>
            <div class="col-6 remove-col-padding">
              <div class="row remove-top-margin" *ngIf="userData?.au_role_id == '4'">
                <div class="col-6 remove-col-padding">
                  <span class="font-size-12 font-bold">Book Outstanding Fine</span>
                  <span class="font-size-12 font-bold float-right">:</span>
                </div>
                <div class="col-6 remove-col-padding-right">
                  <span class="font-size-12 font-bold opacity-7" *ngIf="!stuOutStandingFine">-</span>
                  <span class="font-size-12 font-bold opacity-7"
                    *ngIf="stuOutStandingFine">{{stuOutStandingFine}}</span>
                </div>
              </div>
              <div class="row remove-top-margin">
                <div class="col-6 remove-col-padding">
                  <span class="font-size-12 font-bold">Books Read Till Date</span>
                  <span class="font-size-12 font-bold float-right">:</span>
                </div>
                <div class="col-6 remove-col-padding-right">
                  <span class="font-size-12 font-bold opacity-7">{{bookReadTillDate}}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="margin-top-10 card-height-325">
      <div class="row">
        <div class="col-12 remove-col-padding">
          <span class="font-size-20 font-bold">Issued Books</span>
        </div>
      </div>
      <div class="row booklog" [hidden]="!(issueBookData?.length > 0)">
        <div class="col-12 remove-col-padding">
          <table class="table-100 custom-table">
            <thead>
              <tr class="custom-tr text-center">
                <th class="custom-th">Sr No.</th>
                <th class="custom-th">Book No</th>
                <th class="custom-th">Book Name</th>
                <th class="custom-th">Publisher</th>
                <th class="custom-th">Issued On</th>
                <th class="custom-th">Due On</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of bookLogData; let i = index;">
                <tr class="custom-tr" *ngIf="item?.reserv_user_logs?.reserv_status === 'issued'">
                  <td class="custom-td"><span>{{i+1}}</span></td>
                  <td class="custom-td">
                    <span class="font-skyblue"
                      (click)="openBookModal(item.book_no)">{{item?.book_no}}</span>
                  </td>
                  <td class="custom-td text-left">
                    <span>{{item?.reserv_user_logs?.title | titlecase | truncatetext: 55}}</span></td>
                  <td class="custom-td text-left">{{item?.reserv_user_logs?.publisher | titlecase | truncatetext: 20}}
                  </td>
                  <td class="custom-td">{{item?.reserv_user_logs?.issued_on | date: 'd-MMM-y' }}</td>
                  <td class="custom-td">{{item?.reserv_user_logs?.due_date | date: 'd-MMM-y' }}</td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center" *ngIf="issueBookData.length == 0">
        <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_books_issued.png'"
          [noDataText]="" [subText]="'No Book Issued'"></app-no-data>
      </div>
    </mat-card>

  </div>

  <div class="col-6 remove-col-padding-left">
    <form [formGroup]="returnIssueReservoirForm">
      <mat-card class="mat-card-108">
        <div class="row">
          <div class="col-4 margin-top-15">
            <span class="font-size-20 font-bold">Return/Issue Book</span>
          </div>
          <div class="col-8">
            <div class="row remove-top-margin">
              <div class="col-8">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>
                    Scan Any Book
                  </mat-label>
                  <input matInput placeholder="Scan Any Book" formControlName="scanBookId" autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="col-4 margin-top-10  text-right">
                <button mat-button class="btn-spacer btn-lib-search margin-left-10 margin-top-8"
                  (click)="searchReservoirData()" style="width: auto !important;">
                  Add To List
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card class="margin-top-10 card-height-325">
        <div class="row margin-top-15 booklog" [hidden]="!(bookData.length > 0)">
          <div class="col-12 remove-col-padding">
            <table class="table-100 custom-table">
              <thead>
                <tr class="custom-tr text-center">
                  <th class="custom-th">Sr No.</th>
                  <th class="custom-th">Book No</th>
                  <th class="custom-th">Book Name</th>
                  <th class="custom-th">Publisher</th>
                  <th class="custom-th">Due On</th>
                  <th class="custom-th">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of bookData; let i=index;">
                  <tr class="custom-tr book-list">
                    <td width="5%" class="custom-td"
                      [ngClass]="item.reserv_status === 'issued' ? 'reserv_issued' : 'reserv_green'">
                      <span>{{i+1}}</span></td>
                    <td width="5%" class="custom-td"
                      [ngClass]="item.reserv_status === 'issued' ? 'reserv_issued' : 'reserv_green'">
                      <span class="font-skyblue" (click)="openBookModal(item.book_no)">{{item?.book_no}}</span>
                    </td>
                    <td width="50%" class="custom-td text-left"
                      [ngClass]="item.reserv_status === 'issued' ? 'reserv_issued' : 'reserv_green'">
                      <span>{{item?.title | titlecase | truncatetext: 45}}</span>
                    </td>
                    <td width="20%" class="custom-td text-left"
                      [ngClass]="item.reserv_status === 'issued' ? 'reserv_issued' : 'reserv_green'">
                      {{item?.publisher | titlecase | truncatetext: 20}}
                    </td>
                    <td width="15%" class="custom-td text-nowrap"
                      [ngClass]="item.reserv_status === 'issued' ? 'reserv_issued' : 'reserv_green'">
                      <div class="inline-flex date-width-100">
                        <input matInput [matDatepicker]="picker" formControlName="due_date" [min]="minDate"
                          (dateChange)="setDueDate(i, returnIssueReservoirForm.value.due_date)"
                          [value]="item?.fdue_date">
                        <mat-datepicker #picker></mat-datepicker>
                        <div class="inline-flex" [hidden]="(item?.reserv_status == 'available')">
                          <i class="fa fa-calendar" *ngIf="!(item?.reserv_status == 'available')" aria-hidden="true"
                            (click)="picker.open();"></i>
                        </div>
                      </div>
                    </td>
                    <td width="5%" class="custom-td"
                      [ngClass]="item.reserv_status === 'issued' ? 'reserv_issued' : 'reserv_green'"><i
                        class="fas fa-trash font-color-red" (click)="removeBook(i)"></i></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <br />
        <div class="row text-center" *ngIf="bookData.length > 0">
          <div class="col-12">
            <button mat-raised-button class="btn-success-green" (click)="saveIssueReturn()"
              [disabled]="btnDisabled">Submit</button>
            <button mat-raised-button class="btn-reset btn-spacer" (click)="resetIssueReturn()">
              Reset
            </button>
          </div>
        </div>
        <div class="text-center" *ngIf="bookData.length == 0">
          <app-no-data
            [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
            [noDataText]="" [subText]="'Please Search Book To Issue / Return'"></app-no-data>
        </div>
      </mat-card>

    </form>

  </div>
</div>
<div class="row" *ngIf="userData!=''">

  <div class="col-12 ">
    <mat-card [hidden]="!(BOOK_LOG_LIST_ELEMENT.length > 0)">
      <span class="font-size-20 font-bold">Books Logs</span>

      <div class="row">

        <div class="col-12">
          <div class="row ">
            <div class="col-9 remove-col-padding-left">
              <mat-form-field appearance="legacy lib-form">
                <input matInput placeholder="Search" (keyup)="applyFilterBookLog($event.target.value)" />
                <mat-icon matPrefix>filter_list</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-3 text-right remove-col-padding-right" *ngIf="BOOK_LOG_LIST_ELEMENT.length > 0">
              <!-- <i class="fa fa-file-excel font-skyblue font-bold font-size-20" (click)="downloadExcel()"></i>&nbsp;
              <i class="fa fa-file-pdf font-skyblue font-bold font-size-20" (click)="downloadPdf()"></i> -->

              <div class="inline-flex btn-spacer text-right margin-bottom-5">
                <div>
                  <img style="cursor: pointer; height: 25px !important" src="/assets/images/pdf.svg"
                    matTooltip="Download as Pdf" (click)="downloadPdf()" />
                </div>
              </div>
              <div class="inline-flex btn-spacer text-right margin-bottom-5">
                <div>
                  <img style="cursor: pointer; height: 25px !important" src="/assets/images/xml.svg"
                    matTooltip="Export as excel" (click)="downloadExcel()" />
                </div>
              </div>
            </div>

          </div>
          <table mat-table [dataSource]="bookLoglistdataSource" matSort class="table-100 text-center" id="book_log"
            class="booklog">
            <ng-container matColumnDef="srno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="2%"> Sr. No. </th>
              <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
            </ng-container>
            <ng-container matColumnDef="book_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%">Book No.</th>
              <td mat-cell *matCellDef="let element">
                <a class="font-skyblue cursor-pointer" (click)="openBookModal(element.book_no)">{{element?.book_no}}
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%">Book Name</th>
              <td mat-cell *matCellDef="let element" class="text-left">
                <span class="text-left text-capitalize">{{element?.title | titlecase | truncatetext: 55}}</span>
                <span *ngIf="element?.title?.length > 125">...</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Author</th>
              <td mat-cell *matCellDef="let element" class="text-left">
                <span class="text-left text-capitalize">{{element?.author | titlecase | truncatetext: 25}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="publisher">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Publisher</th>
              <td mat-cell *matCellDef="let element" class="text-left">
                <span class="text-left text-capitalize">{{element?.publisher | titlecase | truncatetext: 25}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="issued_on">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%">Issued On</th>
              <td mat-cell *matCellDef="let element">
                {{element?.issued_on | date: 'd-MMM-y'}}
              </td>
            </ng-container>
            <ng-container matColumnDef="due_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%">Due Date</th>
              <td mat-cell *matCellDef="let element">
                {{element?.due_date | date: 'd-MMM-y'}}
              </td>
            </ng-container>
            <ng-container matColumnDef="returned_on">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Returned On </th>
              <td mat-cell *matCellDef="let element" class="text-left"> <span
                  *ngIf="element.returned_on">{{(element?.returned_on | date: 'd-MMM-y')}} </span>
                <span *ngIf="!(element.returned_on)"> - </span> </td>
            </ng-container>
            <ng-container matColumnDef="fine">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="5%"> Fine</th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.fine">{{element?.fine}} </span>
                <span *ngIf="!element.fine">- </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Action</th>
              <td mat-cell *matCellDef="let element">
                <span><i class="fas fa-edit font-color-grey margin-right-15"
                    (click)="editSubscription(element, true)"></i></span>
                <span class="ver-line-divider"><i class="fas fa-trash font-color-red margin-left-15"
                    (click)="openModal({});deleteSubscriptionModel(element)"></i></span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedBookLogListColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedBookLogListColumns;">
            </tr>
          </table>

          <table class="table table-borderd table-stripped custom-table text-center" style="margin-top:5px;">
            <tr *ngIf="BOOK_LOG_LIST_ELEMENT.length == 0">
              <td colspan="8">No Record Found</td>
            </tr>
          </table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </mat-card>
    <mat-card *ngIf="BOOK_LOG_LIST_ELEMENT.length == 0">
      <div class="text-center">
        <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
          [noDataText]="" [subText]="'No Book Log'"></app-no-data>
      </div>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="userData==''">
  <div class="col-12">
    <mat-card>
      <div class="text-center">
        <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
          [noDataText]="" [subText]="'Please Select User'"></app-no-data>
      </div>
    </mat-card>
  </div>
</div>
<app-book-details-modal #bookDet></app-book-details-modal>