/*
Angular Gauge styling
 */
 .gauges-container {
  display: flex;
}
.gaugeLabel {
  font-weight: bold;
}
/* ------ Default Style ---------- */
mwl-gauge {
  flex: 1;
  display: block;
  margin: 7px;
  border-radius: 3px;
}
mwl-gauge > .gauge > .dial {
  stroke: #334455;
  stroke-width: 4;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}
/* ------- Alternate Style ------- */
mwl-gauge.twot > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.twot > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.twot > .gauge > .value-text {
  fill: #334455;
}
mwl-gauge.twot > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.twot > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.twot > .gauge > .value-text {
  fill: #334455;
}
mwl-gauge.two > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.two > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.two > .gauge > .value-text {
  fill: #334455;
}
mwl-gauge.two > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
mwl-gauge.two > .gauge > .value {
  stroke: #28a745;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.two > .gauge > .value-text {
  fill: #334455;
}

/* ------- Alternate Style ------- */



/*  
Gauge styling ends
*/
.user-table {
padding-top: 10px;
overflow-x: hidden;
width: 100%;
}

tr, th, td {
padding: 5px;
}

.create-new-school {
float: right;
margin-right: 10px;
}

.form-group-filter {
margin-bottom: 0rem;
}

.card1 {
border-style: dashed;
border-color: #6f42c1;
border-width: 0.1rem;
}

.card2 {

border-style: dashed;
border-color: #fd7e14;
border-width: 0.1rem;
}

.card3 {

border-style: dashed;
border-color:  #007bff;
border-width: 0.1rem;
}

.top-card {
border-color: #fff;
}

.inner-card {
border-color: #fff;
}

.fa-active {
color: #28a745;
}

.fa-edit {
color: #0069d9;
}

.fa-delete {
color: #dc3545;
}

.fa-thumbs-up {
color: #ffc108;
}

.fa-thumbs-down {
color: #dc3545;
}

table {
font-size: 14px;
}

.filter-hr {
margin-top: 0.45rem;
}

.graph-div{
height: 300px;
}

.performance-graph {
height: 500px;
}

.btn-outline-secondary {
    padding-left: 1.5px;
    padding-right: 1.5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-title-right {
    float: right;
    margin-left: 5px;
}
.display-container {
    margin-top: 5px;
}

.button-container {
    margin-top: 5px;
}

.eye {

color: #00b197;
}

.fa-eye-slash{
font-size: 1.25rem;
color: #dc3545;
}
.review {
    color: #ff5872;
}

.skip{
    color:  rgb(111, 66, 193);;
}
/* canvas.chartjs-render-monitor{
 width: 594px !important;
height: 291px !important;
} */

canvas.chartjs-render-monitor {
  width: 320px !important;
    height: 100% !important;
}



@media (min-width: 1350px) and (max-width: 1442px) {
  canvas.chartjs-render-monitor {
    width: 250px !important;
    height: 140px !important;
  }

  .highcharts-container  {
  margin-left: -30px;
}

.chart-student-score-card {
  overflow: auto;
}

.svg {
  width: 150px !important;
}

  .student-score-chart {
    margin-top: 20px;
  }

  .gauges-container {
    height: 60px !important;
}
}

.stud_info {
  background-color: #e9ecef;
  border: none;
}
.performanceG{
  min-width: 310px; 
  height: 400px;
  width: 800px; 
  margin: 0 auto;
  display: block;
}
input[type=checkbox], input[type=radio]{
  box-sizing: border-box;
  height: 20px;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

@media (min-width: 992px) and (max-width: 1438px) {
  .highcharts-container {
    margin-left: 20px !important;
  }

  .tab-score-card-analytics {
    padding-bottom: 45px !important;
  }
}
