<ng-template #smsModal>
  <div class="overflow-x-hidden">
    
    <div class="row">
      <div class="col-12 text-right">
        <a class="close-btn" style="cursor:pointer" (click)="closeDialog()"><i class="material-icons">
            clear
          </i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="msg_heading"><b>Message Text : </b> <p [innerHtml]="inputData?.msg_description"></p> </span><br/>
        <table mat-table [dataSource]="dataSource" class="table-100 text-center">
          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
            <td mat-cell *matCellDef="let element;"> {{element.srno}}</td>
          </ng-container>

          <ng-container matColumnDef="au_full_name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element;" class="text-left"> {{element.au_full_name | capitalize}} </td>
          </ng-container>


          <ng-container matColumnDef="class_name">
            <th mat-header-cell *matHeaderCellDef class="cell-left">Class </th>
            <td mat-cell class="cell-left text-center" *matCellDef="let element;">
              {{element.class_name  }} </td>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef class="cell-left"> Mobile</th>
            <td mat-cell class="cell-left" *matCellDef="let element;">
              {{element.mobile}} </td>
          </ng-container>

          <ng-container matColumnDef="msg_status">
            <th mat-header-cell *matHeaderCellDef class="cell-left"> Message Status </th>
            <td mat-cell class="cell-left" *matCellDef="let element;">
              {{element.msg_status | capitalize}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </div>
    </div>
  </div>
</ng-template>