<div class="row">
    <div class="col-12">
        <mat-card>
            <div class="row">
                <div class="col-8">
                    <span class="font-size-24 font-medium"> Family Wise Fee Reciept</span>
                </div>
                <div class="col-4 text-right">
                    <button mat-button class="font-size-14 font-white width-140 btn-blue" (click)="moveToAddFamily()">Add Family</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>


<div class="row margin-top-15">
    <div class="col-12">
        <mat-card>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-6 text-right margin-top-10">
                    <button mat-button class="font-size-14 font-white width-140 btn-darkblue">Print</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-borderd table-stripped custom-table">
                        <thead class="table-skill__head text-center">
                            <tr class="custom-tr">
                                <th class="custom-th">Sr no.</th>
                                <th class="custom-th">Family No</th>
                                <th class="custom-th">Primary Parent</th>
                                <th class="custom-th">Contact No</th>
                                <th class="custom-th">Key Child</th>
                                <th class="custom-th">Class</th>
                                <th class="custom-th">No. of Student</th>
                                <th class="custom-th">Outstanding</th>
                                <th class="custom-th">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="custom-tr">
                                <td class="custom-td">
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="custom-td"><a>123456</a></td>
                                <td class="custom-td">Vikram Singh Bedi</td>
                                <td class="custom-td">9956546521</td>
                                <td class="custom-td">Rahul Kumar Vedi</td>
                                <td class="custom-td">XII-A</td>
                                <td class="custom-td">5 Students</td>
                                <td class="custom-td">5,258</td>
                                <td class="custom-td">
                                    <i class="fas fa-file-image image-icon"></i>
                                    <span class="ver-line-divider margin-left-10"></span>
                                    <i class="fas fa-edit edit-icon"></i>
                                    <span class="ver-line-divider margin-left-10"></span>
                                    <i class="fas fa-trash-alt trash-icon"></i>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card>
    </div>
</div>
