<div class="row">
    <div class="col-12">
        <mat-card>
            <div class="row">
                <div class="col-8">
                    <span class="font-size-24 font-medium"> Family Information</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <mat-card>
          <div class="row">
            <div class="col-12">
              <span class="font-size-20 font-bold">Primary Parent</span>
            </div>
          </div>
          <div class="row">
          <div class="col-1 smart-col-5">
            <img class="pic-48" src="https://via.placeholder.com/48">
          </div>
          <div class="col-1 ">
          <span class="font-size-16 font-bold">Saurbh Kumar</span><br>
          <span class="font-size-11"> +91 9856245688</span>
          </div>
          <div class="col-1 smart-col-3">
          <div class="vertical-line-divider"></div>
          </div>
          <div class="col-1">
          <span class="font-size-11 font-medium">Family No</span><br>
          <span class="font-bold"> 12345</span>
          </div>
          <div class="col-1 smart-col-3">
          <div class="vertical-line-divider"></div>
          </div>
          <div class="col-1">
          <span class="font-size-11 font-medium">Creation Date</span><br>
          <span class="font-bold"> 15 July 2019</span>
          </div>
          <div class="col-1 smart-col-3">
          <div class="vertical-line-divider"></div>
          </div>
          <div class="col-1">
          <span class="font-size-11 font-medium">Net Outstanding</span><br>
          <span class="font-bold"> +91 9856245688</span>
          </div>
          <div class="col-4 text-right">
            <button mat-button class="font-size-14 btn-blue font-white">Print Summary</button>
            <button mat-button class="font-size-14 btn-success-dy font-white margin-left-10">Pay Now</button>
          </div>
          </div>
        </mat-card>
        </div>
        </div>