#slickGridContainer-mygrid {
    .slickgrid-container .slick-header-columns {
        .slick-header-column {
            height: 100px;

            .slick-sort-indicator, .slick-sort-indicator-numbered {
                top: 60px;
            }
        }
    }
}
.ui-state-default.slick-footerrow-column {
    text-align: start !important;
    padding-left: 3px;
}