<div class="row">
    <div class="col-12 ">
        <mat-card class="remove-card-padding">
            <div class="row">
                <div class="col-4">
                    <div class="top-card-title">
                        <span class="font-size-24 font-medium">Class Wise Time Table</span>
                    </div>
                </div>
                <div class="col-8 text-right">
                    <div class="top-card-title">

                        <a [routerLink]="['../teacherwise-table']">
                            <span class="font-size-22 font-medium margin-right-20">Teacher Wise View</span></a>
                        <a [routerLink]="['../time-table']">
                            <button mat-raised-button class="btn-success-green "><i class="fas fa-plus"></i>
                            </button></a>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="row margin-top-15">
    <div class="col-12">
        <mat-card>
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-8 text-right">
                    <form [formGroup]="classwiseForm" novalidate>
                        <mat-form-field class="form-field-150" appearance="outline">
                            <mat-label>Class</mat-label>
                            <mat-select formControlName="tt_class_id" (selectionChange)="getSectionsByClass()" required
                                placeholder="Select Class">
                                <mat-option value="">Please select</mat-option>
                                <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                                    {{item.class_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form-field-150 margin-left-10" appearance="outline">
                            <mat-label>Section</mat-label>
                            <mat-select formControlName="tt_section_id" (selectionChange)="getclasswisedetails()"
                                required placeholder="Select Section">
                                <mat-option value="">Please select</mat-option>
                                <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                                    {{item.sec_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form-field-150 margin-left-10" appearance="outline">
                            <mat-label>Subject</mat-label>
                            <mat-select formControlName="tt_subject_id" placeholder="Select Subject">
                                <mat-option value="">Please select</mat-option>
                                <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                                    {{item.sub_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="row margin-top-0  text-right">
                <div class="col-12">
                    <div class="inline-flex btn-spacer text-right margin-bottom-5"
                        *ngIf="classwisetableArray.length > 0">
                        <div>
                            <img style="cursor: pointer; height: 25px !important" src="/assets/images/pdf.svg"
                                matTooltip="Download as Pdf" (click)="pdfDownload()" />
                        </div>
                    </div>
                    <div class="inline-flex btn-spacer text-right margin-bottom-5"
                        *ngIf="classwisetableArray.length > 0">
                        <div>
                            <img style="cursor: pointer; height: 25px !important" src="/assets/images/xml.svg"
                                matTooltip="Export as excel" (click)="exportAsExcel()" />
                        </div>
                    </div>
                    <table class="table table-borderd table-stripped custom-table" id="report_table">
                        <thead class="table-skill__head text-center">
                            <tr class="custom-tr">
                                <th class="custom-th">Periods</th>
                                <th class="custom-th">Monday</th>
                                <th class="custom-th">Tuesday</th>
                                <th class="custom-th">Wednesday</th>
                                <th class="custom-th">Thursday</th>
                                <th class="custom-th">Friday</th>
                                <th class="custom-th" *ngIf="noOfDay === '6' || noOfDay === '7'">Saturday</th>
                                <th class="custom-th" *ngIf="noOfDay === '7'">Saturday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="custom-tr" *ngFor="let det of classwisetableArray;let j = index">
                                <td class="custom-td">{{j+ 1}}<sup>{{periodSup[j]}}</sup></td>
                                <ng-container *ngFor="let item of det.classwise;let i=index">
                                    <td class="custom-td text-left  pad-sub"
                                        *ngIf="(item.subject_id !== '-') && (classwiseForm.value.tt_subject_id === item.subject_id)">
                                        <i class="fas fa-circle margin-right-10 animation"
                                            [ngClass]="'color-' + item.subject_id"></i> {{item.subject_name}}</td>
                                    <td class="custom-td text-left  pad-sub"
                                        *ngIf="(item.subject_id !== '-') && (classwiseForm.value.tt_subject_id != item.subject_id)">
                                        <i class="fas fa-circle margin-right-10 ddd"
                                            [ngClass]="'color-' + item.subject_id"></i> {{item.subject_name}}</td>
                                    <td class="custom-td" *ngIf="item.subject_id === '-'">-</td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tbody *ngIf="finaldivflag">
                            <tr class="text-center">
                                <td colspan="9">
                                    <img
                                        src="https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png">
                                    <br><br><br>
                                    <br><span class="font-size-20 font-light font-color-brown">
                                        Please Select Class and Section
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-top-15" *ngIf="subjectwiseFlag">
                <div class="col-4">
                    <span class="font-size-20 font-bold">Subject Wise Breakup</span>
                </div>
            </div>
            <!-- <div class="row margin-top-10" *ngIf="subjectwiseFlag">
                <div class="col-12">
                    <table class="table table-borderd table-stripped custom-table">
                        <thead class="table-skill__head text-center">
                            <tr class="custom-tr">
                                <th class="custom-th">Subjects</th>
                                <ng-container *ngFor="let item of subjectArray;let i=index">
                                    <th class="custom-th" [ngClass]="'background-color-' + item.sub_id">
                                        {{item.sub_name}}</th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="custom-tr">
                                <td class="custom-td">No. of Periods</td>
                                <ng-container *ngFor="let item of subjectArray;let i=index">
                                    <td class="custom-td ss" *ngIf="finalCountArray[item.sub_name] !== 'undefined'">
                                        {{finalCountArray[item.sub_name]}}</td>
                                    <td class="custom-td" *ngIf="finalCountArray[item.sub_name] === 'undefined'">-</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        </mat-card>
        <div class="row">
            <div class="col-12 ">
                <mat-card class="remove-card-padding">
                    <div class="row">
                        <ng-container *ngFor="let item of subjectArray;let i=index">
                            <div class="col-2 custom-fee-entry-col-12">
                                <div class="row">
                                    <div class="col-12 text-left tab-remove-padding">
                                        <span class="font-size-14 font-light margin-right-15"> {{item.sub_name}}</span>
                                        <span class="font-size-16 font-bold" *ngIf="finalCountArray[item.sub_name]">{{finalCountArray[item.sub_name]}}</span>
                                        <span class="font-size-16 font-bold" *ngIf="!finalCountArray[item.sub_name]">-</span>
                                    </div>
                                </div>
                            </div >
                        </ng-container>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>