.margin-left-50{
    margin-left: 50px;
    margin-right: 50px;
}
.pad-bot-10{
    padding-bottom: 10px;
}
table.custom-table th {
    border-top: 1px solid #89A8C9 !important;
}
.approved{
    margin-left: 10px;
    color:green;
    font-size: 16px;
    font-weight: 700
}
.pending{
    margin-left: 10px;
    color:red;
    font-size: 16px;
    font-weight: 700
}
.form-field-320{
    width: 320px !important;
}
.example-radio-button {
    margin: 5px;
  }
  .bg-green{
        background: #81ed81;
        display: inline-block;
        width: 100%;
        color: #056205 !important;
        font-size: 18px;
        padding: 10px 15px;
  }
  .bg-green .mat-option-text{
    width: 100%;
  }
  .bg-red{      
    background: #ed4c4c;
    display: inline-block;
    width: 100%;
    color: #380101 !important;
    font-size: 18px;
    padding: 10px 15px;
  }