<div>
    <div class="container-box__white">
        <div class="row">
            <div class="col-12">
                <div class="padding-15">
                    <form [formGroup]="salaryDetails">
                        <div class="row remove-top-margin">
                            <div class="col-4 col-pad-5">
                                <div class="row salary-card">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Pan No.</mat-label>
                                        <input class="text-capitalize" formControlName="pan" matInput
                                            placeholder="Pan No." required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher" />
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Aadhaar No.</mat-label>
                                        <input type="text" formControlName="aadhaar" matInput placeholder="Aadhaar No."
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>PF A/c No.| UAN</mat-label>
                                        <input type="text" formControlName="pf_ac" matInput
                                            placeholder="PF A/c No.| UAN" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>ESI A/c No.</mat-label>
                                        <input type="text" formControlName="esi_ac" matInput placeholder="ESI A/c No."
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Nominee</mat-label>
                                        <input type="text" matInput formControlName="nominee" placeholder="Nominee"
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row salary-card">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Date of Joining</mat-label>
                                        <input type="text" formControlName="doj" matInput placeholder="Date of Joining"
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>PF Joining Date</mat-label>
                                        <input type="text" formControlName="pf_doj" matInput
                                            placeholder="PF Joining Date" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>ESI Joining Date</mat-label>
                                        <input type="text" formControlName="esi_doj" matInput
                                            placeholder="ESI Joining Date" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Probation</mat-label>
                                        <input type="text" formControlName="probation" matInput placeholder="Probation"
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Confirmation Date</mat-label>
                                        <input type="text" formControlName="confirm_date" matInput
                                            placeholder="Confirmation Date" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-4 col-pad-5">
                                <div class="row salary-card">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Category I</mat-label>
                                        <input class="text-capitalize" formControlName="category_1" matInput
                                            placeholder="Category I" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher" />
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Category II</mat-label>
                                        <input type="text" formControlName="category_2" matInput
                                            placeholder="Category II" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Category III</mat-label>
                                        <input type="text" formControlName="category_3" matInput
                                            placeholder="Category III" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Increment Month</mat-label>
                                        <input type="text" formControlName="increment_month" matInput
                                            placeholder="Increment Month" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Contract Period</mat-label>
                                        <input type="text" formControlName="contract_period" matInput
                                            placeholder="Contract Period" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row salary-card">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Bank Name</mat-label>
                                        <input class="text-capitalize" formControlName="bank_name" matInput
                                            placeholder="Bank Name" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher" />
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Bank A/c No.</mat-label>
                                        <input type="text" formControlName="bank_ac" matInput placeholder="Bank A/c No."
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>IFSC Code</mat-label>
                                        <input type="text" formControlName="ifsc_code" matInput placeholder="IFSC Code"
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-4 col-pad-5">
                                <div class="row salary-card">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Salary Structure/Pay Scale</mat-label>
                                        <input class="text-capitalize" formControlName="sal_str" matInput
                                            placeholder="Salary Structure/Pay Scale" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher" />
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Pay Mode</mat-label>
                                        <input type="text" formControlName="pay_mode" matInput placeholder="Pay Mode"
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Basic Pay</mat-label>
                                        <input type="text" formControlName="basic_pay" matInput placeholder="Basic Pay"
                                            required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>D.A</mat-label>
                                        <input type="text" formControlName="da" matInput placeholder="D.A" required
                                            [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>H.R.A</mat-label>
                                        <input type="text" formControlName="hra" matInput placeholder="H.R.A" required
                                            [readonly]="viewOnly" [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Allowances</mat-label>
                                        <input type="text" formControlName="allowances" matInput
                                            placeholder="Allowances" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row salary-card">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>PF Deduction</mat-label>
                                        <input class="text-capitalize" formControlName="pf_deduction" matInput
                                            placeholder="PF Deduction" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher" />
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>ESI Deduction</mat-label>
                                        <input type="text" formControlName="esi_deduction" matInput
                                            placeholder="ESI Deduction" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>TDS Deduction</mat-label>
                                        <input type="text" formControlName="tds_deduction" matInput
                                            placeholder="TDS Deduction" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Net Salary</mat-label>
                                        <input type="text" formControlName="net_salary" matInput
                                            placeholder="Net Salary" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Total Deduction</mat-label>
                                        <input type="text" formControlName="total_deduction" matInput
                                            placeholder="Total Deduction" required [readonly]="viewOnly"
                                            [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
        <div class="row" *ngIf="!viewOnly">
            <div class="col-12 text-center ">
                <form>
                    <button *ngIf="editOnly" class="sis-btn-success" mat-raised-button
                        (click)="saveForm()">Submit</button>
                    <button class="sis-btn-success btn-save-continue btn-spacer" mat-raised-button
                        (click)="remainOnSame()"><span *ngIf="addOnly">Save</span> <span *ngIf="editOnly">Update</span>
                        & Continue</button>
                    <button class="btn-danger btn-spacer" mat-raised-button (click)="cancelForm()">Cancel</button>
                </form>
            </div>
        </div>
    </div>