<div>
    <div class="container-box__white">
        <div class="row">
            <div class="col-12">
                <div>New Html</div>
            </div>
        </div>
        <br>
        <div class="row" *ngIf="!viewOnly">
            <div class="col-12 text-center ">
                <form>
                    <button *ngIf="editOnly" class="sis-btn-success" mat-raised-button
                        (click)="saveForm()">Submit</button>
                    <button class="sis-btn-success btn-save-continue btn-spacer" mat-raised-button
                        (click)="remainOnSame()"><span *ngIf="addOnly">Save</span> <span *ngIf="editOnly">Update</span>
                        & Continue</button>
                    <button class="btn-danger btn-spacer" mat-raised-button (click)="cancelForm()">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>