ul {
    list-style-type: none;
    padding: 0px;
}

.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
//   .mainmenu a {
//     display: block;
//     background-color: #CCC;
//     text-decoration: none;
//     padding: 10px;
//     color: #000;
//   }
  
//   .mainmenu a:hover {
//       background-color: #C5C5C5;
//   }
  

  
  // .mainmenu li:hover .submenu {
  //   display: block;
  //   max-height: 100%;
  // }


  
  
  
//   .submenu a {
//     background-color: #999;
//   }
  
//   .submenu a:hover {
//     background-color: #666;
//   }
  
  // .submenu {
  //   overflow: hidden;
  //   max-height: 0;
  //   -webkit-transition: all 0.5s ease-out;
  // }

  // .main-menu-title:after {
  //   content: '\002B';
  //   color: #777;
  //   font-weight: bold;
  //   float: right;
  //   margin-left: 5px;
  // }