.functional-button-one {
    z-index: 11111;
    position: fixed;
    top: 65px;
    right: 20px;
}

.functional-button-one button {
    background-color: #9E9E9E;
    color: #fff;
}

.functional-button-one button:hover {
    background-color: rgb(100, 100, 100);
    color: #fff;
}
.blink{
    background-color: #e11022;
    text-align: center;
}
.blink span{
    font-family: cursive;
    color: white;
    animation: blink 1s linear infinite;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
.functional-button-two {
    z-index: 11111;
    position: fixed;
    top: 140px;
    right: 20px;
}

.functional-button-two button {
    background-color: #02ed10;
    color: #fff;
}

.functional-button-two button:hover {
    background-color: #03b60e;
    color: #fff;
}

.functional-button-three {
    z-index: 11111;
    position: fixed;
    top: 215px;
    right: 20px;
}

.functional-button-three button {
    background-color: #0091EA;
    color: #fff;
}

.functional-button-three button:hover {
    background-color: rgb(0, 120, 194);
    color: #fff;
}

.functional-button-four {
    z-index: 11111;
    position: fixed;
    top: 290px;
    right: 20px;
}

.functional-button-four button {
    background-color: #e11022;
    color: #fff;
}

.functional-button-four button:hover {
    background-color: #b40c1a;
    color: #fff;
}

.fa-user-edit {
    font-size: 18px;
}

.right-btn-text {
    color: #fff;
    opacity: 0;
    text-align: center;
    padding-top: 0px;
    transition: all .3s ease-in-out;
    display: none;
}

  button.mat-fab:hover {
    border-radius: 0%;
    width: 120px;
    height: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: all .3s ease-in-out;
  }

  button.float-btn-right:hover {
    border-radius: 0%;
    width: 120px;
    height: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: all .3s ease-in-out;
  }

  button.float-btn-right:hover .right-btn-text {
    padding-top: 40px;
    opacity: 1;
    color: #fff;
    text-align: center;
    padding-top: 0px;
    transition: all .3s ease-in-out;
    display: block;
    
  }

  button.mat-fab:hover .right-btn-text {
    padding-top: 40px;
    opacity: 1;
    color: #fff;
    text-align: center;
    padding-top: 0px;
    transition: all .3s ease-in-out;
    display: block;
    
  }

  button.mat-fab:hover .float-btn-right {
    display:none;
  }

  button.mat-fab:hover mat-icon {
    display:none;
  }