<simple-notifications></simple-notifications>

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        <h1 class="remove-bottom-margin font-size-24">Teacher Management</h1>
      </mat-card-title>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-12 col-mobile-view-add-ques">
            <form [formGroup]="Filter_form" novalidate>
              <div class="row">
                <div class="col-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Select Class</mat-label>
                    <mat-select id="school-region" formControlName="uc_class_id"
                      (selectionChange)="getSubjectsByClass();getSectionsByClass()" placeholder="Select Class">
                      <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                        {{item.class_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Section</mat-label>
                    <mat-select formControlName="sub_id" id="school-region" formControlName="uc_sec_id"
                      placeholder="Section">
                      <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                        {{item.sec_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Subject</mat-label>
                    <mat-select formControlName="topic_id" id="school-region" formControlName="uc_sub_id"
                      placeholder="Subject">
                      <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                        {{item.sub_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2">
                  <div class="mt-3">
                    <button mat-raised-button class="btn-primary btn-success"
                      (click)="getAllTeacher(this)">Apply</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <div class="col-2">
                <mat-form-field class="form-field">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  <span matPrefix><i class="fas fa-sliders-h table-filter-icon"></i>&nbsp;&nbsp; </span>
                </mat-form-field>
              </div>
              <div class="col-4">
                <div style="float: right">
                  <a *ngIf="isExistUserAccessMenu('108')" routerLink="/axiom/school/setup/create-new-teacher">
                    <button style="width: 136px;" mat-raised-button class="btn-primary btn-success">
                      <i class="fa fa-plus"></i>&nbsp; New Teacher</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 pd_left pd_right">
            <div *ngIf="tableCollection">
              <table mat-table class="specific-table table-100" #table [dataSource]="dataSource" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let item"> {{item.position}} </td>
                </ng-container>
                <!-- Template Name Column -->
                <ng-container matColumnDef="userId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                  <td mat-cell *matCellDef="let item"> {{item.userId}} </td>
                </ng-container>
                <!-- Teacher Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher Name </th>
                  <td mat-cell *matCellDef="let item" class="text-left"> {{item.name}} </td>
                </ng-container>
                <!-- designation Column -->
                <ng-container matColumnDef="designation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                  <td mat-cell *matCellDef="let item"> Admin</td>
                </ng-container>
                <!--Mobile Column -->
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</th>
                  <td mat-cell *matCellDef="let item"> {{item.mobile}} </td>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                  <td mat-cell *matCellDef="let item" class="text-left"> {{item.email}} </td>
                </ng-container>
                <!--status-->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                  <td mat-cell *matCellDef="let item"> {{item.status}} </td>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let item" class="tab-display-flex">
                    <a [routerLink]="['../view-teacher-profile']" [queryParams]="{login_id:item.action.au_login_id}">
                      <i class="material-icons icon-view">remove_red_eye</i>
                    </a>
                    <a [routerLink]="['../create-new-teacher']" [queryParams]="{login_id:item.action.au_login_id}">
                      <i *ngIf="isExistUserAccessMenu('116')" class="material-icons icon-edit">create</i>
                    </a>
                    <i *ngIf="isExistUserAccessMenu('115')" class="material-icons icon-danger icon-spacer"
                      (click)="openModal({});deleteUsr(item.action.au_login_id)">delete</i>
                  </td>
                </ng-container>
                <tr mat-header-row class="top_header" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-delete-modal #deleteModalRef [deleteMessage]="'Are you Sure? You want to Delete '"
  (deleteOk)="deleteUser(currentUser)" (deleteCancel)="deleteComCancel()">
</app-delete-modal>