<div>
  <div class="row">
    <div class="col-12 ">
      <mat-card class="card-top-title__container">
        <div class="row">
          <div class="col-6 remove-col-padding-left">
            <h1 class="remove-bottom-margin font-size-24">Employee Leave </h1>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card class="card-height-760 card-height-880">
        <div class="row">
          <div class="col-6">
            <mat-form-field [hidden]="!(MY_LEAVE_ELEMENT_DATA.length > 0)">
              <input matInput placeholder="Filter" #input (keyup)="myLeaveFilter(input.value)">
              <i class="fas fa-filter table-filter" matPrefix></i>
            </mat-form-field>
          </div>
          <div class="col-6">
            &nbsp;
          </div>
        </div>

        <div class="row" [hidden]="!(MY_LEAVE_ELEMENT_DATA.length > 0)">
          <div class="col-12">
            <table mat-table [dataSource]="myLeaveDataSource" class="fee-table-100 text-center">
              <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef class="text-nowrap" width="5%"> Sr. No.
                </th>
                <ng-container *matCellDef="let item">
                  <td mat-cell class="text-nowrap">
                    <p [innerHtml]="item?.srno"> </p>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container matColumnDef="leave_date">
                <th mat-header-cell *matHeaderCellDef width="20%"> Leave Duration </th>
                <td mat-cell *matCellDef="let item" class="text-nowrap text-left text-capitalize">
                  {{item.leave_date}} </td>
              </ng-container>
              <ng-container matColumnDef="leave_type">
                <th mat-header-cell *matHeaderCellDef width="10%"> Leave Type </th>
                <td mat-cell *matCellDef="let item" class="text-nowrap text-capitalize">
                  {{item.leave_type}}
                </td>
              </ng-container>
              <ng-container matColumnDef="leave_no_of_days">
                <th mat-header-cell *matHeaderCellDef width="15%"> Leave (No. of Days)</th>
                <td mat-cell *matCellDef="let item" class="text-nowrap">
                  <p [innerHtml]="item?.leave_no_of_days"> </p>
                </td>
              </ng-container>
              <ng-container matColumnDef="leave_reason">
                <th mat-header-cell *matHeaderCellDef width="20%"> Reason </th>
                <td mat-cell *matCellDef="let item" class="text-nowrap text-left">
                  {{item.leave_reason}} </td>
              </ng-container>
              <ng-container matColumnDef="leave_to">
                <th mat-header-cell *matHeaderCellDef width="20%"> Assigned to </th>
                <td mat-cell *matCellDef="let item" class="text-nowrap text-capitalize">
                  {{item.leave_to}}
                </td>
              </ng-container>              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef width="10%"> Action </th>
                <td mat-cell *matCellDef="let item" class="text-nowrap">
                  <i class="fas fa-edit font-color-grey margin-right-15" style="font-size:16px;"
                    (click)="editLeave(item?.action)"></i>
                  <!-- <i class="fas fa-times-circle font-color-grey margin-right-15" style="font-size:16px;color:red"
                    (click)="deleteLeave(item?.action)"></i>
                  <i class="fas fa-file font-color-grey margin-right-15" *ngIf="item?.action.leave_attachment.length>0"
                    style="font-size:16px;color:black" (click)="viewAttachment(item?.action)"></i> -->
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="myLeaveDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: myLeaveDisplayedColumns;">
              </tr>
            </table>
            <mat-paginator [hidden]="!(MY_LEAVE_ELEMENT_DATA.length > 0)" #myLeavePaginator [pageSize]="100"
              [pageSizeOptions]="[100,300,500,1000]">
            </mat-paginator>
          </div>
        </div>
        <div class="text-center" *ngIf="MY_LEAVE_ELEMENT_DATA.length == 0 && !showFormFlag">

          <div class="smart-das-icon">
            <img src="https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/smart-dashboard.png"
              class="smart-icon-img" />
            <br>
            <span class="desc-span-smart-dash">No Leave Record Found</span><br>
          </div>

        </div>
      </mat-card>
    </div>
  </div>
</div>