<div class="row">
  <div class="col-12 ">
    <mat-card class="remove-card-padding">
      <div class="row">
        <div class="col-6">
          <div class="top-card-title">
            <span class="font-size-24 font-medium">Gradecard Setting</span>
          </div>
        </div>
        <div class="col-6 text-right">

        </div>
      </div>
    </mat-card>
  </div>
</div>
<form [formGroup]="gradecaredform">
  <div class="row">
    <div class="col-lg-4 col-mobile-view-add-ques">
      <div class="row">
        <div class="text-center">
          <h4><b>Gradecard Custom Header</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ckeditor [config]="ckeConfig" formControlName="gradecard_header"></ckeditor>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mobile-view-add-ques">
      <div class="row">
        <div class="text-center">
          <h4><b>Gradecard Custom Footer</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ckeditor [config]="ckeConfig" formControlName="gradecard_footer"></ckeditor>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mobile-view-add-ques">
      <div class="row">
        <div class="text-center">
          <h4><b>Principal Signature</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button mat-stroked-button class="btn-outline-green">
            <label for="file">Choose File
              &nbsp; <i class="fas fa-cloud-upload-alt"></i></label></button>
          <input style="display:none" type="file" accept="image/*" (change)="uploadPricipalSign($event)"
            id="file"><br><br>
          <img *ngIf="gradecaredform.value.gradecard_principal_signature"
            style="height:80px;width:80px;border:1px solid #646471;border-radius: 4%"
            [src]="gradecaredform.value.gradecard_principal_signature">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Use Teacher Signature
    </div>
    <div class="col-lg-4">
      <mat-slide-toggle class="inline-form-radio-spacing" formControlName="gradecard_use_teacher_signature">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Use Principal Signature
    </div>
    <div class="col-lg-4">
      <mat-slide-toggle class="inline-form-radio-spacing" formControlName="gradecard_use_principal_signature">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Cummulative Marks Attendance
    </div>
    <div class="col-lg-4">
      <mat-slide-toggle class="inline-form-radio-spacing" formControlName="school_attendance_theme">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Health Status
    </div>
    <div class="col-lg-4">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Class</mat-label>
        <mat-select formControlName="gradecard_health_status" required placeholder="Class" multiple>
          <mat-option *ngFor="let item of classArray" [value]="item.class_id">
            {{item.class_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Comparative Analysis
    </div>
    <div class="col-lg-4">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Class</mat-label>
        <mat-select formControlName="comparative_analysis" required placeholder="Class" multiple>
          <mat-option *ngFor="let item of classArray" [value]="item.class_id">
            {{item.class_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Student Performance
    </div>
    <div class="col-lg-4">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Class</mat-label>
        <mat-select formControlName="student_performance" required placeholder="Class" multiple>
          <mat-option *ngFor="let item of classArray" [value]="item.class_id">
            {{item.class_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Gradecard Date
    </div>
    <div class="col-lg-4">
      <mat-slide-toggle class="inline-form-radio-spacing" formControlName="gradecard_date">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Gradecard Place
    </div>
    <div class="col-lg-4">
      <mat-slide-toggle class="inline-form-radio-spacing" formControlName="gradecard_place">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Achievements
    </div>
    <div class="col-lg-4">
      <mat-slide-toggle class="inline-form-radio-spacing" formControlName="school_achievement">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Failure Percentage and Background Color
    </div>
    <div class="col-lg-2">
      <mat-form-field class="form-field" appearance="outline">
        <input matInput placeholder="Percentage" type="text" class="text-capitalize" formControlName="failure_percentage"
          >
      </mat-form-field>
    </div>
    <div class="col-lg-2">
      <mat-form-field class="form-field" appearance="outline">
        <input type="color" matInput placeholder="Color" class="text-capitalize"
          formControlName="failure_color"
          >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="text-center margin-top-15">
        <button mat-raised-button class="btn-success" (click)="saveSetting()">Save</button>
      </div>
    </div>
  </div>
</form>