.bulk-upload-content {
    height: 40vh !important;
}

.notification-aatachment-btn-sis {
    margin-left:0;    
    border: 1px solid #1E88E5;
    padding: 20px 30px;
    border-radius: 5px;
    background: #1e88e50d;
    text-align: center;
    color:#1E88E5;
    width: 150px;
    z-index: 0 !important;
    position:relative;
    margin:0;
}

.preview-attachment-base {
    float:left;
    margin-left: 122px;
    margin-top: -145px;
}

.pink {
    background-color:#e835b4 !important;
    color:#fff !important;
    width: 150px;
}

.another-line-btn  {
    border: 1px solid #1E88E5;
    padding: 5px 30px;
    border-radius: 5px;
    background: #1e88e50d;
    text-align: center;
    color: #1E88E5;
    width: 300px;
    margin-left: 10px;
}

.pink span {
    margin:0 auto;
}

.red {

    background-color:#E34234 !important;
    color:#fff !important;
    width: 150px;

}

.red span {
    margin:0 auto;
}

.light-blue {
    background-color:#3086D3 !important;
    color:#fff !important;
    width: 150px;
}

.light-blue span {
    margin:0 auto;
}

.dark-blue {
    background-color:#7854F8 !important;
    color:#fff !important;
    width: 150px;
}
.dark-blue span {
    margin:0 auto;
}
.orange {
    background-color:#F69857 !important;
    color:#fff !important;
    width: 150px;
}

.orange span {
    margin:0 auto;
}

.orange-light {
    background-color:#f2b58a !important;
    color:#fff !important;
    width: 150px;
}

.orange-light span {
    margin:0 auto;
}

.gray-dark {
    background-color:#4c555c !important;
    color:#fff !important;
    width: 150px;
}
.gray-dark span {
    margin:0 auto;
}
.gray-light {
    background-color:#989ea2 !important;
    color:#fff !important;
    width: 150px;
}

.gray-light span {
    margin:0 auto;
}

.gray-add {
    font-size: 18px;
    color: gray;
    vertical-align: middle;
}

.red-trash {
    font-size: 18px;
    color: red;
    vertical-align: middle;
}
.bgred{
    background-color: red;
}
.opacity-7 {
    opacity: .7
}
.active-entry{
    opacity: 1 !important;
}
.font-size-14{
    font-size: 14px;
}