<div class="row">
  <div class="col-12">
    <div style="display: inline-flex">
      <label class="file-input__label" for="file-input">
        <input
          type="file"
          id="file-input"
          class="file-input__input"
          (change)="onFileChange($event)"
          multiple="false"
        />
        <i class="fas fa-upload upload-icon"></i> &nbsp;
        <span>Upload File</span>
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="manage-message"></div>
  </div>
  <span (click)="sendSelector()">
    <i class="fas fa-arrow-right font-size-24 arrow-icon"></i>
  </span>
  <div class="col-8">
    <div class="manage-message">
      <textarea name="message" id="message"></textarea>
    </div>
  </div>
  <div class="col-12">
    <button mat-raised-button class="submit-button" (click)="showPreview()">
      Message Preview *
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h4 class="title">Number/Message Preview*</h4>
  </div>

  <div class="col-12">
    <mat-card class="mat-elevation-z2">
      <table class="sjs-table">
        <tbody>
          <tr *ngFor="let row of data">
            <td *ngFor="let val of row">
              {{ val }}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z2 full-width"
      >
        <ng-container matColumnDef="sr_no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.sr_no }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="mobile_no">
          <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
          <td mat-cell *matCellDef="let element">{{ element.mobile_no }}</td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell *matCellDef="let element">{{ element.message }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table> -->
    </mat-card>
  </div>
  <div class="col-12">
    <button mat-raised-button class="submit-button" (click)="sendMessage()">
      Submit
    </button>
  </div>
</div>
