.no-records {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.fa-rupee-sign{
  font-size: 12px;
}
.cdk-column-select{
  width: 2%!important;
}
.cdk-column-srno{
    width: 3%!important;
}
.cdk-column-invoiceno{
    width: 6%!important;
}
.cdk-column-feedue{
  width: 10%!important;
}
