.row {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.barcode-print-lib {
    width: 220px !important;
    height: 80px !important;
}
div.barcode-print-lib > ngx-barcode > div > img {
    width: 100% !important;
    height: 80px !important;
}
.bar-tiltle-span {
    position: relative;
    left: 10px !important;
    top: 15px;
}
.bar-isbn-span {
    position: relative;
    left: 20px;
    top: -15px;
}
.bar-location-span {
    position: relative;
    left: -3px;
    top: -16px;
}
.align-btn-bar {
    position: relative;
    top: -5px;
}
.bar-acc-div {
    width: 184px !important
}
.smart-col-11 {
    flex: 0 0 11% !important;
}
button {
    display: none !important;
} 
hr {
    display: none !important;
}
.col-1 {
    -webkit-box-flex: 0 !important;
    max-width: 13.333333% !important;
}
.barcode {
    position: relative;
    top: 15px;
    left: 10px;
}
.barcode-div-print.margin-barcode-print {
    margin-top: 80.64px;
}
.barcode-div-print{
    border: 1px solid;
    width: 172px !important;
    height: 79.37px !important;
    border-radius: 6px;
}
.accumulate-div-bar-code {
    padding-top: 80.64px;
    padding-bottom: 80.64px;
    background: white;
    width: 797.48px;
    margin: auto;
    padding-left: 36.48px;
    padding-right: 36.48px;
}
.bar-location-span2 {
    position: relative;
    left: -35px;
    top: -11px;
    font-size: 11px;
}
.bar-isbn-span2 {
    position: relative;
    left: 18px;
    top: -11px;
    font-size: 11px; 
}
.bar-tiltle-span2 {
    position: relative;
    top: 0px;
    left: 19px;
    font-size: 10px;
}
div.barcode-print-lib2 > ngx-barcode > div > img {
    width: 80% !important;
    height: 55px !important;
    position: relative;
    top: -19px;
}
.barcode-print-lib2 {
    width: 180px !important;
}