.row {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.barcode-print-lib {
    width: 220px !important;
    height: 80px !important;
}
div.barcode-print-lib > ngx-barcode > div > img {
    width: 100% !important;
    height: 80px !important;
}
.bar-tiltle-span {
    position: relative;
    left: 12px !important;
    top: 2px;
}
.bar-isbn-span {
    position: relative;
    left: 20px;
    top: -15px;
}
.col-3 {
    display: grid;
}
 .bar-location-span {
    position: relative;
    left: -3px;
    top: -16px;
}
.align-btn-bar {
    position: relative;
    top: -5px;
}
.bar-acc-div {
    width: 184px !important
}
.smart-col-11 {
    flex: 0 0 11% !important;
}
button {
    display: none !important;
} 
hr {
    display: none !important;
}
.col-1 {
    -webkit-box-flex: 0 !important;
    max-width: 13.333333% !important;
}
.barcode {
    position: relative;
    top: 15px;
    left: 10px;
}
.barcode-div-print.margin-barcode-print {
    margin-top: 80.64px;
}
div.barcode-print-lib2 > ngx-barcode > div > img {
    width: 85% !important;
    height: 35px !important;
    position: relative;
    top: -17px;
    left: -2px;
}
.barcode-div-print{
    width: 140.54px !important;
    height: 66px !important;
}
.accumulate-div-bar-code {
    background: white;
    width: 595px;
    zoom: 185%;
    height: 841px;
    padding-right: 32.9px;
    padding-top: 35.48px;
    padding-left: 6px;
}
.bar-tiltle-span2 {
    position: relative;
    top: 2px;
    font-size: 10px;
    left: 14px
}
.barcode-margin-div2 {
    margin-top: 0px;
}
.barcode-margin-div {
    margin-top: 78px !important;
}
.bar-isbn-span2 {
    position: relative;
    left: 14px;
    top: -8px;
    font-size: 11px;
}
.bar-location-span2 {
    position: relative;
    left: -17px;
    top: -8px;
    font-size: 11px;
}
div.barcode-print-lib3 > ngx-barcode > div > img {
    width: 88% !important;
    height: 28px !important;
    position: relative;
    top: -14px;
    left: -5px;
}
.accumulate-div-bar-code-2 {
    padding-top: 20.94px;
    zoom: 197%;
    background: white;
    padding-left: 1.09px;
    padding-right: 14.09px;
}
.barcode-div-print-2{
    width: 128.54px !important;
    height: 31.81px !important;
    border-radius: 5.67px;
    margin-bottom: 3px;
}
.bar-isbn-span3 {
    font-size: 5px !important;
    font-weight: bold;
}
.barcode-id-div {
   
    height: 24px;
    position: relative;
    top: -25px;
    left: -5px;
    font-size: 5px;
    word-break: break-all;
}
.barcode-margin-div3 {
    margin-top: 55px;
}

.barcode-margin-div5 {
    margin-top: 106.5px !important;
}