.row {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.barcode-print-lib {
    width: 220px !important;
    height: 80px !important;
}
div.barcode-print-lib > ngx-barcode > div > img {
    width: 100% !important;
    height: 80px !important;
}
.bar-tiltle-span {
    position: relative;
    left: 17px !important;
}
.bar-isbn-span {
    position: relative !important;
    left: 18px !important;
    top: -20px !important;
}
.bar-location-span {
    position: relative !important;
    left: -10px !important;
    top: -20px !important;
}
.align-btn-bar {
    position: relative !important;
    top: -5px !important;
}
.smart-col-11 {
    flex: 0 0 11% !important;
}
.bar-acc-div {
    width: 184px !important
}
button {
    display: none !important;
} 
hr {
    display: none !important;
}
.col-1 {
    -webkit-box-flex: 0 !important;
    max-width: 13.333333% !important;
}