td.mat-cell {
    border: 1px solid #89A8C9 !important;
    height: 35px;
    color: rgba(0,0,0,.87)!important;
    padding: .25rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    height: 40px;
    background: #C8D6E5;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54)!important;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}