.mat-cell {
    word-break: break-word !important;
}

@-moz-document url-prefix() {
    .mat-cell {
        word-break: break-all !important;
    }
}

.table-overflow table {
    width: 100%;
    min-width: 800px;
}

.table-overflow th,
td {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
    padding: 5px;
}