<div class="row">
<div class="col-lg-12">
  <div class="text-center">
    <br>
    <h4>{{data.doc_name}} Documents</h4>
  </div>
  <ng-container *ngFor="let item of documentArray;let i= index">
  <ng-container *ngIf="i == documentArray.length -1 && imageArray.length >0">
  <ngx-image-viewer [src]="imageArray" (customEvent)="handleEvent($event)"></ngx-image-viewer>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
          <button *ngIf="data.viewFlag" mat-stroked-button class="document-btn__redcolor" (click)="deleteImage(item.ed_id,item.ed_login_id)">Delete
            &nbsp;<i class="far fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
  </ng-container>
  </ng-container>
  <br>
  <br>
</div>
</div>