<div class="fee-container-box__grey ">
  <div class="container-box__white card-height-840-lp">
    <br>
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="text-uppercase text-center"><b>Remarks Entry</b></h4>
      </div>
    </div>
    <br>
    <form [formGroup]="studentdetailsform">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-10 tab-custom-col-75">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Registration No.</mat-label>
                <input formControlName="au_login_id" matInput placeholder="Registration No."
                (keyup.enter)="getStudentDetails($event,studentdetailsform.value.au_login_id)"
                  (blur)="getStudentDetails($event,studentdetailsform.value.au_login_id)" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-2 tab-custom-col-25 margin-top-10">
              <div class="text-center">
                <a href="javascript:void(0)" [disabled]="studentdetailsform.value.au_login_id == ''" mat-raised-button
                  class="btn-success" (click)="viewProfile(studentdetailsform.value.au_login_id)">View
                  Profile</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Student Name</mat-label>
                <input formControlName="au_full_name" class="text-capitalize" matInput placeholder="Student Name"
                  [readonly]="viewOnlyRemark" tabindex="-1">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Applied For Class</mat-label>
                <mat-select formControlName="class_id" placeholder="Applied for Class" [disabled]="viewOnlyRemark"
                  tabindex="-1">
                  <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                    {{item.class_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Father's Name</mat-label>
                <input formControlName="father_name" class="text-capitalize" matInput placeholder="Father's Name"
                  [readonly]="viewOnlyRemark" tabindex="-1">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Mother's Name</mat-label>
                <input formControlName="mother_name" class="text-capitalize" matInput placeholder="Mother's Name"
                  [readonly]="viewOnlyRemark" tabindex="-1">
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Date of birth</mat-label>
                <input formControlName="upd_dob" matInput [matDatepicker]="picker" placeholder="Date of Birth"
                  [readonly]="viewOnlyRemark" tabindex="-1">
                <mat-datepicker-toggle matSuffix [for]="picker" tabindex="-1"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Date of Registration</mat-label>
                <input formControlName="upd_doj" matInput [matDatepicker]="picker1" placeholder="Date of Registration"
                  [readonly]="viewOnlyRemark" tabindex="-1">
                <mat-datepicker-toggle matSuffix [for]="picker1" tabindex="-1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Test Date</mat-label>
                <input formControlName="au_test_date" [max]="maxDate" matInput [matDatepicker]="picker2"
                  placeholder="Test Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Interview Date</mat-label>
                <input formControlName="au_interview_date" [max]="maxDate" matInput [matDatepicker]="picker3"
                  placeholder="Interview Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="!studentdetials.active_parent" class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contact No.</mat-label>
                <input  formControlName="mother_contact_no" matInput placeholder="Contact No." [readonly]="viewOnlyRemark"
                  tabindex="-1">
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="studentdetials.active_parent === 'M'" class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contact No.</mat-label>
                <input  formControlName="mother_contact_no" matInput placeholder="Contact No." [readonly]="viewOnlyRemark"
                  tabindex="-1">
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="studentdetials.active_parent === 'F'" class="row">
            <div class="col-12">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contact No.</mat-label>
                <input formControlName="father_contact_no" matInput placeholder="Contact No." [readonly]="viewOnlyRemark"
                  tabindex="-1">
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <div class="text-center">                
                <a href="javascript:void(0)" mat-raised-button class="btn-purple" (click)="viewProfile(studentdetailsform.value.au_login_id)">View
                  Profile</a>
              </div>
              <br>
            </div>
          </div> -->
        </div>

      </div>
    </form>



    <ng-container *ngIf="remarkEntryFlag">
      <!--     <br>
    <div class="divider__grey"></div> -->
      <br>
      <div class="row">
        <!-- <div class="col-4 text-center">
        <div class="line-divider"></div>
      </div> -->
        <div class="col-12 text-center">
          <h4 class="text-uppercase text-center"><b>Remarks</b></h4>
        </div>
        <!-- <div class="col-4 text-center">
        <div class="line-divider"></div>
      </div> -->
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <form [formGroup]="admissionremarkform" *ngIf="isExistUserAccessMenu('272')">
            <div>
              <div class="row">
                <div class="col-12 text-center">
                  <!-- <label ><b>Admission Test</b></label><br> -->
                  <!-- <mat-form-field class="form-field">
                  <input formControlName="erm_mark_obtained" matInput placeholder="Marks Obtained" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "3">
                </mat-form-field> -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Admission Test Remark</mat-label>
                    <textarea (keyup)="capitalizeString($event)" rows="5" formControlName="erm_remark" matInput
                      placeholder="Admission Test Remarks" [readonly]="viewOnly" required></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
          <br>
          <form [formGroup]="studentremarkform" *ngIf="isExistUserAccessMenu('273')">
            <!-- <div class="row">
          <div class="col-12 text-center">
            <label><b>Student Interaction/ Personal Interview</b></label>
          </div>
        </div>   -->
            <div class="row">
              <div class="col-12">
                <!-- <mat-form-field class="form-field">
                  <input formControlName="erm_mark_obtained" matInput placeholder="Marks Obtained" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "3">
                </mat-form-field> -->
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Student Interaction/ Personal Interviewer's Remarks</mat-label>
                  <textarea (keyup)="capitalizeString($event)" formControlName="erm_remark" rows="5" matInput
                    placeholder="Student Interaction/ Personal Interviewer's Remarks" required></textarea>
                </mat-form-field>
              </div>
            </div>
          </form>
          <br>
          <form [formGroup]="parentremarkform" *ngIf="isExistUserAccessMenu('274')">
            <!-- <div class="row">
          <div class="col-12 text-center">
            <label><b>Parent Interaction/Parent's Interview</b></label>
          </div>
        </div> -->

            <div class="row">
              <div class="col-12">
                <!-- <mat-form-field class="form-field">
                    <input formControlName="erm_mark_obtained" matInput placeholder="Marks Obtained" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "3">
                  </mat-form-field> -->
                  <mat-form-field class="form-field" appearance="outline">
                      <mat-label>Parent Interaction/ Parent's Interviewer's Remarks</mat-label>
                  <textarea (keyup)="capitalizeString($event)" formControlName="erm_remark" rows="5" matInput
                    placeholder="Parent Interaction/Parent's Interviewer's Remarks" required></textarea>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="col-6" *ngIf="isExistUserAccessMenu('322')">
          <table class="table table-borderd table-stripped custom-table"
            *ngIf="marksTableJson2.length > 0">
            <thead class="table-skill__head text-center">
              <tr class="custom-tr">
                <th class="custom-th">S.No</th>
                <th class="custom-th">Parameters</th>
                <th class="custom-th" *ngFor="let item of marksTableJson">
                  <!-- <span *ngIf='item.value["mf_type"]==="subjects"'>{{item.value["sub_name"]}}</span> -->
                  {{item.gt_name}}
                </th>
              </tr>
            </thead>
            <tbody id="marks_remark" class="table-skill__body text-center">
              <ng-container>
                <tr class="custom-tr" *ngFor="let item of marksTableJson2;let i=index;">
                  <td class="custom-td">{{i + 1}}</td>
                  <td class="custom-td">{{item['sub_name']}}</td>
                 
                  <!-- <td class="custom-td">{{item['erms_value']}}</td> -->

                  <!-- <td class="custom-td" *ngFor="let colItem of item['data'] | keyvalue; let j=index"> -->
                    <!-- [formGroup]="dynamicMarksForm[i]"-->
                    
                  <td class="custom-td" *ngFor="let type of marksTableJson3">
                    <form [formGroup]="dynamicMarksForm[i]" *ngIf="item['gt_name'] == type">

                      <span *ngIf="viewOnly">{{item['erms_value']}}</span>
                      <!-- <span *ngIf="!viewOnly && (j !== 0 && j != (markObjectLength -1))"> -->
                      <!-- test {{dynamicMarksForm[i]['value']['col'+colItem?.key]['gf_id']}} -->
                      <mat-form-field *ngIf="!viewOnly && item['gt_name']!=='Grade'"
                        class="form-field remark-input-form">
                        <input type="number" matInput formControlName="col0" (keyup)="letchecktotal($event)" (click)="letchecktotal($event)">
                      </mat-form-field>
                      <mat-form-field *ngIf="!viewOnly && item['gt_name']==='Grade'"
                        class="form-field remark-input-form">
                        <input type="text" matInput formControlName="col0" (click)="letchecktotal($event)">
                      </mat-form-field>
                      <!-- </span> -->
                      <!-- <span *ngIf="!viewOnly && j == 0">
                              {{colItem.value["mf_value"]}}
                          </span>
                          <span *ngIf="!viewOnly && (j == (markObjectLength -1))">
                              {{colItem.value["mf_value"]}}
                          </span> -->
                    </form>
                  </td>

                  
                </tr>
                <tr class="custom-tr">
                  <td>&nbsp;</td>
                  <td>Total</td>
                  <td *ngFor="let item of marksTableJson">
                    {{item.total}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tbody *ngIf="!(marksTableJson.length > 0)">
              <tr>
                <td colspan="6" class="text-center">No Record Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <ng-container *ngIf="isExistUserAccessMenu('275')">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 text-center">
            <h4 class="text-uppercase text-center"><b>Document verification</b></h4>
          </div>
          <div class="col-3"></div>
        </div>
        <br>
        <div class="row">
          <!-- <div class="col-6">
        <table class="table document-table">
          <tr *ngFor="let item of documentsArray;let i =index">
            <td class="document-table--title">{{item.docreq_name}}</td>
            <td>
              <input [disabled]="viewOnly" type="file" class="form-control form-control-sm mv_top" multiple="true"
                (change)="fileChangeEvent($event,item.docreq_id)" [id]="item.docreq_id" style="display: none !important">
              <button mat-stroked-button class="document-btn__greencolor">
                <label [for]="item.docreq_id">
                  Choose File <i class="fas fa-cloud-upload-alt"></i>
                </label>
              </button><br>
              <div class="row">
                <div class="col-lg-4" *ngFor="let img of this.imageArray;let i = index">
                  <div class="row" *ngIf="img.ed_docreq_id === item.docreq_id">
                    <div class="col-lg-12">
                      <div *ngIf="img.ed_docreq_id === item.docreq_id" style="float:right;">
                        <br>
                        <button *ngIf="!viewOnly" mat-button style="border-radius:50% !important; margin-right:30px"
                          (click)="deleteFile(img.imgName,img.ed_docreq_id)"><i class="fas fa-times document-btn__purplecolor"></i></button>
                      </div>
                      <br>
                      <div *ngIf="img.ed_docreq_id === item.docreq_id">
                        <img style="height:80px;width:80px;border:1px solid #646471;border-radius: 4%" [src]="img.imgName"
                          (click)="previewImage(img)">
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
            </td>
            <td><button mat-stroked-button class="document-btn__purplecolor document-col-button" (click)="viewDocumentUploaded(item.docreq_id, item.docreq_name)"
                >View<i class="fas fa-eye"></i></button></td>
            <td><button mat-stroked-button class="document-btn__redcolor" 
                (click)="deleteComplete(item.docreq_id, item.docreq_name)">Delete <i class="far fa-trash-alt"></i></button></td>
          </tr>
        </table>
      </div> -->
          <div class="col-6">
            <mat-card class="document-main-card" *ngFor="let item of documentsArray;let i =index">
              <div class="row margin-bottom-10">
                <div class="col-8">
                  <span class="document-title"><b>{{item.docreq_name}}</b></span>
                </div>
                <div class="col-4">
                  <div class="float-right">
                    <input [disabled]="viewOnly" type="file" class="form-control form-control-sm mv_top" multiple="true"
                      (change)="fileChangeEvent($event,item.docreq_id)" [id]="item.docreq_id"
                      style="display: none !important">
                    <button mat-raised-button class="btn-neutral">
                      <mat-icon class="btn-top-icon">cloud_upload</mat-icon>&nbsp; &nbsp;<label
                        class="btn-document-label" [for]="item.docreq_id">Choose
                        File</label>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <ng-container *ngFor="let img of this.imageArray;let i = index">
                  <div class="col-1 col-doc-img-3 custom-col-15" *ngIf="img.ed_docreq_id === item.docreq_id">
                    <div class="remove-col-padding">
                      <div>
                        <div>
                          <div>
                            <div *ngIf="img.ed_docreq_id === item.docreq_id" style="float:right;">
                              <button *ngIf="!viewOnly" mat-button class="upload-document-delete-btn"
                                (click)="deleteFile(img.imgName,img.ed_docreq_id)">
                                <mat-icon class="btn-upload-icon">delete</mat-icon>
                              </button>
                            </div>
                            <div *ngIf="img.ed_docreq_id ===  item.docreq_id">
                              <img class="btn-doc-upload-preview" [src]="img.imgName"
                                (click)="previewImage(imageArray, i)">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </mat-card>
          </div>
          <div class="col-6" *ngIf="documentFlag && isExistUserAccessMenu('276')">
            <div class="container-outline__white">
              <h6 class="text-uppercase"><b>List of Document Required for Admission</b></h6>
              <ol *ngFor="let item of documentsArray;let i =index">
                <mat-checkbox [disabled]="viewOnly" class="inline-form-doc-checkbox"
                  [checked]="checkVerifiedStatus(item.docreq_id)" [value]="item.docreq_id"
                  (change)="insertVerifyId($event)">
                </mat-checkbox>{{item.docreq_name}}
              </ol>
              <div class="text-center">
                <button mat-raised-button class="btn-success" 
                [disabled]="disableApiCall"
                (click)="verifyDocument()">Verify</button>
              </div>
              <br>
            </div>
          </div>
        </div>
      </ng-container>


      <br>
      <form [formGroup]="finalremarksform" *ngIf="isExistUserAccessMenu('277')">
        <!--  <div class="row">
        <div class="col-3"></div>
      <div class="col-6 text-center">
        <label><b>Final Management Remarks</b></label>
      </div>
      <div class="col-3"></div>
    </div> -->

        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
              <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Final Management Remarks</mat-label>
              <textarea (keyup)="capitalizeString($event)" formControlName="au_final_remark" rows="5" matInput
                placeholder="Final Management Remarks"></textarea>
            </mat-form-field>
            <!-- <mat-checkbox *ngIf="isExistUserAccessMenu('278')" formControlName="au_is_eligible_adimission">Approve
              Admission</mat-checkbox> -->
              <span class="form-field">
              <label>Admission Status: </label>
              <mat-radio-group formControlName="au_is_eligible_adimission">
                <mat-radio-button style="margin-right: 4%;margin-left: 2%;" value="Y">Approve</mat-radio-button>
                <mat-radio-button style="margin-right: 4%;" value="N">Reject</mat-radio-button>
                <mat-radio-button value="">Pending</mat-radio-button>
              </mat-radio-group>
            </span>
            <mat-form-field *ngIf="finalremarksform.value.au_is_eligible_adimission == true" class="form-field" appearance="outline">
              <mat-label>Proposed Class</mat-label>
              <mat-select formControlName="au_process_class" placeholder="Proposed Class" required>
                <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                  {{item.class_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3"></div>
        </div>
      </form>
      <br>
      <br>
      <div class="text-center margin-bottom-65">
        <button mat-raised-button class="btn-success" (click)="updateForm()"
        [disabled]="disableApiCall">Submit</button>
        <button class="btn-danger btn-spacer" mat-raised-button (click)="resetForm()">Reset</button>
      </div>
    </ng-container>


  </div>

</div>