.green {
    color: green;
}
.red {
    color: red;
}

.mat-card {
    padding:5px !important;
}

.overflow {
    overflow-x: auto;
    overflow-y: auto;
    // height: 600px;
}
.edit-color{
    background-color: #ddd;
}
tr.mat-footer-row {
    font-weight: bold;
    text-align: center;
  }
  td.mat-footer-cell{
    border-top: 1px solid #89A8C9 !important;
    border-left: 1px solid #89A8C9 !important;
    border-right: 1px solid #89A8C9 !important;
  }