<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        <h1 class="remove-bottom-margin font-size-24">ClassWork</h1>
      </mat-card-title>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
<mat-card>
<div class="row ">
  <div class="col-12 text-right">
    <div class=""><span class="font-size-16"> Today's Date : </span><span class="font-size-16 font-bold"> 19-July-2019</span></div>
  </div>
  </div>
  <div class="row">
  <div class="col-12">
  <table class="table table-borderd table-stripped custom-table" >
                        <thead class="table-skill__head text-center">
                            <tr class="custom-tr">
                                <th class="custom-th" >Period</th>
                                <th class="custom-th" >Subject</th>
                                <th class="custom-th" >Topic</th>
                                <th class="custom-th" >Sub Topic</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr class="custom-tr">
                            <td class="custom-td">1<sup>st</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>
                          <tr class="custom-tr">
                            <td class="custom-td">2<sup>nd</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>
                          <tr class="custom-tr">
                            <td class="custom-td">3<sup>rd</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>
                          <tr class="custom-tr">
                            <td class="custom-td">4<sup>th</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>
                          <tr class="custom-tr">
                            <td class="custom-td">5<sup>th</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>
                          <tr class="custom-tr">
                            <td class="custom-td ">6<sup>th</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>
                          <tr class="custom-tr">
                            <td class="custom-td">7<sup>th</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>
                          <tr class="custom-tr">
                            <td class="custom-td">8<sup>th</sup></td>
                            <td class="custom-td text-left">Science</td>
                            <td class="custom-td text-left">Health & Hygenie</td>
                            <td class="custom-td text-left">Introduction of Food</td>
                          </tr>

                        </tbody>
                        </table>
  </div>
  </div>
  </mat-card>
 </div>
</div>