.left {
    text-align: left !important;
    padding-left: 5px !important;
}

.flex-container { display: flex; }

.Item {
  flex: 1 0 auto;
}
.table-delete-icon {
  font-size: 16px;
  padding-left: 10px;
  color: #fe756d;
  cursor: pointer;
}
.inline-form-radio-spacing {
  padding-left: 0px;
}
