<div class="book-detial-container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6">
            <span class="font-size-24">Book Details</span>
          </div>
          <div class="col-6 text-right">
            <div class="margin-top-10">
              <button mat-button class="btn-danger" style="border-radius: 5px !important;font-weight: bold"
                (click)="backToListing()">
                <i class="fas fa-chevron-left font-size-14"></i> Go Back
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card *ngIf="bookData?.reserv_id">
        <div class="row">
          <div class="col-2 smart-col-12 remove-col-padding-left">
            <img class="book-detail-img-big"
              [src]="(bookData?.images_links?.smallThumbnail) ? (bookData?.images_links?.smallThumbnail) : 'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_cover.png'">
          </div>
          <div class="col-8 smart-col-88 remove-col-padding">
            <div class="row remove-top-margin">
              <div class="col-8">
                <span class="font-size-20 font-bold">{{bookData?.book_no}}</span><br>
                <span class="font-size-18">{{bookData?.title}}</span><br>
                <span class="font-skyblue font-size-14">{{bookData?.authors}}</span><br>
                <div class="margin-top-35">
                  <span class="font-bold font-size-14">Edition : </span><span>{{bookData?.edition}}</span><br>
                  <span class="font-bold font-size-14">Publisher : </span><span>{{bookData?.authors}}</span><br>
                  <span class="font-bold font-size-14">Pages : </span><span>{{bookData?.pages}}</span><br>
                  <span class="font-bold font-size-14">Location : </span><span>{{bookData?.location}}</span><br>
                </div>
                <hr>
                <div>
                  <p>{{bookData?.description}}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-12 text-right">
                    <span class="font-size-16"><i class="fas fa-book-open font-size-16"></i>
                      {{bookData?.reserv_flagged_status.status ? (bookData?.reserv_flagged_status.status | capitalize) : (bookData?.reserv_status | capitalize)}}
                    </span>
                    <button mat-raised-button class="btn-success-blue btn-spacer"
                      [disabled]="bookData?.reserv_status !=='available'" (click)="reserve_request(bookData)"> Book
                      Reserve Request</button>
                  </div>
                </div>
                <div class="row margin-top-35" *ngIf="bookData?.similarBooks?.length > 0">
                  <div class="col-12">
                    <div class="text-right">
                      <span class="font-bold font-size-16">Similar Books</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-right">
                    <div class="inline-flex">
                      <div *ngFor="let sim of bookData?.similarBooks" class="book-img-small-similar margin-left-15">
                        <img class="book-img-small-similar"
                          [src]="(sim?.images_links?.smallThumbnail) ? sim?.images_links?.smallThumbnail : 'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_cover.png'"
                          style="cursor:pointer" (click)="getBookDetail2(sim.book_no)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card *ngIf="!bookData?.reserv_id">
        <div class="text-center">
          <app-no-data
            [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
            [noDataText]="'Loading....'" [subText]="''"></app-no-data>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<app-book-reserve-request-confirmation #bookReserve></app-book-reserve-request-confirmation>