.teacher-pink-gradiant {
    background: transparent linear-gradient(87deg, #FF839D 0%, #F50B9A 100%) 0% 0% no-repeat padding-box;
    height: 20px;
    width: 20px;
    float: left;
    margin-top: 10px;
}

.student-violet-gradiant {
    background: transparent linear-gradient(34deg, #A2A5F9 0%, #8774F3 100%) 0% 0% no-repeat padding-box;
    height: 20px;
    width: 20px;
    float: left;
    margin-top: 10px;
}

.staff-orange-gradiant {
    background: transparent linear-gradient(0deg, #FDC830 0%, #F37335 100%) 0% 0% no-repeat padding-box;
    height: 20px;
    width: 20px;
    float: left;
    margin-top: 10px;
}

.reissue-gray-gradiant {
    background: transparent linear-gradient(0deg, #EBEBEB 0%, #D2D2D2 100%) 0% 0% no-repeat padding-box;
    height: 20px;
    width: 20px;
    float: left;
    margin-top: 10px;
}

.chart-label {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
}

.chart-label-count {
    color:  #7f7f7f!important;
}

.labeldiv {
    width: 124px;
    text-align: left;
}

.labeldiv2 {
    width: 124px;
    text-align: left;
    float: right;
}

:host ::ng-deep .bookIssuedCountFont{
    font-weight: 700;
    font-size: 68px;
    
}

:host ::ng-deep .bookIssuedText{
    font-weight: normal;
    font-size: 20px;
    color:  #7f7f7f!important;
    fill: #7f7f7f !important;
}

.tab-content-card {
    min-height: 295px;
}

.chart-content-card {
    min-height: 400px;
}

.background-dash-grand {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.padding-8 {
    width: 50%;
}

