<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-6 margin-top-15">
          <span class="font-size-24">Library</span>
        </div>
        <div class="col-6">
          <div class="search-container">
            <form [formGroup]="searchForm">
              <div class="row remove-top-margin">

                <div class="col-8">
                  <mat-form-field class="lib-form form-field">
                    <input matInput placeholder="Search Any Book By Name or ID" formControlName="searchId" />
                  </mat-form-field>
                </div>

                <div class="col-4 margin-top-10  text-right">
                  <a class="cursor-pointer" (click)="openSearchDialog()"><span
                      class="font-size-12 margin-top-15 font-skyblue">Advanced Search <i
                        class="fas fa-chevron-down"></i></span></a>
                  <button mat-button class="btn-spacer btn-lib-search margin-left-10" (click)="search()"
                    (keyup.enter)="search()">
                    Search
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-3 ">
    <mat-card class="card-border-blue">
      <div class="row">
        <div class="col-8">
          <span class="font-size-18 font-medium">Books Added</span>
          <div class="margin-top-15">
            <span class="font-size-14 font-bold font-skyblue">{{dashboardReservoirData?.books_added}}</span>
            <span class="opacity-7 "> Books added in the Library</span>
          </div>
        </div>
        <div class="col-4 text-right">
          <img src="../../../../../../../src/assets/images/Library/dashbook1.svg" />
          <img class="lib-dash-small-icon" src="../../../../../../../src/assets/images/Library/round-add-button.svg" />
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-3 remove-col-padding">
    <mat-card class="card-border-red">
      <div class="row">
        <div class="col-8">
          <span class="font-size-18 font-medium">Books Damaged</span>
          <div class="margin-top-15">
            <span class="font-size-14 font-bold font-color-red">{{dashboardReservoirData?.books_damaged}}</span>
            <span class="opacity-7 "> Books damaged in the Library</span>
          </div>
        </div>
        <div class="col-4 text-right">
          <img src="../../../../../../../src/assets/images/Library/dashbook2.svg" />
          <img class="lib-dash-small-icon" src="../../../../../../../src/assets/images/Library/round-add-button1.svg" />
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-3 remove-col-padding-right">
    <mat-card class="card-border-green">
      <div class="row">
        <div class="col-8">
          <span class="font-size-18 font-medium">Books Availiable</span>
          <div class="margin-top-15">
            <span class="font-size-14 font-bold font-color-green">{{dashboardReservoirData?.books_available}}</span>
            <span class="opacity-7 "> Books availiable in the Library</span>
          </div>
        </div>
        <div class="col-4 text-right">
          <img src="../../../../../../../src/assets/images/Library/dashbook3.svg" />
          <img class="lib-dash-small-icon" src="../../../../../../../src/assets/images/Library/round-add-button2.svg" />
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-3">
    <mat-card class="card-border-gold">
      <div class="row">
        <div class="col-8">
          <span class="font-size-18 font-medium">Books Issued</span>
          <div class="margin-top-15">
            <span class="font-size-14 font-bold font-color-gold">{{dashboardReservoirData?.books_issued}}</span>
            <span class="opacity-7 "> Books issued in the Library</span>
          </div>
        </div>
        <div class="col-4 text-right">
          <img src="../../../../../../../src/assets/images/Library/dashbook4.svg" />
          <img class="lib-dash-small-icon" src="../../../../../../../src/assets/images/Library/round-add-button3.svg" />
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-4 remove-col-padding-right">
    <mat-card class="mat-card-482">
      <div class="row">
        <div class="col-12">
          <span class="font-bold font-size-20">Issued Books</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="font-size-24 text-center">
            <!-- <div class="margin-top-15per"> Chart will goes Here</div> -->
            <app-common-dynamic-chart *ngIf="issuedBookchartflag" [options]="issuedBookchart"
              class="chart-content-card">
            </app-common-dynamic-chart>
            <div class="row">
              <div class="col-6">
                <div class="labeldiv">
                  <div class="teacher-pink-gradiant"></div> <span class="chart-label">Teachers : <span
                      class="chart-label-count">{{issuedToTeacher}}</span></span>
                </div>
                <div class="labeldiv">
                  <div class="student-violet-gradiant"></div> <span class="chart-label">Students : <span
                      class="chart-label-count">{{issuedToStudent}}</span></span>
                </div>
              </div>
              <div class="col-4">
                <div class="labeldiv2">
                  <div class="staff-orange-gradiant"></div> <span class="chart-label">Staff
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span
                      class="chart-label-count">{{issuedToStaff}}</span></span>
                </div>
                <div class="labeldiv2">
                  <div class="reissue-gray-gradiant"></div> <span class="chart-label">Reissued : <span
                      class="chart-label-count">{{reissued}} </span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-8">
    <mat-card>
      <div class="row">
        <div class="col-6">
          <span class="font-bold font-size-20">Due Today</span>
        </div>
        <div class="col-6 text-right margin-top-8">
          <span class="font-size-16">Today : </span>
          <span class="font-size-16 font-color-red font-bold"> {{dashboardDueReservoirData?.total_due_count}}
            Books</span>
        </div>
      </div>
      <div class="row remove-top-margin">
        <div class="col-12">
          <span class=" opacity-7 font-bold font-size-14">{{currentDate | date : 'EEEE dd-MMM-yyyy'}}</span>
        </div>
      </div>
      <div class="row remove-top-margin">
        <div class="col-12">
          <mat-tab-group class="library-dash-group">
            <mat-tab label="Class Wise">
              <div class="row tab-content-card">
                <div class="col-12">
                  <table class="table-100" *ngIf="dashboardDueReservoirData && dashboardDueReservoirData['class']">
                    <tbody>
                      <ng-container *ngFor="let item of dashboardDueReservoirData['class']">
                        <tr *ngIf="item?.dueCount > 0">
                          <th class="font-bold padding-8">{{item?.class_name}}</th>
                          <th class="font-color-red padding-8">{{item?.dueCount}} Books</th>
                        </tr>
                      </ng-container>
                      <tr class="background-dash-grand" *ngIf="dashboardDueReservoirData?.class_total_due_count > 0">
                        <th class="font-bold padding-8 font-size-18 separationwidth"><span>Grand Total</span></th>
                        <th class="font-color-red padding-8 font-size-18">
                          <span>{{dashboardDueReservoirData?.class_total_due_count}} Books</span></th>
                        <th></th>
                      </tr>
                      <tr *ngIf="dashboardDueReservoirData?.class_total_due_count == 0">
                        <td class="text-center" colspan="2">No Record Found</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Teacher Wise">
              <div class="row tab-content-card">
                <div class="col-12">
                  <table class="table-100" *ngIf="dashboardDueReservoirData && dashboardDueReservoirData['teacher']">
                    <tbody>
                      <ng-container *ngFor="let item of dashboardDueReservoirData['teacher']">
                        <tr>
                          <th class="font-bold padding-8">{{item?.au_full_name}}</th>
                          <th class="font-color-red padding-8">{{item?.due_count}} Books</th>
                          <!-- <th><button class="btn-dash-return-button" mat-raised-button>Return</button></th> -->
                        </tr>
                      </ng-container>
                      <tr class="background-dash-grand" *ngIf="dashboardDueReservoirData['teacher'].length > 0">
                        <th class="font-bold padding-8 font-size-18 separationwidth"><span>Grand Total</span></th>
                        <th class="font-color-red padding-8 font-size-18">
                          <span>{{dashboardDueReservoirData?.teacher_total_due_count}} Books</span></th>
                        <th></th>
                      </tr>
                      <tr *ngIf="dashboardDueReservoirData?.teacher_total_due_count == 0">
                        <td class="text-center" colspan="2">No Record Found</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Staff Wise">
              <div class="row tab-content-card">
                <div class="col-12">
                  <table class="table-100" *ngIf="dashboardDueReservoirData && dashboardDueReservoirData['staff']">
                    <tbody>
                      <ng-container *ngFor="let item of dashboardDueReservoirData['staff']">
                        <tr>
                          <th class="font-bold padding-8">{{item?.au_full_name}}</th>
                          <th class="font-color-red padding-8">{{item?.due_count}} Books</th>
                          <!-- <th><button class="btn-dash-return-button" mat-raised-button>Return</button></th> -->
                        </tr>
                      </ng-container>

                      <tr class="background-dash-grand" *ngIf="dashboardDueReservoirData['staff'].length > 0">
                        <th class="font-bold padding-8 font-size-18 separationwidth"><span>Grand Total</span></th>
                        <th class="font-color-red padding-8 font-size-18">
                          <span>{{dashboardDueReservoirData?.staff_total_due_count}} Books</span></th>
                        <th></th>
                      </tr>
                      <tr *ngIf="dashboardDueReservoirData?.staff_total_due_count == 0">
                        <td class="text-center" colspan="2">No Record Found</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Over Due">
              <div class="row tab-content-card">
                <div class="col-12 remove-col-padding">
                  <table class="table-100 custom-table"
                    *ngIf="dashboardDueReservoirData && dashboardDueReservoirData['all'].length > 0">
                    <thead>
                      <tr class="custom-tr text-center">
                        <th class="custom-th">Sr No.</th>
                        <th class="custom-th">Book No</th>
                        <th class="custom-th">Book Name</th>
                        <th class="custom-th">Issued To</th>
                        <th class="custom-th">Issued On</th>

                        <th class="custom-th">Due On</th>
                        <th class="custom-th">Late by</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of dashboardDueReservoirData['all'] | slice:0:7; let i = index;">
                        <!-- <ng-container *ngFor="let subitem of item.reserv_user_logs; let j = index;"> -->
                        <!-- <tr class="custom-tr" *ngIf="getMainLoopLength(i)+j+1 <= 8"> -->
                        <tr class="custom-tr">
                          <!-- <td class="custom-td"><span *ngIf="i > 0">{{ getMainLoopLength(i)+j+1}}</span><span
                              *ngIf="i === 0">{{j+1}}</span></td> -->
                          <td class="custom-td"><span>{{i+1}}</span></td>
                          <td class="custom-td">
                            <span class="font-skyblue cursor-pointer"
                              (click)="openBookModal(item?.reserv_user_logs?.reserv_id)">{{item?.reserv_user_logs?.reserv_id}}</span>
                          </td>
                          <td class="custom-td text-left text-capitalize"><span>{{item?.reserv_user_logs?.title}}</span>
                          </td>
                          <td class="custom-td text-left text-capitalize">{{item?.user_full_name}}</td>
                          <td class="custom-td">{{item?.reserv_user_logs?.issued_on}}</td>
                          <td class="custom-td">{{item?.reserv_user_logs?.due_date}}</td>
                          <td class="custom-td"><span
                              class="font-color-red">{{getDaysDiff(item?.reserv_user_logs?.due_date)}}
                              Days</span></td>
                        </tr>
                        <!-- </tr> -->
                        <!-- </ng-container> -->
                      </ng-container>

                    </tbody>
                  </table>
                  <table class="table-100 custom-table"
                    *ngIf="dashboardDueReservoirData && dashboardDueReservoirData['all'].length  == 0">
                    <tr class="custom-tr text-center">
                      <td class="text-center" colspan="2">No Book Due Till Today</td>
                    </tr>
                  </table>
                  <div class="text-center" >
                    <button mat-button class="btn-spacer btn-lib-search margin-left-10" style="margin-top: 5px;" (click)="viewAllDue()">
                      View All
                    </button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<app-advanced-search-modal (searchOk)="searchOk($event)" #searchModal></app-advanced-search-modal>

<app-book-details-modal #bookDet></app-book-details-modal>