<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-6 remove-col-padding-left margin-top-15">
          <span class="font-size-24">CBSE Marks Analysis</span>
        </div>
        <div class="col-6 remove-col-padding-right text-right">
          <mat-form-field appearance="outline" class="form-field-150">
            <mat-select placeholder="Class" (selectionChange)="getMarks($event.value)">
              <mat-option *ngFor="let item of classArray" [value]="item.class_id">{{item.class_name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="inline-flex">
            <button mat-button class="btn-success-teal btn-spacer " (click)="openUploadDialog()">Upload New</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="report-panel-header">
          <mat-panel-title>
            <span class="font-white font-size-16 text-uppercase">Reports</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="padding-15">
          <div class="row">
            <div class="col-2" *ngFor="let item of cardArray;let i = index">
              <div [class]="item.initialState">
                <div class="cbse-report-box-checked" (click)="excecuteCard(i)">
                  <div [class]="item.class">
                    <img class="cbse_mark_img " [src]="item.img">
                    <div class="margin-top-15"><span class="font-size-14 font-medium">{{item.header}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel [expanded]="secondFlag">
        <mat-expansion-panel-header class="report-panel-header">
          <mat-panel-title>
            <span class="font-white font-size-16 text-uppercase">{{header}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <div class="text-right">
              <i class="fas fa-file-pdf font-size-20 icon-skyblue cursor-pointer"></i>
              <span class="ver-line-divider"></span>
              <i class="fas fa-file-excel font-size-20 icon-orange cursor-pointer"></i>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="previousIndex === 0 && tableFlag">
          <div class="col-12">
            <div class="padding-15">
              <div *ngIf="tableFlag" class="accumulate table-parent">
                <table class="table-stu-data table-100 table-bordered">
                  <thead class="table-skill__head text-center">
                    <tr class="custom-tr">
                      <th class="custom-th-tab-stu-text text-center">#</th>
                      <th class="custom-th-tab-stu-text text-center">ROLL NO.</th>
                      <th class="custom-th-tab-stu-text text-center">SEX</th>
                      <th class="custom-th-tab-stu-text text-center">NAME</th>
                      <th class="custom-th-tab-stu-text text-center" *ngFor="let item of tabHeaderArray">
                        <span style="text-transform: uppercase"> {{item | titlecase}} </span>
                      </th>
                      <th class="custom-th-tab-stu-text text-center">STATUS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="custom-tr" *ngFor="let stu of stuDetailsArray;let i = index;">
                      <td class="custom-td">{{i+1}}</td>
                      <td class="custom-td">{{stu.cma_rollno}}</td>
                      <td class="custom-td">{{stu.cma_sex}}</td>
                      <td class="custom-td">{{stu.cma_student_name | titlecase}}</td>
                      <ng-container *ngFor="let tabItem of tabSubDataArray; let k = index">
                        <ng-container *ngFor="let titem of tabItem.sub_data; let j = index">
                          <ng-container *ngIf="i == k">
                            <td class="custom-td text-center">
                              <span [ngStyle]="{'color': getSubjectColor(titem.sub_code), 'font-weight': 'bold'}">
                                {{titem.sub_code}}</span>
                            </td>
                            <td class="custom-td text-center">{{titem.marks}}</td>
                            <td class="custom-td text-center">
                              <button mat-icon class="grade-btn23" [style.background]="getbtnbg(titem.marks)">
                                {{titem.grade}}
                              </button>
                            </td>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <td class="custom-td text-center">
                        <span [style.color]="checkStatusColor(stu.cma_status)"><b>{{stu.cma_status | uppercase}}</b></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>