<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-6 remove-col-padding-left margin-top-15">
          <span class="font-size-24">CBSE Marks Analysis</span>
        </div>
        <div class="col-6 remove-col-padding-right text-right">
          <mat-form-field appearance="outline" class="form-field-150">
            <mat-select placeholder="Class" (selectionChange)="getMarks($event.value)">
              <mat-option *ngFor="let item of classArray" [value]="item.class_id">{{item.class_name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="inline-flex">
            <button mat-button class="btn-success-teal btn-spacer " (click)="openUploadDialog()">Upload New</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="report-panel-header">
          <mat-panel-title>
            <span class="font-white font-size-16 text-uppercase">Reports</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="padding-15">
          <div class="row">
            <div class="col-2" *ngFor="let item of cardArray;let i = index">
              <div [class]="item.initialState">
                <div class="cbse-report-box-checked" (click)="excecuteCard(i)">
                  <div [class]="item.class">
                    <img class="cbse_mark_img " [src]="item.img">
                    <div class="margin-top-15"><span class="font-size-14 font-medium">{{item.header}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel [expanded]="secondFlag">
        <mat-expansion-panel-header class="report-panel-header">
          <mat-panel-title>
            <span class="font-white font-size-16 text-uppercase">{{header}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <div class="padding-15" *ngIf="previousIndex === 0 && tableFlag">
              <app-common-dynamic-chart [options]="marksRegisterChart"></app-common-dynamic-chart>
              <br>
              <br>
              <angular-slickgrid gridId="grid1" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
                [dataset]="dataset" [gridHeight]="gridHeight" (onAngularGridCreated)="angularGridReady($event)">
              </angular-slickgrid>
            </div>
            <div class="padding-15" *ngIf="previousIndex === 1 && tableFlag">
              <angular-slickgrid gridId="grid2" [columnDefinitions]="columnDefinitions2" [gridOptions]="gridOptions"
                [dataset]="dataset2" [gridHeight]="gridHeight2" (onAngularGridCreated)="angularGridReady2($event)">
              </angular-slickgrid>
            </div>
            <div class="padding-15" *ngIf="dataset.length === 0">
              <div class="text-center margin-top-20" style="margin-bottom:20px !important">
                <img
                  src="https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png">
                <br>
                No Records Found
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>