<div class="search-book">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <mat-card class="padding-5" style="margin-top: 10px !important;margin-bottom: 10px !important">
        <form [formGroup]="searchForm">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="form-field lib-form">
                <input matInput [placeholder]="!searchForm.value.search ? 'Search Any Book By Name And ID..' : ''"
                  formControlName="search" id="search_book" />
              </mat-form-field>
            </div>
            <div class="col-4 text-right">
              <div class="margin-top-10">
                <span class="font-size-12 margin-top-15 font-skyblue" (click)="openSearchDialog()">Advanced Search <i
                    class="fas fa-chevron-down"></i></span>
                <button mat-button class="btn-spacer btn-lib-search margin-left-10" (click)="searchBook()">
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row" *ngIf="!searchFlag">
    <div class="col-12">
      <mat-card class="card-height-730" style="margin-left: 10px !important; margin-right: 10px !important">
        <div class="row margin-top-15per">
          <div class="col-12 text-center">
            <span class="font-size-24 font-bold">No Books Selected</span><br /><br>
            <span class="font-size-18 margin-top-10">It's seems there is no books searched yet. Scan Book or Enter Book
              ID to view availaiable books in library.</span><br /><br>
            <button mat-button class="btn-success-blue margin-top-10" (click)="intitiateSearch()"
              style="width: 140px;height:40px">
              Search Book
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row" [hidden]="!searchFlag">
    <div class="col-12">
      <mat-card style="margin-left: 10px !important; margin-right: 10px !important;height:auto !important">
        <div class="row ">
          <div class="col-8">
            <span class="font-size-20 font-bold">Search Result</span>
          </div>
        </div>
        <div class="grid-view">
          <div class="row margin-top-20">
            <div class="col-1 smart-col-10" style="margin-bottom: 30px !important"
            *ngFor="let item of BOOK_ELEMENT_DATA; let i = index;">
              <div class="book-container">
                <img class="book-cover-img" [src]="item.images_links ?item.images_links.thumbnail : ''" />
                <div [class]="item.book_container_class">
                  <div class="book-title-content text-center" style="padding: 3px !important">
                    <div class="book-first-content" (click)="showSecondDetailDiv(i); $event.stopPropagation();">
                      <span class="font-size-16"><b>{{item.title | truncatetext}}</b></span>
                    </div>
                    <div class="book-second-content" style="padding: 30px !important"
                      (click)="showFirstDetailDiv(i); $event.stopPropagation()">
                      <div class="font-size-12 margin-top-15 font-medium">
                        <b>BOOK ID</b>: {{item.reserv_id}}
                      </div>
                      <span class="font-size-16 font-medium"><b>{{item.title ? item.title : ''}}</b></span><br />
                      <span class="font-size-14 font-medium">{{item.authors}}</span>
                      <div class="font-size-14 margin-top-15 font-medium">
                        <b>Location</b>: {{item.location}}
                      </div>
                      <div class="font-size-14 margin-top-10 font-medium">
                        <b>{{item.reserv_flagged_status.status ? (item.reserv_flagged_status.status | capitalize) : (item.reserv_status | capitalize)}}</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator #paginator [pageSize]="bookpagesize" [pageSizeOptions]="bookpagesizeoptions" showFirstLastButtons
          (page)="pageEvent = fetchData($event)"></mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
<app-advanced-search-modal (searchOk)="searchOk($event)" #searchModal></app-advanced-search-modal>