<div class="row row-remove-top-margin">
  <div class="col-lg-12 col-mobile-view-add-ques question-subtype-col-div">
    <div class="question-subtype-box">
      <div class="question-subtype-content">
        <form [formGroup]="ind_entry_form3" novalidate>
          <!-- <div class="row">
            <div class="col-lg-12 col-mobile-view-add-ques question-subtype-col-div">
              <div class="question-subtype-content-title-question">
                <span>Type questions</span>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-lg-12 col-mobile-view-add-ques question-subtype-col-div">
              <div class="question-subtype-text-box">
                <ckeditor ngDefaultControl required name="mcq-quest" id="mcq-quest" class="text-editor"
                  formControlName="qus_name" #question [config]="ckeConfig" debounce="500">
                </ckeditor>
              </div>
            </div>
          </div>
          <br>
          <div class="option-section">
            <div class="row">
              <div class="col-lg-12 col-mobile-view-add-ques question-subtype-col-div">
                <div class="question-subtype-content-title-question">
                  <span>Select Value</span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6 single-int-col-lg-6 col-apple-70-per remove-col-modal-padding">
                <mat-card>
                  <table style="padding-right: 3px !important">
                    <tr class="text-center double-int-tr">
                      <th>Integer</th>
                      <th>0</th>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                      <th>4</th>
                      <th>5</th>
                      <th>6</th>
                      <th>7</th>
                      <th>8</th>
                      <th>9</th>
                    </tr>
                    <tr class="text-center">
                      <td>Select</td>
                      <td class="double-option-radio" *ngFor="let item of singleIntegerArray; let i = index">
                        <mat-radio-group class="double-int-radio" formControlName="qopt_answer" name="option"
                          (change)="getValue($event)">
                          <mat-radio-button value="{{i}}"></mat-radio-button>
                        </mat-radio-group>
                      </td>
                    </tr>

                  </table>
                </mat-card>
              </div>
              <div class="col-lg-2 single-int-col-lg-2">
                <mat-card class="sing-int-card">
                  <div class="text-center double-int-answer-title">
                    <span class="">Answer</span>
                  </div>
                  <table class="double-int-answer">
                    <tr class="text-center">
                      <th>Integer</th>
                      <td>{{digitValue}}</td>
                    </tr>

                  </table>
                </mat-card>
              </div>
            </div>
            <br>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12 col-mobile-view-add-ques question-subtype-col-div">
              <div class="question-subtype-content-title-expanation">
                <span>Explanation</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-mobile-view-add-ques question-subtype-col-div">
              <div class="question-subtype-text-box">
                <ckeditor ngDefaultControl required name="mcq-explanation" id="mcq-explanation" class="text-editor"
                  formControlName="qus_explanation" #explanationckeditor [config]="ckeConfig" debounce="500">
                </ckeditor>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>