.user-table {
    padding-top: 10px;
    overflow-x: auto;
    width: 100%;
}

tr, th, td {
    padding: 5px;
}

.create-new-user {
    float: right;
    margin-right: 10px;
}

table{
    font-size: 14px;
}


fa-active {
    color: #28a745;
  }
  
  .fa-edit {
    color: #0069d9;
  }
  
  .fa-delete {
    color: #dc3545;
  }