.user-table {
    padding-top: 10px;
    overflow-x: auto;
    width: 100%;
}

tr, th, td {
    padding: 5px;
}

.create-new-user {
    float: right;
    margin-right: 10px;
}

table{
    font-size: 14px;
}


fa-active {
    color: #28a745;
  }
  
  .fa-edit {
    color: #0069d9;
  }
  
  .fa-delete {
    color: #dc3545;
  }
 
  .cdk-column-select{
  width: 3%!important;
}
.mat-column-srno {
  width: 6% !important;
  flex: 0 0 8% !important;
}
td.mat-cell {
  border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
  border: 1px solid #89A8C9 !important;
  border-collapse: collapse;
}
::ng-deep.my-toggle > label > div > div > div.mat-slide-toggle-thumb {
  background-color: #1aed11 !important;
}
::ng-deep.my-toggle > label > div.mat-slide-toggle-bar {
  background-color: #1aed11 !important;
}
.reset-btn{
  background-color: #e11022;
  color: #fff;
  text-transform: uppercase;
  width: 126px;
  height: 32px;
  font-size: 13px;
  line-height: 32px !important;
}