td.cus-td {
    font-size: 13px;
    color: #131313;
    padding: 5px;
}
table {
    border-color: #131313;
}
.border-div {
    border: 2px solid;
    margin-right: -10px;
    margin-left: -10px;
} 
tr > .td-r{
    padding-bottom: 0.3em !important;
    padding-top: 0.9em !important;
}