<div class="custom-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 fin-tab-col-50">
                    <img class="axiom-test-schools-logo" src="{{hosturl+schoolinfoArray.school_logo}}">
                </div>
                <div class="col-lg-6 fin-tab-col-50">
                    <img class="axiom-test-invictus-logo" src="../../../../assets/invictus-logo.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <h4 class="page-heading">{{examDetail.qp_name}}</h4>
            <span>Class : {{examDetail.class_name}} Subject : {{examDetail.sub_name}}</span>
        </div>
    </div>
    <br>
    <mat-card class="detail-question-box-blue">
        <mat-card-content>
            <span class="card-title-left text-uppercase">
                <strong>Instructions</strong>
            </span>
            <span class="card-title-right text-uppercase">Start Time :
                <strong>{{examDetailTemp?.es_start_time}}</strong>
            </span>
            <span class="card-title-right text-uppercase">Total Duration :
                <strong>{{examDetailTemp?.tp_time_alloted}} min.</strong>
            </span>
            <span class="card-title-right text-uppercase">Total Questions :
                <strong>{{examDetailTemp?.tp_marks}}</strong>
            </span>
            <hr>
            <div class="container-cu">
                <h6>Please read the following instructions very carefully.</h6>
                {{examDetailTemp?.ti_description}}
            </div>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="detail-question-box">
        <mat-card-content>
            <form [formGroup]="instruction_form" novalidate>
                <mat-checkbox class="test-init-checkbox" name="instruction-screen" id="instruction-screen"
                    formControlName="ins_read" (click)="insRead()"></mat-checkbox>
                <label for="instruction-screen"> I have read and understood the instructions. I agree that in case of
                    not adhering to the exam instructions
                    I will be disqualified for giving exam.</label>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button mat-raised-button class="submit-button" (click)="startTest()" [disabled]="startTestFlag">Start
                Test</button>
        </div>
    </div>
    <br>
</div>