.document-main-card {
    margin-bottom: 10px;
}

.document-title {
    vertical-align: -webkit-baseline-middle !important;
}

.management-card {
    border: 1px solid black;
}

.report-card {
    // width: 200px;
    height: 200px;
    border: 1px solid #D2D2D2;
    padding: 40px 0px !important;
}

.card-padding-5 {
    padding: 5px !important;
}

.card-height-115 {
    height: 115px !important;
}

.remove-card-padding {
    padding: 0px !important;
}

.bg-component {
    position: absolute;
    top: -9px;
    right: 0;
    width: 150px;
}

.student-yellow-border {
    border: 1px solid #f9ca24;
}

.student-green-border {
    border: 1px solid #6ab04c;
}

.student-darkgreen-border {
    border: 1px solid #22a6b3;
}

.student-red-border {
    border: 1px solid #eb4d4b;
}

.student-purple-border {
    border: 1px solid #7d5fff;
}

// .card-height-600 {
//     min-height: 600px;
// }
// .card-height-605 {
//     min-height: 605px;
// }
// .card-height-760 {
//     min-height: 760px;
// }
// .card-height-810 {
//     min-height: 810px;
// }
// .card-height-830 {
//     min-height: 830px;
// }
// .card-height-440 {
//     min-height: 440px;
// }
// .card-height-677 {
//     min-height: 677px;
// }

.cbse-report-box {
    border: 1px solid #D2D2D2;
    padding: 15px;
}

.upload-container {
    height: 400px;
    width: 100%;
    border: 1px solid #1E88E5;
    background-color: #f2f9ff;
    
}