// .form-field {
//     width: 100%;
// }

// .form-field-80 {
//     width: 80%;
// }

// .student-detail-col-1 {
//     max-width: 10%;
//     flex: 0 0 10%;
// }

// .student-detail-col-3 {
//     max-width: 30%;
//     flex: 0 0 30%;
// }

// .form-feild-top-margin {
//     margin-top: 8px !important;
// }

// // .mat-form-field-label {
// //     font-weight: 600 !important;
// // }

// .mat-form-field.mat-focused .mat-form-field-label {
//     color: #000;
// }

// .mat-form-field.mat-focused .mat-form-field-ripple {
//     background-color: #02ed10;
// }

// .mat-form-field-appearance-outline .mat-form-field-outline-thick {
//     color: #02ed10;
// }

// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//     color: #02ed10;
// }

// .mat-form-field-label  {
//     font-size: 16px !important;
//    }

//    .mat-form-field-appearance-legacy .mat-form-field-label {
//     color: #000000;
// }

// .mat-select-value {
//     color: rgba(0,0,0,.87);
//     font-size: 16px;
// }

//    .mat-input-element {
//        font-size: 16px !important; 
//    }

.form-field {
    width: 100%;
}

.form-field-220 {
    max-width: 220px !important;
}

.form-field-400 {
    max-width: 400px !important;
}

.form-field-150 {
    max-width: 150px !important;
}

.form-field-50 {
    max-width: 50px !important;
}
// .mat-form-field-appearance-legacy .mat-form-field-label {
//     top: 0.8em;
// }

// .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     -webkit-transform: translateY(-0.5em) scale(.9) perspective(100px) translateZ(.001px) !important;
//     transform: translateY(-0.5em) scale(.9) perspective(100px) translateZ(.001px) !important;
//     -ms-transform: translateY(-0.5em) scale(.9) !important;
// }

// input.mat-input-element {
//     margin-top: .625em;
// }

.mat-input-element {
    font-size: 16px !important;
}

// .mat-form-field-label { 
//     font-size: 16px !important;
// }

// .mat-form-field-label-wrapper {
//     top: -1.4375em;
// }

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #007D9E;
}

// .mat-form-field-outline {
//     background-color: rgba(129,195,255, 0.08);
// }

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #005AAB !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(0,90,171,0.87)
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #005AAB !important;
}



// .cheque-control-tool .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
//     padding: 0 0 0 0 !important;
// }

// .cheque-control-tool .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper  .mat-form-field-label {
//     top: 14px !important;
   
// }

mat-form-field.remove-form-field-bottom-margin .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}


.select-css-50 {
    width: 50px;
}

.select-css-100 {
    width: 100px;
}

.select-css {
    display: block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #D8D8D8;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.example-radio-group {
    display: flex;
  flex-direction: column;
  margin: 15px 0;
}