.font-medium {
    font-weight: 500 !important;
}

.font-regular {
    font-weight: 400 !important;
}

.font-bold {
    font-weight: 700 !important;
}

.font-light {
    font-weight: 300 !important;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}


.font-size-15{
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}


h3.font-size-15 {
    font-size: 15px !important; 
}

.font-size-24 {
    font-size: 24px;
}

h1.font-size-24 {
    font-size: 24px !important;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-30 {
    font-size: 30px !important;
}

.font-size-40 {
    font-size: 40px !important;
}


input.enroll-font-30 {
    font-size: 30px !important;
}

.display-inline {
    display: inline-block !important;
}

.middle-align {
    vertical-align: middle !important;
}

.font-white {
    color: #ffffff;
}

.inline-flex {
    display: inline-flex !important;
}

.font-skyblue {
    color: #0C8CEE !important;
}

.font-underline {
    text-decoration: underline;
}

.text-link {
    text-decoration: underline !important;
    cursor: pointer;
}

.vertical-align-sub {
    vertical-align: sub;
}

.font-size-10 {
    font-size: 10px;
}

.cursor-pointer {
    cursor: pointer !important;   
}

.background-white {
    background-color: white;
}

.height-100 {
    height: 100px !important;
}

.ver-line-divider {
border-left: 2px solid #dee2e6;
height: 100%; 
padding-left: 10px;
}

.font-color-gray {
    color: #404040 !important;
}

.font-color-red {
    color: #f52424 !important;
}

.font-color-green {
    color: #4db848 !important;
}

.font-color-brown {
    color: #131313 !important;
    opacity: 70% !important;
}

.col-ver-line-divider {
    border-right: 1px solid #EFEFEF;
}