.main-text-container {
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.report-middle {
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.report-card .main-text-container {
    background-color: rgba(0,0,0,0.8);
    margin-top: -41px !important;
    height: 200px;
    padding-top: 40px;
    cursor: pointer;
  }

  .report-card .report-main-image {
    opacity: 0.2;
    cursor: pointer;
  }

  .report-card .report-middle {
    opacity: 1;
    cursor: pointer;

  }
  .report-check-icon {
      font-size: 48px;
      color: #80FF80;
  }
  .report-card{
    margin-bottom: 20px !important;
    cursor: pointer;
  }
  .report-card-container2 {
    text-align: center !important;
    margin: auto !important;
}

th.mat-header-cell {
  min-width: 150px;
}
.report-panel-header {
  background-color: #007D9E !important;
}


::-webkit-scrollbar { 
  display: none; 
}