.main-text-container {
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.report-middle {
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.report-card .main-text-container {
    background-color: rgba(0,0,0,0.8);
    margin-top: -41px !important;
    height: 200px;
    padding-top: 40px;
    cursor: pointer;
  }

  .report-card .report-main-image {
    opacity: 0.2;
    cursor: pointer;
  }

  .report-card .report-middle {
    opacity: 1;
    cursor: pointer;

  }
  .report-check-icon {
      font-size: 48px;
      color: #80FF80;
  }
  .report-card{
    margin-bottom: 20px !important;
    cursor: pointer;
  }
  .report-card-container2 {
    text-align: center !important;
    margin: auto !important;
}

th.mat-header-cell {
  min-width: 150px;
}
.report-panel-header {
  background-color: #007D9E !important;
}
.report-card1 .main-text-container {
  background-color: rgba(0,0,0,0.8) !important;
  margin-top: -41px !important;
  height: 200px !important;
  padding-top: 40px !important;
  cursor: pointer !important;
}
.report-card1 .report-main-image {
  opacity: 0.2;
  cursor: pointer;
}

.report-card1 .report-middle {
  opacity: 1;
  cursor: pointer;

}
.report-card1{
  margin-bottom: 20px !important;
  cursor: pointer;
  pointer-events: none !important;
  opacity: 0.5;
  height: 200px !important;
  border: 1px solid #D2D2D2;
  padding: 40px 0px !important;
}
td.mat-cell {
  border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
  border: 1px solid #89A8C9 !important;
  border-collapse: collapse;
}
.mat-column-srno {
  width: 3% !important;
  flex: 0 0 8% !important;
}