<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<simple-notifications></simple-notifications> 

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-title>
        <h1 class="remove-bottom-margin font-size-24">Create User & Assign Privileges</h1>
      </mat-card-title>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="Cu_Form" novalidate>
          <div class="row">
            <div class="col-6 pd_left pd_right">
              <div class="bulk-right-side-box-content-title text-center"><b>User Detail</b></div>
              <hr>
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="au_full_name" placeholder="Full Name" required>
                    <mat-error *ngIf="au_full_name.hasError('required')">
                      Full name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="form-field" appearance="outline">
                     <mat-label>Username</mat-label>
                     <input matInput formControlName="au_username" placeholder="Username"
                        autocomplete="off" [readonly]="updateFlag"
                        minlength="6"
                        required>
                     <mat-error *ngIf="au_username.hasError('required')">
                        Username is <strong>required of length min 6</strong>
                     </mat-error>
                  </mat-form-field>
               </div>
                <div class="col-lg-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="au_mobile" placeholder="Mobile Number" required pattern="[0-9]*"
                      maxlength="10">
                    <mat-error *ngIf="au_mobile.hasError('required')">
                      Mobile should be <strong>numbers</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="scheduleDate" min="{{mintoday}}" placeholder="Date of Birth"
                      required formControlName="au_dob" (dateInput)="addEvent('input', $event)"
                      (dateChange)="addEvent('change', $event)">
                    <mat-datepicker-toggle class="calendar-color" matSuffix [for]="scheduleDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #scheduleDate></mat-datepicker>
                    <mat-error *ngIf="au_dob.hasError('required')">
                      DOB is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-lg-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Access Level</mat-label>
                    <mat-select placeholder="Access Level" formControlName="au_role_id" required>
                      <mat-option value="1">Admin</mat-option>
                      <mat-option *ngFor="let item of userdetailArray" [value]="item.role_id">
                        {{item.role_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="col-lg-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="au_email" placeholder="Email" required
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <mat-error *ngIf="au_email.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="au_password" placeholder="Password" type="password" required>
                    <mat-error *ngIf="au_password.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-6 pd_left pd_right">
              <div class="bulk-right-side-box-content-title text-center"><b>User Priviliges</b></div>
              <hr>
              <div class="row">
                <div class="col-lg-6 col-mobile-view-add-ques">


                  <div class="row">
                    <div class="col-lg-12 remove-col-modal-padding">
                      <section class="manage-section">
                        <mat-checkbox name="sms" formControlName="up_allow_sms">Allow to send SMS
                        </mat-checkbox>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 remove-col-modal-padding">
                      <section class="manage-section">
                        <mat-checkbox name="email" formControlName="up_allow_email">Allow to send Email
                        </mat-checkbox>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 remove-col-modal-padding">

                      <section class="manage-section">
                        <mat-checkbox name="change-date" formControlName="up_change_date">Dont Allow to
                          change System Entry Date </mat-checkbox>
                      </section>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 remove-col-modal-padding">

                      <section class="manage-section">
                        <mat-checkbox name="switch" formControlName="up_switch_tp">Allow Switch to
                          Teacher-Parent Dashboard </mat-checkbox>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 remove-col-modal-padding">
                      <section class="manage-section">
                        <mat-checkbox name="read-only" formControlName="up_read_only">Read Only
                        </mat-checkbox>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-lg-12 text-right">
            <button mat-raised-button class="submit-button examSetupBtn" *ngIf="!updateFlag" (click)="addUser()"
              [disabled]="!Cu_Form.valid">Submit</button>
            <button mat-raised-button class="submit-button examSetupBtn" *ngIf="updateFlag"
              (click)="updateUser()">Update</button>
            <button mat-raised-button class="reset-button examSetupBtn" matTooltip="Are you sure want to reset?"
              (click)="saveief()">Reset</button>
            <a [routerLink]="['../manage-access/',userIdManageAccess]">
              <button mat-raised-button class="submit-button examSetupBtn" [disabled]="manageAccessFlag">Manage
                Access</button>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>