.pointer {
    cursor: pointer;
}
.make-pay-btn {
    color: #fff !important;
    background-color: #053b73 !important;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 25px;
}
.make-pay-btn:hover {
    color: #053b73 !important;
    background-color:white !important;
    border: 2px solid #053b73 !important;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 25px;
}
.print-invoice-btn {
    color: white !important;
    background-color: #a1245f !important;
    text-transform: uppercase;
    font-size: 13px;
}
.print-invoice-btn:hover {
    color: #a1245f !important;
    background-color: white  !important;
    border: 2px solid #a1245f !important;
    text-transform: uppercase;
    font-size: 13px;
}
.fa-rupee-sign{
    font-size: 12px!important;
}