[hidden] {
    display: none !important;
  }
.pointer {
    cursor: pointer;
}
.make-pay-btn {
    color: #fff !important;
    background-color: #053b73 !important;
    text-transform: uppercase;
    font-size: 13px;
  
}
.make-pay-btn:hover {
    color: #053b73 !important;
    background-color:white !important;
    border: 2px solid #053b73 !important;
    text-transform: uppercase;
    font-size: 13px;
  
}
.print-invoice-btn {
    color: white !important;
    background-color: #a1245f !important;
    text-transform: uppercase;
    font-size: 13px;
}
.print-invoice-btn:hover {
    color: #a1245f !important;
    background-color: white  !important;
    border: 2px solid #a1245f !important;
    text-transform: uppercase;
    font-size: 13px;
}
.fa-rupee-sign{
    font-size: 12px!important;
}
.mat-column-srno {
    width: 5% !important;
    // flex: 0 0 8% !important;
}
.cdk-column-feehead {
    width: 50%!important;
}
@media only screen and (max-width: 1024px) {
    .cdk-column-feehead {
        width:45%!important;
    }
    .cdk-column-netpay {
        width:11%!important;
    }

    #child-table .cdk-column-feehead {
        width:45%!important;
    }
    #child-table .cdk-column-netpay {
        width:11%!important;
    }

}
td.mat-cell {
    border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
.close-btn {
    cursor: pointer!important;
}
.form-field-60 {
    max-width: 60px !important;
}

:host ::ng-deep #child-table thead{
    display:none
}

:host ::ng-deep #child-table thead{
    display:none
}

:host ::ng-deep #child-table .mat-cell:first-child {
    border-top:none !important;
    border-left:none !important;
    
}

:host ::ng-deep #child-table .mat-cell:last-child {
    border-bottom:none !important;
    
    border-right:none !important;
    
}