
:host ::ng-deep #marks_remark .mat-form-field-infix { 
    
    width:0 !important;
    height:0 !important;
  }

  :host ::ng-deep #marks_remark .table td, .table th {
      vertical-align: middle !important;
  }
  hr {
    margin: 1rem;
    border: 0;
    border-top: 2px solid #899FA5;
}
.mtp-10{
    margin-top:10%;
}