.percentageattendance{
    position: relative;
    left: 26px;
    top: -83px;
    color: #4db848;
    font-size: 20px;
}
.tittleAttendance{
    position: relative;
    top: -67px;
    font-size: 9px;
    left: -22px;
    font-weight: 600;
}
.mat-card{
    padding: 5px;
}
.h-120{
    height: 120px !important;
}