    .user-table {
    padding-top: 10px;
    overflow-x: auto;
    width: 100%;
}

tr, th, td {
    padding: 5px;
}

.create-new-school {
    float: right;
    margin-right: 10px;
}

.form-group-filter {

  margin-bottom: 0rem;
}

.school-logo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.fa-active {
  color: #28a745;
}

.fa-edit {
  color: #0069d9;
}

.fa-delete {
  color: #dc3545;
}

table {
  font-size: 14px;
}

/* css for create new school*/
.create-school-button {
	float: right;
	margin-right: 10px;
}

.submit-button{
	margin-left: 10px;
}

.form-card {
	font-size: 14px;
}

.school-img {
  background-image: url('http://via.placeholder.com/109x145');
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    cursor: pointer;
}
