<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-8">
          <span class="font-size-24 font-medium"> Family Information</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row margin-top-15" *ngIf="childDataArr.length > 0">
  <div class="col-12">
    <mat-card class="card-padding-5 ">
      <div class="row remove-top-margin">
        <span class="primary">Primary Parent</span>
      </div>
      <div class="row remove-top-margin">
        <div class="col-1 custom-fee-entry-col-5 ">
          <div class="row">
            <div class="col-12 text-center">
              <img class="student-profile-image-68" [src]="defaultsrc"
                onError="this.src='https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/man.svg'">
            </div>
          </div>
        </div>
        <div class="col-1 custom-fee-entry-col-12 vertical-divider">
          <div class="row margin-top-1">
            <div class="col-12 text-center">
              <span class="font-size-16 font-bold">{{familyOutstandingArr.epd_parent_name}}</span><br>
              <span class="font-size-14">{{familyOutstandingArr.epd_contact_no}}</span><br>
            </div>
          </div>
        </div>

        <div class="col-1 custom-fee-entry-col-12 vertical-divider">
          <div class="row margin-top-1">
            <div class="col-12 text-center">
              <span class="font-size-16 font-bold">Family No.</span><br>
              <span class="font-size-14">{{familyOutstandingArr.fam_family_name}} - {{familyOutstandingArr.fam_entry_number}}</span><br>
            </div>
          </div>
        </div>

        <div class="col-1 custom-fee-entry-col-12 vertical-divider">
          <div class="row margin-top-1">
            <div class="col-12 text-center">
              <span class="font-size-16 font-bold">Creation Date</span><br>
              <span class="font-size-14">{{familyOutstandingArr.fam_created_date | date: 'd-MMM-y'}}</span><br>
            </div>
          </div>
        </div>
        <div class="col-1 custom-fee-entry-col-12 ">
          <div class="row margin-top-15">
            <div class="col-12 text-center">
              <span class="font-size-16 font-bold">Net outstanding</span><br>
              <span class="font-size-14">&#8377; {{familyOutstandingArr.family_total_outstanding_amt | number}}</span><br>
            </div>
          </div>
        </div>
        <div class="col-5 text-right margin-top-10 " *ngIf="familyOutstandingArr.family_total_outstanding_amt > 0">
          <button mat-button class="font-size-14 font-white  btn-reset" (click)="moveToFamilyReceipt()">Back</button>
          <button mat-button class="font-size-14 margin-left-10 font-white  btn-blue">Print
            Summary</button>
          <button mat-button class="font-size-14 margin-left-10 font-white  btn-pay" (click)="orderPayment(familyOutstandingArr?.fam_entry_number)">Pay
            Now</button>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-12">
          <ng-container>
            <br>
            <!-- <mat-accordion>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header class="family-panel-header">
                  <mat-panel-title>
                    <span class="font-size-14 font-white  ">Admission No. :
                      {{titem.au_admission_no}}</span>
                    <span class="margin-left-right-15 font-white "> | </span>
                    <span class="font-size-14 font-white">Student Name : {{titem.au_full_name}} </span>
                    <span class="margin-left-right-15  font-white "> | </span>
                    <span *ngIf="titem.sec_name != ' ' && titem.sec_name != ''" class="font-size-14 font-white "> Class : {{titem.class_name}} -
                        {{titem.sec_name}}</span>
                    <span *ngIf="titem.sec_name == ' ' || titem.sec_name == ''" class="font-size-14 font-white "> Class : {{titem.class_name}} </span>
                  </mat-panel-title>
                  <span class="font-size-16 font-white text-right margin-left-right-15 "> Net Payable :
                      &#8377; {{titem.outstanding_amt  | number}}</span>
                </mat-expansion-panel-header> -->
                <div class="row">
                  <div class="col-12">
                    <table class="table table-borderd table-stripped custom-table">
                      <thead class="table-skill__head text-center">
                        <tr class="custom-tr">
                          <th class="custom-th">Admission No.</th>
                          <th class="custom-th">Student Name</th>
                          <th class="custom-th">Class</th>
                          <th class="custom-th">Net Payable</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- *ngFor="let det of titem.invoice_data" -->
                        <ng-container *ngFor="let titem of childDataArr let i = index;">
                          <tr>
                            <td class="custom-td text-capitalize" width="8%">{{titem.au_admission_no}}</td>
                            <td class="custom-td text-capitalize text-left" width="80%">{{titem.au_full_name}}</td>
                            <td class="custom-td"  width="5%">
                                <span *ngIf="titem.sec_name != ' ' && titem.sec_name != ''" class="font-size-14"> {{titem.class_name}} -
                                    {{titem.sec_name}}</span>
                                <span *ngIf="titem.sec_name == ' ' || titem.sec_name == ''" class="font-size-14"> {{titem.class_name}} </span>
                            </td>
                            <td class="custom-td text-right"  width="7%">&#8377; {{titem.outstanding_amt  | number}}</td>
                          </tr>                          
                        </ng-container>
                        <tr *ngIf="childDataArr.length == 0">
                            <td colspan="4" class="text-center">No Record Found</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <br>
              <!-- </mat-expansion-panel>
            </mat-accordion> -->
          </ng-container>
          <div class="row">
            <div class="col-12">
              <div class="grey-box ">
                <div class="margin-right-50"><span class="font-size-16 ">Amount in
                    Words : </span><span class="font-size-16 font-medium"> Rupees
                    {{familyOutstandingArr.family_total_outstanding_amt | numberToWord | titlecase}} Only </span><span
                    class="float-right font-size-16 font-medium"><span>Grand Total : </span><span
                      class="font-size-16 font-medium">&#8377; {{familyOutstandingArr.family_total_outstanding_amt  | number}}</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-top-20">
            <!-- <div class="col-12 text-center" *ngIf="familyOutstandingArr.family_total_outstanding_amt > 0">
              <button mat-button class="font-size-14 font-white btn-blue">Print
                Summary</button>
              <button mat-button class="font-size-14 margin-left-10 font-white btn-pay" (click)="orderPayment(familyOutstandingArr?.fam_entry_number)">Pay
                Now</button>
            </div> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div #paytmResponse></div>