<div >
   <div class="row">
      <div class="col-12 ">
         <mat-card class="card-top-title__container">
            <div class="row">
               <div class="col-6">
                  <h1 class="remove-bottom-margin font-size-24">Fee Transaction Entry</h1>
               </div>
               <div class="col-6 text-right">
                  <div class="vertical-align-sub inline-flex">
                     <h3 class="font-size-15 margin-top-2 remove-bottom-margin">Bulk</h3>
                     <mat-slide-toggle checked="true" (change)="gotoIndividual($event)" class="btn-spacer">
                     </mat-slide-toggle>
                     <h3 class="font-size-15 margin-top-2 remove-bottom-margin btn-spacer">Individual</h3>
                  </div>
               </div>
            </div>
         </mat-card>
      </div>
   </div>
   <div class="row">
      <div class="col-12 padding-8">
         <app-common-student-profile [loginId]="lastRecordId" (next2)="next($event)" (prev2)="prev($event)"
            (first2)="first($event)" (last2)="last($event)" (key2)="key($event)" (next)="next2($event)"
            (prev)="prev2($event)" (first)="first2($event)" (last)="last2($event)" (key)="key2($event)"
            (processTypeEmit)="checkEmit($event)" [feeRenderId]="feeRenderId"></app-common-student-profile>
      </div>
   </div>
   <div *ngIf="selectedMode == 1">
   <div [hidden]="!(invoiceArray.length > 0)" class="row ">
      <div class="col-12 padding-8">
         <mat-card class="card-top-title__container">
            <div class="row">
               <div class="col-12">
                 
                        
                     <table mat-table [dataSource]="dataSource" class="text-center table-100">
                        <!-- Position Column -->
                        <ng-container matColumnDef="srno">
                           <th mat-header-cell *matHeaderCellDef>Sr No. </th>
                           <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="feehead">
                           <th mat-header-cell *matHeaderCellDef> Fee Head </th>
                           <td mat-cell *matCellDef="let element" style="text-align: left !important;"> {{element.feehead}}
                           </td>
                        </ng-container>
                        <!-- Weight Column -->
                        <ng-container matColumnDef="feedue">
                           <th mat-header-cell *matHeaderCellDef> Fee Due (<i class="fas fa-rupee-sign"></i>)</th>
                           <td mat-cell *matCellDef="let element; let i = index;"> 
                              {{element.feedue | number}} 
                              <!-- <form [formGroup]="invoiceArrayForm[i]">
                                    <mat-form-field class="form-field lib-form">
                                      <input matInput 
                                        formControlName="feedue" autocomplete="off" [value]="element?.feedue"
                                        (keydown.enter)="setNetPay(element, i)" />
                                    </mat-form-field>
                              </form>    -->
                           </td>
                        </ng-container>
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="concession">
                           <th mat-header-cell *matHeaderCellDef> Concession (<i class="fas fa-rupee-sign"></i>) </th>
                           <td mat-cell *matCellDef="let element;let i = index;"> 
                              {{element.concession | number | zerodash}} 
                              <!-- <form [formGroup]="invoiceArrayForm[i]">
                              <mat-form-field class="form-field lib-form">
                                    <input matInput 
                                      formControlName="concession" autocomplete="off" [value]="element?.concession"
                                      (keydown.enter)="setNetPay(element, i)" />
                                  </mat-form-field>
                                 </form> -->
                           </td>
                        </ng-container>
                        <ng-container matColumnDef="adjustment">
                           <th mat-header-cell *matHeaderCellDef> Adjustment (<i class="fas fa-rupee-sign"></i>)</th>
                           <td mat-cell *matCellDef="let element;let i = index;"> 
                              {{element.adjustment | number | zerodash}} 
                              <!-- <form [formGroup]="invoiceArrayForm[i]">
                              <mat-form-field class="form-field lib-form">
                                    <input matInput 
                                      formControlName="adjustment" autocomplete="off" [value]="element?.adjustment"
                                      (keydown.enter)="setNetPay(element, i)" />
                                  </mat-form-field>
                                 </form> -->
                           </td>
                        </ng-container>
                        <ng-container matColumnDef="netpay">
                           <th mat-header-cell *matHeaderCellDef> Net payable (<i class="fas fa-rupee-sign"></i>) </th>
                           <td mat-cell *matCellDef="let element;let i=index"> 
                              <!-- {{element.netpay | number | zerodash}}  -->
                              <div *ngIf="element?.feehead != 'Previous Balance' && element?.feehead != 'Fine & Penalties' && element?.feehead != 'Previous Received Amt.'">
                              <form [formGroup]="invoiceArrayForm[i]">
                              <mat-form-field class="form-field lib-form">
                                    <input matInput 
                                      formControlName="netpay" autocomplete="off" [value]="element?.netpay"
                                      (keydown.enter)="setNetPay(element, i)" (blur)="setNetPay(element, i)"/>
                                  </mat-form-field>
                                 </form>
                              </div>
                              <div *ngIf="element?.feehead == 'Fine & Penalties' || element?.feehead == 'Previous Received Amt.'">
                                 {{element.netpay | number | zerodash}} 
                              </div>
                           </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                     </table>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <div class="grey-box ">
                     <div class="margin-right-50"><span class="font-size-16 ">Amount in Words : </span><span
                           class="font-size-16 font-medium">Rupees {{invoiceTotal | numberToWord | titlecase}} Only
                        </span><span class="float-right font-size-16 font-medium"><span>Grand Total :</span><span
                              class="font-size-16 font-medium">
                              {{invoiceTotal | number}}</span></span></div>
                  </div>
               </div>
            </div>
         </mat-card>
      </div>
   </div>
   </div>
   <div class="row" *ngIf="!checkStatus()">
      <div class="col-12 ">
         <mat-card class="card-top-form__container">
            <div class="text-center">
               <h4><b>{{'Fee transaction is not available for this Student' | uppercase}}</b></h4>
               <br><span>
                  <h6>Note: Students detail cannot be updated as he/she has been promoted to next session or left.</h6>
               </span>
            </div>
         </mat-card>
      </div>
   </div>
   <form [formGroup]="feeTransactionForm">
      <div *ngIf="checkStatus()" class="row">
         <div class="col-6 ">
            <mat-card class="card-top-form__container card-height-605 card-height-720">
               <div class="row remove-margin">
                  <div class="col-12 remove-col-padding">
                     <div class="row remove-margin remove-padding">
                        <div class="col-6 remove-col-padding-left">
                           <span *ngIf="!(common.isExistUserAccessMenu('368'))"
                              class="font-size-20 font-regular">{{currentDate | date: 'd-MMMM-y'}}</span>
                           <mat-form-field [hidden]="!(common.isExistUserAccessMenu('368'))" appearance="outline"
                              class="form-field">
                              <mat-label>Select Date</mat-label>
                              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [max]="currentDate"
                                 formControlName="ftr_transaction_date" (dateChange)="recaluclateInvoice($event)">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                        </div>
                        <div class="col-6 remove-col-padding-right">
                           <mat-form-field appearance="outline" class="form-field">
                              <mat-label>Entry Mode</mat-label>
                              <mat-select (selectionChange)="getSelectedMode($event)" required placeholder="Select Mode"
                                 formControlName="ftr_emod_id" [(ngModel)]="selectedMode">
                                 <mat-option value="">Please Select</mat-option>
                                 <mat-option *ngFor="let mode of entryModes" [value]="mode?.emod_id">{{mode?.emod_name}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                        </div>
                     </div>
                  </div>

                  <fieldset class="col-12 fieldset_invoice" *ngIf="invoiceArray.length > 0 && selectedMode === '1'">
                     <div class="row margin-top-0 remove-padding">
                        <legend class="invoice_legend">Invoice Details</legend>
                        <div class="col-6 border_right">
                           <div class="row">
                              <div class="font-size-16 font-regular col-sm">Invoice No</div>
                              <div class="font-size-16 font-bold  col-sm">
                                 : <a style="cursor: pointer;" class="font-skyblue font-underline"
                                    (click)="openDialog(invoice.inv_invoice_no, false)">
                                    {{invoice.inv_invoice_no}}
                                 </a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="font-size-16 font-regular col-sm">Fee Period: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.fp_months}}
                              </div>
                           </div>
                           <div class="row">
                              <div class="font-size-16 font-regular col-sm">Invoice Date: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.inv_invoice_date | date: 'd-MMM-y'}}
                              </div>
                           </div>
                           <div class="row">
                              <div class="font-size-16 font-regular col-sm">Due Date </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.inv_due_date | date: 'd-MMM-y'}}
                              </div>
                           </div>
                        </div>
                        <div class="col-6">
                           <div class="row">
                              <div class="font-size-16 font-regular col-sm">Invoice Amount</div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.fee_amount | number}}
                              </div>
                           </div>

                           <div class="row" *ngIf="invoice.balance_amt > 0">
                              <div class="font-size-16 font-regular col-sm">Previous Balance: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.balance_amt ? (invoice.balance_amt | number): 0}}
                              </div>
                           </div>

                           <div class="row" *ngIf="0 > invoice.balance_amt">
                              <div class="font-size-16 font-regular col-sm">Previous Advance: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.balance_amt ? (- invoice.balance_amt | number): 0}}
                              </div>
                           </div>

                           <div class="row">
                              <div class="font-size-16 font-regular col-sm">Fine & Penalties: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.late_fine_amt ? (invoice.late_fine_amt | number): 0}}
                              </div>
                           </div>

                           <div class="row">
                              <div class="font-size-16 font-regular col-sm">Total Amount: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{invoice.netPay | number}}
                              </div>
                           </div>
                           <div class="row" *ngIf="invoiceTotal > invoice.netPay">
                              <div class="font-size-16 font-regular col-sm">Advance: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{ invoiceTotal - invoice.netPay | number}}
                              </div>
                           </div>
                           <div class="row" *ngIf=" invoice.netPay > invoiceTotal ">
                              <div class="font-size-16 font-regular col-sm">Balance: </div>
                              <div class="font-size-16 font-bold col-sm">
                                 : {{  invoice.netPay - invoiceTotal | number}}
                              </div>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </mat-card>
         </div>
         <div class="col-6">
            <mat-card class="card-top-form__container card-height-605 card-height-720">
               <div class="row">
                  <div class="col-3"></div>
                  <div class="col-6">
                     <div class="row">
                        <div class="col-12" *ngIf="selectedMode === '4'">
                           <mat-form-field appearance="outline" class="form-field">
                              <mat-label>Wallet Process</mat-label>
                              <mat-select placeholder="Select wallet process"
                                 formControlName="walletProcess">
                                 <mat-option value="">Please Select</mat-option>
                                 <mat-option *ngFor="let mode of walletProcess" [value]="mode">{{mode | titlecase}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                        </div>
                        <div class="col-12">
                           <mat-form-field appearance="outline" class="form-field ">
                              <mat-label>Payment Mode</mat-label>
                              <mat-select formControlName="ftr_pay_id" placeholder="Payment Mode"
                                 (selectionChange)="setPayAmount($event)" required>
                                 <mat-option value="">Please Select</mat-option>
                                 <mat-option *ngFor="let mode of payModes" [value]="mode.pay_id">{{mode.pay_name}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                        </div>
                     </div>
                  </div>
                  <div class="col-3"></div>
               </div>
               <div *ngIf="feeTransactionForm.value.ftr_pay_id === '1'">
                  <div class="row">
                     <div class="col-3"></div>
                     <div class="col-6">
                        <div class="row">
                           <div class="col-12">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Amount</mat-label>
                                 <input matInput placeholder="Amount" type="number" formControlName="ftr_amount" (keydown.enter)="changeValue($event.target.value)" (blur)="changeValue($event.target.value)"
                                    required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-12">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Remarks</mat-label>
                                 <textarea placeholder="Write your message" required formControlName="ftr_remark"
                                    matInput rows="4"></textarea>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <div class="col-3">
                     </div>
                  </div>
               </div>
               <div *ngIf="feeTransactionForm.value.ftr_pay_id === '4'|| feeTransactionForm.value.ftr_pay_id === '5'
               || feeTransactionForm.value.ftr_pay_id === '6'">
                  <div class="row">
                     <div class="col-2"></div>
                     <div class="col-8">
                        <div class="row">
                           <div class="col-6">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Bank Name</mat-label>
                                 <mat-select placeholder="Bank Name" formControlName="ftr_bnk_id" required>
                                    <mat-option value="">Please Select</mat-option>
                                    <mat-option *ngFor="let bank of banks" [value]="bank.bnk_gid">{{bank.bank_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                           <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Amount</mat-label>
                                 <input matInput placeholder="Amount" type="number" formControlName="ftr_amount" (keydown.enter)="changeValue($event.target.value)" (blur)="changeValue($event.target.value)"
                                    required>
                              </mat-form-field>
                           </div>
                           <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Transaction Id</mat-label>
                                 <input matInput placeholder="Transaction Id" type="number"
                                    formControlName="ftr_transaction_id" required>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-12">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Remarks</mat-label>
                                 <textarea placeholder="Write your message" required formControlName="ftr_remark"
                                    matInput rows="4"></textarea>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <div class="col-2"></div>
                  </div>
               </div>
               <div *ngIf="feeTransactionForm.value.ftr_pay_id === '2'">
                  <div class="row">
                     <div class="col-6">
                        <div class="row">
                           <div class="col-12">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Bank Name</mat-label>
                                 <mat-select placeholder="Bank Name" formControlName="ftr_bnk_id" required>
                                    <mat-option value="">Please Select</mat-option>
                                    <mat-option *ngFor="let bank of banks" [value]="bank.bnk_gid">{{bank.bank_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-12">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Amount</mat-label>
                                 <!-- [readonly]="selectedMode === '1'"-->
                                 <input matInput placeholder="Amount" type="number" formControlName="ftr_amount" (keydown.enter)="changeValue($event.target.value)" (blur)="changeValue($event.target.value)"
                                    required>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="row margin-bottom-10">
                           <div class="col-12">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Remarks</mat-label>
                                 <textarea matInput placeholder="Write your message" formControlName="ftr_remark" 
                                    required rows="6"></textarea>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div *ngIf="feeTransactionForm.value.ftr_pay_id === '3'">
                  <div class="row">
                     <div class="col-12">
                        <div class="row">
                           <!-- <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Deposited Bank</mat-label>
                                 <mat-select placeholder="Bank Name" formControlName="ftr_deposit_bnk_id" required>
                                    <mat-option value="">Please Select</mat-option>
                                    <mat-option *ngFor="let bank of banks" [value]="bank.bnk_gid">{{bank.bank_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div> -->
                           <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Cheque No.</mat-label>
                                 <input matInput placeholder="Cheque No." formControlName="ftr_cheque_no"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    type="number" maxlength="6" required>
                              </mat-form-field>
                           </div>
                           <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Drawn On</mat-label>
                                 <mat-select placeholder="Drawn On" formControlName="ftr_deposit_bnk_id" required>
                                    <mat-option value="">Please Select</mat-option>
                                    <mat-option *ngFor="let bank of allBanks" [value]="bank.tb_id">{{bank.tb_name}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                           <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Branch</mat-label>
                                 <input matInput placeholder="Bank Branch" formControlName="ftr_branch">
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <div class="col-12">
                        <div class="row">
                           <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Amount Chargeable</mat-label>
                                 <input matInput placeholder="Amount Chargeable" type="number" (keydown.enter)="changeValue($event.target.value)" (blur)="changeValue($event.target.value)"
                                    formControlName="ftr_amount" required>
                              </mat-form-field>
                           </div>
                           <div class="col-3">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Cheque Date</mat-label>
                                 <input matInput [matDatepicker]="picker3" placeholder="Choose a date" [max]="currentDate"
                                    formControlName="ftr_cheque_date" required>
                                 <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                 <mat-datepicker #picker3></mat-datepicker>
                              </mat-form-field>
                           </div>
                           <div class="col-6">
                              <mat-form-field appearance="outline" class="form-field">
                                 <mat-label>Remarks</mat-label>
                                 <textarea placeholder="Write your message" matInput rows="2" required
                                    formControlName="ftr_remark"></textarea>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row text-center">
                  <div class="col-12">
                     <button *ngIf="isExist('366')" mat-button class="text-uppercase btn-success" [disabled]="btnDisable"
                        (click)="submit()">submit</button>
                     <button *ngIf="isExist('367')" mat-button class="text-uppercase recalulate-invoice-btn btn-spacer"
                        (click)="saveAndPrint()" [disabled]="btnDisable">save & print</button>
                     <button mat-button class="text-uppercase btn-danger btn-spacer" (click)="reset()">reset</button>
                  </div>
               </div>
            </mat-card>
         </div>
      </div>
   </form>
</div>