/* .user-table {
  padding-top: 10px;
  overflow-x: auto;
  width: 100%;
}

tr, th, td {
  padding: 5px;
}

.form-group-filter {
  margin-bottom: 0rem;
}

.fa-active {
  color: #28a745;
}

.fa-edit {
  color: #0069d9;
}

.fa-delete {
  color: #dc3545;
}

.fa-thumbs-up {
  color: #ffc108;
}

table {
  font-size: 14px;
}

.tmark {
  float: right;
  margin-left: 3%;
  margin-right: 3%;
}
.tmark1 {
  margin-left: 2%;
  margin-right: 1%;
}

.modal-content{
  width: 1401px;
  margin-left: -300px;
  margin-top: 15%;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.top_header {
  background-color: #e6e5df;
}

.mat-header-cell {
  color: #343a40;
  font-weight: 500;
}

.info-card {
  background-color: #e9ecef;
  border: none;
}

mat-header-cell:nth-child(1), mat-cell:nth-child(1) {
  flex:0 0 11%;
}
 */
