td.mat-cell {
    border: 1px solid #89A8C9 !important;
  }
  th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
  }
  .mat-column-counter{
    width: 2% !important;
  }
tr.mat-row:nth-child(even) {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f4f7!important;
}
tr.mat-row:nth-child(odd) {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff!important;
}  