<div class="row">
    <div class="col-12">
        <form [formGroup]="accountsForm" novalidate>
            <div class="row">
                <div class="col-6">
                    <fieldset class="col-12 fieldset_invoice">
                        <legend class="invoice_legend"> <b>Fee Details</b></legend>
                        <div class="col-12 ">
                            <div class="row mar-top-30">
                                <div class="col-sm">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Other Category</mat-label>
                                        <mat-select placeholder="Other Category" [disabled]="viewOnly"
                                            formControlName="accd_fo_id" [errorStateMatcher]="confirmValidParentMatcher"
                                            required>
                                            <mat-option>Please Select</mat-option>
                                            <mat-option *ngFor="let item of feeOtherCategory" [value]="item.fo_id">
                                                {{item.fo_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Applicable Fee Structure</mat-label>
                                        <mat-select placeholder="Applicable Fee Structure" [disabled]="viewOnly"
                                            formControlName="accd_fs_id" [errorStateMatcher]="confirmValidParentMatcher"
                                            required>
                                            <mat-option>Please Select</mat-option>
                                            <mat-option *ngFor="let item of feeStructureArray" [value]="item.fs_id">
                                                {{item.fs_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field appearance="outline" class="form-field">
                                        <mat-label>Additional Fee Component</mat-label>
                                        <mat-select placeholder="Additional Fee Component" [disabled]="viewOnly"
                                            multiple formControlName="accd_afc_id"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                            <!-- <mat-option>Please Select</mat-option> -->
                                            <mat-option *ngFor="let item of additionalFeeComponentArray"
                                                [value]="item.fh_id">{{item.fh_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-12 ">
                            <!-- <div class="row"> 
                                <div class="col-sm margin-top-15 mar-bot-25">
                                    <span>Whether the child has opted for Transport facility. </span>
                                    <mat-slide-toggle class="margin-legt-imp-10" [disabled]="viewOnly"
                                        formControlName="accd_is_transport" (change)="enableTransport($event)">
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-sm margin-top-15">
                                    <span>Whether the child has opted for Hostel facility. </span>
                                    <mat-slide-toggle class="margin-legt-imp-10" [disabled]="viewOnly"
                                        formControlName="accd_is_hostel" (change)="enableHostel($event)">
                                    </mat-slide-toggle>
                                </div>                                
                            </div> -->
                            <mat-radio-group formControlName="optedFacilites" (change)="optedFacilitesEvent($event)" [disabled]="viewOnly">
                                <mat-radio-button class="example-radio-button" value="1">Whether the child has opted for Transport facility</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="2">Whether the child has opted for Hostel facility</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="3">None</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <fieldset class="col-12 fieldset_invoice" *ngIf="transportFlag">
                        <legend class="invoice_legend"> <b>Transport Details</b></legend>
                        <div *ngIf="transportFlag" class="row margin-top-25">
                            <div class="col-6">
                                <div class="col-12 ">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Mode</mat-label>
                                        <mat-select placeholder="Mode" [disabled]="viewOnly"
                                            (ngModelChange)="enableMode($event)" formControlName="accd_transport_mode"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                            <mat-option>Please Select</mat-option>
                                            <mat-option *ngFor="let item of transPortModes" [value]="item.tm_id">
                                                {{item.tm_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Route</mat-label>
                                        <mat-select placeholder="Route" [disabled]="viewOnly"
                                            (selectionChange)="getStoppages($event.value)"
                                            [errorStateMatcher]="confirmValidParentMatcher" formControlName="accd_tr_id"
                                            required>
                                            <mat-option>Please Select</mat-option>
                                            <mat-option *ngFor="let item of routeArray" [value]="item.tr_id">
                                                {{item.tr_route_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Stoppage</mat-label>
                                        <mat-select placeholder="Stoppage" [disabled]="viewOnly"
                                            (selectionChange)="getSlab($event.value)"
                                            [errorStateMatcher]="confirmValidParentMatcher" required
                                            formControlName="accd_tsp_id">
                                            <mat-option>Please Select</mat-option>
                                            <mat-option *ngFor="let item of stoppageArray" [value]="item.tsp_id">
                                                {{item.tsp_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Applicable Slab</mat-label>
                                        <mat-select placeholder="Applicable Slab" disabled [(ngModel)]="slabModel"
                                            [errorStateMatcher]="confirmValidParentMatcher" formControlName="accd_ts_id"
                                            required>
                                            <mat-option *ngFor="let item of slabArray" [value]="item.ts_id">
                                                {{item.ts_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Applicable Form</mat-label>
                                        <input matInput [matDatepicker]="picker" [max]="maxDate" [readonly]="viewOnly"
                                            placeholder="ApplicableFrom" formControlName="accd_transport_from"
                                            [errorStateMatcher]="confirmValidParentMatcher" required />
                                        <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker"
                                            [disabled]="viewOnly">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker tabindex="-1" #picker [disabled]="viewOnly"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm" *ngIf="terminationFlag && transportFlag">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Termination Date</mat-label>
                                        <input matInput [matDatepicker]="picker" [max]="maxDate" [readonly]="viewOnly"
                                            placeholder="Termination Date" formControlName="accd_transport_to"
                                            [errorStateMatcher]="confirmValidParentMatcher" required />
                                        <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker"
                                            [disabled]="viewOnly">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker tabindex="-1" #picker [disabled]="viewOnly"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm" *ngIf="modeFlag">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea formControlName="accd_remark"
                                            [errorStateMatcher]="confirmValidParentMatcher" matInput
                                            placeholder="Remarks" [readonly]="viewOnly" rows="5"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row" *ngIf="transportFlag">
                        <div class="col-12">
                            <span>{{terminateStatus}} </span>
                            <mat-slide-toggle *ngIf="modeFlag && transportFlag" [disabled]="viewOnly"
                                (change)="terminate($event)" formControlName="accd_is_terminate">
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <fieldset class="col-12 fieldset_invoice">
                        <legend class="invoice_legend"> <b>Concession</b></legend>
                        <div class="row mar-top-30">
                            <div class="col-6">
                                <div class="col-sm">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Concession Group</mat-label>
                                        <mat-select placeholder="Concession Group" [disabled]="viewOnly"
                                            formControlName="accd_fcg_id"
                                            [errorStateMatcher]="confirmValidParentMatcher"
                                            (selectionChange)="setDescription($event)">
                                            <mat-option>Please Select</mat-option>
                                            <mat-option *ngFor="let item of conGroupArray" [value]="item.fcg_id">
                                                {{item.fcg_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-sm" *ngIf="conDescFlag">
                                    <mat-form-field appearance="outline" class="form-field">
                                        <mat-label>Reason For Approve Concession</mat-label>
                                        <mat-select placeholder="Reason For Approve Concession" [disabled]="viewOnly"
                                            formControlName="accd_reason_id"
                                            [errorStateMatcher]="confirmValidParentMatcher" required>
                                            <mat-option>Please Select</mat-option>
                                            <mat-option *ngFor="let item of reasonArr" [value]="item.reason_id">
                                                {{item.reason_title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <div class="col-6" *ngIf="conDescFlag">
                                <div class="col-sm">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea formControlName="accd_remark_id"
                                            [errorStateMatcher]="confirmValidParentMatcher" matInput
                                            placeholder="Remarks" [readonly]="viewOnly" rows="1" required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="conDescFlag">
                            <div class="col-2 padding-left-20" *ngIf="!viewOnly">
                                <input [disabled]="viewOnly" type="file" class="form-control form-control-sm mv_top"
                                    multiple="true" (change)="fileChangeEvent($event,docreq_id)" id="docreq_id"
                                    style="display: none !important">
                                <a class=" text-center cursor-pointer" *ngIf="!viewOnly">
                                    <mat-icon class="mar-top-20-neagtive  cloud-icon cursor-pointer btn-top-icon">
                                        cloud_upload
                                    </mat-icon>&nbsp; &nbsp;<label class="sis-btn-document-label cursor-pointer"
                                        for="docreq_id">Choose
                                        File</label>
                                </a>
                            </div>
                            <div class="col-1 pad-left-22" *ngIf="conDescFlag && concession_document">
                                <div style="float:right;">
                                    <!-- <button *ngIf="!viewOnly" mat-button class="upload-document-delete-btn"
                                        (click)="deleteFile(img.imgName,img.ed_docreq_id)">
                                        <mat-icon class="btn-upload-icon">delete</mat-icon>
                                    </button> -->
                                </div>
                                <!-- <img *ngIf="checkThumbnail(img.imgName)" class="btn-doc-upload-preview thumbnail-img"
                                    [src]="img.imgName" (click)="previewImage(imageArray, i)"> -->
                                <img class="btn-doc-upload-preview-1 thumbnail-img" src="{{concession_document}}"
                                    (click)="previewImage(concessionArray, 0)"><br>

                                <br>
                            </div>
                            <div class="col-9 remove-col-padding" *ngIf="conDescFlag">
                                <div class="col-sm margin-left-15 pad-bot-10">
                                    Description: {{conDesc}} <span *ngIf="conStatus === 'approved'"
                                        class="approved">{{conStatus | capitalize}}</span>
                                    <span *ngIf="conStatus === 'pending'"
                                        class="pending">{{conStatus | capitalize}}</span>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <br>
                    <fieldset class="col-12 fieldset_invoice" *ngIf="hostelFlag">
                        <legend class="invoice_legend"> <b>Hostel details</b></legend> 
                        <div *ngIf="hostelFlag" class="row margin-top-30">
                            <div class="col-6 ">
                                <div class="row">
                                    <div class="col-12 ">
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>Applicable Hostel Fee</mat-label>
                                            <mat-select placeholder="Applicable Hostel Fee" [disabled]="viewOnly"
                                                formControlName="accd_hostel_fs_id">
                                                <mat-option value="">Please Select</mat-option>
                                                <mat-option *ngFor="let item of hostelFeeStructureArray" [value]="item.fs_id">
                                                    {{item.fs_name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 ">
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>Applicable From</mat-label>
                                            <input matInput [matDatepicker]="picker3" [max]="maxDate" [readonly]="viewOnly"
                                                placeholder="Application From" formControlName="accd_hostel_from"
                                                [errorStateMatcher]="confirmValidParentMatcher" required />
                                            <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker3"
                                                [disabled]="viewOnly">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker tabindex="-1" #picker3 [disabled]="viewOnly"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="hostelTerminateFlag && hostelFlag" class="col-12 ">
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>Applicable To</mat-label>
                                            <input matInput [matDatepicker]="picker4" [max]="maxDate" [readonly]="viewOnly"
                                                placeholder="Hostel Termination Date" formControlName="accd_hostel_to"
                                                [errorStateMatcher]="confirmValidParentMatcher" required />
                                            <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker4"
                                                [disabled]="viewOnly">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker tabindex="-1" #picker4 [disabled]="viewOnly"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 ">
                                <div class="row">
                                    <div class="col-12 ">
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>Hostel Building</mat-label>
                                            <mat-select placeholder="Hostel Building" [disabled]="viewOnly"
                                                formControlName="hs_building" (selectionChange)="getRoom();accountsForm.controls.hs_room.reset()" required>
                                                <mat-option value="">Please Select</mat-option>
                                                <mat-option *ngFor="let item of buildingArray" [value]="item.hc_id">
                                                    {{item.hc_name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 ">
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>Hostel Room</mat-label>
                                            <mat-select placeholder="Hostel Room" [disabled]="viewOnly"
                                                formControlName="hs_room" (selectionChange)="getBed();accountsForm.controls.hs_bed.reset()" required>
                                                <mat-option value="">Please Select</mat-option>
                                                <mat-option *ngFor="let item of roomArray" [value]="item.hc_id">
                                                    {{item.hc_name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 ">
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>Hostel Bed</mat-label>
                                            <mat-select placeholder="Hostel Bed" [disabled]="viewOnly"
                                                formControlName="hs_bed" required (selectionChange)="isAllocatedToStudent()">
                                                <mat-option value="">Please Select</mat-option>
                                                <mat-option *ngFor="let item of bedArray" [value]="item.hc_id">
                                                    {{item.hc_name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row" *ngIf="hostelFlag">
                        <div class="col-12">
                            <span>{{hostelStatus}} </span>
                            <mat-slide-toggle *ngIf="hostelFlag " [disabled]="viewOnly" (change)="hostel($event)"
                                formControlName="accd_is_hostel_terminate">
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>

            </div>


            <!--             
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 remove-col-padding">
                    <div class="row ">
                        <div class="inline-flex margin-left-15">
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Concession Group</mat-label>
                                <mat-select placeholder="Concession Group" [disabled]="viewOnly"
                                    formControlName="accd_fcg_id" [errorStateMatcher]="confirmValidParentMatcher"
                                    (selectionChange)="setDescription($event)">
                                    <mat-option>Please Select</mat-option>
                                    <mat-option *ngFor="let item of conGroupArray" [value]="item.fcg_id">
                                        {{item.fcg_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm" *ngIf="conDesc">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>Reason For Approve Concession</mat-label>
                                <mat-select placeholder="Reason For Approve Concession" [disabled]="viewOnly"
                                    formControlName="accd_reason_id" [errorStateMatcher]="confirmValidParentMatcher"
                                    required>
                                    <mat-option>Please Select</mat-option>
                                    <mat-option *ngFor="let item of reasonArr" [value]="item.reason_id">
                                        {{item.reason_title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm" *ngIf="conDesc">
                            <mat-form-field appearance="outline" class="form-field-320">
                                <mat-label>Remarks</mat-label>
                                <input matInput placeholder="Remarks" formControlName="accd_remark_id"
                                    [readonly]="viewOnly" required>
                            </mat-form-field>
                        </div>
                        <div class="col-sm" *ngIf="conDesc">
                            <input [disabled]="viewOnly" type="file" class="form-control form-control-sm mv_top"
                                multiple="true" (change)="fileChangeEvent($event,docreq_id)" id="docreq_id"
                                style="display: none !important">

                            <a class=" text-center cursor-pointer" *ngIf="!viewOnly">
                                <mat-icon class="margin-top-10  cloud-icon cursor-pointer btn-top-icon">cloud_upload
                                </mat-icon>&nbsp; &nbsp;<label class="sis-btn-document-label cursor-pointer"
                                    for="docreq_id">Choose
                                    File</label>
                            </a>
                        </div>
                        <div class="col-12 remove-col-padding">
                            <div class="col-sm margin-left-15 pad-bot-10" *ngIf="conDesc">
                                Description: {{conDesc}} <span *ngIf="conStatus === 'approved'"
                                    class="approved">{{conStatus | capitalize}}</span>
                                <span *ngIf="conStatus === 'pending'" class="pending">{{conStatus | capitalize}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 remove-col-padding">
                    <div class="row">
                        <div class="col-sm margin-top-15 ">
                            <mat-checkbox [disabled]="viewOnly" formControlName="accd_is_transport"
                                (change)="enableTransport($event)">Whether the child has opted for Transport facility
                            </mat-checkbox>
                        </div>
                        <div class="col-sm margin-top-15">
                            <mat-checkbox [disabled]="viewOnly" formControlName="accd_is_hostel"
                                (change)="enableHostel($event)">
                                Whether the child has opted for Hostel facility.</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="transportFlag" class="row">
                <div class="col-12">
                    <span class="font-medium"><strong>Transport Details</strong></span>
                </div>
            </div>

            <div *ngIf="transportFlag" class="row margin-top-15">
                <div class="col-12 col-sm col-md-4 col-lg-2 col-xl-2">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Mode</mat-label>
                        <mat-select placeholder="Mode" [disabled]="viewOnly" (ngModelChange)="enableMode($event)"
                            formControlName="accd_transport_mode" [errorStateMatcher]="confirmValidParentMatcher"
                            required>
                            <mat-option>Please Select</mat-option>
                            <mat-option *ngFor="let item of transPortModes" [value]="item.tm_id">{{item.tm_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Route</mat-label>
                        <mat-select placeholder="Route" [disabled]="viewOnly"
                            (selectionChange)="getStoppages($event.value)"
                            [errorStateMatcher]="confirmValidParentMatcher" formControlName="accd_tr_id" required>
                            <mat-option>Please Select</mat-option>
                            <mat-option *ngFor="let item of routeArray" [value]="item.tr_id">{{item.tr_route_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Stoppage</mat-label>
                        <mat-select placeholder="Stoppage" [disabled]="viewOnly"
                            (selectionChange)="getSlab($event.value)" [errorStateMatcher]="confirmValidParentMatcher"
                            required formControlName="accd_tsp_id">
                            <mat-option>Please Select</mat-option>
                            <mat-option *ngFor="let item of stoppageArray" [value]="item.tsp_id">{{item.tsp_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Applicable Slab</mat-label>
                        <mat-select placeholder="Applicable Slab" disabled [(ngModel)]="slabModel"
                            [errorStateMatcher]="confirmValidParentMatcher" formControlName="accd_ts_id" required>
                            <mat-option *ngFor="let item of slabArray" [value]="item.ts_id">{{item.ts_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm" *ngIf="modeFlag && transportFlag">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Application Form</mat-label>
                        <input matInput [matDatepicker]="picker" [max]="maxDate" [readonly]="viewOnly"
                            placeholder="ApplicableFrom" formControlName="accd_transport_from"
                            [errorStateMatcher]="confirmValidParentMatcher" required />
                        <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker" [disabled]="viewOnly">
                        </mat-datepicker-toggle>
                        <mat-datepicker tabindex="-1" #picker [disabled]="viewOnly"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm" *ngIf="terminationFlag && transportFlag">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Termination Date</mat-label>
                        <input matInput [matDatepicker]="picker" [max]="maxDate" [readonly]="viewOnly"
                            placeholder="Termination Date" formControlName="accd_transport_to"
                            [errorStateMatcher]="confirmValidParentMatcher" required />
                        <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker" [disabled]="viewOnly">
                        </mat-datepicker-toggle>
                        <mat-datepicker tabindex="-1" #picker [disabled]="viewOnly"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm" *ngIf="modeFlag">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Remarks</mat-label>
                        <input matInput placeholder="Remarks" formControlName="accd_remark" [readonly]="viewOnly">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-checkbox *ngIf="modeFlag && transportFlag" [disabled]="viewOnly" (change)="terminate($event)"
                        formControlName="accd_is_terminate">{{terminateStatus}}</mat-checkbox>
                </div>
            </div>
            <div *ngIf="hostelFlag" class="row">
                <div class="col-12">
                    <span class="font-medium"><strong>Hostel Details</strong></span>
                </div>
            </div>
            <div *ngIf="hostelFlag" class="row margin-top-15">
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Applicable Hostel Fee</mat-label>
                        <mat-select placeholder="Applicable Hostel Fee" [disabled]="viewOnly"
                            formControlName="accd_hostel_fs_id">
                            <mat-option value="">Please Select</mat-option>
                            <mat-option *ngFor="let item of hostelFeeStructureArray" [value]="item.fs_id">
                                {{item.fs_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Applicable From</mat-label>
                        <input matInput [matDatepicker]="picker3" [max]="maxDate" [readonly]="viewOnly"
                            placeholder="Application From" formControlName="accd_hostel_from"
                            [errorStateMatcher]="confirmValidParentMatcher" required />
                        <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker3" [disabled]="viewOnly">
                        </mat-datepicker-toggle>
                        <mat-datepicker tabindex="-1" #picker3 [disabled]="viewOnly"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="hostelTerminateFlag && hostelFlag" class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Applicable To</mat-label>
                        <input matInput [matDatepicker]="picker4" [max]="maxDate" [readonly]="viewOnly"
                            placeholder="Hostel Termination Date" formControlName="accd_hostel_to"
                            [errorStateMatcher]="confirmValidParentMatcher" required />
                        <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker4" [disabled]="viewOnly">
                        </mat-datepicker-toggle>
                        <mat-datepicker tabindex="-1" #picker4 [disabled]="viewOnly"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-checkbox *ngIf="hostelFlag" [disabled]="viewOnly" (change)="hostel($event)"
                        formControlName="accd_is_hostel_terminate">{{hostelStatus}}</mat-checkbox>
                </div>
            </div> -->
            <br>
        </form>


    </div>
</div>