<form [formGroup]="accountsForm" novalidate>
  <div class="row margin-top-15">
     <div class="col-6">
        <mat-form-field  class="form-field" appearance="outline">
           <mat-label>Other Category</mat-label>
           <mat-select placeholder="Other Category"  [disabled]="viewOnly"
           formControlName="accd_fo_id" [errorStateMatcher]="confirmValidParentMatcher" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of feeOtherCategory" [value]="item.fo_id">{{item.fo_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
     <div class="col-6">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Applicable Fee Structure</mat-label>
           <mat-select placeholder="Applicable Fee Structure" [disabled]="viewOnly"
           formControlName="accd_fs_id" [errorStateMatcher]="confirmValidParentMatcher" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of feeStructureArray" [value]="item.fs_id">{{item.fs_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
  </div>
  <div class="row">
     <div class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Concession Group</mat-label>
           <mat-select placeholder="Concession Group" [disabled]="viewOnly"
           formControlName="accd_fcg_id" [errorStateMatcher]="confirmValidParentMatcher">
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of conGroupArray" [value]="item.fcg_id">{{item.fcg_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
     <div class="col-4 margin-top-20 text-center ">
        <mat-checkbox  [disabled]="viewOnly"
        formControlName="accd_is_transport" (change)="enableTransport($event)">Whether the child has opted for Transport facility</mat-checkbox>
     </div>
     <div class="col-4 margin-top-20 text-center">
        <mat-checkbox  [disabled]="viewOnly"
        formControlName="accd_is_hostel" (change)="enableHostel($event)">Whether the child has opted for Hostel facility.</mat-checkbox>
     </div>
  </div>
  <div *ngIf="transportFlag" class="row">
     <div class="col-12">
        <span class="font-medium">Transport Details</span>
     </div>
  </div>
  <div *ngIf="transportFlag" class="row margin-top-15">
     <div class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Mode</mat-label>
           <mat-select placeholder="Mode" [disabled]="viewOnly"
           (ngModelChange)="enableMode($event)" formControlName="accd_transport_mode" 
           [errorStateMatcher]="confirmValidParentMatcher" required>
           <mat-option>Please Select</mat-option>
           <mat-option *ngFor="let item of transPortModes" [value]="item.tm_id">{{item.tm_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
     <div *ngIf="modeFlag && transportFlag" class="col-3">
        <mat-form-field  class="form-field" appearance="outline">
           <mat-label>Route</mat-label>
           <mat-select placeholder="Route" [disabled]="viewOnly" (selectionChange)="getStoppages($event)"
              [errorStateMatcher]="confirmValidParentMatcher" formControlName="accd_tr_id" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of routeArray" [value]="item.tr_id">{{item.tr_route_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
     <div *ngIf="modeFlag && transportFlag" class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Stoppage</mat-label>
           <mat-select placeholder="Stoppage" [disabled]="viewOnly" (selectionChange)="getSlab($event)"
              [errorStateMatcher]="confirmValidParentMatcher" required formControlName="accd_tsp_id">
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of stoppageArray" [value]="item.tsp_id">{{item.tsp_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
     <div *ngIf="modeFlag && transportFlag" class="col-3">
        <mat-form-field  class="form-field" appearance="outline">
           <mat-label>Applicable Slab</mat-label>
           <mat-select placeholder="Applicable Slab" [disabled]="viewOnly" [(ngModel)]="slabModel"
              [errorStateMatcher]="confirmValidParentMatcher" formControlName="accd_ts_id" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let item of slabArray" [value]="item.ts_id">{{item.ts_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
  </div>
  <div *ngIf="transportFlag" class="row margin-top-15">
     <div *ngIf="modeFlag && transportFlag" class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Application Form</mat-label>
           <input  matInput [matDatepicker]="picker" [max]="maxDate" [readonly]="viewOnly"
           placeholder="ApplicableFrom" formControlName="accd_transport_from" 
           [errorStateMatcher]="confirmValidParentMatcher" required
           />
           <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker" [disabled]="viewOnly"></mat-datepicker-toggle>
           <mat-datepicker tabindex="-1" #picker [disabled]="viewOnly"></mat-datepicker>
        </mat-form-field>
     </div>
     <div *ngIf="terminationFlag && transportFlag" class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Termination Date</mat-label>
           <input  matInput [matDatepicker]="picker" [max]="maxDate" [readonly]="viewOnly"
           placeholder="Termination Date" formControlName="accd_transport_to" 
           [errorStateMatcher]="confirmValidParentMatcher" required
           />
           <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker" [disabled]="viewOnly"></mat-datepicker-toggle>
           <mat-datepicker tabindex="-1" #picker [disabled]="viewOnly"></mat-datepicker>
        </mat-form-field>
     </div>
     <div *ngIf="modeFlag" class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Remarks</mat-label>
           <input matInput placeholder="Remarks" formControlName="accd_remark" [readonly]="viewOnly">
        </mat-form-field>
     </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-checkbox *ngIf="modeFlag && transportFlag"  [disabled]="viewOnly"
  (change)="terminate($event)" formControlName="accd_is_terminate">{{terminateStatus}}</mat-checkbox>
    </div>
  </div>
  <div *ngIf="hostelFlag" class="row">
     <div class="col-12">
        <span class="font-medium">Hostel Details</span>
     </div>
  </div>
  <div *ngIf="hostelFlag" class="row margin-top-15">
     <div class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Applicable Hostel Fee</mat-label>
           <mat-select placeholder="Applicable Hostel Fee" [disabled]="viewOnly"
           formControlName="accd_hostel_fs_id">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of hostelFeeStructureArray" [value]="item.fs_id">{{item.fs_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
     <div class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Hostel Concession</mat-label>
           <mat-select placeholder="Hostel Concession" [disabled]="viewOnly"
           formControlName="accd_hostel_fcc_id">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of hostelConGroupArray" [value]="item.fcg_id">{{item.fcg_name}}</mat-option>
           </mat-select>
        </mat-form-field>
     </div>
     <div class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Applicable From</mat-label>
           <input  matInput [matDatepicker]="picker3" [max]="maxDate" [readonly]="viewOnly"
           placeholder="Application From" formControlName="accd_hostel_from" 
           [errorStateMatcher]="confirmValidParentMatcher" required
           />
           <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker3" [disabled]="viewOnly"></mat-datepicker-toggle>
           <mat-datepicker tabindex="-1" #picker3 [disabled]="viewOnly"></mat-datepicker>
        </mat-form-field>
     </div>
     <div *ngIf="hostelTerminateFlag && hostelFlag" class="col-3">
         <mat-form-field  class="form-field" appearance="outline">
               <mat-label>Application To</mat-label>
           <input  matInput [matDatepicker]="picker4" [max]="maxDate" [readonly]="viewOnly" 
           placeholder="Hostel Termination Date" formControlName="accd_hostel_to" 
           [errorStateMatcher]="confirmValidParentMatcher" required
           />
           <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker4" [disabled]="viewOnly"></mat-datepicker-toggle>
           <mat-datepicker tabindex="-1" #picker4 [disabled]="viewOnly"></mat-datepicker>
        </mat-form-field>
     </div>
  </div>
  <div class="row">
     <div class="col-12">
        <mat-checkbox *ngIf="hostelFlag" [disabled]="viewOnly"
         (change)="hostel($event)" formControlName="accd_is_hostel_terminate">{{hostelStatus}}</mat-checkbox>
     </div>
  </div>
  <br>
</form>