<div class="row">
  <div class="col-12">
    <mat-card class="card-height-850-lp card-height-960">
      <div class="row">
        <div class="col-6">
          <span class="font-size-24 font-medium">Add Syllabus</span>
        </div>
        <div class="col-6 text-right">
          <span class="font-size-16 font-regular font-color-gray ">No. of Period Available</span><button mat-mini-fab
            class="btn-blue margin-left-10"><span class="font-white font-size-16">-</span></button>
        </div>
      </div>
      <div class="row">
        
        <div class="col-2 col-ver-line-divider">
            <form [formGroup]="parameterform" novalidate>
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Class</mat-label>

                <mat-select formControlName="class_id"
                  (selectionChange)="getSubjectsByClass()" required
                  placeholder="Select Class">
                  <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                    {{item.class_name}}
                  </mat-option>
              </mat-select>

              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Subject</mat-label>
                <mat-select formControlName="sub_id" required  placeholder="Select Subject">
                    <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                      {{item.sub_name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Term</mat-label>
                <mat-select formControlName="term_id" required  placeholder="Select Term">
                    <mat-option *ngFor="let item of termArray" [value]="item.term_id">
                      {{item.term_name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding text-center">
              <button mat-raised-button class="btn-add">Add</button>
            </div>
          </div>
        </form>
        </div>
        

        <div class="col-10">
          <div class="row">
            <div class="col-12 remove-col-padding">
              <table class="table table-borderd table-stripped custom-table">
                <thead class="table-skill__head text-center">
                  <tr class="custom-tr">
                    <th class="custom-th" rowspan="2">Topic</th>
                    <th class="custom-th" rowspan="2">SubTopic</th>
                    <th class="custom-th" rowspan="2">Description</th>
                    <th class="custom-th" colspan="3">No. of Person Required</th>
                    <th class="custom-th" rowspan="2">Total</th>
                    <th class="custom-th" rowspan="2">Action</th>
                    <th class="custom-th" rowspan="2">Publish</th>
                  </tr>
                  <tr class="custom-tr">
                    <th class="custom-th">Teaching</th>
                    <th class="custom-th">Test</th>
                    <th class="custom-th">Revision</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td colspan="9">
                      <img src="../../../../../../src/assets/images/smart images/component.png"><br>
                      <span class="font-size-20 font-bold font-color-brown">No Data
                        Available</span><br><span class="font-size-20 font-light font-color-brown">Please Update
                        Syllabus on Click of Add Button</span></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card class="card-height-850-lp card-height-960">
      <div class="row">
        <div class="col-2">
            <span class="font-size-24 font-medium">Add Syllabus</span>
          
        </div>
        <div class="col-4">
            <span class="font-size-20 margin-left-10 font-light">Class: </span><span class="font-size-20 font-bold">Vth</span><span
            class="ver-line-divider margin-left-10"></span><span class="font-size-20 font-light">Subject: </span><span
            class="font-size-20 font-bold">Science</span><span class="ver-line-divider margin-left-10"></span><span
            class="font-size-20 font-light">Term: </span><span class="font-size-20 font-bold">1st</span>
        </div>
        <div class="col-6 text-right">
          <span class="font-size-16 font-regular font-color-gray ">No. of Period Available</span><button mat-mini-fab
            class="btn-blue margin-left-10"><span class="font-white font-size-16">-</span></button>
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-ver-line-divider">
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Category (CTR)</mat-label>
                <mat-select placeholder="Category (CTR)" required>
                  <mat-option></mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Topic</mat-label>
                <mat-select placeholder="Topic" required>
                  <mat-option></mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Subtopic</mat-label>
                <mat-select placeholder="Subtopic" required>
                  <mat-option></mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Period Required</mat-label>
                <mat-select placeholder="Period Required" required>
                  <mat-option></mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea rows="5" matInput placeholder="Write Description Here"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 remove-col-padding text-center">
              <button mat-raised-button class="btn-add">Add</button>
              <button mat-raised-button class="btn-reset margin-left-10">Reset</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <span class="font-size-12">Have already syllabus? </span><span class="font-skyblue font-size-12"><i class="fas fa-cloud-upload-alt"></i> Upload File</span>
            </div>
          </div>
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12 remove-col-padding">
              <table class="table table-borderd table-stripped custom-table">
                <thead class="table-skill__head text-center">
                  <tr class="custom-tr">
                    <th class="custom-th" rowspan="2">Topic</th>
                    <th class="custom-th" rowspan="2">SubTopic</th>
                    <th class="custom-th" rowspan="2">Description</th>
                    <th class="custom-th" colspan="3">No. of Person Required</th>
                    <th class="custom-th" rowspan="2">Total</th>
                    <th class="custom-th" rowspan="2">Action</th>
                  </tr>
                  <tr class="custom-tr">
                    <th class="custom-th">Teaching</th>
                    <th class="custom-th">Test</th>
                    <th class="custom-th">Revision</th>
                  </tr>
                </thead>
                <tbody class="text-center">


                  <tr class="custom-tr">
                    <td class="custom-td" rowspan="5">Health & Hygiene</td>
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td" rowspan="5">c</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                    
                  </tr>

                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>

                  <tr class="custom-tr">
                    <td class="custom-td" rowspan="8">Solid, Liquid & Gases</td>
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td" rowspan="8">c</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr">
                    <td class="custom-td">Introduction of Food</td>
                    <td class="custom-td">Making chart showing all status of matter</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">5</td>
                    <td class="custom-td">6</td>
                    <td class="custom-td">
                      <i class="far fa-edit font-size-16 font-color-gray cursor-pointer"></i><span
                        class="margin-left-10 ver-line-divider"></span><i
                        class="fas fa-trash font-size-16 font-color-red cursor-pointer"></i>
                    </td>
                  </tr>
                  <tr class="custom-tr ">
                    <td class="custom-td grand-total-row"></td>
                    <td colspan="2" class="custom-td grand-total-row text-left font-bold">Grand Total</td>
                    <td class="custom-td grand-total-row">26</td>
                    <td class="custom-td grand-total-row">6</td>
                    <td class="custom-td grand-total-row">3</td>
                    <td class="custom-td grand-total-row">35</td>
                    <td class="custom-td grand-total-row"></td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
          <div class="row margin-top-20">
            <div class="col-12 text-center">
                <button mat-raised-button class="btn-success-green">Submit</button>
                <button mat-raised-button class="btn-reset margin-left-10">cancel</button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>