<div class="modal-custom-cotainer">
  <div class="row remove-top-margin">
    <div class="col-12 remove-col-padding">
      <div class="modal-title-box">
        <span class="font-size-20 font-white font-regular">Leave Credit</span><span
          class="float-right margin-top-5"><i (click)="closeDialog()"
            class="far fa-times-circle font-white cursor-pointer font-size-24"></i></span>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="border-div">
  <form [formGroup]="paramform">
    <div class="row remove-top-margin">
      <div class="col-12 remove-col-padding">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Month</mat-label>
        <mat-select formControlName="month_id" placeholder="Month" required>
            <mat-option *ngFor="let item of feeMonthArray" [value]="item.fm_id"
                style="font-size: 14px;">
                {{item.fm_name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
<ng-container *ngFor="let item of leavetypeform; let i=index;">
  <form [formGroup]="leavetypeform[i]">
    <div class="row remove-top-margin">
      <div class="col-12 remove-col-padding">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>{{item.value.leave_name}} Credit</mat-label>
          <input type="number" formControlName="leave_value" matInput
              placeholder="{{item.value.leave_name}} Credit" >
      </mat-form-field>
    </div>
  </div>
  </form>
</ng-container>
</div>
<br>
<div class="text-center">
  <button mat-raised-button class="btn-spacer btn-danger" (click)="submit()"
    style="background-color:#277d9d !important">
    submit
  </button>
</div>