.user-table {
  padding-top: 10px;
  overflow-x: auto;
  width: 100%;
}

.topicStyleLast {
  width: 1.5%;
}

table thead th{
  vertical-align: text-bottom !important;
}

tr, th, td {
  padding: 5px;
}

table {
  font-size: 14px;
}

.table-content {
  overflow-y: scroll;
  height: 500px;
}

.topicStyle{
  width: 5%;
}

.btn-grade {
  padding-top: 0;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 0;
}

.btn-c {
  background-color: #28a745;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.btn-emp {
  background-color: #fff;
  border: none;
  color: #ffffff;
  font-weight: bold !important;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin:auto !important;
  display:block !important;
}

.btn-e {
  background-color: #6f42c1;
  border: none;
   width: 40px;
  height: 40px;
  border-radius: 100%;
}

.hor {
  border-width: 1px;
  border-color: #000;
}

.qstStyle{
  width: 0.1rem;
  vertical-align: middle !important;
}

.topicHeader
{
  width: 21%;
}
.qstStyle2
{
  width:57px;
}
.table-align
{
  width: 92%;
}
.padding
{
  margin-right: 20px;
}
th {
  vertical-align: middle !important;
}
td{
  word-break: initial !important;
}