.float-right {
    float: right;
    clear: both;
}

.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: none !important
}

.black-link {
    color: black;
    text-decoration: underline !important;
}

.separator {
    border-right: 1px solid;
    text-align: center;
    margin: 0 10px;
}