td.mat-cell {
    border: 1px solid #89A8C9 !important;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    border-collapse: collapse;
}
.cdk-column-studentname , .cdk-column-action{
    width: 30%;
}
.canc-btn {
    width: 50px !important;
    height: 22px !important;
}