.green {
    color: green;
}
.red {
    color: red;
}

.showPdf {
    display:none;
}

.hidePdf {
    display:table-cell;
}

.overflow {
    //overflow-x: scroll;
    //overflow-y: auto;
    height: 700px;
}

.btn-success-green-1 {
    background-color: #43A047 !important;
    width: 160px !important;
    color: #ffffff !important;
    text-transform: capitalize;
    font-size: 13px !important;
}

.mat-row, .mat-header-row {  
    min-width: 2800px;  
    width: 100%;  
 }  
 table.mat-table{
    width: 140% !important;
 }

 :host ::ng-deep  #salary_compute_log .mat-form-field-infix{
    width : 80px !important;    
}

.mat-card {
    padding:5px !important;
}

.btn-success-blue {
    margin-top: 10px;
}

.btn-success-red {
    background-color: #f52424 !important;
    color: #ffffff !important;
    text-transform: capitalize;
    font-size: 13px !important;
    margin-top: 10px;
}
.example-container {
    height: 600px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  tr.mat-footer-row {
    font-weight: bold;
  }
  td.mat-footer-cell{
    border-top: 1px solid #89A8C9 !important;
    border-left: 1px solid #89A8C9 !important;
    border-right: 1px solid #89A8C9 !important;
  }
  th {
      z-index: 8 !important;
  }
  th {
    white-space: pre !important;
    word-break: break-word !important;
}