<div class="row">
  <div class="col-12">
    <mat-card>
      <form [formGroup]="searchForm">
        <div class="row">

          <div class="col-7 margin-top-15">
            <span class="font-size-24">Salary Computation</span>
          </div>

          <div class="col-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Pay Month</mat-label>
              <mat-select formControlName="month_id" required (selectionChange)="getAllEmployee()">
                <mat-option value="1">January</mat-option>
                <mat-option value="2">February</mat-option>
                <mat-option value="3">March</mat-option>
                <mat-option value="4">April</mat-option>
                <mat-option value="5">May</mat-option>
                <mat-option value="6">June</mat-option>
                <mat-option value="7">July</mat-option>
                <mat-option value="8">August</mat-option>
                <mat-option value="9">September</mat-option>
                <mat-option value="10">October</mat-option>
                <mat-option value="11">November</mat-option>
                <mat-option value="12">December</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput [matDatepicker]="picker" placeholder="Pay Date" formControlName="pay_date" required
                [min]="searchForm.controls.pay_date.value" (change)="getAllEmployee()"/>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="col-1">
            <button mat-raised-button class="btn-success-blue" (click)="openFilter()">
              Filter
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div class="row">

  <div class="col-12 ">
    <mat-card [hidden]="!(SALARY_COMPUTE_ELEMENT.length > 0)">


      <div class="row">

        <div class="col-12">
          <div class="row ">
            <div class="col-9 remove-col-padding-left">
              <mat-form-field appearance="legacy lib-form">
                <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)" />
                <mat-icon matPrefix>filter_list</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-3 text-right remove-col-padding-right" *ngIf="SALARY_COMPUTE_ELEMENT.length > 0">
              <!-- <i class="fa fa-file-excel font-skyblue font-bold font-size-20" (click)="downloadExcel()"></i>&nbsp;
                <i class="fa fa-file-pdf font-skyblue font-bold font-size-20" (click)="downloadPdf()"></i> -->

              <div class="inline-flex btn-spacer text-right margin-bottom-5">
                <div>
                  <img style="cursor: pointer; height: 25px !important" src="/assets/images/pdf.svg"
                    matTooltip="Download as Pdf" (click)="downloadPdf()" />
                </div>
              </div>
              <div class="inline-flex btn-spacer text-right margin-bottom-5">
                <div>
                  <img style="cursor: pointer; height: 25px !important" src="/assets/images/xml.svg"
                    matTooltip="Export as excel" (click)="downloadExcel()" />
                </div>
              </div>
              <div class="inline-flex btn-spacer text-right margin-bottom-5">
                <button mat-raised-button class="btn-success-blue" (click)="print()">
                  Print
                </button>
              </div>
            </div>

          </div>
          <table mat-table [dataSource]="salaryComputeDataSource" matSort class="table-100 text-center" id="book_log"
            class="booklog">
            <ng-container matColumnDef="srno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="2%"> Sr. No. </th>
              <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
            </ng-container>
            <ng-container matColumnDef="emp_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%">Emp. ID</th>
              <td mat-cell *matCellDef="let element">
                <a class="font-skyblue cursor-pointer" (click)="openBookModal(element.emp_id)">{{element?.emp_id}}
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%">Emp Name</th>
              <td mat-cell *matCellDef="let element" class="text-left">
                <span class="text-left text-capitalize">{{element?.emp_name | titlecase}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_designation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Designation</th>
              <td mat-cell *matCellDef="let element" class="text-left">
                <span class="text-left text-capitalize">{{element?.emp_designation | titlecase}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_pay_scale">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Pay Scale</th>
              <td mat-cell *matCellDef="let element" class="text-left">
                <span class="text-left text-capitalize">{{element?.emp_pay_scale | titlecase}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_salary_heads">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%">Salary Heads</th>
              <td mat-cell *matCellDef="let element">
                {{element?.emp_salary_heads}}
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_allowances">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%">Allowances</th>
              <td mat-cell *matCellDef="let element">
                {{element?.emp_allowances}}
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_total_earnings">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Total Earnings </th>
              <td mat-cell *matCellDef="let element" class="text-left"> <span
                  *ngIf="element.emp_total_earnings">{{(element?.emp_total_earnings)}} </span> </td>
            </ng-container>
            <ng-container matColumnDef="emp_deductions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="5%"> Deductions</th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.emp_deductions">{{element?.emp_deductions}} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_present_days">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Present Days</th>
              <td mat-cell *matCellDef="let element">
                {{element?.emp_present_days}}
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_salary_payable">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Salary Payable</th>
              <td mat-cell *matCellDef="let element">
                {{element?.emp_salary_payable}}
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_pay_mode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Modes</th>
              <td mat-cell *matCellDef="let element">
                {{element?.emp_pay_mode}}
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Total</th>
              <td mat-cell *matCellDef="let element">
                {{element?.emp_total}}
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Status</th>
              <td mat-cell *matCellDef="let element">
                {{element?.emp_status}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedSalaryComputeColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedSalaryComputeColumns;">
            </tr>
          </table>

          <table class="table table-borderd table-stripped custom-table text-center" style="margin-top:5px;">
            <tr *ngIf="SALARY_COMPUTE_ELEMENT.length == 0">
              <td colspan="8">No Record Found</td>
            </tr>
          </table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </mat-card>
    <mat-card *ngIf="SALARY_COMPUTE_ELEMENT.length == 0">
      <div class="text-center">
        <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
          [noDataText]="" [subText]="'No Employee Salary Compute'"></app-no-data>
      </div>
    </mat-card>
  </div>
</div>