
.col-form-label{
  font-size: 14px;
}

.form-group{
    margin-bottom: 0.4rem;
} 
/* OTHERS */
.btn-secondary{
  background-color:#dc3545
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.mb-3 {
  margin-bottom: 0rem !important;
}

/* .modal-dialog{
  margin-left: 305px;
} */

.modal-content{
  width: 158%;
  margin-left: -242px;
}
.school_logo{
  height: 60px;
  width: 60px;
}

@media only screen and (max-width:720px){
  .modal-content{
    width: 109%;
    margin-left: -6px;
}
}

@media only screen and (max-width:586px){
  .paper{
    padding-right: 48px;
    padding-left: 7px;
    }
}
input.mat-input-element{
  margin-top: -2.0625em;
}

@media only screen and (max-width:460px){
  .examSetupBtn{
    margin-left: 23px;
  }

  .card-body{
    padding: 0.25rem;
  }
}

@media only screen and (min-width:992px){
  .input-group-append{ 
    margin-left: -25px;
    margin-right: -17px;
  }
}
@media (max-width: 426px){
.bread-col-1{
    padding-left: 0px;
}}

@media (max-width:460px){
  .mobile-view-hk{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .white-box-content {
    padding: 6px;
  }
  .col-margin-hk{
    margin-top: 20px;
  }
  .mobile-view{
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}

