<div class="row">
  <div class="col-12">
    <mat-card>
      <form [formGroup]="paramform">
        <div class="row">
          <div class="col-5 remove-col-padding-left margin-top-15">
            <span class="font-size-24 ">Transport Attendance</span>
          </div>
          <div class="col-7 remove-col-padding-right text-right">
            <div class="row" style="margin-top: 0px !important;">
              <div class="col-3">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Bus No</mat-label>
                  <mat-select formControlName="bus_id" required placeholder="Bus No"
                    (selectionChange)="getRouteBasedOnBus()">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let item of bus_arr" [value]="item.tv_id">
                      {{item.bus_number}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Route</mat-label>
                  <mat-select formControlName="route_id" required placeholder="Route">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let item of route_arr" [value]="item.route_id">
                      {{item.route_no}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div class="col-2">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Trip</mat-label>
                  <mat-select formControlName="trip_id" required placeholder="Trip">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let item of trip_arr" [value]="item.ts_id">
                      {{item.name | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <div class="col-2">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type_id" required placeholder="Type">
                    <mat-option value="">Please select</mat-option>
                    <mat-option *ngFor="let item of type_arr" [value]="item.ts_id">
                      {{item.name | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2 align-middle">
                <button mat-raised-button class="btn-primary btn-consolidate t-20"
                  (click)="getTransportStudent()">Generate</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<div class="row" *ngIf="tableDivFlag">
  <div class="col-12">
    <mat-card>
      <div style="padding:10px 0">
        <button mat-raised-button *ngIf="selection.selected.length > 0" class="btn-primary btn-consolidate"
          (click)="markAttendance('p')">Present</button>
        <button mat-raised-button *ngIf="selection.selected.length > 0" class="btn-primary btn-delete-rec btn-spacer"
          (click)="markAttendance('a')">Absent</button>
      </div>
      <mat-accordion multi="true" class="theme-accordion">
        <ng-container *ngFor="let stopage of stopages;let i = index">
          <mat-expansion-panel [expanded]="'true'">
            <mat-expansion-panel-header class="exp-header-new-stu-detail">
              <mat-panel-title>
                <span class="text-uppercase">{{stopage.tsp_name}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="groupdataSource[stopage.tsp_id]" class="table-100 text-center">
              <ng-container matColumnDef="select">
                <th width="10%" mat-header-cell *matHeaderCellDef>
                  <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox> -->
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                    [disabled]="row.ta_status == 'p'">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="au_full_name">
                <th width="25%" mat-header-cell *matHeaderCellDef> Student Name </th>
                <td mat-cell *matCellDef="let element"> {{element.au_full_name | titlecase}} </td>
              </ng-container>

              <ng-container matColumnDef="class_name">
                <th width="10%" mat-header-cell *matHeaderCellDef>Class </th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.class_name}} </td>
              </ng-container>

              <ng-container matColumnDef="au_admission_no">
                <th width="10%" mat-header-cell *matHeaderCellDef> Adm No. </th>
                <td mat-cell *matCellDef="let element"> {{element.au_admission_no}} </td>
              </ng-container>
              <ng-container matColumnDef="ta_status_str">
                <th width="10%" mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.ta_status_str+'-color'"> {{element.ta_status_str | titlecase}} </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.ta_status != 'p'" style="padding: 0 10px;"><i
                      class="fas fa-thumbs-up present-color" (click)="markAttendance('p',element.action)"></i></span>
                  <span *ngIf="element.ta_status != 'a'"><i class="fas fa-thumbs-down absent-color"
                      (click)="markAttendance('a',element.action)"></i></span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="!tableDivFlag">
  <div class="col-12 text-center">
    <mat-card>
      <app-no-data
        [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'"
        [noDataText]="" [subText]="'No record found'"></app-no-data>
    </mat-card>
  </div>
</div>