tr.mat-header-row {
    height: 30px !important;
}
tr.mat-row {
    height: 30px !important;
}
.btn-unconsolidate {
    background: #207a04;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}

.btn-receiptMod {
    background: #004261;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}
.btn-delete-rec {
    background: #ff5a5a;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}

.btn-edit-inv{
    background: #6c757d;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    height: 32px;
    font-size: 13px;
    line-height: 32px !important;
}
.present-color{
    color:#207a04;
}
.absent-color{
    color: #ff5a5a;
}