<div class="row">
  <div class="col-12">
    <mat-card>
      <form>
        <div class="row">
          <div class="col-6 remove-col-padding-left margin-top-15">
            <span class="font-size-24">Certificate Download</span>
          </div>
          <div class="col-6 remove-col-padding-right text-right">
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div class="row ">
  <div class="col-12 ">
    <div class="row remove-top-margin">
      <div class="col-12 remove-col-padding-left remove-col-padding-right">
        <mat-card>
          <div class="row">
            <div class="col-12">
              <span class="cert-list">List of certificates</span>
            </div>
          </div>
          <br>
          <div class="row">
            <ng-container *ngFor="let item of certificate_type_arr">
              <div class="col-12 col-lg-3 col-md-4 col-sm-4">
                <span>
                  <img class="img-src"
                    src="https://library.kissclipart.com/20181210/olq/kissclipart-certification-symbol-clipart-computer-icons-certif-dc01a7f9a2051c84.png">
                </span>
                <span class="cert-name">{{item.usts_alias}}</span>
                <span>
                  <i class="fas fa-download down-ic" (click)="certDownload(item)"></i>
                </span>
              </div>
            </ng-container>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>