td.mat-cell {
    border: 1px solid #89A8C9 !important;
    height: 30px;
    color: #222F3E;
    padding: .25rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    height: 30px;
    background: #C8D6E5;
    font-weight: bold;
    color: #222F3E;
    padding: .25rem;
    font-family: Helvetica, Arial, sans-serif;
}
.reset_ass {
    color: #0d7c9e;
    font-size: 40px;
    cursor: pointer;
    position: relative;
    top: 10px;
}
td:nth-child(1) {
    width: 25px;
}
td:nth-child(3) {
    text-align: left !important;
}
td:nth-child(4) {
    text-align: left !important;
}
td:nth-child(5) {
    text-align: left !important;
}