// .create-template-table {
//     height: 210px !important;
//     overflow-y: scroll;
//   }
//   .normal-table-responsive {
//     overflow-x: auto !important;
//   }
//   .dialog-table-review {
//     font-size: 12px;
//   }
//   .dialog-table-review-header {
//     background-color: #e6e5df !important;
//   }
//   .table-dialog-review-row:nth-child(even) {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     background-color: #f1f1f1;
//   }
//   .table-dialog-review-row:nth-child(odd) {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     background-color: #ffffff !important;
//   }

.mat-header-cell {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.mat-header-row {
    
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mat-row {
    
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mat-cell {
    
    border-right: 1px solid transparent;
}