.adv-jee-instruction-screen {
    height: 600px;
    overflow: hidden
}
.adv-jee-child-instruction{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.adv-jee-btn-not-onansnum1 {
    position: absolute;
    margin-top: -23px !important;
    margin-left: -4px !important;
    color: #fff;
    cursor: pointer;
}