
<div class="row margin-top-10">
<div class="col-6 remove-right-padding">
  <mat-card class="height-296 height-320 min-h-350" style="height:100% ;">
    <mat-card-title>
      <div class="row row-remove-top-margin">
        <div class="col-6">
          <span class="font-size-20 font-bold">Profile</span>
        </div>
        <!-- <div class="col-6">
          <div class="float-right">
            <span class="font-size-12 font-skyblue font-bold cursor-pointer" style="display: inline-block;">View More &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          </div>
        </div> -->
      </div>
    </mat-card-title>
    <hr class="border-bottom-grey">
    <mat-card-content>
      <div class="row">
        <div class="col-4">
          <div class="row margin-top-20">
            <div class="col-12 text-center">
            <img style="border-radius:50%"
              [src]="'https://apisis.invictusdigisoft.com/createonfly.php?src=' + defaultsrc + '&h=150&w=150'"
              onError="this.src='https://apisis.invictusdigisoft.com/createonfly.php?src=https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/man.png&h=150&w=150'" />
            </div>
          </div>
        </div>
        <div class="col-8">
          <table cellpadding="3" >
            <tr>
              <td width="40%">Employee ID</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{(userDetails?.emp_id)}}</td>
            </tr>
            <tr>
              <td width="40%">Name</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{userDetails?.emp_name}}</td>
            </tr>
            <tr>
              <td width="40%">Designation</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{userDetails?.emp_designation_detail?.name}}</td>
            </tr>
            <tr>
              <td width="40%">Date of Joining</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{userDetails?.emp_salary_detail?.emp_organisation_relation_detail?.doj | date:'d-MMM-y'}}</td>
            </tr>
            <tr>
              <td width="40%">Available leaves</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{leave_credit}}</td>
            </tr>
            <tr>
              <td width="40%">Availed Leaves</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{leave_granted}}</td>
            </tr>
            <tr>
              <td width="40%">Contact No</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{userDetails?.emp_personal_detail?.contact_detail?.primary_mobile_no}}</td>
            </tr>
            <tr>
              <td width="40%">Email Id</td>
              <td width="3%">:</td>
              <td width="57%" class="text-bold">{{userDetails?.emp_personal_detail?.contact_detail?.email_id}}</td>
            </tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="col-6 remove-right-padding">
  <mat-card class="height-296 height-320 min-h-350">
    <mat-card-title>
      <div class="row row-remove-top-margin">
        <div class="col-6" style="display: inline-grid;">
          <span class="font-size-20 font-bold">Attendance</span>
          <span class="font-size-12">{{today | date:'EEEE, d MMMM, y'}}</span>
        </div>
        <!-- <div class="col-6">
          <div class="float-right">
            <span class="font-size-12 font-skyblue font-bold cursor-pointer" style="display: inline-block;">View More &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          </div>
        </div> -->
      </div>
    </mat-card-title>
    <mat-card-content style="word-break: break-all;">
      <div class="row">
        <div class="col-4 border-right">
          <app-common-dynamic-chart *ngIf="gaugeOptionsflag"
              [options]="gaugeOptions">
          </app-common-dynamic-chart>
          <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile class= "fontclass" ><span class="smallbox" [ngStyle]="{background: '#05ABE1'}"></span>&nbsp;  Yearly</mat-grid-tile>
            <mat-grid-tile class= "fontclass"><span class="smallbox" [ngStyle]="{background: '#4B11D4'}"></span>&nbsp;  Monthly</mat-grid-tile>
          </mat-grid-list>
        </div>
        <!-- <div class="col-8">
          <div class="row">
            <div class="col-12">
              <app-common-dynamic-chart *ngIf="sessionAttendancechartflag"
                [options]="sessionAttendancechart">
              </app-common-dynamic-chart>
              <div class="attendance-bottom" *ngIf="sessionAttendancechartflag">
                <span class="session-left session-color">Presents: 10 Days</span>
                <span class="session-right">Total: 15 Days</span>
              </div>
            </div>
            <div class="col-12">
              <app-common-dynamic-chart *ngIf="monthAttendancechartflag"
                [options]="monthAttendancechart">
              </app-common-dynamic-chart>
              <div class="attendance-bottom" *ngIf="monthAttendancechartflag">
                <span class="session-left month-color">Presents: 10 Days</span>
                <span class="session-right">Total: 15 Days</span>
              </div>
            </div>
            
          </div>
          <div class="row" style="padding-left: 10px;">
            <div class="col-6" *ngIf="sessionAttendancechartflag">
              <div class="legend-box session-bgcolor"
                style="display: inline-block">
              </div>
              <span class="font-size-14 middle-align">&nbsp;Current Session</span>
            </div>
            <div class="col-6" *ngIf="monthAttendancechartflag">
              <div class="legend-box month-bgcolor"
                style="display: inline-block">
              </div>
              <span class="font-size-14 middle-align">&nbsp;Current Month</span>
            </div>
          </div>
        </div> -->
        <div class="col-8" >
          <div class="monthHead">{{today | date:'MMMM' | uppercase}}</div>
          <mat-grid-list class="headerWeek" cols="7" rowHeight="2:1"  >
            <mat-grid-tile>Sun</mat-grid-tile>
            <mat-grid-tile>Mon</mat-grid-tile>
            <mat-grid-tile>Tue</mat-grid-tile>
            <mat-grid-tile>Wed</mat-grid-tile>
            <mat-grid-tile>Thu</mat-grid-tile>
            <mat-grid-tile>Fri</mat-grid-tile>
            <mat-grid-tile>Sat</mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="7" rowHeight="2:1" >
            <mat-grid-tile *ngFor="let monthDay of monthDays"><span class="iamcircle" [style.background]="monthDay.value">{{monthDay.day}}</span></mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="3:1">
            <mat-grid-tile class= "fontclass" ><span class="smallbox" [ngStyle]="{background: '#30B835'}"></span>&nbsp;  Present</mat-grid-tile>
            <mat-grid-tile class= "fontclass"><span class="smallbox" [ngStyle]="{background: '#F63B3B'}"></span>&nbsp;  Leave</mat-grid-tile>
            <mat-grid-tile class= "fontclass"><span class="smallbox" [ngStyle]="{background: '#2C6E06'}"></span>&nbsp;  Half Day</mat-grid-tile>
            <mat-grid-tile class= "fontclass"><span class="smallbox" [ngStyle]="{background: '#F6B838'}"></span>&nbsp;  Holiday</mat-grid-tile>
          </mat-grid-list>
        </div>
        
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>

<!-- <div class="row margin-top-10">
  <div class="col-12">
      <mat-card>
          <div class="row">
              <div class="col-11">
                  <span class="font-size-20 font-bold">Time Table</span>
              </div>
              <div class="col-1 ">
                  <select class="select-css float-right" [(ngModel)]="week_day" (change)="getTimetableOfDay(week_day)">
          <option *ngFor="let item of weekArr; let i = index" [value]="i+1">{{item}}</option>
        </select>
              </div>
          </div>
          <hr class="border-bottom-grey">
          <div class="row margin-top-15" *ngIf="timeTableFlag">
              <div class="col-12">
                  <ng-container *ngFor="let item of dayArray; let i=index">
                      <div class="info-box info-box-margin" [ngStyle]="{'background-color':getSubColor(item.subject_id)}">
                          <div class="wave-container">
                              <svg viewBox="0 0 500 160" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M-51.06,1.48 C149.99,150.00 349.20,-49.98 634.02,81.41 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #fff; opacity:0.1; bottom: 0"></path>
              </svg>
                          </div>
                          <div class="box-content-container">
                              <span class="font-size-30">{{i+1}}<sup>{{periodSup[i]}}</sup></span>
                              <div class="margin-top-35">
                                  <span class="font-size-16" *ngIf="item.class_name != '-'">{{item.class_name}} - {{item.sec_name}}</span><br>
                                  <span class="font-size-16">{{item.subject_name}}</span>
                              </div>
                          </div>
                      </div>
                  </ng-container>
              </div>
          </div>
          <div class="row margin-top-15" *ngIf="!timeTableFlag">No Timetable</div>
      </mat-card>
  </div>
</div>

<div class="row margin-top-10">
  <div class="col-4 remove-right-padding">
      <mat-card class="height-296 height-263">
          <mat-card-title>
              <form [formGroup]="aparamform" novalidate>
                  <div class="row row-remove-top-margin">
                      <div class="col-6">
                          <span class="font-size-20 font-bold">Assignments</span>
                      </div>
                      <div class="col-6 text-right">
                          <select class="select-css select-css-50 inline-flex " formControlName="class_id" required (change)="getSectionByTeacherIdClassId()">
            <option *ngFor="let item of tclassArr" [value]="item.class_id">{{item.class_name}}</option>
          </select>
                          <select class="select-css select-css-50 inline-flex margin-left-15" formControlName="sec_id" required (change)="getSubjectByTeacherIdClassIdSectionId()">
            <option *ngFor="let item of tsecArr" [value]="item.sec_id">{{item.sec_name}}</option>
          </select>
                          <select class="select-css select-css-100 inline-flex margin-left-15" formControlName="sub_id" required (change)="getAssignment()">
              <option *ngFor="let item of tsubArr" [value]="item.sub_id">{{item.sub_name}}</option>
          </select>
                      </div>
                  </div>
              </form>
          </mat-card-title>
          <hr class="border-bottom-grey">
          <mat-card-content>
              <ng-container *ngIf="assignmentArray.length > 0">
                  <div class="row">
                      <div class="col-10">
                          <span class="font-size-20 font-medium font-skyblue">{{currentAssignment?.sub_name}}</span>
                      </div>
                      <div class="col-2">
                          <button mat-button class="float-btn-blue font-size-14 font-white" (click)="previewDocuments(currentAssignment?.as_attachment)">
              +{{currentAssignment?.as_attachment.length}}
            </button>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <span class="font-size-16 font-medium">{{currentAssignment?.topic_name}}</span>
                          <div class="font-size-15 margin-top-10" [innerHTML]="currentAssignment?.as_assignment_desc"></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-8 remove-right-padding">
                          <span class="font-size-15">Assigned On :</span><span class="font-medium font-size-15">
              {{currentAssignment?.as_entry_date| date:'d-MMM-y'}}</span>
                      </div>

                      <div class="col-4 remove-col-modal-padding text-center">
                          <span><button mat-button class="side" [disabled]="assignmentPre"
                (click)="assignmentNavigate(currentAssignmentIndex-1)">
                <i class="fas fa-chevron-left cursor-pointer"></i>
              </button>
              <button mat-button class="side" [disabled]="assignmentNext"
                (click)="assignmentNavigate(currentAssignmentIndex+1)">
                <i class="fas fa-chevron-right cursor-pointer margin-left-15"></i>
              </button></span>
                      </div>

                  </div>
              </ng-container>
              <ng-container *ngIf="assignmentArray.length == 0">
                  <div class="text-center">
                      <img [src]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'" height="120px">
                      <br><br>
                      <span class="font-size-20 font-bold font-color-brown">
            No Record Found
          </span>
                  </div>
              </ng-container>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="col-4 remove-right-padding">
      <mat-card class="height-296 height-263">
          <mat-card-title>
              <div class="row row-remove-top-margin">
                  <div class="col-10">
                      <span class="font-size-20 font-bold">Communication</span>
                  </div>
                  <div class="col-2 ">
                      <div class="float-right">
                          <span class="font-size-12 font-skyblue font-bold cursor-pointer">View All</span>
                      </div>

                  </div>
              </div>
          </mat-card-title>
          <hr class="border-bottom-grey">
          <mat-card-content>
              <div class="row">
                  <div class="col-11">
                      <span class="font-size-20 font-medium">Annual Day Celebration</span>
                  </div>
                  <div class="col-1 text-right margin-top-10">
                      <i class="fas fa-bullhorn font-size-20 font-skyblue"></i>
                  </div>

              </div>
              <div class="row">
                  <div class="col-12">
                      <p class="font-size-15 margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-10 remove-right-padding">
                      <span class="font-size-15">Event Date :</span><span class="font-medium font-size-15">
                        18-Apr-2018</span>
                  </div>



              </div>
              <div class="row row-remove-top-margin">
                  <div class="col-10 remove-right-padding">
                      <span class="font-size-15">Updated On :</span><span class="font-medium font-size-15">
                          12-Apr-2019</span>
                  </div>

                  <div class="col-2 remove-col-modal-padding text-center">
                      <i class="fas fa-chevron-left cursor-pointer"></i><i class="fas fa-chevron-right cursor-pointer margin-left-15"></i>
                  </div>

              </div>

          </mat-card-content>
      </mat-card>
  </div>
  <div class="col-4">
      <mat-card class="height-296 height-263">
          <mat-card-title>
              <div class="row row-remove-top-margin">
                  <div class="col-5">
                      <span class="font-size-20 font-bold cursor-pointer" (click)="switchView('past')" [ngClass]="{'disablePage':testView == 'upcoming'}">
            Upcoming Tests
          </span>


                  </div>
                  <div class="col-2">
                      <span class="vertical-line-divider"></span>
                  </div>
                  <div class="col-5">
                      <span class="font-size-20 font-bold cursor-pointer" (click)="switchView('upcoming')" [ngClass]="{'disablePage':testView == 'past'}">
            Past Tests
          </span>
                  </div>
              </div>
          </mat-card-title>
          <hr class="border-bottom-grey">
          <mat-card-content *ngIf="currentExam">
              <div class="row">
                  <div class="col-10">
                      <span class="font-size-20 font-medium font-skyblue">{{currentExam?.qp_name}}</span>
                  </div>
                  <div class="col-2">

                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <span class="font-size-16 font-medium">{{currentExam?.sub_name}}, {{currentExam?.class_name}} - {{currentExam?.sec_name}}</span>
                      <p class="font-size-15 margin-top-10">{{currentExam?.ti_instruction}} </p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <span class="font-size-15">Time :</span><span class="font-medium font-size-15">
            {{currentExam?.es_start_date+' '+currentExam?.es_start_time | date:'hh:mm a'}} - 
          {{currentExam?.es_end_date+' '+currentExam?.es_end_time | date:'hh:mm a'}}</span><br>

                  </div>
              </div>
              <div class="row row-remove-top-margin">
                  <div class="col-8 remove-right-padding">

                      <span class="font-size-15">Date Of Test :</span><span class="font-medium font-size-15">
              {{currentExam?.es_start_date | date:'d-MMM-y'}}</span>
                  </div>
                  <div class="col-4 remove-col-modal-padding text-center">
                      <span><button mat-button class="side" [disabled]="examPre" (click)="examNavigate(currentExamIndex-1)">
                <i class="fas fa-chevron-left cursor-pointer"></i>
            </button>
            <button mat-button class="side" [disabled]="examNext" (click)="examNavigate(currentExamIndex+1)">
                <i class="fas fa-chevron-right cursor-pointer margin-left-15"></i>
            </button>
          </span>
                  </div>
              </div>

          </mat-card-content>
          <ng-container *ngIf="!currentExam">
              <div class="text-center">
                  <img [src]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'" height="120px">
                  <br><br>
                  <span class="font-size-20 font-bold font-color-brown">
          No Record Found
          </span>
              </div>
          </ng-container>
      </mat-card>
  </div>
</div> -->