.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }
  
  .mat-expansion-panel-header.mat-row {
  
    word-break: break-word;
    width: 100%;
    // padding: 20px 40px;
  }
  
  //copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
  $mat-header-row-height: 80px;
  $mat-row-height: 80px;
  $mat-row-horizontal-padding: 24px;
  
  .mat-table {
    display: block;
  }
  
  .mat-header-row {
    // min-height: 56px;
  }
  
  .mat-row {
    min-height: 102px !important;
    background: none !important;
    overflow-y:auto;
  }
  
  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
  
    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }
  
  .mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }

  ::ng-deep .mat-expansion-indicator {
      display: none !important;
  }

  .message-header {
    //float: left;
    width: 100%;
  }

  .sis-student-pic__size {
      width: 50px !important;
      height: 50px !important;
      margin:20px 10px;
      float: left;
  }


  .circle-thumbnail {
      float:left;
      width:10%;
  }

  .profile-detail {
      // float: left;
      margin-left: 10%;
      width: 75%;

  }

  .profile-to-detail {
      font-size: 12px;
  }

  .message-utility-detail {
      float: right;
      font-size: 14px;
  }

  .message-utility-detail-attachment {
      border-right: 1px solid #ccc;
      padding:0 10px;
  }

  .message-utility-detail-time {
      margin-left:10px;
  }

  .preview-attachment-base {
    float:left;
    margin-left: -15px;
  }

.preview-attachment {
    list-style: none;
    display:inline;    
    margin-left: 10px;
    text-align: center;    
}

.preview-attachment img {
    height: 145px;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding:1px;
}

.message-description {
  margin: 0 35px;
  word-break: break-all;
  width: 96%;
}

.message-action-buttons {
    clear: both;
    margin: 10px 10px;
}

.fa-paperclip { 
    transform: rotate(137deg) scaleX(-1); 
    vertical-align: bottom; 
}


.preview-attachment {
    position: relative;
    width: 100%;
  }
  
  /* Make the image to responsive */
  .attachment-thumbnail {
    width: 100%;
    height: 100px;
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    top: -65px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 145px;
    width: 100%;
    opacity: 0.2;
    transition: .3s ease;
    background-color: #000;
    border-radius: 5px;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .preview-attachment:hover .overlay {
    opacity: 1;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
  }
  
  /* When you move the mouse over the icon, change color */
  .fa-user:hover {
    color: #eee;
    font-size: 24px;
  }

  .accordian-header-controls {
    float: left;
    width: 100%;
  }

  .accordian-pagination-controls {
    float: right;
  }

  .back {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
  }

  /* reply message css */

  .reply-message-section {
    clear:both
  }

  .border-bottom {
    border-bottom: 1px solid #ccc;
}

:host ::ng-deep .cke_bottom {
    border-top:none !important;
    background: none !important;
}

:host ::ng-deep .cke_bottom {
    /*border-top: 1px solid #ccc;*/
    float: right;
    position: absolute;
    right: 0;
    border-bottom: none !important;
    background: none !important;   
    margin: 10px 0;
}



:host ::ng-deep .cke_resizer {
    display: none;
}

:host ::ng-deep .cke_toolbar {
    float:right !important
}

:host ::ng-deep .cke_chrome {
    border:none !important
}

.message-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 0;
  margin: 10px 10px;
}

:host ::ng-deep .cke_path {
    display: none;
}

.template-check-box {
  border-top:1px solid #ccc;
}

.template-check-box .reply-controls{
  margin:15px 0;
}

.three-dot {
    float: right;
    margin: 0;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #eee;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    color: #aaa;
}

:host ::ng-deep #cke_1_contents {
    min-height: 200px;
}

.notification-aatachment-btn-sis {
    margin-top : -200px;
    margin-left:0;    
    border: 1px solid #1E88E5;
    padding: 20px 30px;
    border-radius: 5px;
    background: #1e88e50d;
    text-align: center;
    color:#1E88E5;
    width: 150px;
    z-index: 0 !important;
}

.preview-attachment-base {
    float:left;
    padding-left: 0;
    margin-left:2px;
}

.preview-attachment-base-reply {
  float: left;
    padding-left: 0;
    margin-left: -10px;
    position: absolute;
    bottom: 0;
  
}

.preview-attachment {
    list-style: none;
    display:inline;    
    margin-left: 10px;
    text-align: center;
    
}

.preview-attachment img {
    height: 145px;
    width: 150px;
    border: 1px solid #1E88E5;
    border-radius: 5px;
    padding:1px;
}

.color-blue {
    color: #1E88E5 !important;
    font-size: 24px !important;
}

.user-context-menu {
    position: absolute;
    right: 10px;
    border: 1px solid #ccc;
    min-height: 100px;
    max-height: 300px;
    overflow-y:auto;
    width: 260px;
    background: #fff;
    z-index: 99999;
    margin-top: 30px;
}

.user-type-menu {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.user-type-menu li{
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-align: right
}

.class-menu {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.class-menu li{
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

.user-menu {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.user-menu li{
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

.custom-entry-button {
    width: auto !important;
}

.user-chips {
    margin-left: 30px;
    margin-top: -15px;
    width: 90%;
    overscroll-behavior-y: auto;
}

.reply-controls button {
    margin-left: 0 !important;
    float: left;
}

.reply-controls .reply-attachment {
    float: left;
    margin-left: 10px;
    transform: rotate(92deg) scaleX(-1); 
    vertical-align: bottom; 
}
:host ::ng-deep .ck-editor__editable {
  max-height: 500px !important;
}

.to-section {
  height: 40px;
  overflow-y: auto;
  width:97%;
  float: left;
}



