<div>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6">
            <span class="font-size-24 font-bold">RFID Mapping</span>
          </div>
          <div class="col-6 text-right">
            <button mat-raised-button class="btn-success-blue btn-spacer" (click)="openSearchDialog({})">
              Advanced Filter
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row" [hidden]="!(RFID_LIST_ELEMENT.length > 0)">
    <div class="col-12">
      <mat-card class="card-height-730">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="row ">
              <div class="col-10 remove-col-padding">
                <mat-form-field appearance="legacy lib-form">
                  <input matInput placeholder="Search" (keyup)="applyFilterRFID($event.target.value)"/>
                  <mat-icon matPrefix>filter_list</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <table mat-table [dataSource]="rfidlistdataSource" matSort class="table-100 text-center" id="book_log"
              class="booklog">
              <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="2%"> Sr. No. </th>
                <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
              </ng-container>
              <ng-container matColumnDef="book_no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%">Book No.</th>
                <td mat-cell *matCellDef="let element">
                  <a class="font-skyblue cursor-pointer" (click)="openBookModal(element?.book_no)">{{element?.book_no}}
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%">Book Name</th>
                <td mat-cell *matCellDef="let element" class="text-left">
                  <span class="text-left text-capitalize">{{element?.title | slice:0:125}}</span>
                  <span *ngIf="item?.title?.length > 76">...</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Author</th>
                <td mat-cell *matCellDef="let element" class="text-left">
                  <span class="text-left text-capitalize">{{element?.author | slice:0:76}}</span>
                  <span *ngIf="item?.authors?.length > 76">...</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Location</th>
                <td mat-cell *matCellDef="let element" class="text-left">
                  <span class="text-left text-capitalize">{{element?.location | slice:0:76}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> RFID No.</th>
                <td mat-cell *matCellDef="let element">
                  <form [formGroup]="formGroupArray[element.srno - 1].formGroup">
                    <mat-form-field class="form-field lib-form">
                      <input matInput [placeholder]="!(formGroupArray[element.srno - 1].formGroup.value.rfid) ? 'Enter RFID No..' : ''"
                        formControlName="rfid"  autocomplete="off" />
                    </mat-form-field>
                  </form>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedRFIDListColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedRFIDListColumns;">
              </tr>
            </table>

            <table class="table table-borderd table-stripped custom-table text-center" style="margin-top:5px;">
              <tr *ngIf="RFID_LIST_ELEMENT.length == 0">
                <td colspan="8">No Record Found</td>
              </tr>
            </table>
            <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[5,10,25,100,500]" showFirstLastButtons>
              </mat-paginator>
          </div>
          <div class=" col-2">
          </div>
        </div>
        <br />
        <div class="row text-center">
          <div class="col-12">
            <button mat-raised-button class="btn-success-green" 
            [disabled]="disableApiCall"
            (click)="finalSubmit()">Submit</button>
            <button mat-raised-button class="btn-reset btn-spacer">
              Reset
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row" *ngIf="RFID_LIST_ELEMENT.length==0">
      <div class="col-12">
        <mat-card>
          <div class="text-center">
            <app-no-data
              [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/RFID_Mapping.png'"
              [noDataText]="" [subText]="'No Book For RFID Mapping'"></app-no-data>
          </div>
        </mat-card>
      </div>
    </div>
</div>
<app-book-details-modal #bookDet></app-book-details-modal>
<app-advanced-search-modal (searchOk)="searchOk($event)" #searchModal></app-advanced-search-modal>