<div class="container-box__white">
  <ng-container>
    <div class="functional-button-five">
      <button mat-fab *ngIf="(viewOnly && isExistUserAccessMenu('request') && studentdetails?.editable_status == '1')"
        (click)="editRequest()" (keydown.enter)="$event.preventDefault()">
        <mat-icon class="btn-top-icon">create</mat-icon><span class="right-btn-text">Edit Request</span>
      </button>
    </div>

    <div class="padding-15">
      <form [formGroup]="Education_Form">
        <div class="row" >
          <div class="col-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Qualification</mat-label>
              <input [errorStateMatcher]="confirmValidParentMatcher" class="text-capitalize"
                formControlName="qualification" required matInput placeholder="Qualification" [readonly]="viewOnly">
              <mat-error>
                This field is required*
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2 sis-col-20">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Board/University</mat-label>
              <mat-select formControlName="board" required [errorStateMatcher]="confirmValidParentMatcher"
                placeholder="Board/University" [disabled]="viewOnly">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                  {{item.class_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required*
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Year</mat-label>
              <mat-select formControlName="year" placeholder="Year" required
                [disabled]="viewOnly">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                  {{item.class_name}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required*
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2 sis-col-20">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Division</mat-label>
              <mat-select formControlName="division" [errorStateMatcher]="confirmValidParentMatcher"
                placeholder="Division" [disabled]="viewOnly">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of reasonArray" [value]="item.reason_id">
                  {{item.reason_title}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required*
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2" >
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>%/CGPA</mat-label>
              <input [errorStateMatcher]="confirmValidParentMatcher" class="text-capitalize"
              formControlName="percentage" required matInput placeholder="%/CGPA" [readonly]="viewOnly">
              <mat-error>
                This field is required*
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Subject(Core)</mat-label>
              <mat-select formControlName="subject" [errorStateMatcher]="confirmValidParentMatcher"
                placeholder="Subject(Core)" [disabled]="viewOnly">
                <mat-option>Please Select</mat-option>
                <mat-option *ngFor="let item of reasonArray" [value]="item.reason_id">
                  {{item.reason_title}}
                </mat-option>
              </mat-select>
              <mat-error>
                This field is required*
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-2 margin-top-10 margin-top-12">
            <button  mat-raised-button class="btn-neutral"
              (click)="addPreviousEducations()">Add To List</button>
            <button *ngIf="educationUpdateFlag && !viewOnly" mat-raised-button class="btn-neutral"
              (click)="updatePreviousEducationList()">Update List</button>
          </div>
        </div>
      </form>

      <div class="row" *ngIf="educationsArray.length > 0 ">
        <div class="col-12">
          <table class="table table-borderd table-stripped custom-table">
            <thead class="table-skill__head text-center">
              <tr class="custom-tr">
                <th class="custom-th">Sr. No.</th>
                <th class="custom-th" >Qualification</th>
                <th class="custom-th" >Board/University</th>
                <th class="custom-th" >Year</th>
                <th class="custom-th" >Divison</th>
                <th class="custom-th" >%/CGPA</th>
                <th class="custom-th" >Subject</th>
                <th *ngIf="!viewOnly" class="custom-th">Modify</th>
              </tr>
            </thead>
            <tbody class="table-skill__body text-center">
              <tr class="custom-tr" *ngFor="let item of educationsArray;let i=index">
                <td>{{i+1}}</td>
                <td>{{i+1}}</td>
                <td>{{i+1}}</td>
                <td>{{i+1}}</td>
                <td>{{i+1}}</td>
                <td>{{i+1}}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="row" *ngIf="educationsArray.length === 0 && viewOnly ">
        <div class="col-12">
          <table class="table table-borderd table-stripped custom-table">
            <thead class="table-skill__head text-center">
              <tr class="custom-tr">
                <th class="custom-th">Sr. No.</th>
                <th class="custom-th" *ngIf="checkIfFieldExist('eed_previous_school_name')">Name of prevous school</th>
                <th class="custom-th" *ngIf="checkIfFieldExist('eed_current_class')">Last Class Attended</th>
                <th class="custom-th" *ngIf="checkIfFieldExist('eed_admitted_class')">Admitted Class</th>
                <th class="custom-th" *ngIf="checkIfFieldExist('eed_reason_of_leaving')">Reason for leaving</th>
                <th class="custom-th" *ngIf="checkIfFieldExist('eed_joining_from')">Date of joining</th>
                <th class="custom-th" *ngIf="checkIfFieldExist('eed_joining_to')">Date of leaving</th>
                <th class="custom-th" *ngIf="checkIfFieldExist('eed_specify_reason')">Specified Reason</th>
                <th *ngIf="!viewOnly" class="custom-th">Modify</th>
              </tr>
            </thead>
            <tbody class="table-skill__body text-center">
              <tr class="custom-tr">
                <td colspan="8">No records Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->

    </div>


    <div class="row">
      <div class="col-12 text-center ">
        <button *ngIf="addOnly" mat-raised-button class="btn-success btn-save-continue" (click)="saveForm()">Save &
          Continue</button>
        <button *ngIf="saveFlag" mat-raised-button class="btn-success" (click)="updateForm(true)">Submit</button>
        <button *ngIf="saveFlag" mat-raised-button class="btn-success btn-spacer btn-save-continue"
          (click)="updateForm(false)">Update &
          Continue</button>
        <button mat-raised-button class="btn-neutral btn-spacer" *ngIf="editRequestFlag"
          (click)="checkFormChangedValue()">Edit & Continue</button>
        <button *ngIf="!viewOnly" mat-raised-button class="btn-danger btn-spacer" (click)="cancelForm()">Cancel</button>
      </div>
    </div>

  </ng-container>
</div>
<app-edit-request-modal #editReference (confirm)="editConfirm()"></app-edit-request-modal>