.left {
    text-align: left !important;
    padding-left: 5px !important;
}
.add-question-content {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 8px;
    margin-bottom: 20px;
  }
  .middle {
    margin-top: 20px;
  }
  .white-box {
    background-color: #ffffff;
  }
  img.image-bnk-logo {
    width: 100%;
    object-fit: cover;
}
  .white-box-content {
    padding: 20px;
    margin-bottom: 40px;
  }
  .white-box-content-title {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  .left-parameter-content {
    margin-top: 20px;
  }
  
  .left-side-box {
    background-color: #000;
  }
  .left-side-box-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: #f6f7f9;
  }
  
  .left-side-box-content-title-divider {
    margin-bottom: 1.7rem;
    border-top: 1px solid transparent;
  }
  .left-side-box-content-title {
    font-weight: 500;
  }
  .top-right-box-content-title {
    font-weight: 500;
  }
  .top-right-box-content {
    padding-top: 30px
  }  
  .remove-col-modal-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .mod-div-2 {
    padding: 10px;
    margin-left: 30px;
}
.div-form-editor {
  margin-bottom: 30px;
}
button.btn-neutral.btn-upl.mat-raised-button {
  position: absolute;
  top: 28px;
}

.delete-signature {
  background: #ff0000;
    color: #fff;
    /* width: 20px; */
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -10px;
    border-radius: 50%;
}
