agm-map {
    height: 600px;
  }
.agm-info{
  color: #000;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
}
.gm-style .gm-style-iw {
  font-weight: 400;
  font-size: 20px !important;
  color: rgb(0 0 0 / 87%);
  overflow: hidden;
}