.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }
  
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }
  
  //copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
  $mat-header-row-height: 56px;
  $mat-row-height: 70px;
  $mat-row-horizontal-padding: 24px;
  
  .mat-table {
    display: block;
  }
  
  .mat-header-row {
    min-height: 56px;
  }
  
  .mat-row {
    min-height: 80px !important;
    background: none !important;
  }
  
  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
  
    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }
  
  .mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }

  ::ng-deep .mat-expansion-indicator {
      display: none !important;
  }

  .message-header {
    float: left;
    width: 100%;
  }

  .sis-student-pic__size {
      width: 50px !important;
      height: 50px !important;
      float: left;
  }


  .circle-thumbnail {
      float:left;
  }

  .profile-detail {
      float: left;
      margin-left: 10px;
  }

  .profie-name-detail {
      font-weight: 900;
  }

  .profile-to-detail {
      font-size: 12px;
  }

  .message-utility-detail {
      float: right;
      font-size: 14px;
  }

  .message-utility-detail-attachment {
      border-right: 1px solid #ccc;
      padding:0 10px;
  }

  .message-utility-detail-time {
      margin-left:10px;
  }

  .preview-attachment-base {
    float:left;
}

.preview-attachment {
    list-style: none;
    display:inline;    
    margin-left: 10px;
    text-align: center;    
}

.preview-attachment img {
    height: 145px;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding:1px;
}

.message-description {
    margin-left:10px;
}

.message-action-buttons {
    clear: both;
    margin: 10px 10px;
}

.fa-paperclip { 
    transform: rotate(137deg) scaleX(-1); 
    vertical-align: bottom; 
}


.preview-attachment {
    position: relative;
    width: 100%;
  }
  
  /* Make the image to responsive */
  .attachment-thumbnail {
    width: 100%;
    height: 145px;
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    top: -65px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 145px;
    width: 100%;
    opacity: 0.2;
    transition: .3s ease;
    background-color: #000;
    border-radius: 5px;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .preview-attachment:hover .overlay {
    opacity: 1;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
  }
  
  /* When you move the mouse over the icon, change color */
  .fa-user:hover {
    color: #eee;
    font-size: 24px;
  }