<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row ">
        <div class="col-6 remove-col-padding-left margin-top-15">
          <span class="font-size-24 ">Mark Attendance</span>
        </div>
        <div class="col-6 remove-col-padding-right text-right">
          <mat-form-field appearance="outline" class="form-field-150">
            <mat-select placeholder="Class">
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="margin-left-15 form-field-150">
            <mat-select placeholder="Section">
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row ">
        <div class="col-6 remove-col-padding-left">
          <mat-form-field appearance="outline" class="form-field-220">
            <mat-select placeholder="Mark all student as">
              <mat-option>
                 
                  <mat-radio-button class="example-radio-button margin-top-10" >
                    Present
                  </mat-radio-button>
                  
              </mat-option>
              <mat-option>
                  <mat-radio-button class="example-radio-button margin-top-10" >
                      Absent
                    </mat-radio-button>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 margin-top-25 remove-col-padding-right text-right">
          <i class="fas fa-square font-size-20 font-color-green"></i><span
            class="font-color-green margin-bottom-5 margin-left-10 font-size-15 font-medium">Present</span>
          <i class="fas fa-square font-size-20 font-color-red margin-left-50"></i><span
            class="font-color-red margin-bottom-5 margin-left-10 font-size-15 font-medium margin-right-20">Absent</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="row">
            <div class="col-4 remove-col-padding-right text-center">
              <img class="mark-student-img" src="https://via.placeholder.com/150">
              <div class="">
                <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
              </div>
            </div>
            <div class="col-8 margin-top-5">
              <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
              <span class="font-size-12">Roll no. : 01 </span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-4 remove-col-padding-right text-center">
              <img class="mark-student-img" src="https://via.placeholder.com/150">
              <div class="">
                <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
              </div>
            </div>
            <div class="col-8 margin-top-5">
              <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
              <span class="font-size-12">Roll no. : 01 </span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-4 remove-col-padding-right text-center">
              <img class="mark-student-img" src="https://via.placeholder.com/150">
              <div class="">
                <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
              </div>
            </div>
            <div class="col-8 margin-top-5">
              <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
              <span class="font-size-12">Roll no. : 01 </span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-4 remove-col-padding-right text-center">
              <img class="mark-student-img" src="https://via.placeholder.com/150">
              <div class="">
                <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
              </div>
            </div>
            <div class="col-8 margin-top-5">
              <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
              <span class="font-size-12">Roll no. : 01 </span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-4 remove-col-padding-right text-center">
              <img class="mark-student-img" src="https://via.placeholder.com/150">
              <div class="">
                <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
              </div>
            </div>
            <div class="col-8 margin-top-5">
              <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
              <span class="font-size-12">Roll no. : 01 </span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-4 remove-col-padding-right text-center">
              <img class="mark-student-img" src="https://via.placeholder.com/150">
              <div class="">
                <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
              </div>
            </div>
            <div class="col-8 margin-top-5">
              <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
              <span class="font-size-12">Roll no. : 01 </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-2">
            <div class="row">
              <div class="col-4 remove-col-padding-right text-center">
                <img class="mark-student-img" src="https://via.placeholder.com/150">
                <div class="">
                  <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
                </div>
              </div>
              <div class="col-8 margin-top-5">
                <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
                <span class="font-size-12">Roll no. : 01 </span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-4 remove-col-padding-right text-center">
                <img class="mark-student-img" src="https://via.placeholder.com/150">
                <div class="">
                  <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
                </div>
              </div>
              <div class="col-8 margin-top-5">
                <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
                <span class="font-size-12">Roll no. : 01 </span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-4 remove-col-padding-right text-center">
                <img class="mark-student-img" src="https://via.placeholder.com/150">
                <div class="">
                  <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
                </div>
              </div>
              <div class="col-8 margin-top-5">
                <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
                <span class="font-size-12">Roll no. : 01 </span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-4 remove-col-padding-right text-center">
                <img class="mark-student-img" src="https://via.placeholder.com/150">
                <div class="">
                  <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
                </div>
              </div>
              <div class="col-8 margin-top-5">
                <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
                <span class="font-size-12">Roll no. : 01 </span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-4 remove-col-padding-right text-center">
                <img class="mark-student-img" src="https://via.placeholder.com/150">
                <div class="">
                  <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
                </div>
              </div>
              <div class="col-8 margin-top-5">
                <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
                <span class="font-size-12">Roll no. : 01 </span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row">
              <div class="col-4 remove-col-padding-right text-center">
                <img class="mark-student-img" src="https://via.placeholder.com/150">
                <div class="">
                  <i class="fas fa-check-circle mark-student-tick font-size-20 font-color-green"></i>
                </div>
              </div>
              <div class="col-8 margin-top-5">
                <span class="font-size-16 fontt-medium">Mukan Kumari</span><br>
                <span class="font-size-12">Roll no. : 01 </span>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row margin-top-25">
          <div class="col-12 text-center">
            <button mat-button class="btn-success-green">Submit</button>
            <button mat-button class="btn-reset btn-spacer">Reset</button>
          </div>
        </div>
    </mat-card>
  </div>
</div>