.filter-header-container {
    background-color: #06536b !important;
    padding: 3px 5px !important;
    color: #ffffff !important;
}
.filter-body-green-container {
    background-color: #91c7d7 !important;
    padding: 15px 25px !important;
    color: #000 !important;
    height: 55px !important;
}
.btn-setting {
    background-color: #0ea107 !important;
    color: #ffffff;
    margin-bottom: 5px !important;
}