<div class="modal-custom-cotainer">
  <div class="row remove-top-margin">
    <div class="col-12 remove-col-padding">
      <div class="modal-title-box">
        <span class="font-size-20 font-white font-regular">Topicwise Update</span><span
          class="float-right margin-top-5"><i
            class="far fa-times-circle font-white cursor-pointer font-size-24"></i></span>
      </div>
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-12 text-center">
      <span class="font-size-24 font-light"> Do you wish to </span><span class="font-size-24 font-bold">Save Changes
        ?</span>
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-12 text-center">
      <button mat-raised-button class="btn-success-green">Yes</button>
      <button mat-raised-button class="btn-reset margin-left-10">No</button>
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-12 text-center">
      <mat-form-field class="form-field-220" appearance="outline">
        <mat-label>Entry Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-12 text-center">
      <button mat-raised-button class="btn-success-green">Submit</button>
      <button mat-raised-button class="btn-reset margin-left-10">cancel</button>
    </div>
  </div>
</div>