<div class="container-box__white padding-overall">
  <div class="functional-button-five">
    <button mat-fab *ngIf="(viewOnly && isExistUserAccessMenu('request') && editableStatus === '1')" mat-raised-button
      (click)="editRequest()" (keydown.enter)="$event.preventDefault()">
      <mat-icon class="btn-top-icon">create</mat-icon><span class="right-btn-text">Edit Request</span>
    </button>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="personalContacts">
        <div class="padding-15">
          <div class="row remove-top-margin">

            <div class="col-4 col-pad-5">
              <fieldset class=" fieldset_invoice">
                <legend class="invoice_legend"> <b>Applied Job Details</b></legend>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Applied Position </mat-label>
                  <mat-select formControlName="enq_applied_for" placeholder="Applied Position" required
                    [errorStateMatcher]="confirmValidParentMatcher" [disabled]="viewOnly">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option *ngFor="let item of categoryOneArray" [value]="item.cat_id">
                      {{item.cat_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="enq_department" placeholder="Department" required
                    [errorStateMatcher]="confirmValidParentMatcher" [disabled]="viewOnly">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option value="{{item?.config_id}}" *ngFor="let item of departmentArray">{{item?.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Subject</mat-label>
                  <mat-select formControlName="enq_subject" placeholder="Subject" required
                    [errorStateMatcher]="confirmValidParentMatcher" [disabled]="viewOnly">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option value="{{item?.config_id}}" *ngFor="let item of departmentArray">{{item?.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Expected Salary</mat-label>
                  <input class="text-capitalize" matInput placeholder="Expected Salary" [readonly]="viewOnly"
                    formControlName="enq_expected_salary" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Current Salary</mat-label>
                  <input class="text-capitalize" matInput placeholder="Current Salary" [readonly]="viewOnly"
                    formControlName="enq_present_salary" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-4 col-pad-5">
              <fieldset class=" fieldset_invoice">
                <legend class="invoice_legend"> <b>Work Experience</b></legend>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Organisation</mat-label>
                  <input class="text-capitalize" matInput placeholder="Organisation" [readonly]="viewOnly"
                    formControlName="organisation" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Designation</mat-label>
                  <input class="text-capitalize" matInput placeholder="Designation" [readonly]="viewOnly"
                    formControlName="designation" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Salary Drawn</mat-label>
                  <input class="text-capitalize" matInput placeholder="Salary Drawn" [readonly]="viewOnly"
                    formControlName="salary_drawn" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>From Date</mat-label>
                  <input class="text-capitalize" matInput placeholder="From Date" [readonly]="viewOnly"
                    formControlName="from_date" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>To Date</mat-label>
                  <input class="text-capitalize" matInput placeholder="To Date" [readonly]="viewOnly"
                    formControlName="to_date" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-4 col-pad-5">
              <fieldset class=" fieldset_invoice">
                <legend class="invoice_legend"> <b>Academics Details</b></legend>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Qualification</mat-label>
                  <input class="text-capitalize" matInput placeholder="Qualification" [readonly]="viewOnly"
                    formControlName="qualification" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>University</mat-label>
                  <input class="text-capitalize" matInput placeholder="University" [readonly]="viewOnly"
                    formControlName="university" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Year</mat-label>
                  <input class="text-capitalize" matInput placeholder="Year" [readonly]="viewOnly"
                    formControlName="year" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Division</mat-label>
                  <input class="text-capitalize" matInput placeholder="Division" [readonly]="viewOnly"
                    formControlName="division" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Percentage</mat-label>
                  <input class="text-capitalize" matInput placeholder="Percentage" [readonly]="viewOnly"
                    formControlName="percentage" [errorStateMatcher]="confirmValidParentMatcher" />
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </fieldset>
            </div>



          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <button *ngIf="addOnly" mat-raised-button class="btn-success btn-save-continue" (click)="saveForm()"
        [disabled]="disabledApiButton">Save &
        Continue</button>
      <button *ngIf="editOnly" mat-raised-button class="btn-success" (click)="updateForm(false)"
        [disabled]="disabledApiButton">Submit</button>
      <button *ngIf="editOnly" mat-raised-button class="btn-success btn-spacer btn-save-continue"
        (click)="updateForm(true)" [disabled]="disabledApiButton">Update & Continue</button>
      <!-- <button mat-raised-button class="btn-neutral" *ngIf="editRequestFlag"
            (click)="checkFormChangedValue();openEditDialog({data: [finalArray] ,reqParam: params})">Edit &
            Continue</button> -->
      <button *ngIf="!viewOnly" mat-raised-button class="btn-danger btn-spacer" (click)="cancelForm()">Cancel</button>
    </div>
  </div>

  <!-- <app-edit-request-modal #editReference (confirm)="editConfirm()"></app-edit-request-modal> -->