<div class="row remove-top-margin">
  <div class="col-12 remove-col-padding">

    <div>
      <!-- [belongToForm]="formname" [config]="config" [configSetting]="settingsArray"-->
      <app-employee-common [belongToForm]="formname" [config]="config" [configSetting]="settingsArray">
      </app-employee-common>
      <mat-tab-group [selectedIndex]="tabSelectedIndex" (selectedIndexChange)="setTabValue($event)">
        <!-- <ng-container *ngFor="let tab of formsTab; let i=index">
        <mat-tab [disabled]="checkFormEnabled(i)">
          <ng-template mat-tab-label>
            <div>
              <span>{{tab.label}}</span>
            </div>
          </ng-template>
           <app-dynamic-content-theme-two *ngIf="studentdetails" [type]="tab.component" [studentdetails]="studentdetails" [belongToForm]="formname" [config]="config" [currentStudentDataId]="currentStudentDataId" [configSetting]="settingsArray"></app-dynamic-content-theme-two> 
        </mat-tab>
      </ng-container> -->
        <mat-tab label="Personal Details"> 
          <app-employee-tab-one-container></app-employee-tab-one-container>  
        </mat-tab>
        <mat-tab label="Personal Contact"> <app-employee-tab-two-container></app-employee-tab-two-container>   </mat-tab>
        <mat-tab label="Salary Details"> <app-employee-tab-three-container></app-employee-tab-three-container>  </mat-tab>
        <mat-tab label="Remarks"> <app-employee-tab-four-container></app-employee-tab-four-container>  </mat-tab>
        <mat-tab label="Class &amp; Section"> <app-employee-tab-five-container></app-employee-tab-five-container>  </mat-tab>
        <mat-tab label="Documents"> <app-employee-tab-six-container></app-employee-tab-six-container> </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>