<div *ngIf="showLandscape" class="container-printid-landscape35">
   <img [src]="idCardConfig.ps_template_image ? 
   idCardConfig.ps_template_image: '/assets/images/landscape-id-card_bg_three_3.jpg'" style="width: 100%;height:100%;">
   <div id="id_card_landscape_body">
      <div class="row remove-margin">
         <div class="col-3 my-col remove-col-padding text-left">
            <img *ngIf="showSchoolLogo" class="id-card-school-logo-style-3" [src]="idCardConfig.ps_school_logo ? idCardConfig.ps_school_logo
            : 'https://via.placeholder.com/50'" alt="school-logo">
         </div>
         <div class="col-6 custom-margin-school-name remove-col-padding set-school-head-land">
            <p [ngStyle]="{'font-weight':allContentBold}"
               class="id_card_portrait_student_name text-uppercase remove-paragraph-bottom-padding school-name-pt-st3">
               <b>
                  {{schoolInfo.school_name}}</b>
            </p>
            <p [ngStyle]="{'font-weight':allContentBold, 'font-size': addressFontSize}" *ngIf="stuAddressFlag"
               class="id-card-school-address pt-add-st3">
               {{schoolInfo.school_address}},
               {{schoolInfo.school_city}},
               {{schoolInfo.school_state}} -
            </p>
            <p [ngStyle]="{'font-weight':allContentBold, 'color':studentNameForeColor, 'background':studentNameBgColor, 'margin-top': '-3px'}"
               class="id_card_student_info_style3 remove-paragraph-bottom-padding text-uppercase"
               style="margin-left: -17px !important;">
               <b>{{studentDetails.au_full_name}}</b></p>
         </div>
         <div class="col-3 remove-col-padding">
            <div class="text-center"><img class="student-photo--size--style3" [src]="studentProfileImage"
                  alt="student photo"></div>
         </div>
      </div>
      <div class="row">
         <div class="col-3 remove-col-padding"></div>
         <div class="col-7 remove-col-padding custom-margin-school-info">
            <br>
            <p [ngStyle]="{'font-weight':allContentBold, 'margin-top': '-29px'}"
               class="id_card_student_info remove-paragraph-bottom-padding"><b>Class :

               </b>{{studentDetails.class_name}} - {{studentDetails.sec_name}}</p>
            <p [ngStyle]="{'font-weight':allContentBold}" class="id_card_student_info remove-paragraph-bottom-padding">
               <b>Transport :</b>
               {{studentDetails.route_name}}- {{studentDetails.stoppages_name}}
            </p>
            <p [ngStyle]="{'font-weight':allContentBold}" class="id_card_student_info remove-paragraph-bottom-padding">
               <b>Mobile no. :</b>
               {{studentDetails.au_mobile}}</p>
            <p [ngStyle]="{'font-weight':allContentBold}" class="id_card_student_info remove-paragraph-bottom-padding">
               <b>DOB
                  :</b>{{studentDetails.upd_dob | date: 'd-MMM-y'}}</p>
            <div class="row remove-margin">
               <div class="col-8 remove-col-padding">
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_student_info remove-paragraph-bottom-padding"><b>House
                        :</b>{{studentDetails.hou_house_name ? studentDetails.hou_house_name : '-'}}</p>
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_student_info remove-paragraph-bottom-padding"><b>Blood Group :</b>
                     {{getBloodGroupName(studentDetails.mi_blood_group) ? getBloodGroupName(studentDetails.mi_blood_group) : '-'}}
                  </p>
               </div>
               <div class="col-4remove-col-padding">
                  <div class="text-left"><img *ngIf="showAuthority" [src]="authSign" class="principal-sign--size psign"
                        alt="principal signature"></div>
                  <div class="text-left text-sign-lan3">
                     <p [ngStyle]="{'font-weight':allContentBold}"
                        class="id_card_student_minor_info remove-paragraph-bottom-padding">Auth. Sign</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-2">
            <div class="landscape-style3">
               <ngx-barcode bc-element-type="img" [bc-value]="studentDetails.au_admission_no" bc-format="CODE39"
                  bc-background="transparent"></ngx-barcode>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container-printid-landscape2" *ngIf="showLandscape && showBackSide" style="object-fit: fill !important;">
   <div class="container-landscape-box__white">
      <div [ngStyle]="{'background': idcardBodyColor}">
         <div class="row remove-margin">
            <div [ngStyle]="{'font-weight':allContentBold}" class="col-4 text-center remove-col-padding">
               <span class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>Father</b>
               </span>
               <div style="width: 65px;
                       height: 65px;margin:auto"><img *ngIf="showParentPhoto" class="parent-photo--size"
                     [src]="studentDetails?.father_image ? studentDetails?.father_image : 'https://via.placeholder.com/50'"
                     alt="student photo"></div>
               <p *ngIf="showParentName" class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>
                     {{  studentDetails && studentDetails.father_honorific === '1' ? 'Mr.' :
                       studentDetails && studentDetails.father_honorific === '2' ? 'Mrs.' :
                       studentDetails && studentDetails.father_honorific === '3' ? 'Miss.' :
                       studentDetails && studentDetails.father_honorific === '4' ? 'Ms.' :
                       studentDetails && studentDetails.father_honorific === '5' ? 'Mx.' :
                       studentDetails && studentDetails.father_honorific === '6' ? 'Sir.' :
                       studentDetails && studentDetails.father_honorific === '7' ? 'Dr.' :
                       studentDetails && studentDetails.father_honorific === '8' ? 'Lady' : 
                       studentDetails && studentDetails.father_honorific === '9' ? 'Late' : 
                       studentDetails && studentDetails.father_honorific === '10' ? 'Md.' : ''
                       }}
                     {{studentDetails.father_name}}</b>
               </p>
               <p *ngIf="showParentMobile" class="id_card_student_contact_info remove-paragraph-bottom-padding">
                  {{studentDetails?.father_no}}
               </p>
            </div>
            <div [ngStyle]="{'font-weight':allContentBold}" class="col-4 text-center remove-col-padding">
               <span class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>Mother</b>
               </span>
               <div style="width: 65px;
                       height: 65px;margin:auto"><img *ngIf="showParentPhoto" class="parent-photo--size" [src]="studentDetails?.mother_image ? studentDetails.mother_image : 'https://via.placeholder.com/50
                  '" alt="student photo"></div>
               <p *ngIf="showParentName" class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>
                     {{studentDetails && studentDetails.mother_honorific === '1' ? 'Mr.' :
                       studentDetails && studentDetails.mother_honorific === '2' ? 'Mrs.' :
                       studentDetails && studentDetails.mother_honorific === '3' ? 'Miss.' :
                       studentDetails && studentDetails.mother_honorific === '4' ? 'Ms.' :
                       studentDetails && studentDetails.mother_honorific === '5' ? 'Mx.' :
                       studentDetails && studentDetails.mother_honorific === '6' ? 'Sir.' :
                       studentDetails && studentDetails.mother_honorific === '7' ? 'Dr.' :
                       studentDetails && studentDetails.mother_honorific === '8' ? 'Lady' : 
                       studentDetails && studentDetails.mother_honorific === '9' ? 'Late' : 
                       studentDetails && studentDetails.mother_honorific === '10' ? 'Md.' : ''
                       }}
                     {{studentDetails.mother_name}}</b>
               </p>
               <p *ngIf="showParentMobile" class="id_card_student_contact_info remove-paragraph-bottom-padding">
                  {{studentDetails?.mother_no}}
               </p>
            </div>
            <div *ngIf="showGuardianPhoto" [ngStyle]="{'font-weight':allContentBold}"
               class="col-4 text-center remove-col-padding">
               <span class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>Guardian Info</b>
               </span>
               <div style="width: 65px;
                    height: 65px;margin:auto"><img *ngIf="showGuardianPhoto" class="parent-photo--size"
                     src="'https://via.placeholder.com/50'" alt="student photo"></div>
               <p class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>
                     {{studentDetails && studentDetails.guardian_honorific === '1' ? 'Mr.' :
                    studentDetails && studentDetails.guardian_honorific === '2' ? 'Mrs.' :
                    studentDetails && studentDetails.guardian_honorific === '3' ? 'Miss.' :
                    studentDetails && studentDetails.guardian_honorific === '4' ? 'Ms.' :
                    studentDetails && studentDetails.guardian_honorific === '5' ? 'Mx.' :
                    studentDetails && studentDetails.guardian_honorific === '6' ? 'Sir.' :
                    studentDetails && studentDetails.guardian_honorific === '7' ? 'Dr.' :
                    studentDetails && studentDetails.guardian_honorific === '8' ? 'Lady' : 
                    studentDetails && studentDetails.guardian_honorific === '9' ? 'Late' : 
                    studentDetails && studentDetails.guardian_honorific === '10' ? 'Md.' : ''
                    }}
                     {{studentDetails.guardian_name}}</b>
               </p>
               <p class="id_card_student_contact_info remove-paragraph-bottom-padding">9999955555</p>
            </div>
         </div>
         <div class="row remove-margin">
            <div class="col-12">
               <p [ngStyle]="{'font-weight':allContentBold}"
                  class="id_card_student_addr_info remove-paragraph-bottom-padding"><b>Address :</b>
                  {{studentDetails.address1 ? studentDetails.address1 : '-'}}
               </p>
               <p [ngStyle]="{'font-weight':allContentBold}"
                  class="id_card_student_addr_info remove-paragraph-bottom-padding new-footer-para-id-card">
                  <b>Disclaimer
                     :</b>
                  Id-Card is school's property. Please return if found.
               </p>
            </div>
         </div>
         <div class="row remove-margin">
            <div class="col-12 text-center">
               <p style="margin-top: none"
                  [ngStyle]="{'font-weight':allContentBold, 'color':footerFontColor, 'background':footerBgColor}"
                  class="id_card_footer remove-paragraph-bottom-padding">{{idCardConfig.ps_footer}}</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container-printid-portrait" *ngIf="showPotrait">
   <div class="container-portrait-box__white">
      <img [src]="idCardConfig.ps_watermark_image ? 
      idCardConfig.ps_watermark_image: ''" class="watermark-image2" class="watermark-image2">
      <img class="background-portrait-one" [src]="idCardConfig.ps_template_image ? 
      idCardConfig.ps_template_image: '/assets/images/id-card-portait-bg_background_three.jpg'">
      <div id="id_card_portrait_body">
         <div>
            <div class="row remove-margin  school-logo-pt">
               <div class="col-3 remove-col-padding text-center">
                  <img *ngIf="showSchoolLogo" class="id-card-portriat-school-logo2" [src]="idCardConfig.ps_school_logo ? idCardConfig.ps_school_logo
                  : 'https://via.placeholder.com/50'">
               </div>
               <div class="col-9 col-padding-school-addr">
                  <p [ngStyle]="{'font-weight':allContentBold}" style="color: black;
                  top:0px;
                    background: transparent;
                    text-align: center;text-align: end;
        font-weight: bold;" class="id-card-school-name2 text-uppercase remove-paragraph-bottom-padding">
                     {{schoolInfo.school_name}}
                  </p>
               </div>
            </div>
         </div>
         <div>
            <div class="row remove-margin">
               <div class="col-12">
                  <div class="text-center"><img class="student-portrait-photo--size" [src]="studentProfileImage"
                        alt="student photo"></div><br>
                  <img class="portriat-principal-sign--size" *ngIf="showAuthority" [src]="authSign"
                     alt="principal signature">
                  <div class="text-center">
                     <p [ngStyle]="{'font-weight':allContentBold, 'color':studentNameForeColor, 'background':studentNameBgColor}"
                        class="id_card_portrait_student_name text-uppercase remove-paragraph-bottom-padding" style="position: relative;
                            top: -50px;"><b>
                           {{studentDetails.au_full_name}}
                        </b>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div>
            <div class="row remove-margin id-card-div-move-pot">
               <div class="col-12 remove-col-padding text-uppercase">
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Session :</b>
                     {{sessionPromote}}
                  </p>
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Class :</b>
                     {{studentDetails.class_name}} - {{studentDetails.sec_name}}
                  </p>
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Transport :</b>
                     {{studentDetails.route_name}}- {{studentDetails.stoppages_name}}
                  </p>
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Mobile no. :</b>
                     {{studentDetails.au_mobile}}
                  </p>
                  <p *ngIf="dobFlag" [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Date of Birth :</b>
                     {{studentDetails.upd_dob | date: 'd-MMM-y'}}</p>
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>House :</b>
                     {{studentDetails.hou_house_name ? studentDetails.hou_house_name : '-'}}
                  </p>
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Blood Group :</b>
                     {{getBloodGroupName(studentDetails.mi_blood_group) ? getBloodGroupName(studentDetails.mi_blood_group) : '-'}}
                  </p>
                  <div class="text-center potrait-bar">
                     <ngx-barcode bc-element-type="img" [bc-value]="studentDetails.au_admission_no" bc-format="CODE39">
                     </ngx-barcode>
                  </div>
               </div>
            </div>
            <div class="row remove-margin top-portrait-top-footer id_card_portriat_color">
               <div class="col-12 text-center">
                  <p [ngStyle]="{'font-weight':allContentBold, 'color':footerFontColor, 'background':footerBgColor}"
                     class="id_card_footer remove-paragraph-bottom-padding">{{idCardConfig.ps_footer}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <p [ngStyle]="{'font-weight':allContentBold}" class="id_card_student_minor_info remove-paragraph-bottom-padding
   text-sign-lan2">
      Auth. Sign</p>
</div>
<div class="container-printid-portrait" *ngIf="showPotrait && showBackSide">
   <div class="container-portrait-box__white">
      <img class="background-portrait-one" [src]="idCardConfig.ps_template_image ? 
      idCardConfig.ps_template_image: '/assets/images/id-card-portait-bg_background_three.jpg'">
      <div id="id_card_portrait_body">
         <div>
            <div class="row remove-margin">
               <div style="width: 55px;
                              height: 55px;margin-bottom: 10px;" class="col-4 remove-col-padding text-center">
                  <img *ngIf="showParentPhoto" class="parent-portrait-photo--size"
                     [src]="studentDetails?.father_image ? studentDetails?.father_image : 'https://via.placeholder.com/50'"
                     alt="student photo">
               </div>
               <div [ngStyle]="{'font-weight':allContentBold}" class="col-8 col-padding-school-addr-portrait">
                  <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Name
                        :</b>{{studentDetails.father_name}}
                  </p>
                  <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Relationship:</b> Father</p>
                  <p *ngIf="showParentMobile" class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Tel
                        No
                        :</b> {{studentDetails?.father_no}}
                  </p>
               </div>
            </div>
         </div>
         <div>
            <div class="row remove-margin">
               <div style="width: 55px;
                              height: 55px;margin-bottom: 10px;" class="col-4 remove-col-padding text-center">
                  <img *ngIf="showParentPhoto" class="parent-portrait-photo--size" [src]="studentDetails?.mother_image ? studentDetails.mother_image : 'https://via.placeholder.com/50
                '" alt="student photo">
               </div>
               <div [ngStyle]="{'font-weight':allContentBold}" class="col-8 col-padding-school-addr-portrait">
                  <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Name :</b>
                     {{studentDetails.mother_name}}
                  </p>
                  <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Relationship:</b> Mother</p>
                  <p *ngIf="showParentMobile" class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Tel
                        No
                        :</b> {{studentDetails?.mother_no}}
                  </p>
               </div>
            </div>
         </div>
         <div *ngIf="showGuardianPhoto">
            <div class="row remove-margin">
               <div style="width: 55px;
                              height: 55px;margin-bottom: 10px;" class="col-4 remove-col-padding text-center">
                  <img *ngIf="showGuardianPhoto" class="parent-portrait-photo--size"
                     src="'https://via.placeholder.com/50'" alt="student photo">
               </div>
               <div [ngStyle]="{'font-weight':allContentBold}" class="col-8 col-padding-school-addr-portrait">
                  <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Name
                        :</b>{{studentDetails.guardian_name}}
                  </p>
                  <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Relationship:</b> Guardian
                  </p>
                  <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Tel No :</b> 9199345112</p>
               </div>
            </div>
         </div>
         <div>
            <div class="row remove-margin sep row">
               <div class="col-12 remove-col-padding">
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_student_addr_info remove-paragraph-bottom-padding"><b>Address :</b>
                     {{studentDetails.address1}}{{studentDetails.address2}}
                  </p>
                  <p [ngStyle]="{'font-weight':allContentBold}"
                     class="id_card_student_addr_info remove-paragraph-bottom-padding"><b>Disclaimer :</b>
                     Id-Card is school's property. Please return if found.
                  </p>
               </div>
            </div>
         </div>
         <div [ngStyle]="{'background': idcardBodyColor}">
            <div class="row remove-margin top-portrait-back-footer">
               <div class="col-12 text-center">
                  <p [ngStyle]="{'font-weight':allContentBold, 'color':footerFontColor, 'background':footerBgColor}"
                     class="id_card_footer remove-paragraph-bottom-padding">{{idCardConfig.ps_footer}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>