

@media (min-width: 601px){
   .user-credential-card{
       height: auto;
       min-height: 501px;
       padding: 48px 40px 36px;
       border-radius: 8px;
   } 
   .user-card{
    width: 450px;
    text-align: center;
   }

   .card-position{
    position: relative;
    left: 47%;
    margin: -100px 0 0 -150px;
   }
}

@media(max-width:460px){
    .mobile-view{
        display: inline-block;
    margin-left: 40px;
    }
}
::ng-deep .mat-tab-header {
    border-bottom: none !important;
}