<div class="container-box__white">
      <div class="container-box__grey">
         <br>
         <div class="row">
            <div class="col-4 text-center">
               <div class="line-divider"></div>
            </div>
            <div class="col-4 text-center">
               <h6 class="text-uppercase text-center"><b>Id Card Style 2</b></h6>
            </div>
            <div class="col-4 text-center">
               <div class="line-divider"></div>
            </div>
         </div>
         <br>
         <div class="row">
            <div class="col-3"></div>
            <div *ngIf="showLandscape" class="col-6 custom-col-50">
               <div class="container-printid-landscape">
                  <div [ngStyle]="{'border':showBorder, 'border-radius': '15px'}">
                     <img class="background-landscape-one" src="/assets/images/landscape-id-card_bg_three_3.jpg">
                     <div id="id_card_landscape_body">
                        <div id="id_card_header"
                           [ngStyle]="{'color':container_box_idheader, 'background':container_box_idheader_bgColor}">
                           <div class="row remove-margin">
                              <div class="col-3 my-col remove-col-padding text-center">
                                 <img *ngIf="showSchoolLogo" 
                                 class="id-card-school-logo" [src]="schoolLogo" alt="school-logo">
                              </div>
                              <div class="col-9 text-center remove-col-padding">
                                 <p 
                                    [ngStyle]="{'font-weight':allContentBold}"
                                    class="id-card-school-name text-uppercase remove-paragraph-bottom-padding">
                                    {{schoolInfo.school_name}}
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold, 'font-size': addressFontSize}" *ngIf="stuAddressFlag" 
                                 class="id-card-school-address remove-paragraph-bottom-padding">{{schoolInfo.school_address}}, 
                                 {{schoolInfo.school_city}}, 
                                 {{schoolInfo.school_state}} -
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id-card-school-contactno remove-paragraph-bottom-padding">Tel No : {{schoolInfo.school_phone}}</p>
                              </div>
                           </div>
                        </div>
                        <div id="id_card_body" [ngStyle]="{'border-bottom-left-radius':'15px',
                           'border-bottom-right-radius':'15px'}">
                           <div class="row remove-margin">
                              <div [ngStyle]="{'background': idcardBodyColor}" class="col-8 id-card-col-60 remove-col-padding">
                                 <p [ngStyle]="{'font-weight':allContentBold, 'color':studentNameForeColor, 'background':studentNameBgColor}" 
                                    class="id_card_student_info remove-paragraph-bottom-padding"><b>Full Name :</b>{{studentDetails.au_full_name}}</p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_student_info remove-paragraph-bottom-padding"><b>Class - Section :
                                    </b>{{studentDetails.class_name}} - {{studentDetails.sec_name}}
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_student_info remove-paragraph-bottom-padding"><b>Route & Bus Stop :</b> Delhi
                                    -Noida
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_student_info remove-paragraph-bottom-padding"><b>Mobile no. :</b>{{studentDetails.au_mobile}}</p>
                                 <p *ngIf="dobFlag" [ngStyle]="{'font-weight':allContentBold}" 
                                 class="id_card_student_info remove-paragraph-bottom-padding"><b>Date of Birth :</b>{{studentDetails.upd_dob}}</p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_student_info remove-paragraph-bottom-padding"><b>House :</b> {{studentDetails.hou_house_name}}</p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_student_info remove-paragraph-bottom-padding"><b>Blood Group :</b>
                                    {{getBloodGroupName(studentDetails.mi_blood_group)}}
                                 </p>
                              </div>
                              <div [ngStyle]="{'background': idcardBodyColor}" class="col-1 id-card-col-14 remove-col-padding">
                                 <div class="landscape">
                                    <ngx-barcode
                                       bc-element-type="img" 
                                       [bc-value]="studentDetails.au_admission_no"
                                       bc-format= "CODE128"></ngx-barcode>
                                 </div>
                              </div>
                              <div [ngStyle]="{'background': idcardBodyColor}" class="col-3 remove-col-padding">
                                 <div class="text-center">
                                    <p [ngStyle]="{'font-weight':allContentBold}" 
                                       class="id_card_student_minor_info remove-paragraph-bottom-padding">{{sessionPromote}}</p>
                                 </div>
                                 <div class="text-right"><img class="student-photo--size" [src]="studentProfileImage"
                                    alt="student photo"></div>
                                 <div class="text-right"><img 
                                    class="principal-sign--size"
                                    *ngIf="showAuthority" [src]="authSign"
                                    alt="principal signature">
                                 </div>
                                 <div class="text-right">
                                    <p [ngStyle]="{'font-weight':allContentBold}" 
                                       class="id_card_student_minor_info remove-paragraph-bottom-padding">Auth. Signature</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row remove-margin">
                              <div class="col-12 text-center">
                                 <p [ngStyle]="{'font-weight':allContentBold, 'color':footerFontColor}" 
                                    class="id_card_footer remove-paragraph-bottom-padding">{{idCardConfig.ps_footer}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-3"></div>
         </div>
         <br>
         <div class="row">
            <div class="col-3"></div>
            <div *ngIf="showLandscape && showBackSide" class="col-6 custom-col-50">
               <div class="container-printid-landscape">
                  <div class="container-landscape-box__white" [ngStyle]="{'border':showBorder}">
                     <div  [ngStyle]="{'background': idcardBodyColor,'border-bottom-left-radius':'15px',
                        'border-bottom-right-radius':'15px', 'border-top-right-radius':'15px',
                        'border-top-left-radius':'15px'}">
                        <div class="row remove-margin">
                           <div [ngStyle]="{'font-weight':allContentBold}" 
                              class="col-4 text-center remove-col-padding">
                              <span class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>Father's Info</b> </span>
                              <div  style="width: 65px;
                                 height: 65px;margin:auto"><img *ngIf="showParentPhoto" class="parent-photo--size" src="/assets/images/id-father_sample_pic.jpg" alt="student photo"></div>
                              <p *ngIf="showParentName" 
                                 class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>{{studentDetails.father_name}}</b></p>
                              <p *ngIf="showParentMobile" class="id_card_student_contact_info remove-paragraph-bottom-padding">9999955555</p>
                           </div>
                           <div [ngStyle]="{'font-weight':allContentBold}" 
                              class="col-4 text-center remove-col-padding">
                              <span class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>Mother's Info</b> </span>
                              <div style="width: 65px;
                                 height: 65px;margin:auto"><img *ngIf="showParentPhoto" class="parent-photo--size" src="/assets/images/id-mother_sample_pic.jpg" alt="student photo"></div>
                              <p *ngIf="showParentName"  
                                 class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>{{studentDetails.mother_name}}</b></p>
                              <p *ngIf="showParentMobile" class="id_card_student_contact_info remove-paragraph-bottom-padding">9999955555</p>
                           </div>
                           <div [ngStyle]="{'font-weight':allContentBold}"
                              class="col-4 text-center remove-col-padding">
                              <span class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>Guardian Info</b> </span>
                              <div  style="width: 65px;
                                 height: 65px;margin:auto"><img *ngIf="showGuardianPhoto"class="parent-photo--size" src="/assets/images/id-guardian_sample_pic.jpg" alt="student photo"></div>
                              <p 
                                 class="id_card_student_contact_info remove-paragraph-bottom-padding"><b>{{studentDetails.guardian_name}}</b> </p>
                              <p class="id_card_student_contact_info remove-paragraph-bottom-padding">9999955555</p>
                           </div>
                        </div>
                        <div class="row remove-margin">
                           <div class="col-12">
                              <p [ngStyle]="{'font-weight':allContentBold}" 
                                 class="id_card_student_addr_info remove-paragraph-bottom-padding"><b>Address :</b> Shakuha jungle,
                                 Karnibagh, Deogarh, Jharkhand - 814112
                              </p>
                              <p [ngStyle]="{'font-weight':allContentBold}" 
                                 class="id_card_student_addr_info remove-paragraph-bottom-padding"><b>Disclaimer :</b>
                                 Id-Card is school's property. Please return if found.
                              </p>
                           </div>
                        </div>
                        <div class="row remove-margin">
                           <div class="col-12 text-center">
                              <p [ngStyle]="{'font-weight':allContentBold, 'color':footerFontColor, 'background':footerBgColor}"  
                                 class="id_card_footer remove-paragraph-bottom-padding">{{idCardConfig.ps_footer}}</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-3"></div>
         </div>
         <div class="row">
            <div class="col-3"></div>
            <div *ngIf="showPotrait" class="col-6 custom-col-50 custom-margin-25">
               <div class="container-printid-portrait">
                  <div class="container-portrait-box__white">
                     <img class="background-portrait-one" src="/assets/images/id-card-portait-bg_background_two.jpg">
                     <div id="id_card_portrait_body_style2">
                        <div [ngStyle]="{'border-top-right-radius': '12px'}">
                           <div class="row remove-margin">
                              <div class="col-3 remove-col-padding text-center">
                                 <img *ngIf="showSchoolLogo" class="id-card-portriat-school-logo-style2" [src]="schoolLogo">
                              </div>
                              <div class="col-9 col-padding-school-addr">
                                 <p [ngStyle]="{'font-weight':allContentBold, 'font-size': addressFontSize}" *ngIf="stuAddressFlag" 
                                 class="id-card-school-address-style2 remove-paragraph-bottom-padding">
                                 {{schoolInfo.school_address}}, 
                                 {{schoolInfo.school_city}}, 
                                 {{schoolInfo.school_state}} </p>
                              </div>
                           </div>
                        </div>
                           <div class="row remove-margin">
                              <div class="col-12">
                                 <div class="text-center"><img class="student-portrait-photo--size__style2" [src]="studentProfileImage"
                                    alt="student photo"></div>
                                 <img class="portriat-principal-sign--size" style="margin-left: -17px"
                                 *ngIf="showAuthority" [src]="authSign" alt="principal signature">
                                 <div class="text-center">
                                    <p [ngStyle]="{'font-weight':allContentBold, 'color':studentNameForeColor, 'background':studentNameBgColor}" 
                                       class="id_card_portrait_student_name text-uppercase remove-paragraph-bottom-padding"><b>
                                       {{studentDetails.au_full_name}}   
                                       </b>
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <div [ngStyle]="{'background': idcardBodyColor}" class="row remove-margin">
                              <div class="col-12 remove-col-padding text-uppercase">
                                 <p [ngStyle]="{'font-weight':allContentBold}"
                                    class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Class - Section :</b>
                                    {{studentDetails.class_name}} - {{studentDetails.sec_name}}
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Route & Bus Stop :</b>
                                    Delhi
                                    -Noida
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Mobile no. :</b> 
                                    {{studentDetails.au_mobile}}
                                 </p>
                                 <p *ngIf="dobFlag" [ngStyle]="{'font-weight':allContentBold}" 
                                 class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Date of Birth :</b>
                                 {{studentDetails.upd_dob}}</p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>House :</b> 
                                    {{studentDetails.hou_house_name}}
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_portrait_student_info remove-paragraph-bottom-padding"><b>Blood Group :</b> 
                                    {{getBloodGroupName(studentDetails.mi_blood_group)}}
                                 </p>
                                 <div class="text-center potrait-bar">
                                    <ngx-barcode
                                       bc-element-type="img" 
                                       [bc-value]="studentDetails.au_admission_no"
                                       bc-format= "CODE39"></ngx-barcode>
                                 </div>
                              </div>
                           </div>
                           <div class="row remove-margin top-portrait-top-footer-style2">
                              <div [ngStyle]="{'background':footerBgColor}" 
                              class="col-12 text-center">
                                 <p [ngStyle]="{'font-weight':allContentBold, 'color':footerFontColor, 'background':footerBgColor}" 
                                    class="id_card_footer remove-paragraph-bottom-padding">{{idCardConfig.ps_footer}}</p>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-3"></div>
         </div>
         <div class="row">
            <div class="col-3"></div>
            <div *ngIf="showPotrait && showBackSide" class="col-6 custom-col-50 custom-margin-25">
               <div class="container-printid-portrait">
                  <div class="container-portrait-box__white">
                     <img class="background-portrait-one" src="/assets/images/id-card-portait-bg_background_white.jpg">
                     <div id="id_card_portrait_body">
                        <div [ngStyle]="{'background': idcardBodyColor, 'border-top-right-radius': '12px'}">
                           <div class="row remove-margin">
                              <div style="width: 55px;
                                 height: 55px;margin:auto" class="col-4 remove-col-padding text-center">
                                 <img *ngIf="showParentPhoto" class="parent-portrait-photo--size" src="/assets/images/id-father_sample_pic.jpg" alt="student photo">
                              </div>
                              <div [ngStyle]="{'font-weight':allContentBold}" 
                                 class="col-8 col-padding-school-addr-portrait">
                                 <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Name :</b>{{studentDetails.father_name}}</p>
                                 <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Relationship:</b> Father</p>
                                 <p *ngIf="showParentMobile" class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Tel No :</b> 9199345112</p>
                              </div>
                           </div>
                        </div>
                        <div [ngStyle]="{'background': idcardBodyColor}">
                           <div class="row remove-margin">
                              <div style="width: 55px;
                                 height: 55px;margin:auto" class="col-4 remove-col-padding text-center">
                                 <img *ngIf="showParentPhoto" class="parent-portrait-photo--size" src="/assets/images/id-mother_sample_pic.jpg" alt="student photo">
                              </div>
                              <div [ngStyle]="{'font-weight':allContentBold}"
                                 class="col-8 col-padding-school-addr-portrait">
                                 <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Name :</b> {{studentDetails.mother_name}}</p>
                                 <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Relationship:</b> Mother</p>
                                 <p *ngIf="showParentMobile" class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Tel No :</b> 9199345112</p>
                              </div>
                           </div>
                        </div>
                        <div [ngStyle]="{'background': idcardBodyColor}">
                           <div class="row remove-margin">
                              <div style="width: 55px;
                                 height: 55px;margin:auto" class="col-4 remove-col-padding text-center">
                                 <img *ngIf="showGuardianPhoto" class="parent-portrait-photo--size" src="/assets/images/id-guardian_sample_pic.jpg"
                                    alt="student photo">
                              </div>
                              <div [ngStyle]="{'font-weight':allContentBold}" 
                                 class="col-8 col-padding-school-addr-portrait">
                                 <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Name :</b>{{studentDetails.guardian_name}}</p>
                                 <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Relationship:</b> Guardian</p>
                                 <p class="id-card-school-contactno remove-paragraph-bottom-padding"><b>Tel No :</b> 9199345112</p>
                              </div>
                           </div>
                        </div>
                        <div [ngStyle]="{'background': idcardBodyColor}">
                           <div class="row remove-margin">
                              <div class="col-12 remove-col-padding">
                                 <p  [ngStyle]="{'font-weight':allContentBold}"
                                    class="id_card_student_addr_info remove-paragraph-bottom-padding"><b>Address :</b> Shakuha jungle,
                                    Karnibagh,- 814112
                                 </p>
                                 <p [ngStyle]="{'font-weight':allContentBold}" 
                                    class="id_card_student_addr_info remove-paragraph-bottom-padding"><b>Disclaimer :</b>
                                    Id-Card is school's property. Please return if found.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div [ngStyle]="{'background': idcardBodyColor}">
                           <div class="row remove-margin top-portrait-back-footer">
                              <div class="col-12 text-center">
                                 <p [ngStyle]="{'font-weight':allContentBold, 'color':footerFontColor, 'background':footerBgColor}" 
                                    class="id_card_footer remove-paragraph-bottom-padding">{{idCardConfig.ps_footer}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-3"></div>
         </div>
      </div>
   </div>