.student-portrait-photo--size__style2 {
    margin-top: 0px !important;
}
// img.watermark-image {
//     position: absolute;
//     top: 100px;
//     left: 131px;
//     width: 8%;
//     z-index: 0;
//     opacity: 0.3;
// }
// img.watermark-image {
//     position: absolute;
//     left: 102px;
//     width: 100px;
//     z-index: 0;
//     opacity: 0.3;
// }
img.watermark-image {
    width: 108px;
    position: relative;
    top: -172px;
    left: 94px;
    z-index: 0;
    opacity: 0.3;
}
.container-printid-landscape35 {
    width: 327px !important;
    height: 207px !important;
    margin-left: -8px;
    margin-top: -8px;
    position: relative;
    left: 30%;
    float: none !important;
}
.container-printid-landscape {
    margin-right: 15px;
}
.set-school-head-land {
    position: relative;
    top: 26px;
}
.student-photo--size--style3 {
    width: 65px;
    height: 65px;
    /* border: 1px solid #000; */
    position: relative;
    top: 5px;
}
ngx-barcode {
    position: relative;
    left: 20px;
    top: 7px;
}
.id-card-school-logo-style-3 {
    margin-top: 10px !important;
}
img.watermark-image2 {
    position: absolute;
    top: 72px;
    left: 2px;
    width: 100%;
    z-index: 0;
    opacity: 0.25;
}
.container-printid-landscape2 {
    width: 325px !important;
    height: 207px !important;
    margin-left: -8px;
    margin-top: -8px;
}
.school-logo-pt {
    position: relative !important;
    top: -43px !important;
}
.id-card-portriat-school-logo {
    width: 30px;
    height: 30px;
    position: relative;
    left: -13px;
    top: -7px;
}
.id-card-school-logo-style-3 {
    width: 25px;
    height: 25px;
    top: 20px;
    position: relative;
}
.potrait-bar {
    position: relative;
    top: -20px;
}
.portriat-principal-sign--size {
    margin-top: 0px !important;  
     margin-left: 0px !important;
    position: relative !important;
    top: 84px !important;
    left: 52px !important;
    width: 55px !important;
    height: 24px !important;
}
.student-portrait-photo--size {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #f6bc0a;
    margin-bottom: -34px;
    position: relative;
    top: -64px;
}
.id-card-school-name {
    font-size: 12px;
    font-weight: bold !important;
    position: relative;
    top: -10px;
}
.id-card-div-move-pot {
    position: relative;
    top: -57px;
    text-align: center;
}
.potrait-bar .barcode img {
    width: 180px !important;
    height: 32px !important;
    margin-left: -5px !important;
}
.id-card-portriat-school-logo2 {
        width: 50px;
        height: 50px;
        position: relative;
        left: -6px;
        top: 2px;
    
}
.container-printid-landscape35 {
    width: 327px !important;
    height: 207px !important;
    margin-left: -8px;
    margin-top: -8px;
}
.container-printid-landscape {
    margin-right: 15px;
}
.set-school-head-land {
    position: relative;
    top: 26px;
}
.student-photo--size--style3 {
    width: 65px;
    height: 65px;
    /* border: 1px solid #000; */
    position: relative;
    top: 5px;
}
ngx-barcode {
    position: relative;
    left: 20px;
    top: 7px;
}
.container-printid-landscape2 {
    width: 325px !important;
    height: 207px !important;
    margin-left: -8px;
    margin-top: 38px;
    float: none !important;
    position: relative !important;
    left: 30% !important;
    border: 1px solid #e6e6e6;
}
.principal-sign--size {
    width: 55px;
    height: 24px;
    position: relative;
    top: -29px;
}
.text-left.text-sign-lan3 {
    position: relative;
    top: -57px;
    /* font-size: 8px; */
}
.container-printid-portrait {
    position: relative;
    left: 30%;
    float: none !important;
}
.styl-1 {
    float: none ;
    position: relative;
    left: 30%;
}
.idcardStyle2
{
    font-size:11px;
    height:207px;
    width:325px;
    margin-left:-8px;
}
.id-margin-top:first-child
{
    margin-top:-8px;
}