<div class="container-box__grey">
  <div class="row">
    <div class="col-12 remove-col-padding">
      <mat-card class="card-content__container margin-bottom-140">
        <mat-card-title>
          
          <div class="row">
            <div class="col-6">
              <h1>Concession Group</h1>
            </div>
            <div class="col-6 text-right">
              <div class="inline-flex"><h3>School</h3> <mat-slide-toggle  class="btn-spacer" [ngModel]="fcg_is_hostel_fee === 1 ? 'checked' : ''"
                (change)="changeIsHostelFee($event)"></mat-slide-toggle><h3 class="btn-spacer">Hostel</h3></div>
              
            </div>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-4 remove-col-padding custom-col-27">
                <form [formGroup]="conccesionCategoryForm">
              <div class="row">
                <div class="col-12 margin-top-25">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Concession Group Name</mat-label>
                    <input matInput placeholder="Concession Group Name" formControlName="fcg_name" required
                    [errorStateMatcher]="confirmValidParentMatcher">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Concession Category</mat-label>
                    <mat-select placeholder="Concession Category" formControlName="fcgr_fcc_id" required multiple
                    [errorStateMatcher]="confirmValidParentMatcher">
                      <mat-option *ngFor="let item of concessionArray" [value]="item.fcc_id">{{item.fcc_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="fcg_description"
                    [errorStateMatcher]="confirmValidParentMatcher">{{conccesionCategoryForm.fcg_description}}</textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center margin-top-25">
                  <div class="inline-flex">
                  <button *ngIf="!editFlag" mat-raised-button class="btn-primary btn-custom btn-success" (click)="submit()">Submit</button>
                  <button *ngIf="editFlag" mat-raised-button class="btn-primary btn-custom btn-success" (click)="update()">Update</button>
                <button mat-raised-button class="btn-primary btn-danger btn-custom btn-spacer" (click)="reset()">Reset</button>
              </div>
                </div>
              </div>
            </form>
            </div>
            <div class="col-1 custom-col-2">
              <div class="vertical-line-divider"></div>
            </div>
            <div class="col-7 remove-col-padding custom-col-69">
              <div class="row remove-col-padding">
                <div class="col-12 remove-col-padding">
                  <div >
                    <mat-form-field [hidden]="!(CONCESSION_GROUP_ELEMENT_DATA.length > 0)">
                      <input class="margin-left-10" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      <mat-icon matPrefix>filter_list</mat-icon>

                    </mat-form-field>
                    <table class="table-100 text-center " mat-table [dataSource]="dataSource" matSort>

                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                        <td mat-cell *matCellDef="let item"> {{item.position}} </td>
                      </ng-container>

                      <ng-container matColumnDef="groupname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Concession Group Name </th>
                        <td mat-cell *matCellDef="let item"> {{item.gr_name | capitalize}} </td>
                      </ng-container>

                      <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef>Concession Category</th>
                        <td mat-cell *matCellDef="let item">
                          <p *ngFor="let element of item.con_categories"><b>{{element.fh_name | capitalize}} ( {{element.fcrt_alias}} )</b> : {{element.total_concession | number}}</p>
                          <p><b>Total Concession</b>: {{item.totalConcession | number}}</p>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let item"> {{item.con_des | capitalize}} </td>
                      </ng-container>

                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let item">
                          <mat-slide-toggle [checked]="item.action.fcg_status === '1' ? true : false"
                          (change)="changeStatus($event, item.action)"></mat-slide-toggle> </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let item" class="inline-flex margin-top-10"> <i class="material-icons icon-edit" (click)="patchValue(item.action)">
                            create
                            </i> <i class="material-icons icon-danger icon-spacer" (click)="openDeleteDialog(item.action)">
                                delete 
                                </i> </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
                    </table>
                    <table class="table-100 text-center" style="margin-top:5px;">
                        <tr *ngIf="CONCESSION_GROUP_ELEMENT_DATA.length == 0">
                          <td colspan="12">No Record Found</td>
                        </tr>
                      </table>
                    <mat-paginator #paginator [hidden]="!(CONCESSION_GROUP_ELEMENT_DATA.length > 0)" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-delete-modal #deleteModal [deleteMessage]="'Are you sure want to delete'" (deleteOk)="deleteConfirm($event)"></app-delete-modal>
