.bookmark-question-review-button {
    background-color: #6c65c8 !important;
    color: white !important;
}

.bookmark-flag-question-review
{
    color: #6610f2 !important;
    font-size: 16px !important;
}
.bookmark-expansion-panel-decorator {
    margin-bottom: 10px !important;
    margin: 5px 10px !important;
    /* background-color:#f1f1f19e !important;
    border: 1px solid #6c757dbd !important; */
    border-radius: 5px !important;
  }
  
  .bookmark-expansion-panel-decorator.mat-expanded {
    background:white !important;
    margin-bottom: 10px !important;
    margin: 5px 10px !important;
    /* border: 1px solid #6c757dbd !important; */
    border-radius: 5px !important;
    height:570px !important;
  }
  