<div class="row margin-top-0">
  <div class="col-12 ">
    <mat-card class="remove-card-padding">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <div class="mt-4 ml-2">
            <span class="font-size-24 font-medium">Mapping</span>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row ">
  <div class="col-12">
    <mat-card>
      <div class="row margin-top-10">
        <div class="col-12">
            <mat-tab-group>
                <mat-tab label="Class"> 
                  <app-class-map></app-class-map>
                </mat-tab>
                <mat-tab label="Subjects">
                    <app-subjects-map></app-subjects-map>
                </mat-tab>
                <mat-tab label="Topic">
                    <app-topic-map></app-topic-map>
                </mat-tab>
                <mat-tab label="Sub Topic">
                    <app-subtopic-map></app-subtopic-map>
                </mat-tab>
              </mat-tab-group>
        </div>
      </div>
    </mat-card>
  </div>
</div>