<div class="row">
  <div class="col-12">
    <ng-container>
      <div class="row">
        <div class="col-6" style="padding-right: 0px;">
          <table class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height">
            <tbody class="header">

              <tr>
                <td width="20%">Account Code</td>
                <td width="65%">Particulars</td>
                <td width="15%">Amount</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6" style="padding-left: 0px;">
          <table class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height">
            <tbody class="header">

              <tr>
                <td width="20%">Account Code</td>
                <td width="65%">Particulars</td>
                <td width="15%">Amount</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <div class="row">

      <ng-container>
        <div class="col-6" style="padding-right: 0px;">

          <table class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height">
            <tbody>

              <tr>
                <td width="20%">-</td>
                <td width="65%" class="text-left"><b>Fee Receiveable</b></td>
                <td width="15%" class="text-right">
                  <b>{{((param?.head_total_amt)  - (param?.total_receipt_amt)) | indianCurrency}}</b>
                </td>
              </tr>

              <ng-container *ngFor="let item of param.ledger_data; ">
                <ng-container *ngIf="item?.account_display.display_section.trialBalance">
                  <tr *ngIf="item?.debit_data?.length > 0 && item?.debit_data[0]?.vc_credit && getDeviation(item) > 0">
                    <td width="20%">{{item.coa_code}}</td>
                    <td width="65%" class="text-left cursor-pointer" (click)="openLedgerModal(item)">
                      <b>{{item?.coa_acc_name | titlecase}}</b></td>
                    <td width="15%" class="text-right"><b>{{deviation_f | indianCurrency}}</b></td>
                  </tr>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="debitRow < creditRow">
                <tr *ngFor="let citem of blankArr">
                  <td width="20%">&nbsp;</td>
                  <td width="65%">&nbsp;</td>

                  <td width="15%" class="text-right"></td>
                </tr>
              </ng-container>
              <tr>
                <td width="20%"></td>
                <td width="65%" class="text-left"><b>Total</b></td>
                <td width="15%"><b>{{debitSideTotal | indianCurrency}}</b></td>
              </tr>
            </tbody>
          </table>


        </div>
        <div class="col-6" style="padding-left: 0px;">
          <table class="mat-table table table-borderd table-stripped custom-table text-center empty-same-height">
            <tbody>
              <tr *ngIf="param?.invoice_due_data?.length > 0">
                <td width="20%">-</td>
                <td width="80%" class="text-left" colspan="2"><b>Income Due</b></td>
              </tr>
              <ng-container *ngFor="let pitem of param.invoice_due_data; ">
                <tr>
                  <td width="20%">-</td>
                  <td width="65%" class="text-left"><b><span
                        *ngIf="pitem?.fh_name">{{pitem?.fh_name | titlecase}}</span><span
                        *ngIf="!(pitem?.fh_name)">Transport</span></b></td>
                  <td width="15%" class="text-right">
                    <b>{{(pitem?.head_amt- pitem?.concession_amt-pitem?.adjustment_amt) | indianCurrency}}</b></td>
                </tr>
              </ng-container>
              <ng-container *ngFor="let citem of param?.ledger_data;let i=index; ">
                <ng-container *ngIf="citem?.account_display.display_section.trialBalance">
                  <tr *ngIf="citem?.credit_data?.length > 0 && citem?.credit_data[0]?.vc_debit ">
                    <td width="20%">{{citem.coa_code}}</td>
                    <td width="65%" class="text-left cursor-pointer" (click)="openLedgerModal(citem)">
                      <b>{{citem?.coa_acc_name | titlecase}}</b></td>
                    <td width="15%" class="text-right"><b *ngIf="getDeviation(citem) < 0">{{-(deviation_f)  | indianCurrency }}</b></td>
                  </tr>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="debitRow > creditRow">
                <tr *ngFor="let citem of blankArr">
                  <td width="20%">&nbsp;</td>
                  <td width="65%">&nbsp;</td>

                  <td width="15%" class="text-right"></td>
                </tr>
              </ng-container>
              <tr>
                <td width="20%"></td>
                <td width="65%" class="text-left"><b>Total</b></td>
                <td width="15%"><b>
                  {{creditSideTotal | indianCurrency}}</b>
                  <!-- <b *ngIf="creditSideTotal > 0">{{creditSideTotal | indianCurrency}}</b></td> -->
              </tr>

            </tbody>
          </table>
        </div>
      </ng-container>

    </div>

  </div>
</div>