<div class="add-book-container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6">
            <span class="font-size-24">{{data.title}}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <form [formGroup]="bookForm" autocomplete="off">
          <div class="row">
            <div class="col-12">
              <span class="font-size-20 font-bold">Vehicle Details</span>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <div class=" margin-top-20">
                <div class="book-cover-img-2">
                  <div class="text-center">
                    <label for="file-input">
                      <img [src]="bookImage ? bookImage : '/assets/images/book_placeholder.png'" style="width: 160px;
                      height: 230px;
                      border-radius: 5px;
                      opacity: 1;">
                    </label>
                    <input id="file-input" #fileInput name="file-input" type="file" (change)="readUrl($event)" hidden />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10">
              <div class="row ">
                <div class="col-12">
                  <div class="row">
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Bus No</mat-label>
                        <input matInput placeholder="Bus No" formControlName="bus_number" required tabindex="2" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Registration No</mat-label>
                        <input matInput placeholder="Registration No" tabindex="3" formControlName="registration_no" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Registration Valid Upto</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                          formControlName="registration_valid_upto">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Permit Valid Upto</mat-label>
                        <input matInput [matDatepicker]="picker1" placeholder="Choose a date"
                          formControlName="permit_valid_upto">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Insurance Valid Upto</mat-label>
                        <input matInput [matDatepicker]="picker2" placeholder="Choose a date"
                          formControlName="insurance_valid_upto">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>PUC Valid Upto</mat-label>
                        <input matInput [matDatepicker]="picker3" placeholder="Choose a date"
                          formControlName="puc_valid_upto">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Insurance Provider</mat-label>
                        <input matInput placeholder="Pages" tabindex="6" formControlName="insurance_provider"
                          type="text" />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Insurance No</mat-label>
                        <input matInput placeholder="Pages" tabindex="6" formControlName="insurance_no" type="text" />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Chasis No</mat-label>
                        <input matInput placeholder="Pages" tabindex="6" formControlName="chasis_no" type="text" />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Engine No</mat-label>
                        <input matInput placeholder="Pages" tabindex="6" formControlName="engine_no" type="text" />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Device No</mat-label>
                        <input matInput placeholder="Pages" tabindex="6" formControlName="device_no" type="text" />
                      </mat-form-field>
                    </div>

                    <div class="col-8">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Bus Details</mat-label>
                        <textarea matInput rows="3" formControlName="bus_details" tabindex="14"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="font-size-20 font-bold">Document</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <mat-card class="document-main-card" *ngFor="let item of documentsArray;let i =index">
                    <div class="row margin-bottom-10">
                      <div class="col-8">
                        <span class="document-title"><b>{{item.name}}</b></span>
                      </div>
                      <div class="col-4">
                        <div class="float-right">
                          <input type="file" class="form-control form-control-sm mv_top"
                            multiple="true" (change)="fileChangeEvent($event,item.id)" [id]="item.id"
                            style="display: none !important">
                          <button mat-raised-button class="btn-neutral">
                            <mat-icon class="btn-top-icon">cloud_upload</mat-icon>&nbsp; &nbsp;<label
                              class="btn-document-label" [for]="item.id">Choose
                              File</label>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <ng-container *ngFor="let img of item.document;let j = index">
                        <div class="col-1 col-doc-img-3 custom-col-15">
                          <div class="remove-col-padding">
                            <div>
                              <div>
                                <div>
                                  <div style="float:right;">
                                    <button mat-button class="upload-document-delete-btn"
                                      (click)="deleteFile(j,item.id)">
                                      <mat-icon class="btn-upload-icon">delete</mat-icon>
                                    </button>
                                  </div>
                                  <div>
                                    <img class="btn-doc-upload-preview margin-left-10"
                                    [src]="getuploadurl(img.file_url)" (click)="previewImage(imageArray, i)"><br>
                                  </div>
                                  <br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row text-center">
            <div class="col-12">
              <button mat-raised-button class="btn-success-green"
                (click)="submit()">Submit</button>
              <button mat-raised-button class="btn-reset btn-spacer" (click)="close()">
                Cancel
              </button>
            </div>
          </div>
          <br>
        </form>
      </mat-card>
    </div>
  </div>
</div>
<app-imagecrop #cropModal (cropYes)="acceptCrop($event)" (cropNo)="acceptNo($event)" [roundCropper]="false"
  [resizeToWidth]="160"></app-imagecrop>