<div class="row">
  <div class="col-12 ">
    <mat-card class="remove-card-padding">
      <div class="row">
        <div class="col-6">
          <div class="top-card-title">
            <span class="font-size-24 font-medium">Syllabus Progess Report</span>
          </div>
        </div>
        <div class="col-6 text-right">
          <form [formGroup]="progressReportForm" novalidate>
            <div class="top-card-title-form">
              <mat-form-field class="form-field-150 margin-left-10 remove-form-field-bottom-margin"
                appearance="outline">
                <mat-label>Class</mat-label>
                <mat-select formControlName="syl_class_id" (selectionChange)="getSectionsByClass()" required
                  placeholder="Select Class">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                    {{item.class_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-field-150 margin-left-10" appearance="outline">
                <mat-label>Section</mat-label>
                <mat-select formControlName="syl_section_id" (selectionChange)="fetchDetails()" required
                  placeholder="Select Section">
                  <mat-option value="">Please select</mat-option>
                  <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                    {{item.sec_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>

    </mat-card>
  </div>
</div>