.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-22 {
    margin-bottom: 22px;
}

.margin-left-10 {
    margin-left: 10px !important;
}


.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-65 {
    margin-bottom: 65px;
}

.margin-bottom-140 {
    margin-bottom: 140px;
}

.margin-auto {
    margin: auto !important;
}

.remove-bottom-margin {
    margin-bottom: 0rem;
}

.bulk-upload-main-content {
    text-align: center;
    font-size: 32px;
}

.row-remove-top-margin {
    margin-top: 0px !important;
}