<!--Style 1-->
<div class="modal-custom-cotainer">
  <div class="row remove-top-margin">
    <div class="col-12 remove-col-padding">
      <div class="modal-title-box">
        <span class="float-left font-size-20 font-white" (click)="print()">
          <i class="fas fa-print"></i>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="font-size-20 font-white font-regular">Id Cards</span>
        <span class="float-right margin-top-5"><i (click)="closeDialog()"
            class="far fa-times-circle font-white cursor-pointer font-size-24"></i></span>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div id="printCard" *ngIf="data.adm_no">
  <ng-container>
    <div *ngIf="idCardConfig.ps_card_style == '1'" class="id-margin-top">
      <app-idcard-style1 [studentDetails]="studentDetails" [idCardConfig]="idCardConfig"></app-idcard-style1>
     
    </div>
    <div *ngIf="idCardConfig.ps_card_style == '2'" class="id-margin-top">
      <app-idcard-style2 [studentDetails]="studentDetails" [idCardConfig]="idCardConfig"></app-idcard-style2>
     
    </div>
    <div *ngIf="idCardConfig.ps_card_style == '3'" class="id-margin-top">
      <app-idcard-style3 [studentDetails]="studentDetails" [idCardConfig]="idCardConfig"></app-idcard-style3>
     
    </div>
  </ng-container>

</div>

<!--Bulk-->
<div id="printCard" *ngIf="!data.adm_no">
  <div style="display:block;">
    <div>
      <ng-container *ngFor="let item of studentDetailsArray">
        <div *ngIf="idCardConfig.ps_card_style == '1'" style="float:left" class="id-margin-top">
          <app-idcard-style1 [studentDetails]="item" [idCardConfig]="idCardConfig"></app-idcard-style1>
        </div>
        <div *ngIf="idCardConfig.ps_card_style == '2'" style="float:left" class="id-margin-top">
          <app-idcard-style2 [studentDetails]="item" [idCardConfig]="idCardConfig"></app-idcard-style2>
        </div>
        <div *ngIf="idCardConfig.ps_card_style == '3'" class="id-margin-top">
          <app-idcard-style3 [studentDetails]="item" [idCardConfig]="idCardConfig"></app-idcard-style3>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!--End-->