<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-6">
          <span class="font-size-24">Periodical Master</span>
        </div>
        <div class="col-6 text-right">
          <button mat-raised-button class="btn-success-blue" (click)="openAddSubscriptionDialog()">
            Add Subscription
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="row">
    <div class="col-12">
        <mat-card class="card-height-730">
            <div class="row">
              <div class="col-6">
                <span class="font-bold font-size-20">Subscription List</span>
              </div>
            </div>
            <div class="row">
              
              <div class="col-12">
                <div class="row ">
                  <div class="col-10 remove-col-padding">
                    <mat-form-field appearance="legacy lib-form">
                      <input matInput placeholder="Search" />
                      <mat-icon matPrefix>filter_list</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <!-- <table class="custom-table">
                  <thead>
                    <tr class="custom-tr text-center">
                      <th class="custom-th">Sr No.</th>
                      <th class="custom-th">Subscription ID</th>
                      <th class="custom-th">Subscription Name</th>
                      <th class="custom-th">Subscription Type</th>
                      <th class="custom-th">Frequency</th>
                      <th class="custom-th">Start Date</th>
                      <th class="custom-th">End Date</th>
                      <th class="custom-th">Vender</th>
                      <th class="custom-th">Status</th>
                      <th class="custom-th">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="custom-td">1</td>
                      <td class="custom-td">
                        <a class="font-skyblue cursor-pointer">12345689</a>
                      </td>
                      <td class="custom-td text-left">
                        <span class="margin-left-15">The Indian Express</span>
                      </td>
                      <td class="custom-td text-left padding-left-15">
                        <span class="margin-left-15">Newspaper</span>
                      </td>
                      <td class="custom-td text-left padding-left-15">
                        <span class="margin-left-15">Daily</span>
                      </td>
                      <td class="custom-td">13-Sep-2019</td>
                      <td class="custom-td">20-Sep-2019</td>
                      <td class="custom-td text-left "><span class="margin-left-15">Vikram Kumar Vedi</span></td>
                      <td class="custom-td text-left "><span class="margin-left-15">Active</span></td>
                      <td class="custom-td">
                          <span><i class="fas fa-edit font-color-grey margin-right-15" ></i></span>
                        <span class="ver-line-divider"><i class="fas fa-trash font-color-red margin-left-15"></i></span>
                                </td>
                    </tr>
                  </tbody>
                </table> -->
                <table mat-table [dataSource]="subscriptionlistdataSource" matSort class="table-100 text-center" id="report_table">
                    <ng-container matColumnDef="srno">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap" width="5%"> Sr. No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
                    </ng-container>
                    <ng-container matColumnDef="subscription_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Subscription ID</th>
                        <td mat-cell *matCellDef="let element">
                          <a class="font-skyblue cursor-pointer"
                            (click)="editSubscription(element)">{{element?.subscription_id}} </a>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="subscription_name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Subscription Name</th>
                          <td mat-cell *matCellDef="let element">
                            {{element?.subscription_name}} 
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="subscription_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Type</th>
                            <td mat-cell *matCellDef="let element">
                              {{element?.subscription_type}} 
                            </td>
                          </ng-container>
                        <ng-container matColumnDef="subscription_frequency">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Frequency</th>
                            <td mat-cell *matCellDef="let element">
                             {{element?.subscription_frequency}}
                            </td>
                          </ng-container>
                    <ng-container matColumnDef="subscription_start_date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Start Date</th>
                      <td mat-cell *matCellDef="let element">
                        {{element?.subscription_start_date | date: 'd-MMM-y'}} 
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="subscription_end_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">End Date</th>
                        <td mat-cell *matCellDef="let element">
                          {{element?.subscription_end_date | date: 'd-MMM-y'}} 
                        </td>
                      </ng-container>
                    <ng-container matColumnDef="subscription_vendor_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header width="25%"> Vendor </th>
                      <td mat-cell *matCellDef="let element" class="text-left"> <span
                          *ngIf="element.subscription_vendor_name">{{(element.subscription_vendor_name)}} </span>
                        <span *ngIf="!(element.subscription_vendor_name)"> - </span> </td>
                    </ng-container>
                    <ng-container matColumnDef="subscription_status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Status</th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.subscription_status == '1'">Inactive </span>
                        <span *ngIf="element.subscription_status == '2'"> Active </span>
                        <span *ngIf="element.subscription_status == '3'"> Suspended</span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Action</th>
                        <td mat-cell *matCellDef="let element">
                            <span><i class="fas fa-edit font-color-grey margin-right-15" (click)="editSubscription(element)"></i></span>
                            <span class="ver-line-divider"><i class="fas fa-trash font-color-red margin-left-15" (click)="openModal({});deleteSubscriptionModel(element)"></i></span>
                        </td>
                      </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedSubscriptionListColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedSubscriptionListColumns;">
                    </tr>
                  </table>
        
                  <table class="table table-borderd table-stripped custom-table text-center" style="margin-top:5px;">
                    <tr *ngIf="SUBSCRIPTION_LIST_ELEMENT.length == 0">
                      <td colspan="9">No Record Found</td>
                    </tr>
                  </table>
              </div>
            </div>
          </mat-card>
    </div>
  </div>
  <app-delete-modal #deleteModalRef [deleteMessage]="'Are you Sure? You want to Delete Subscription'" (deleteOk)="deleteSubscription(currentSubscription)" (deleteCancel)="deleteComCancel()">
    </app-delete-modal>
