<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-title>
            <h1 class="remove-bottom-margin font-size-24">View Teacher Profile</h1>
         </mat-card-title>
      </mat-card>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-content>
            <div class="row">
               <div class="col-lg-12 text-center font-size-14">
                  <p>Teacher Details</p>
               </div>
               <div class="col-lg-12 pd_left pd_right">
                  <form [formGroup]="Teacher_Form" novalidate>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="row">
                              <div class="col-lg-2">
                                 <div class="form-group row">
                                    <div class="image-upload">
                                       <label for="file-input">
                                          <img class="img-fluid teacher-img" [src]="url" style="width: 140px; border-radius: 50% !important;
                                             border: 1px solid rgb(149, 145, 216);" />
                                       </label>
                                       <input id="file-input" formControlName="au_profileimage" name="file-input"
                                          type="file" [attr.disabled]="true">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-10">
                                 <div class="row form-group">
                                    <div class="col-lg-2">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput formControlName="au_login_id" readonly
                                             placeholder="Teacher Id"
                                             (keydown.enter)="getTeacherByLoginid($event.target.value)" readonly>
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 mt-3" *ngIf="updateFlag">
                                       <button mat-mini-fab class="nav-button1 tab-display-flex"
                                          (click)="getTeacherDetail(0)"><i class="material-icons">
                                             first_page
                                          </i></button>
                                       <button mat-mini-fab class="nav-button1 tab-display-contents"
                                          (click)="getTeacherDetail(currentTeacherLoginIndex-1)"><i
                                             class="material-icons">
                                             navigate_before
                                          </i></button>
                                       <button mat-mini-fab class="nav-button1 tab-display-flex" [disabled]="nextB"
                                          (click)="getTeacherDetail(currentTeacherLoginIndex+1)"><i
                                             class="material-icons">
                                             navigate_next
                                          </i></button>
                                       <button mat-mini-fab class="nav-button1 tab-display-contents"
                                          (click)="getTeacherDetail(teacherArray.length - 1)"><i class="material-icons">
                                             last_page
                                          </i></button>
                                    </div>
                                    <div class="col-lg-4  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput formControlName="au_full_name" required
                                             [value]="userDetails.au_full_name" placeholder="Full Name" readonly>
                                       </mat-form-field>
                                    </div>
                                    &nbsp;
                                    <div class="col-lg-1 mt-3">
                                       <button mat-raised-button class="btn-primary btn-success"
                                          matTooltip="Search Teacher by Name" (click)="searchTeacher()">Search</button>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>User Name</mat-label>
                                          <input matInput formControlName="au_username" readonly
                                             [value]="userDetails.au_username" placeholder="User Name">
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput formControlName="au_mobile" required placeholder="Contact No."
                                             maxlength="10" minlength="10" readonly>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput name="schoolname" [value]="schoolinfoArray.school_name"
                                             readonly placeholder="School Name">
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput name="email" formControlName="au_email" required
                                             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                             placeholder="Email ID" readonly>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5 fin-tab-col-50 col-mobile-view-add-ques">
                                    </div>
                                    <div class="col-lg-7 fin-tab-col-50 col-mobile-view-add-ques">
                                       <div class="image-upload">
                                          Signature :
                                          <label for="file-input_sign">
                                             <img class="img-fluid teacher-img" [src]="Teacher_Form.value.usr_signature"
                                                style="width: 200px; height: 60px;  border: 1px solid rgb(149, 145, 216);"
                                                matTooltip="upload-image 109px*145px" />
                                          </label>
                                          <input id="file-input_sign" type="file" [attr.disabled]="true" />
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <mat-tab-group>
                     <mat-tab>
                        <ng-template mat-tab-label>
                           <span>Class Subject Relation</span>
                        </ng-template>
                        <div *ngIf="isExistUserAccessMenu('109')" id="teacher-csr">
                           <div class="row">
                              <div class="col-lg-12 white-box-content-title">
                                 <div class="text-center tab-title">
                                    <h6>Class Subject Relation</h6>
                                 </div>
                              </div>
                           </div>
                           <div *ngIf="!updateFlag" class="row row-remove-top-margin">
                              <div class="col-lg-12">
                                 <form [formGroup]="Cs_relation_Form" novalidate>
                                    <div class="row">
                                       <div class="col-md-2 col-lg-2 col-remove-left-padding  col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Designation</mat-label>
                                             <input matInput name="user" placeholder="Designation"
                                                formControlName="uc_designation" [value]="designation" readonly>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2  col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Department</mat-label>
                                             <input matInput placeholder="Department" formControlName="uc_department"
                                                [value]="department" readonly>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2  col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Class</mat-label>
                                             <mat-select formControlName="uc_class_id" #inputclass
                                                (change)="getSectionsByClass();getSubjectsByClass();setCurrentClass(inputclass.value)"
                                                placeholder="Class" required [disabled]=true>
                                                <mat-option [value]="">Select Class</mat-option>
                                                <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                                                   {{item.class_name}}
                                                </mat-option>
                                             </mat-select>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2 col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Section</mat-label>
                                             <mat-select formControlName="uc_sec_id" #inputsec
                                                (change)="getSubjectsByClass();setCurrentSection(inputsec.value)"
                                                placeholder="Section" required [disabled]=true>
                                                <mat-option [value]="">Select Section</mat-option>
                                                <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                                                   {{item.sec_name}}
                                                </mat-option>
                                             </mat-select>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2 col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Subject</mat-label>
                                             <mat-select formControlName="uc_sub_id" #inputsub
                                                (change)="setCurrentSubject(inputsub.value)" placeholder="Subject"
                                                required [disabled]=true>
                                                <mat-option [value]="">Select Subject</mat-option>
                                                <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                                                   {{item.sub_name}}
                                                </mat-option>
                                             </mat-select>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2">
                                          <div class="mt-3">
                                             <button mat-raised-button class="btn-success btn-primary" type="submit"
                                                (click)="addCSToTeacher()" readonly>Apply</button>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <table class=" dialog-table-review table" cellspacing="0">
                                    <thead>
                                       <tr class="dialog-table-review-header">
                                          <th>Class</th>
                                          <th>Section</th>
                                          <th>Subject</th>
                                          <th *ngIf="!updateFlag" class="text-center">Modify</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr *ngFor="let item of cs_relationArray; let i=index">
                                          <td>{{item.class_name}}</td>
                                          <td>{{item.sec_name}}</td>
                                          <td>{{item.sub_name}}</td>
                                          <td *ngIf="!updateFlag" class="text-center">
                                             <a>
                                                <i class="material-icons icon-danger icon-spacer" matTooltip="Delete"
                                                   (click)="deleteCSRelation(i)">delete</i>
                                             </a>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <br>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="row">
                                    <div class="col-lg-6">
                                       <button mat-raised-button class="btn-danger btn-spacer">
                                          <a [routerLink]="['../teacher-management']">Go
                                             Back</a>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </mat-tab>
                  </mat-tab-group>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
</div>