<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-title>
            <h1 class="remove-bottom-margin font-size-24">Create Teacher</h1>
         </mat-card-title>
      </mat-card>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-content>
            <div class="row">
               <div class="col-lg-12 text-center font-size-14">
                  <p>Fill Teacher Details</p>
               </div>
               <div class="col-lg-12 pd_left pd_right">
                  <form [formGroup]="Teacher_Form" novalidate>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="row">
                              <div class="col-lg-2">
                                 <div class="form-group row">
                                    <div class="image-upload">
                                       <label for="file-input">
                                          <img class="img-fluid teacher-img" id="teacherImage"
                                             src="{{hosturl+userDetails.au_profileimage}}"
                                             style="width: 109px; height: 145px; border:1px solid #9591d8">
                                       </label>
                                       <input id="file-input" formControlName="au_profileimage" name="file-input"
                                          type="file" [attr.disabled]="true">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-10">
                                 <div class="row form-group">
                                    <div class="col-lg-4">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput formControlName="au_login_id" readonly
                                             placeholder="Teacher Id"
                                             (keydown.enter)="getTeacherByLoginid($event.target.value)" readonly>
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-1 mt-3" *ngIf="updateFlag">
                                       <button *ngIf="currentTeacherLoginIndex > 0"
                                          class="btn btn-outline-success btn-sm" type="submit"
                                          (click)="getTeacherDetail(0)">
                                          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                       </button>
                                       <button class="btn btn-outline-success btn-sm" type="submit"
                                          (click)="getTeacherDetail(currentTeacherLoginIndex-1)">
                                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                                       </button>
                                       <button class="btn btn-outline-success btn-sm" type="submit"
                                          (click)="getTeacherDetail(currentTeacherLoginIndex+1)">
                                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                                       </button>
                                       <button *ngIf="currentTeacherLoginIndex < teacherArray.length-1"
                                          class="btn btn-outline-success btn-sm" type="submit"
                                          (click)="getTeacherDetail(teacherArray.length - 1)">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                       </button>
                                    </div>
                                    <div class="col-lg-4  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput formControlName="au_full_name" required
                                             placeholder="Full Name" readonly>
                                       </mat-form-field>
                                    </div>
                                    &nbsp;
                                    <div class="col-lg-1 mt-3">
                                       <button class="btn btn-outline-success btn-sm"
                                          matTooltip="Search Teacher by Name" (click)="searchTeacher()">Search</button>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput formControlName="au_mobile" required placeholder="Contact No."
                                             maxlength="10" minlength="10" readonly>
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput [value]="schoolinfoArray.school_prefix" readonly
                                             placeholder="School Code">
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row form-group">
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput name="schoolname" [value]="schoolinfoArray.school_name"
                                             readonly placeholder="School Name">
                                       </mat-form-field>
                                    </div>
                                    <div class="col-lg-5  col-mobile-view-add-ques">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <input matInput name="email" formControlName="au_email" required
                                             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                             placeholder="Email ID" readonly>
                                       </mat-form-field>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <mat-tab-group>
                     <mat-tab>
                        <ng-template mat-tab-label>
                           <span>Class Subject Relation</span>
                        </ng-template>
                        <div *ngIf="isExistUserAccessMenu('109')" id="teacher-csr">
                           <div class="row">
                              <div class="col-lg-12 white-box-content-title">
                                 <div class="text-center tab-title">
                                    <h6>Class Subject Relation</h6>
                                 </div>
                              </div>
                           </div>
                           <div class="row row-remove-top-margin">
                              <div class="col-lg-12">
                                 <form [formGroup]="Cs_relation_Form" novalidate>
                                    <div class="row">
                                       <div class="col-md-2 col-lg-2 col-remove-left-padding  col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Designation</mat-label>
                                             <input matInput name="user" placeholder="Designation"
                                                formControlName="uc_designation" [value]="designation" readonly>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2  col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Department</mat-label>
                                             <input matInput placeholder="Department" formControlName="uc_department"
                                                [value]="department" readonly>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2  col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Class</mat-label>
                                             <mat-select formControlName="uc_class_id" #inputclass
                                                (change)="getSectionsByClass();getSubjectsByClass();setCurrentClass(inputclass.value)"
                                                placeholder="Class" required [disabled]=true>
                                                <mat-option [value]="">Select Class</mat-option>
                                                <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                                                   {{item.class_name}}
                                                </mat-option>
                                             </mat-select>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2 col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Section</mat-label>
                                             <mat-select formControlName="uc_sec_id" #inputsec
                                                (change)="getSubjectsByClass();setCurrentSection(inputsec.value)"
                                                placeholder="Section" required [disabled]=true>
                                                <mat-option [value]="">Select Section</mat-option>
                                                <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id">
                                                   {{item.sec_name}}
                                                </mat-option>
                                             </mat-select>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2 col-mobile-view-add-ques">
                                          <mat-form-field class="form-field" appearance="outline">
                                             <mat-label>Subject</mat-label>
                                             <mat-select formControlName="uc_sub_id" #inputsub
                                                (change)="setCurrentSubject(inputsub.value)" placeholder="Subject"
                                                required [disabled]=true>
                                                <mat-option [value]="">Select Subject</mat-option>
                                                <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                                                   {{item.sub_name}}
                                                </mat-option>
                                             </mat-select>
                                          </mat-form-field>
                                       </div>
                                       <div class="col-md-2 col-lg-2">
                                          <div class="mt-3">
                                             <button mat-raised-button class="submit-button" type="submit"
                                                (click)="addCSToTeacher()" readonly>Apply</button>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <table class=" dialog-table-review table" cellspacing="0">
                                    <thead>
                                       <tr class="dialog-table-review-header">
                                          <th>Teacher Name</th>
                                          <th>Class</th>
                                          <th>Section</th>
                                          <th>Subject</th>
                                          <th class="text-center">Modify</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr *ngFor="let item of cs_relationArray; let i=index">
                                          <td>{{Teacher_Form.value.au_full_name}}</td>
                                          <td>{{item.class_name}}</td>
                                          <td>{{item.sec_name}}</td>
                                          <td>{{item.sub_name}}</td>
                                          <td class="text-center">
                                             <a>
                                                <i class="far fa-trash-alt table-delete-icon" aria-hidden="true"
                                                   matTooltip="Delete" (click)="deleteCSRelation(i)"></i>
                                             </a>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <br>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="row">
                                    <div class="col-lg-6">
                                       <button mat-raised-button class="reset-button">
                                          <a class="backBtn" target="_self" [routerLink]="['../teacher-management']">Go
                                             Back</a>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </mat-tab>
                     <mat-tab>
                        <ng-template mat-tab-label>
                           <span>Control Dashboard</span>
                        </ng-template>
                        <div>
                           <div role="tabpanel" *ngIf="isExistUserAccessMenu('114')" id="teacher-dashboard">
                              <form [formGroup]="Remark_Form" novalidate>
                                 <div class="row">
                                    <div class="col-lg-12 white-box-content-title">
                                       <h6 class="text-center tab-title">Control Dashboard</h6>
                                       <br>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                       <mat-form-field class="form-field" appearance="outline">
                                          <mat-label>Project</mat-label>
                                          <mat-select placeholder="Project" formControlName="pro_id"
                                             (ngModelChange)="getModuleList($event)" [disabled]=true>
                                             <mat-option value="">
                                                Select Project
                                             </mat-option>
                                             <mat-option *ngFor="let item of projectsArray" [value]="item.pro_id">
                                                {{item.pro_name}}
                                             </mat-option>
                                          </mat-select>
                                       </mat-form-field>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <div class="module-list">
                                          <ngx-treeview [config]="config" [items]="moduleItems"
                                             (selectedChange)="moduleValues = $event">
                                          </ngx-treeview>
                                       </div>
                                    </div>
                                 </div>
                                 <br>
                                 <div class="row">
                                    <div class="col-lg-4 pd_left pd_right">
                                       <button mat-raised-button class="submit-button"
                                          (click)="submitModule()">Submit</button>
                                       <button mat-raised-button class="reset-button">
                                          <a style="color:antiquewhite" [routerLink]="['../teacher-management']">Go
                                             Back</a>
                                       </button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </mat-tab>
                  </mat-tab-group>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
</div>