<div class="breadcrumb-section">
   <div class="row">
      <div class="bread-col-1 col-mobile-view-add-ques col-lg-1 ">
         <a [routerLink]="[homeUrl]">
            <i class="breadcrumb-icon fas fa-home"></i>
         </a>
      </div>
      <div class="bread-col-1 col-mobile-view-add-ques col-lg-1 ">
         <div class="vertical-line"></div>
      </div>
      <div class="col-lg-10 col-mobile-view-add-ques first-breadcrumb-title-col bread-col-10">
         <div class="first-breadcrumb-title">
            <span class="bread-title">Question Paper</span>
            <span class="bread-divider">-</span>
            <span class="bread-link">Select Template</span>
         </div>
      </div>
   </div>
</div>
<div class="add-question-content">
   <div class="row">
      <div class="col-lg-12 col-mobile-view-add-ques">
         <div class="white-box flip-card-white-box">
            <div class="white-box-content">
               <div class="row">
                  <div class="col-lg-12 col-mobile-view-add-ques">
                     <div class="white-box-content-title">
                        <span>Create Template</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="row main-flip-content-area first-flip-card">
                        <div class="flip-card" [routerLink]="['../specifictemplate']">
                           <mat-card class="mat-flip-card objective-card">
                              <img mat-card-image class="flip-card-img" src="/assets/images/Specific.png"
                                 alt="Photo of a Shiba Inu">
                              <mat-card-content class="flip-card-main-content-one">
                                 <span class="flip-card-content">
                                    Specific
                                    <br> Template
                                 </span>
                              </mat-card-content>
                           </mat-card>
                        </div>
                        <div class="flip-card" [routerLink]="['../generictemplate']">
                           <mat-card class="mat-flip-card objective-card">
                              <img mat-card-image class="flip-card-img" src="/assets/images/Generic.png"
                                 alt="Photo of a Shiba Inu">
                              <mat-card-content class="flip-card-main-content-two">
                                 <span class="flip-card-content">
                                    Generic
                                    <br> Template
                                 </span>
                              </mat-card-content>
                           </mat-card>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
            </div>
         </div>
      </div>
   </div>
</div>