.bulk-upload-content-marks {
    margin: 15px;
    height: 30vh;
    border: 4px dashed #88a3af;
}
.bulk-upload-icon {
    font-size: 72px !important;
    color: #88a3af;
}
.bulk-upload-main-content {
    text-align: center;
    font-size: 32px;
}
@media only screen and (max-width: 600px) {
    .bulk-upload-icon {
        font-size: 36px !important;
        color: #88a3af;
    }
    .bulk-upload-main-content {
        text-align: center;
        font-size: 20px;
    }
}
