<div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6 remove-col-padding-left">
            <span class="font-size-24">Chart Of Accounts</span>
          </div>
          <div class="col-6 remove-col-padding-right text-right">
            <!-- <button *ngIf="isExistUserAccessMenu('731')" style="background-color: #bdc2c9 !important;"
              mat-button
              class="btn-success-purple text-capitalize m-l-10"
              (click)="openDialog()"
            >
              Bulk Uplaod
            </button>&nbsp;&nbsp; -->
            <!-- <button  style="background-color: #bdc2c9 !important;"
              mat-button
              class="btn-success-purple text-capitalize m-l-10"
              (click)="openDialog()"
            >
              Bulk Uplaod
            </button> -->
            <button *ngIf="isExistUserAccessMenu('726')"  style="background-color: #1e88e5 !important;"
              mat-button
              class="btn-success-purple text-capitalize m-l-10"
              (click)="openCreateModal()"
            >
              Create New
            </button>
            <!-- <button *ngIf="isExistUserAccessMenu('726')" style="background-color: #1e88e5 !important;"
              mat-button
              class="btn-success-purple text-capitalize m-l-10"
              (click)="openCreateModal()"
            >
              Create New
            </button> -->
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row" [hidden]="!tableDivFlag">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="legacy">
                  <input matInput (keyup)="applyFilter($event.target.value)">
                  <mat-icon matPrefix>filter_list</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row remove-top-margin">
              <div class="col-12">
                <table mat-table [dataSource]="dataSource" matSort class="table-100 text-center">
  
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                      <!-- Select -->
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
  
                  <!-- Position Column -->
                  <ng-container matColumnDef="ac_code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.ac_code}} </td>
                  </ng-container>
  
                  <!-- Name Column -->
                  <ng-container matColumnDef="ac_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </th>
                    <td mat-cell *matCellDef="let element" class="text-left"> {{element.ac_name}} </td>
                  </ng-container>
  
                  <!-- Weight Column -->
                  <ng-container matColumnDef="ac_group">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
                    <td mat-cell *matCellDef="let element"> {{element.ac_group | titlecase}} </td>
                  </ng-container>
  
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="ac_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.ac_type | titlecase}} </td>
                  </ng-container>
                  <ng-container matColumnDef="dependencies_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dependancy Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.dependencies_type | titlecase}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="ac_cloosingbalance">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Closing Balance </th>
                      <td mat-cell *matCellDef="let element"> {{(element.ac_cloosingbalance + element?.opening_balance_cal) | indianCurrency}} </td>
                    </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="opening_balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opening Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.opening_balance | indianCurrency}} {{element.opening_balance_type | titlecase}}</td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="opening_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Opening Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.opening_date | date: 'd-MMM-yyyy'}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-slide-toggle class="btn-spacer my-toggle" [ngModel]="element.status === 'active' ? 'checked' : ''"
                      (change)="changeStatus(element.action)"></mat-slide-toggle>
                    </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                      
                        <span *ngIf="element.status !== 'lock' && isExistUserAccessMenu('730')"><i class="fas fa-unlock " (click)="lockAccount(element.action)"></i>
                        </span>

                        <span *ngIf="element.status === 'lock' && isExistUserAccessMenu('729')"><i class="fas fa-lock "></i>
                        </span>

                        <span class="margin-left-15 ver-line-divider"></span>

                     <span *ngIf="element.status !== 'lock' && isExistUserAccessMenu('727')"> 
                       <i class="fas fa-edit blue" (click)="editAccountModel(element.action)"></i>
                      <span class="margin-left-15 ver-line-divider"></span>
                    </span>
                      <i *ngIf="isExistUserAccessMenu('728')" class="fas fa-trash red" (click)="openDeleteDialog(element.action)"></i>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
                <table class="table table-borderd table-stripped custom-table text-center" style="margin-top:5px;">
                  <tr *ngIf="accountsArray.length == 0">
                    <td colspan="8">No Record Found</td>
                  </tr>
                </table>
                <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[5,10,25,100,500]" showFirstLastButtons>
                  </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- <div class="row" *ngIf="!tableDivFlag">
    <div class="col-12 text-center">
      <mat-card>
        <app-no-data
          [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'"
          [noDataText]="" [subText]="'Please select class, section and term'"></app-no-data>
      </mat-card>
    </div>
  </div>
  <app-delete-modal #deleteModal (deleteOk)="lockGradeCard($event)"></app-delete-modal>
  <app-delete-modal #deleteModalUnlock (deleteOk)="unlockGradeCard($event)"></app-delete-modal> -->
  <app-delete-modal #deleteModal [deleteMessage]="'Are you sure want to delete?'" (deleteOk)="deleteConfirm($event)">
  </app-delete-modal>