<div class="row">
   <div class="col-12">
      <mat-card>
         <mat-card-title>
            <h1 class="remove-bottom-margin font-size-24">Student Control Dashboard</h1>
         </mat-card-title>
      </mat-card>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <mat-card class="detail-question-box-blue">
         <mat-card-content>
            <div class="row">
               <div class="col-lg-12">
                  <mat-form-field class="form-field" appearance="outline">
                     <mat-label>Interface</mat-label>
                     <mat-select placeholder="Interface" [value]="typeVal" (selectionChange)="changeIsWebApp($event)">
                        <mat-option value="">Select Interface</mat-option>
                        <mat-option *ngFor="let item of typeArray" [value]="item.id">
                           {{item.name}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
            </div>
            <div class="row" *ngIf="moduleArray.length > 0">
               <div class="col-lg-12 col-apple-10 apple-screen-paramter-content-div col-mobile-view-add-ques">
                  <div>
                     <div>
                        <div class="col-apple-10">
                           <div class="module-list">
                              <ngx-treeview [config]="config" [items]="moduleItems"
                                 (selectedChange)="moduleValues = $event">
                              </ngx-treeview>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" *ngIf="moduleArray.length == 0">
               <div class="col-12">
                  <span>No Records Found</span>
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-lg-6 col-apple-10 ">
                  <button mat-raised-button class="btn-success btn-primary" (click)="submitModule()">Submit</button>
                  <button mat-raised-button class="btn-danger btn-spacer">
                     <a style="color:antiquewhite" [routerLink]="['../student-management']">Go Back</a>
                  </button>
               </div>
               <div class="col-lg-2">
               </div>
            </div>
            <br>
         </mat-card-content>
      </mat-card>
      <br>
      <br>
      <br>
      <br>
      <br>
   </div>
</div>