<!-- <div class="row footer-row">
    <div class="col-lg-12">
        <div class="hide-for-small-screen">
            <div class="row footer-row">
                <div class="col-lg-6">
                    <div class="hide-for-small-screen-apple">
                        <div class="row footer-row">
                            <div class="col-lg-3"></div>

                            <div class="col-lg-9">
                                <div class="text-left">
                                    <span class="footer-link footer-content">
                                        2018

                                        <i class="far fa-copyright"></i>
                                        Designed by

                                        <span class="footer-company">Invictusdigisoft</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hide-for-larger-screen">
                        <div class="row footer-row">
                            <div class="col-lg-4"></div>

                            <div class="col-lg-8">
                                <div class="text-left">
                                    <span class="footer-link footer-content">
                                        2018

                                        <i class="far fa-copyright"></i>
                                        Designed by

                                        <span class="footer-company">Invictusdigisoft</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row footer-row">
                        <div class="col-lg-12">
                            <div class="text-right right-footer-content">
                                <span class="footer-link footer-right-title">About</span>

                                <span class="footer-link footer-right-title">Privacy</span>

                                <span class="footer-link footer-right-title">T&C</span>

                                <span class="footer-link">
                                    <i class="far fa-question-circle footer-question"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="show-in-small-screen">
            <div class="row footer-row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <span class="footer-link footer-content">
                            2018

                            <i class="far fa-copyright"></i>
                            Designed by

                            <span class="footer-company">Invictusdigisoft</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="footer footer-background">
        <div class="row row-remove-top-margin">
          <div class="col-lg-12 hide-for-small-screen">
            <div class="row row-remove-top-margin">
              <div class="col-lg-12">
                  Copyright
                  <i class="far fa-copyright footer-icon"></i> 2018
                  <span class="footer-company-name font-white">
                    <b>Invictus DigiSoft</b>
                  </span>
              </div>
              <!-- <div class="col-lg-6 ">
                  <div class="row footer-row">
                      <div class="col-lg-12 hide-for-small-screen">
                          <div class="text-right right-footer-content">
                              <span class="footer-link footer-right-title">About</span>

                              <span class="footer-link footer-right-title">Privacy</span>

                              <span class="footer-link footer-right-title">T&C</span>

                              <span class="footer-link">
                                  <i class="far fa-question-circle footer-question"></i>
                              </span>
                          </div>
                      </div>
                  </div>
              </div> -->
            </div>
          </div>
        </div>
              <div class="col-lg-6 ">
                <div class="show-in-small-screen hide-for-larger-screen hide-for-apple-screen">
                <div class="row footer-row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <span class="footer-link footer-content">
                                2018
    
                                <i class="far fa-copyright"></i>
                                Designed by
    
                                <span class="footer-company">Invictusdigisoft</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        
      </div>