<div class="row">
  <div class="col-12 ">
    <mat-card class="remove-card-padding">
      <div class="row">
        <div class="col-6">
          <div class="top-card-title">
            <span class="font-size-24 font-medium">Classwork Update</span>
          </div>

        </div>
        <!-- <div class="col-6 text-right">
          <div class="top-card-title-form">
            <mat-form-field class="form-field-150 remove-form-field-bottom-margin" appearance="outline">
              <mat-label>Class</mat-label>
              <mat-select>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
      </div>

    </mat-card>
  </div>
</div>

<div class="row margin-top-15">
  <div class="col-12">
    <mat-card>
      <form [formGroup]="classworkForm">
        <ng-container formArrayName="periods">
          <ng-container *ngFor="let item of Periods.controls; let i = index" [formGroupName]="i">
            <div class="row">
              <div class="col-1 smart-col-5 margin-top-5 text-center">
                <span class="font-size-24  font-skyblue">{{i+1}}<sup>{{periodSup[i]}}</sup></span>
                <div class="margin-top-ve5"><span class="font-size-10 ">Period</span></div>
              </div>
              <div class="col-2">
                <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                  <mat-label>Subject</mat-label>
                  <mat-select formControlName="cw_sub_id" (selectionChange)="getClassByTeacherIdSubjectId(i);reviewElementSubject(i,$event)">
                    <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">{{item.sub_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-1">
                <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                  <mat-label>Category</mat-label>
                  <mat-select formControlName="cw_ctr_id" (selectionChange)="reviewElementCategory(i,$event)" >
                    <mat-option *ngFor="let item of categoryArray" [value]="item.ctr_id">{{item.ctr_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-1">
                <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                  <mat-label>Class</mat-label>
                  <mat-select formControlName="cw_class_id" (selectionChange)="getSectionByTeacherIdSubjectIdClassId(i);getTopicByClassSubject(i);reviewElementClass(i,$event)" >
                    <mat-option *ngFor="let item of classArray[i]" [value]="item.class_id">{{item.class_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-1">
                <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                  <mat-label>Section</mat-label>
                  <mat-select formControlName="cw_sec_id" (selectionChange)="reviewElementSection(i,$event)">
                    <mat-option *ngFor="let item of sectiontArray[i]" [value]="item.sec_id">{{item.sec_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                  <mat-label>Topic</mat-label>
                  <mat-select formControlName="cw_topic_id" (selectionChange)="getSubtopicByTopic(i);reviewElementTopic(i,$event)" >
                    <mat-option *ngFor="let item of topicArray[i]" [value]="item.topic_id">{{item.topic_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                  <mat-label>SubTopic</mat-label>
                  <mat-select formControlName="cw_st_id" (selectionChange)="reviewElementSubtopic(i,$event)">
                    <mat-option *ngFor="let item of subtopicArray[i]" [value]="item.st_id">{{item.st_name}}</mat-option>>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                  <mat-label>Assignment</mat-label>
                  <input matInput formControlName="cw_assignment_desc" (blur)="reviewElementAssignment(i,$event)">
                  <mat-icon matSuffix style="cursor: pointer" (click)="attachmentDialog(i)" >attachment</mat-icon>
                </mat-form-field>
              </div>

            </div>
            <hr>
          </ng-container>
        </ng-container>
      </form>
      <div class="row margin-top-20">
        <div class="col-12 text-center">
            <button mat-raised-button class="btn-success-green" (click)="openReviewClasswork()">Review</button>
            <button mat-raised-button class="btn-reset margin-left-10" (click)="cancelForm()" >cancel</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>