<div class="row">
  <div class="col-12 ">
    <mat-card class="remove-card-padding">
      <div class="row">
        <div class="col-6">
          <div class="top-card-title">
            <span class="font-size-24 font-medium">Classwork Update</span>
          </div>

        </div>
        <div class="col-6 text-right">
          <div class="top-card-title-form">
            <mat-form-field class="form-field-150 remove-form-field-bottom-margin" appearance="outline">
              <mat-label>Class</mat-label>
              <mat-select>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

    </mat-card>
  </div>
</div>

<div class="row margin-top-15">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col-1 smart-col-5 margin-top-5 text-center">
          <span class="font-size-24  font-skyblue">1<sup>st</sup></span>
          <div class="margin-top-ve5"><span class="font-size-10 ">Period</span></div>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Subject</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Section</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Topic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>SubTopic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Assignment</mat-label>
            <input matInput>
            <mat-icon matSuffix>attachment</mat-icon>
          </mat-form-field>
        </div>
        
      </div>
      <hr>
      <div class="row">
        <div class="col-1 smart-col-5 margin-top-5 text-center">
          <span class="font-size-24  font-skyblue">2<sup>nd</sup></span>
          <div class="margin-top-ve5"><span class="font-size-10 ">Period</span></div>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Subject</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Section</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Topic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>SubTopic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Assignment</mat-label>
            <input matInput>
            <mat-icon matSuffix>attachment</mat-icon>
          </mat-form-field>
        </div>
        
      </div>
      <hr>
      <div class="row">
        <div class="col-1 smart-col-5 margin-top-5 text-center">
          <span class="font-size-24  font-skyblue">3<sup>rd</sup></span>
          <div class="margin-top-ve5"><span class="font-size-10 ">Period</span></div>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Subject</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Section</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Topic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>SubTopic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Assignment</mat-label>
            <input matInput>
            <mat-icon matSuffix>attachment</mat-icon>
          </mat-form-field>
        </div>
        
      </div>
      <hr>
      <div class="row">
        <div class="col-1 smart-col-5 margin-top-5 text-center">
          <span class="font-size-24  font-skyblue">4<sup>th</sup></span>
          <div class="margin-top-ve5"><span class="font-size-10 ">Period</span></div>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Subject</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Section</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Topic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>SubTopic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Assignment</mat-label>
            <input matInput>
            <mat-icon matSuffix>attachment</mat-icon>
          </mat-form-field>
        </div>
        
      </div>
      <hr>
      <div class="row">
        <div class="col-1 smart-col-5 margin-top-5 text-center">
          <span class="font-size-24  font-skyblue">5<sup>th</sup></span>
          <div class="margin-top-ve5"><span class="font-size-10 ">Period</span></div>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Subject</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Section</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Topic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>SubTopic</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
            <mat-label>Assignment</mat-label>
            <input matInput>
            <mat-icon matSuffix>attachment</mat-icon>
          </mat-form-field>
        </div>
        
      </div>
      <hr>
      <div class="row margin-top-20">
        <div class="col-12 text-center">
            <button mat-raised-button class="btn-success-green">Review</button>
            <button mat-raised-button class="btn-reset margin-left-10">cancel</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

