.col-doc-img-3 {
    max-width: 10% ;
    flex: 0 0 10% ;
}

.col-custom-49 {
    max-width: 49% ;
    flex: 0 0 49% ;
}

.custom-col-44 {
    max-width: 44%;
    flex: 0 0 44%;
}



.custom-fee-entry-col-14 {
    max-width: 14%;
    flex: 0 0 14%;
}

.custom-fee-entry-col-10 {
    max-width: 10% ;
    flex: 0 0 10% ;
}

.custom-fee-entry-col-12 {
    max-width: 12% ;
    flex: 0 0 12% ;
}

.custom-fee-entry-col-5 {
    max-width: 4% ;
    flex: 0 0 4% ;
}

.custom-fee-entry-col-8 {
    max-width: 8% ;
    flex: 0 0 8% ;
}

