.selectedColor{
    background: #ffd740b3;
    text-align: center;
}
th.custom-th{
    color: rgba(0, 0, 0, 0.54)!important;
    height: 40px!important;
    padding:0px!important;
    font-size: 15px!important;
}
td.custom-td{
    color: rgba(0,0,0,.87)!important;
    height: 35px!important;
    padding:0px!important;
    font-size: 16px!important;
}
/* .table-width-subject{
    width:11%;
} */
.table-width{
    width:10%;
}