::ng-deep .mat-form-field-underline {
    display: none;
}

.highlight {
    font-weight: bold;
}

.example-full-width {
    width: 100%;
}

.example-full-width input {
      width: 100%;
}

.mat-progress-bar {
    height:2.5px;
}

.green-progress ::ng-deep .mat-progress-bar .mat-progress-bar-fill::before {
    background-color: #26a69a !important; 
}

.green-progress ::ng-deep .mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #26a69a !important; 
}

::ng-deep .mat-autocomplete-panel {
    margin-top:20px;
}

.margin-top--5 {
    margin-top: -5px;
}

.mat-option {
    height: 42px !important;
    line-height: 42px !important;
}

.font-color-green {
    color:#60BD5F;
}

