<ng-container *ngIf="!data.flag">
<div class="row">
  <div class="col-12">
    <div class="adv-jee-header">
      <h1 class="adv-jee-top-title">Jee (Advanced) Mock Test</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9 mob-col-100 instruct-container-side">
    <div class="row">
      <div class="col-12">
        <div class="adv-jee-sub-header">
          <h2 class="adv-jee-sub-title">Instructions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="adv-jee-instruction-screen padding-all-15">
          <div class="row">
            <div class="col-12 text-right">
              <label class="language-label-black font-size-14">View in :</label>
              <select class="adv-jee-language-select btn-spacer">
                <option value="volvo">English</option>
                <option value="saab">Hindi</option>
                <option value="opel">Tamil</option>
                <option value="audi">Telgu</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <h4 class="instruct-main-title text-uppercase">Read the instruction carefully</h4>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h4 class="instruct-main-title text-uppercase">General Instructions</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ol>
                <li>Total duration of the paper is 3 hours (180 minutes).</li>
                <li>The on-screen computer countdown timer on the top right corner of computer screen will display the
                  remaining time (in minutes) available to you for completing the paper. When the on-screen countdown
                  timer reaches zero, the paper will end by itself – <b>No input from your side will be accepted after
                    the timer reaches zero</b> and whatever answers have been saved by you will automatically be
                  submitted for evaluation.</li>
                <li>The <b>“Submit”</b> button present at the bottom right corner of the screen will remain deactivated
                  during the entire 180 minutes duration of the paper. Note that the <b>“Submit”</b> button will be
                  activated only after the timer has reached zero and the saved responses will be automatically
                  submitted. It is <b>NOT</b> required to click on <b>“Submit”</b> after the timer has reached zero.
                </li>
                <li>The Question Palette displayed on the right side of screen will show the status of each question as
                  per one of the following symbols <em>(the question numbers appear inside the symbols)</em>:
                  <table class="table-bordered table-70">
                    <tr>
                      <td class="text-center">
                        <img src="../../assets/default-ques-btn.svg" class="jee-btn-svg">
                        <span class="adv-jee-btn-dqb">1</span>
                      </td>
                      <td>
                        “Not Visited” - You have not visited the question yet.
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <img src="../../assets/notanswered.svg" class="jee-btn-svg">
                        <span class="adv-jee-btn-not-ans">2</span>
                      </td>
                      <td>
                        “Not Answered” - You have not answered the question yet.
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <img src="../../assets/answered.svg" class="jee-btn-svg">
                        <span class="adv-jee-btn-ans">3</span>
                      </td>
                      <td>
                        “Answered” - You have answered the question. All these questions will be evaluated.
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <img src="../../assets/saveforreview.svg" class="jee-btn-svg">
                        <span class="adv-jee-btn-sfr">4</span>
                      </td>
                      <td>
                        “Marked for Review” - You have NOT answered the question but have ONLY marked the question for
                        review.
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <img src="../../assets/ansmarkreview.svg" class="jee-btn-svg">
                        <span class="adv-jee-btn-amr">5</span>
                      </td>
                      <td>
                        “Answered and Marked for Review” - You have answered the question and have also marked it for
                        review. All these questions will be evaluated.
                      </td>
                    </tr>

                  </table>
                </li>
                <li>The “Marked for Review” status for a question indicates you would like to look at that question
                  again.</li>
                <li>You can click on the ">" arrow symbol, which appears to the left of question palette, to collapse
                  the question palette thereby maximizing the question window. To view the question palette again, you
                  can click on "<" symbol which appears on the right side of question window.</li> <li>Before you start
                    the paper, select your default language (either ENGLISH or HINDI) for viewing the questions by
                    selecting your preferred language from the drop down menu under “Choose your default language”
                    located below the “Instructions to Candidates” section.</li>
                <li>Anytime during the paper, you can change the question viewing language of the displayed question. To
                  change the question viewing language (either ENGLISH or HINDI) of the displayed question, select the
                  preferred language from the drop down menu under “View in” located in the upper right side of the
                  question viewing window.</li>
                <li>Anytime during the paper, you can change the default question viewing language of the question
                  paper. You can click on “Profile” image on top right corner of computer screen to change the default
                  language (either ENGLISH or HINDI) of the entire question paper during the exam. On clicking of
                  Profile image, you will get an option to change the default question viewing language.</li>
                <li>You can click on <i class="fas fa-arrow-circle-down font-size-30 font-color-blue align-middle"></i>
                  to navigate to the bottom and <i
                    class="fas fa-arrow-circle-up font-size-30 font-color-blue  align-middle"></i> to navigate to top of
                  the question are, without scrolling.</li>
                <li>You can also use the computer mouse to scroll up/down the question viewing area to view complete
                  contents of the question viewing area.</li>
                <li>At the end of this “Instructions to Candidates” section, you must click on the checkbox beside the
                  “I have read all the instructions and shall abide by them” and then only you will be able to proceed
                  to view and answer the questions at the start of the paper. Your on-screen clock will start at the
                  designated time of the start of the paper.</li>
                <li>The full question paper can be viewed anytime during the paper by clicking the “Question Paper”
                  button on the top right corner of the computer screen.</li>
                <li>These instructions can be viewed anytime during the paper by clicking “Instructions” button located
                  at the top right corner of the computer screen.</li>
              </ol>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <div class="hor-line-divider"></div>
            </div>
          </div>
          <div class="row margin-top-15 ">
            <div class="col-12 text-right">
              <button mat-button class="btn-clear-res btn-without-radius" routerLink="/advance-other-instruction"> Next <i
                  class="fas fa-angle-right"></i></button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mob-col-100">
    <div class="row">
      <div class="col-12 text-center">
        <img class="adv-jee-student-pic" src="http://i.pravatar.cc/150?img=32">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h5 class="adv-jee-stu-name"><b>John Doe</b></h5>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row margin-top-2">
    <div class="col-12 text-center">
      <div class="footer-container footer-background">
        <div class="text-center">
          <span> &#169; 2018 - Invictus DigiSoft Pvt Ltd.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
</ng-container>
<ng-container *ngIf="data.flag">
  <div class="row">
    <div class="col-12">
      <div class="adv-jee-header">
        <div class="float-right">
          <span style="color: white"><a (click)="closeDialog()">close</a></span>
          <span style="color: white">&times;</span>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 instruct-container-side">
      <div class="row">
        <div class="col-12">
          <div>
            <h5 class="text-center" style="color: #2f71b6">Instructions</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="adv-jee-instruction-screen padding-all-15">
              <div class="row">
                  <div class="col-12 text-right">
                    <label class="language-label-black font-size-14">View in :</label>
                    <select class="adv-jee-language-select btn-spacer">
                      <option value="volvo">English</option>
                      <option value="saab">Hindi</option>
                      <option value="opel">Tamil</option>
                      <option value="audi">Telgu</option>
                    </select>
                  </div>
                </div>
            <div class="row">
              <div class="col-12 text-center">
                <h4 class="instruct-main-title text-uppercase">Read the instruction carefully</h4>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12">
                <h4 class="instruct-main-title text-uppercase">General Instructions</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ol>
                  <li>Total duration of the paper is 3 hours (180 minutes).</li>
                  <li>The on-screen computer countdown timer on the top right corner of computer screen will display the
                    remaining time (in minutes) available to you for completing the paper. When the on-screen countdown
                    timer reaches zero, the paper will end by itself – <b>No input from your side will be accepted after
                      the timer reaches zero</b> and whatever answers have been saved by you will automatically be
                    submitted for evaluation.</li>
                  <li>The <b>“Submit”</b> button present at the bottom right corner of the screen will remain deactivated
                    during the entire 180 minutes duration of the paper. Note that the <b>“Submit”</b> button will be
                    activated only after the timer has reached zero and the saved responses will be automatically
                    submitted. It is <b>NOT</b> required to click on <b>“Submit”</b> after the timer has reached zero.
                  </li>
                  <li>The Question Palette displayed on the right side of screen will show the status of each question as
                    per one of the following symbols <em>(the question numbers appear inside the symbols)</em>:
                    <table class="table-bordered table-70">
                      <tr>
                        <td class="text-center">
                          <img src="../../assets/default-ques-btn.svg" class="jee-btn-svg">
                          <span class="adv-jee-btn-dqb">1</span>
                        </td>
                        <td>
                          “Not Visited” - You have not visited the question yet.
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <img src="../../assets/notanswered.svg" class="jee-btn-svg">
                          <span class="adv-jee-btn-not-ans">2</span>
                        </td>
                        <td>
                          “Not Answered” - You have not answered the question yet.
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <img src="../../assets/answered.svg" class="jee-btn-svg">
                          <span class="adv-jee-btn-ans">3</span>
                        </td>
                        <td>
                          “Answered” - You have answered the question. All these questions will be evaluated.
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <img src="../../assets/saveforreview.svg" class="jee-btn-svg">
                          <span class="adv-jee-btn-sfr">4</span>
                        </td>
                        <td>
                          “Marked for Review” - You have NOT answered the question but have ONLY marked the question for
                          review.
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <img src="../../assets/ansmarkreview.svg" class="jee-btn-svg">
                          <span class="adv-jee-btn-amr">5</span>
                        </td>
                        <td>
                          “Answered and Marked for Review” - You have answered the question and have also marked it for
                          review. All these questions will be evaluated.
                        </td>
                      </tr>
  
                    </table>
                  </li>
                  <li>The “Marked for Review” status for a question indicates you would like to look at that question
                    again.</li>
                  <li>You can click on the ">" arrow symbol, which appears to the left of question palette, to collapse
                    the question palette thereby maximizing the question window. To view the question palette again, you
                    can click on "<" symbol which appears on the right side of question window.</li> <li>Before you start
                      the paper, select your default language (either ENGLISH or HINDI) for viewing the questions by
                      selecting your preferred language from the drop down menu under “Choose your default language”
                      located below the “Instructions to Candidates” section.</li>
                  <li>Anytime during the paper, you can change the question viewing language of the displayed question. To
                    change the question viewing language (either ENGLISH or HINDI) of the displayed question, select the
                    preferred language from the drop down menu under “View in” located in the upper right side of the
                    question viewing window.</li>
                  <li>Anytime during the paper, you can change the default question viewing language of the question
                    paper. You can click on “Profile” image on top right corner of computer screen to change the default
                    language (either ENGLISH or HINDI) of the entire question paper during the exam. On clicking of
                    Profile image, you will get an option to change the default question viewing language.</li>
                  <li>You can click on <i class="fas fa-arrow-circle-down font-size-30 font-color-blue align-middle"></i>
                    to navigate to the bottom and <i
                      class="fas fa-arrow-circle-up font-size-30 font-color-blue  align-middle"></i> to navigate to top of
                    the question are, without scrolling.</li>
                  <li>You can also use the computer mouse to scroll up/down the question viewing area to view complete
                    contents of the question viewing area.</li>
                  <li>At the end of this “Instructions to Candidates” section, you must click on the checkbox beside the
                    “I have read all the instructions and shall abide by them” and then only you will be able to proceed
                    to view and answer the questions at the start of the paper. Your on-screen clock will start at the
                    designated time of the start of the paper.</li>
                  <li>The full question paper can be viewed anytime during the paper by clicking the “Question Paper”
                    button on the top right corner of the computer screen.</li>
                  <li>These instructions can be viewed anytime during the paper by clicking “Instructions” button located
                    at the top right corner of the computer screen.</li>
                </ol>
              </div>
  
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 instruct-container-side">
        <div class="row">
          <div class="col-12">
            <div>
              <h5 class="text-center" style="color: #2f71b6">Other Important Instructions</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="adv-jee-instruction-screen padding-all-15">
              <div class="row">
                <div class="col-12">
                  <h4 class="instruct-main-title text-uppercase">NAVIGATING THROUGH PARTS/SECTIONS OF QUESTION PAPER</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ol>
                    <li>Parts (PHYSICS, CHEMISTRY and MATHEMATICS) and sections of the parts thereof in the question paper are displayed on the top of the screen. Questions within a section can be viewed by clicking on the corresponding section name. The section which you will be viewing will be highlighted.</li>
                    <li>After clicking the “Save & Next” button on the last question of a part/section, you will automatically be taken to the first question of the next part/section.</li>
                    <li>You can shuffle between parts/sections and questions within parts/sections anytime during the paper as per your convenience.</li>
                    <li>ou can view the corresponding section summary which will be visible in every section above the question palette.</li>
                  </ol>
                </div>
              </div>
              <div class="row">
                  <div class="col-12">
                    <h4 class="instruct-main-title text-uppercase">NAVIGATING TO A QUESTION</h4>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <p>To navigate between questions, you need to do the following:</p>
                      <ol>
                        <li>
                            Click on the question number in the Question Palette at the right of the screen to go to that numbered question directly. Note that using this option does NOT save the answer (if it is answered) to the current question. To save the answer, you must click on “Save & Next” button.
                        </li>
                        <li>Click on “Save & Next” button to save the answer for the current question and then go to the next question.</li>
                        <li>Click on “Mark for Review & Next” button to mark it for review (with or without answering the question) and go to the next question.</li>
                      </ol>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                        <h4 class="instruct-main-title text-uppercase">ANSWERING A QUESTION </h4>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          
                          <ul>
                            <li>Follow the procedure, given in “Instructions to Candidates” sheet (handed over to you before the start of the paper), for answering a particular type of question.</li>
                            <li>To change the answer of a question that has already been answered, if required, first click on the “Clear Response” button to clear the saved answer and then follow the procedure for answering that type of question.</li>
                            <li>
                                To mark a question ONLY for review (i.e. without answering it), click on the “Mark for Review & Next” button.
                            </li>
                            <li>To mark a question for review (after answering it), click on “Mark for Review & Next” button – the answered question which is also marked for review will be evaluated.</li>
                            <li>To save the answer, click on the “Save & Next” button - the answered question will be evaluated.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                            <h4 class="instruct-main-title text-uppercase">END OF PAPER </h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <ul>
                              <li>When the on-screen computer countdown timer on the top right corner of computer screen reaches zero, the paper will end by itself – No input from your side will be accepted after the timer reaches zero and whatever answers have been saved by you will be automatically submitted for evaluation. Note that the “Submit” button will be activated only after the timer has reached zero and the saved responses will be automatically submitted. It is NOT required to click on “Submit” after the timer has reached zero.</li>
                            </ul>
                          </div>
                        </div>
                        <br>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>