<div class="assession-master-container" *ngIf="assessionMasterContainer">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6 margin-top-15">
            <span class="font-size-24">Assession Master</span>
          </div>
          <div class="col-5">
            <div class="search-container">
              <form [formGroup]="searchForm">
                <div class="row remove-top-margin">
                  <div class="col-6">
                    <mat-form-field class="lib-form form-field">
                      <input matInput placeholder="Search Any Book.." formControlName="search" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-6 margin-top-10  text-right">
                    <span class="font-size-12 margin-top-15 font-skyblue" (click)="openSearchDialog()">Advanced Search
                      <i class="fas fa-chevron-down"></i></span>
                    <button mat-button class="btn-spacer btn-lib-search margin-left-10" (click)="searchBook()">
                      Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-1">
            <button mat-raised-button class="btn-success-blue-add-book" (click)="addBook()">
              Add Book
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div [hidden]="BOOK_ELEMENT_DATA.length === 0">
              <table mat-table [dataSource]="bookDataSource" matSort class="table-100 text-center" id="report_table">
                <ng-container matColumnDef="sr_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:5px !important"> #</th>
                  <td mat-cell *matCellDef="let item"> {{item.sr_no}} </td>
                </ng-container>
                <ng-container matColumnDef="book_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10px !important">Book No.</th>
                  <td mat-cell *matCellDef="let item">
                    <a (click)="openBookModal(item.book_no)" style="color: #258de7; cursor: pointer;">
                      <u><b>{{item.book_no}}</b></u></a></td>
                </ng-container>
                <ng-container matColumnDef="book_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Book name</th>
                  <td mat-cell *matCellDef="let item" class="text-left mar-left-5">
                    {{item.book_name.toString() | titlecase | truncatetext: 30}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="author">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="mar-left-5"> Author </th>
                  <td mat-cell *matCellDef="let item" class="text-left mar-left-5">
                    {{item.authors | titlecase | truncatetext: 30}} </td>
                </ng-container>
                <ng-container matColumnDef="publisher">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="mar-left-5"> &nbsp;&nbsp;Publisher </th>
                  <td mat-cell *matCellDef="let item"> {{item.publisher.toString() | titlecase | truncatetext: 20}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10px"> &nbsp;&nbsp;Location </th>
                  <td mat-cell *matCellDef="let item"> {{item.location}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Status </th>
                  <td mat-cell *matCellDef="let item"> {{item.status | titlecase}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Action </th>
                  <td mat-cell *matCellDef="let item">
                    <span><i class="fas fa-edit font-color-grey margin-right-15"
                        *ngIf="item.action.reserv_status !== 'archived'" (click)="editReserv(item.action.reserv_id)"></i></span>
                    <span *ngIf="item.action.reserv_status === 'available' || item.action.reserv_status === 'flagged'"
                      class="ver-line-divider"><i class="fas fa-trash font-color-red margin-left-15"
                        (click)="openDeleteModal(item.action.reserv_id)"></i></span>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
              <mat-paginator #paginator [pageSize]="bookpagesize" [pageSizeOptions]="bookpagesizeoptions"
                showFirstLastButtons (page)="pageEvent = fetchData($event)"></mat-paginator>
            </div>
            <div [hidden]="!(BOOK_ELEMENT_DATA.length === 0)">
              <div class="text-center">
                <app-no-data
                  [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/reservoir/no_book_search.png'"
                  [noDataText]="'No books to display'" [subText]="'Please   add books'"></app-no-data>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div class="add-book-container" *ngIf="addBookContainer">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="row">
          <div class="col-6">
            <span class="font-size-24">Add Books</span> 
          </div>
          <div class="col-6 text-right">
            <div class="margin-top-10">
              <button mat-button class="btn-danger" style="border-radius: 5px !important;font-weight: bold"
                (click)="backToListing()">
                <i class="fas fa-chevron-left font-size-14"></i> Go Back
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <form [formGroup]="bookForm" autocomplete="off">
          <div class="row">
            <div class="col-12">
              <span class="font-size-20 font-bold">Book Details</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <div class=" margin-top-20">
                <div class="book-cover-img-2">
                  <div class="text-center">
                    <label for="file-input">
                      <img [src]="bookImage ? bookImage : '/assets/images/book_placeholder.png'" style="width: 160px;
                      height: 230px;
                      border-radius: 5px;
                      opacity: 1;">
                    </label>
                    <input id="file-input" #fileInput name="file-input" type="file" (change)="readUrl($event)" hidden />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-11">
              <div class="row ">
                <div class="col-12">
                  <div class="row">

                    <div class="col-1">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>ISBN Code</mat-label>
                        <input matInput placeholder="ISBN Code" formControlName="isbn" type="text" id="isbn_id"
                          tabindex="1" (blur)="getBooksBasedOnISBN($event);$event.stopPropagation()"
                          (keydown.enter)="getBooksBasedOnISBN($event);$event.stopPropagation()" />
                      </mat-form-field>
                    </div>

                    <div class="col-3">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title" required tabindex="2" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Sub-Title</mat-label>
                        <input matInput placeholder="Subtitle" tabindex="3" formControlName="subtitle" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Author</mat-label>
                        <input matInput placeholder="Author" formControlName="authors" required tabindex="4" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Kind/ Genre</mat-label>
                        <mat-select formControlName="genre_id" tabindex="5">
                          <mat-option *ngFor="let item of genreArray" [value]="item.genre_name">
                            {{item.genre_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-1">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Pages</mat-label>
                        <input matInput placeholder="Pages" tabindex="6" formControlName="page_count" type="number" />
                      </mat-form-field>
                    </div>

                    <div class="col-1">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput placeholder="Price" formControlName="price" type="number" step="0.01"
                          tabindex="7" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Publisher</mat-label>
                        <input matInput placeholder="Publisher" tabindex="8" formControlName="publisher" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Published Date</mat-label>
                        <input matInput placeholder="Published Date" tabindex="9" formControlName="publishedDate">
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Tag</mat-label>
                        <input matInput placeholder="Tag" tabindex="10" formControlName="tags" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Volume Info</mat-label>
                        <input matInput placeholder="Volume Info" tabindex="11" formControlName="volumeInfo" />
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Language</mat-label>
                        <mat-select formControlName="lang_id" tabindex="12">
                          <mat-option *ngFor="let item of languageArray" [value]="item.lang_code">
                            {{item.lang_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-2">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Print Type</mat-label>
                        <mat-select placeholder="Print Type" formControlName="type_id" tabindex="13">
                          <mat-option *ngFor="let item of typeArray" [value]="item.type_id">
                            {{item.type_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-8">
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="3" formControlName="description" tabindex="14"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="font-size-20 font-bold">Schools Details</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Book Type</mat-label>
                    <mat-select placeholder="Accession Sequence" formControlName="accessionsequence" required tabindex="15">
                      <mat-option *ngFor="let item of accessionSequenceArray" [value]="item.type_id">
                        {{item.type_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Book Type</mat-label>
                    <mat-select placeholder="Book Type" formControlName="category_id" required tabindex="15">
                      <mat-option *ngFor="let item of booktypeArray" [value]="item.type_id">
                        {{item.type_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select placeholder="Status" formControlName="reserv_status" required tabindex="16">
                      <mat-option *ngFor="let item of statusArray" [value]="item.type_id">
                        {{item.type_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2" *ngIf="bookForm.value.reserv_status === 'flagged'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select placeholder="Category" formControlName="status" tabindex="17"
                      [required]="bookForm.value.reserv_status === 'flagged'">
                      <mat-option *ngFor="let item of categoryArray" [value]="item.type_id">
                        {{item.type_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Source</mat-label>
                    <mat-select placeholder="Book Type" placeholder="Source" formControlName="source" tabindex="18">
                      <mat-option *ngFor="let item of sourceArray" [value]="item.type_id">
                        {{item.type_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Location Type</mat-label>
                    <mat-select placeholder="Location Type" formControlName="location_type" tabindex="19">
                      <mat-option value="class">Class Library</mat-option>
                      <mat-option value="library">Master Library</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1" *ngIf="bookForm?.value?.location_type=='class'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Class</mat-label>
                    <mat-select placeholder="Class" formControlName="location_class_id" tabindex="20">
                      <mat-option *ngFor="let item of classArray" [value]="item.class_id"
                        (click)="setClassLocation(item?.class_name)">
                        {{item.class_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1" *ngIf="bookForm?.value?.location_type=='class'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Section</mat-label>
                    <mat-select placeholder="Section" formControlName="location_sec_id" tabindex="21">
                      <mat-option *ngFor="let item of sectionArray" [value]="item.sec_id"
                        (click)="setSectionLocation(item?.sec_name)">
                        {{item.sec_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1" *ngIf="bookForm?.value?.location_type=='library'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Stack</mat-label>
                    <input matInput placeholder="Stack" formControlName="stack" required tabindex="20" />
                  </mat-form-field>
                </div>
                <div class="col-1" *ngIf="bookForm?.value?.location_type=='library'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Row</mat-label>
                    <input matInput placeholder="Row" formControlName="row" type="text" required tabindex="21" />
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Reference Class</mat-label>
                    <mat-select placeholder="Reference Class" formControlName="reserv_class_id" multiple tabindex="22">
                      <mat-option *ngFor="let item of classArray" [value]="item.class_id">
                        {{item.class_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Subject</mat-label>
                    <mat-select placeholder="Subject" formControlName="reserv_sub_id" tabindex="22">
                      <mat-option *ngFor="let item of subjectArray" [value]="item.sub_id">
                        {{item.sub_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>No. Of Copies</mat-label>
                    <input matInput placeholder="No. Of Copies" tabindex="23" type="number"
                      formControlName="no_of_copies" required />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="font-size-20 font-bold">Vendors Details</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Vendor ID</mat-label>
                    <input matInput placeholder="Vendor ID" formControlName="vendor_id" tabindex="24"
                      (blur)="getVenderDetails($event);$event.stopPropagation()"
                      (keydown.enter)="getVenderDetails($event);$event.stopPropagation()" type="number" />
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Vendor Name</mat-label>
                    <input matInput placeholder="Vendor Name" formControlName="vendor_name" readonly />
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" formControlName="vendor_address" readonly />
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contact No.</mat-label>
                    <input matInput placeholder="Contact No." formControlName="contact" readonly maxlength="10" />
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Email ID" formControlName="vendor_email" readonly />
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Authorised Contact Person</mat-label>
                    <input matInput placeholder="Authorised Contact Person" formControlName="name" readonly />
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput placeholder="Mobile No." formControlName="vendor_contact" readonly maxlength="10" />
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>PAN</mat-label>
                    <input matInput placeholder="PAN" formControlName="ven_pan_no" readonly />
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>GST No.</mat-label>
                    <input matInput placeholder="GST No." formControlName="ven_gst_no" readonly />
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>P O No</mat-label>
                    <input matInput placeholder="P O No" formControlName="vendor_po_no" tabindex="25" />
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Invoice No.</mat-label>
                    <input matInput placeholder="Invoice No." formControlName="vendor_invoice_no" tabindex="26" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-checkbox (change)="enableMulti($event)"><span class="font-bold">Add Multiple Records</span>
              </mat-checkbox>
            </div>
          </div>
          <br />
          <div class="row text-center">
            <div class="col-12">
              <button mat-raised-button class="btn-success-green" 
              [disabled]="disableApiCall"
              (click)="submitBook()">Submit</button>
              <button mat-raised-button class="btn-reset btn-spacer">
                Reset
              </button>
            </div>
          </div>
          <br>
        </form>
      </mat-card>
    </div>
  </div>
</div>
<app-imagecrop #cropModal (cropYes)="acceptCrop($event)" (cropNo)="acceptNo($event)" [roundCropper]="false"
  [resizeToWidth]="160"></app-imagecrop>
<app-advanced-search-modal (searchOk)="searchOk($event)" #searchModal></app-advanced-search-modal>
<app-book-details-modal #bookDet></app-book-details-modal>
<app-delete-modal #deleteModal (deleteOk)="deleteOk($event)" (cancel)="deleteCancel($event)"
  [deleteMessage]="delMessage" [inputText]="delText"></app-delete-modal>
<app-reservoir-edit-modal #editReservoir (updateReserv)="updateOk($event)" (cancelUpdate)="updateCancel()">
</app-reservoir-edit-modal>