td.mat-cell {
    border: 1px solid #89A8C9 !important;
    height: 35px;
    color: rgba(0,0,0,.87)!important;
    padding: .25rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    height: 40px;
    background: #C8D6E5;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54)!important;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}
td:nth-child(4) {
    text-align: left !important;
}
td:nth-child(5) {
    text-align: left !important;
}
.no-records {
    border-bottom: 1px solid #89A8C9;
    border-left: 1px solid #89A8C9;
    border-right: 1px solid #89A8C9;
}