td.mat-cell {
    border: 1px solid #89A8C9 !important;
    height: 30px;
    color: #222F3E;
    padding: .25rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
th.mat-header-cell {
    border: 1px solid #89A8C9 !important;
    height: 30px;
    background: #C8D6E5;
    font-weight: bold;
    color: #222F3E;
    padding: .25rem;
    font-family: Helvetica, Arial, sans-serif;
}
.no-records {
    border-bottom: 1px solid #89A8C9;
    border-left: 1px solid #89A8C9;
    border-right: 1px solid #89A8C9;
}