<div *ngIf="printmechanism">
   <div class="row">
      <div class="col-12 ">
         <mat-card class="card-top-title__container">
            <div class="row">
               <div class="col-6">
                  <h1 class="remove-bottom-margin font-size-24">Print Mechanism</h1>
               </div>
            </div>
         </mat-card>
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-12 ">
         <mat-card class="card-top-title__container card-height-677 card-height-795">
            <div class="section-config">
               <!-- <div class="row " *ngFor="let item of prefetchArray; let i =index">
                        <div class="col-1 margin-top-25">
                           <h6><b>{{i+1}}</b></h6>
                        </div>
                        <div class="col-7 margin-top-25">
                           <span>{{item.label}}</span>
                        </div>
                        <div class="col-4">
                           <br>
                           {{item.value}}
                        </div>
                     </div> -->
               <form [formGroup]="formGroupArray[i]" *ngFor="let item of customArray; let i = index">
                  <div class="row ">
                     <div class="col-1 margin-top-25">
                        <h6><b>{{i+1}}</b></h6>
                     </div>
                     <div class="col-7 margin-top-25">
                        <span>{{item.label}}</span>
                     </div>
                     <div class="col-4">
                        <mat-form-field class="form-field">
                           <input matInput formControlName="cust_val" [placeholder]="item.label">
                        </mat-form-field>
                     </div>
                  </div>
               </form>
               <br>
               <form [formGroup]="dateform">
                  <div class="row ">
                     <div class="col-1 margin-top-25">
                        <h6><b>{{customArray.length + 1}}</b></h6>
                     </div>
                     <div class="col-7 margin-top-25">
                        <span>Date of application for certificate</span>
                     </div>
                     <div class="col-4">
                        <mat-form-field class="form-field" appearance="outline">
                           <mat-label>Date of application for certificate</mat-label>
                           <input matInput [matDatepicker]="picker2" placeholder="Date of application for certificate" formControlName="adate">
                           <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                           <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                     </div>
                  </div>
                  <div class="row ">
                        <div class="col-1 margin-top-25">
                           <h6><b>{{customArray.length + 2}}</b></h6>
                        </div>
                        <div class="col-7 margin-top-25">
                           <span>Date of issue of certificate</span>
                        </div>
                        <div class="col-4">
                           <mat-form-field class="form-field" appearance="outline">
                              <mat-label>Date of issue of certificate</mat-label>
                              <input matInput [matDatepicker]="picker" placeholder="Date of issue of certificate" [min]="req_date2"
                              formControlName="pdate">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                        </div>
                     </div>
               </form>
               <div class="row">
                  <div class="col-12">
                     <mat-checkbox (change)="checkAck($event)">Do you want to print acknowledgement also ?
                     </mat-checkbox>
                  </div>
               </div>
               <div class="row ">
                  <div class="col-12 text-center">
                     <button mat-raised-button class="btn-success" (click)="print()"> Print</button>
                     <button mat-raised-button class="btn-danger btn-spacer"> Reset</button>
                     <button mat-raised-button class="btn-setting btn-spacer" (click)="getConfigForm()">Form
                        Configuration</button>
                     <button mat-raised-button class="btn-neutral btn-spacer" (click)="openDialog()">Preview</button>
                  </div>
               </div>
            </div>
         </mat-card>
      </div>
   </div>
</div>