  <div class="row">
     <div class="col-12 ">
        <mat-card class="card-top-title__container">
           <div class="row">
              <div class="col-6">
                 <h1 class="remove-bottom-margin font-size-24">Ledger</h1>
              </div>
           </div>
        </mat-card>
     </div>
  </div>
  <div class="row">
     <div class="col-12 padding-8">
        <app-common-student-profile [loginId]="lastRecordId" (next2)="next($event)" (prev2)="prev($event)"
           (first2)="first($event)" (last2)="last($event)" (key2)="key($event)" (next)="next2($event)"
           (prev)="prev2($event)" (first)="first2($event)" (last)="last2($event)" (key)="key2($event)"
           (processTypeEmit)="checkEmit($event)" [feeRenderId]="feeRenderId"></app-common-student-profile>
     </div>
  </div>
  <div class="row ">
      <div class="col-2"></div>
      <div class="col-8 padding-8">
         <mat-card class="card-top-title__container">
            <div class="row" [hidden]="!(ELEMENT_DATA.length > 0)">
                  <div class="col-8 remove-col-padding">
                     <mat-form-field appearance="legacy lib-form">
                        <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)" />
                        <mat-icon matPrefix>filter_list</mat-icon>
                     </mat-form-field>
                  </div>
                  <div class="col-2 remove-col-padding">
                     
                  </div>
                  <div class="col-2 remove-col-padding">
                        <span
                        style="float:right; padding-right: 10px;"><img style="cursor: pointer"
                          src="/assets/images/xml.svg" (click)="exportAsExcel()" matTooltip="Export as excel"></span>
                  </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <table mat-table [dataSource]="dataSource" class="text-center table-100" [hidden]="!(ELEMENT_DATA.length > 0)">
                     <!-- Position Column -->
                     <ng-container matColumnDef="w_rpt_no">
                        <th mat-header-cell *matHeaderCellDef>Txn Id</th>
                        <td mat-cell *matCellDef="let element" width="5%"><span *ngIf="element.w_rpt_no" class="pointer font-bold font-skyblue font-underline">
                           <a (click)="openReceiptDialog(element, false)">{{element.w_rpt_no}}</a>
                        </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>Total</td>
                     </ng-container>
                     <!-- Name Column -->
                     <ng-container matColumnDef="w_transaction_date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element" width="10%"> {{element.w_transaction_date}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="w_cheque_date">
                        <th mat-header-cell *matHeaderCellDef> Cheque Date </th>
                        <td mat-cell *matCellDef="let element" style="text-align: left !important;"> {{element.w_cheque_date | date:'d-MMM-y'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="w_amount">
                        <th mat-header-cell *matHeaderCellDef> Amount (<i class="fas fa-rupee-sign"></i>) </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element.w_amount_type"> {{element.w_amount_sign}}{{element.w_amount | number }} </td>
                        <td mat-footer-cell *matFooterCellDef>{{footerRecord.balancetype}}{{footerRecord.balancetotal | number}}</td>
                     </ng-container>
                     <ng-container matColumnDef="w_amount_type">
                        <th mat-header-cell *matHeaderCellDef> Amount Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.w_amount_type | titlecase}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="particulars">
                        <th mat-header-cell *matHeaderCellDef> particulars </th>
                        <td mat-cell *matCellDef="let element" style="text-align: left !important;"><span class="font-bold">{{element.particulars | titlecase}} </span>
                           <span *ngIf="element.subparticulars">-</span>
                           <small>
                              {{element.subparticulars | titlecase}}
                           </small> </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="w_cheque_no">
                        <th mat-header-cell *matHeaderCellDef> Cheque No </th>
                        <td mat-cell *matCellDef="let element"> {{element.w_cheque_no}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="w_bnk_id">
                        <th mat-header-cell *matHeaderCellDef> Bank </th>
                        <td mat-cell *matCellDef="let element"> {{element.w_bnk_id | titlecase}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="w_remarks">
                        <th mat-header-cell *matHeaderCellDef> Remarks </th>
                        <td mat-cell *matCellDef="let element"> {{element.w_remarks | titlecase}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="w_branch">
                        <th mat-header-cell *matHeaderCellDef> Branch </th>
                        <td mat-cell *matCellDef="let element"> {{element.w_branch | titlecase}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <ng-container matColumnDef="w_transaction_id">
                        <th mat-header-cell *matHeaderCellDef> Transaction Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.w_transaction_id}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                     </ng-container>
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                     <tr mat-footer-row *matFooterRowDef="displayedColumns;" [hidden]="ELEMENT_DATA.length == 0">

                  </table>
                  <table class="table-100 text-center" style="margin-top:5px;">
                     <tr *ngIf="ELEMENT_DATA.length == 0">
                     <td colspan="8">No Record Found</td>
                     </tr>
                  </table>
               </div>
            </div>
         </mat-card>
      </div>
      <div class="col-2"></div>
 </div>
 <app-bill-details-modal #billDetailsModal></app-bill-details-modal>