<div class="row">
   <div class="col-12 ">
      <mat-card class="card-top-title__container">
         <div class="row">
            <div class="col-6">
               <h1 class="remove-bottom-margin font-size-24"><i class="fas fa-wallet"></i> &nbsp; Wallet Ledger</h1>
            </div>
            <div class="col-6 text-right">               
               <i class="fas fa-sync-alt size-20 color-blue" matTooltip="Reload Data" (click)="refreshData()"></i>
            </div>
         </div>
      </mat-card>
   </div>
</div>
<div class="row" style="margin-top: 3px;">
   <div class="col-12 padding-8">
      <app-common-student-profile [loginId]="lastRecordId" (next2)="next($event)" (prev2)="prev($event)"
         (first2)="first($event)" (last2)="last($event)" (key2)="key($event)" (next)="next2($event)"
         (prev)="prev2($event)" (first)="first2($event)" (last)="last2($event)" (key)="key2($event)"
         (processTypeEmit)="checkEmit($event)" [feeRenderId]="feeRenderId" ></app-common-student-profile>
   </div>
</div>
<div class="row " style="margin-top: 3px;" *ngIf="ELEMENT_DATA.length > 0 ">
    <div class="col-2"></div>
    <div class="col-12">
       <mat-card class="card-top-title__container">
          
          <angular-slickgrid gridId="grid1" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
              [dataset]="ELEMENT_DATA" [gridHeight]="gridHeight" (onAngularGridCreated)="angularGridReady($event)" (sgOnClick) = "openReceiptDialog($event.detail.eventData, $event.detail.args)">
            </angular-slickgrid>
       </mat-card>
    </div>
    <div class="col-2"></div>
</div>

<div *ngIf="ELEMENT_DATA.length == 0 " class="row" style="margin-top: 3px;margin-left: 0.7%; width: 98.5%;">
 <div class="col-12 remove-col-padding">
    <mat-card class="card-top-title__container ">
      <div class="text-center font-size-20 font-bold font-color-brown">No Data Available</div>
    </mat-card>
  </div>
</div>
<app-bill-details-modal #billDetailsModal></app-bill-details-modal>
<app-delete-modal #deleteModal [deleteMessage]="'Are you sure want to delete?'" (deleteOk)="deleteConfirm($event)"></app-delete-modal>
<app-delete-with-reason #deleteWithReasonModal
 [deleteMessage]="'Please Choose Reason and Enter Remarks to Delete'"
 (deleteOk)="deleteInvoiceFinal($event)">
</app-delete-with-reason>