<div class="row">
    <div class="col-8" *ngIf="subtopicflag">
        <form [formGroup]="subtopicForm">
            <ng-container formArrayName="subtopicFromArray">
                <ng-container *ngFor="let item of subtopicFormArray.controls; let i = index" [formGroupName]="i">
                    <div class="row">
                        <div class="col-4 align-hcenter smartTextName">
                            {{item.value.gst_name}}
                        </div>
                        <div class="col-8">
                            <mat-form-field class="form-field remove-form-field-bottom-margin" appearance="outline">
                                <mat-label>Subtopic</mat-label>
                                <mat-select formControlName="st_id" multiple>
                                    <mat-option *ngFor="let item1 of tArray" [value]="item1.st_id">{{item1.st_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </form>
        <div class="row margin-top-20">
            <div class="col-12 text-center">
                <button mat-raised-button class="btn-success-green" (click)="submitsub()">Submit</button>
                <button mat-raised-button class="btn-reset margin-left-10" (click)="cancelForm()">cancel</button>
            </div>
        </div>
    </div>
    <div class="col-12 text-right" *ngIf="!subtopicflag">
        <app-no-data [imgsrc]="'https://s3.ap-south-1.amazonaws.com/files.invictusdigisoft.com/images/syllabus_empty_state.png'" [noDataText]="" [subText]="'Please select class, subject and topic'"></app-no-data>
    </div>
</div>