<div class="row">
  <div class="col-8 col-ver-line-divider" *ngIf="schedulerFlag">
    <angular-calendar-year-view 
    [themecolor]="themecolor" 
    [events]="events" 
    [yearFrom]= "getSession[0]"
    [yearTo]= "getSession[1]"
    [monthFrom]= "sessionStartMonth"
    [monthTo]= "sessionEndMonth"
    [nothingToshowText]="nothingToshowText"
      (eventClicked)="eventClicked($event)" (actionClicked)="actionClicked($event)">
    </angular-calendar-year-view>
  </div>
  <div class="col-3" *ngIf="ecArray.length > 0">
    <div class="steps">
      <div *ngFor="let item of ecArray;let i =index" [class]="bgClassColorArray[i]">
        <div class="step-header">
          <div class="header">{{item.ec_name}}</div>
          <div class="subheader" *ngFor="let item1 of item.ecArray">{{item1.sc_from | date:'dd MMM, yyyy'}} -
            {{item1.sc_title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>