<div class="container-box__white">
  <ng-container>
    <div class="functional-button-five">
      <button mat-fab *ngIf="(viewOnly && isExistUserAccessMenu('request'))" (click)="editRequest()"
        (keydown.enter)="$event.preventDefault()">
        <mat-icon class="btn-top-icon">create</mat-icon><span class="right-btn-text">Edit Request</span>
      </button>
    </div>
    <div class="padding-15">
      <div class="row">
        <div class="col-6">
          <div class="heading-class">Skills </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2" *ngIf="!viewOnly">
          <form [formGroup]="skillForm">
            <div class="inline-flex ">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Skills</mat-label>
                <input autocomplete="off" matInput placeholder="Placeholder" (keydown.enter)="insertSkill($event)"
                  type="text" formControlName="skill_id" [readonly]="viewOnly">
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="col-10" *ngIf="skillsArray.length > 0">
          <button *ngFor="let item of skillsArray" mat-stroked-button class="custom-entry-button margin-left-10">
            <span class="custom-btn-text">{{item}}</span>
            <i class="fas fa-times-circle custom-entry-btn-icon" *ngIf="!viewOnly" (click)="deleteSkill(item)"></i>
          </button>
        </div>
        <div class="col-10" *ngIf="skillsArray.length === 0 && viewOnly">
          <button *ngFor="let item of skillsArray" mat-stroked-button class="custom-entry-button margin-left-10">
            <span class="custom-btn-text">No Record Found</span>
            <i class="fas fa-times-circle custom-entry-btn-icon" *ngIf="viewOnly"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="padding-15">
      <form [formGroup]="remarksForm">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <div class="heading-class">Managements Remarks </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 ">
                <textarea rows="5" class="form-control" formControlName="management_remarks"
                  [readonly]="viewOnly"></textarea>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <div class="heading-class">Interview Remarks </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 ">
                <textarea rows="5" class="form-control" formControlName="interview_remarks"
                  [readonly]="viewOnly"></textarea>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-12 text-center ">
        <button *ngIf="addOnly" mat-raised-button class="btn-success btn-save-continue" (click)="saveForm()"
          [disabled]="disabledApiButton">Save &
          Continue</button>
        <button *ngIf="editOnly" mat-raised-button class="btn-success" (click)="updateForm(true)"
          [disabled]="disabledApiButton">Submit</button>
        <button *ngIf="editOnly" mat-raised-button class="btn-success btn-spacer btn-save-continue"
          (click)="updateForm(false)" [disabled]="disabledApiButton">Update &
          Continue</button>
        <button *ngIf="!viewOnly" mat-raised-button class="btn-danger btn-spacer" (click)="cancelForm()">Cancel</button>
      </div>
    </div>
  </ng-container>
</div>