.salary-card{
    border: 1px solid #BCBCBC;
    padding: 3%;
    border-radius: 10px;
    padding-bottom: 2%;
}
.form-css{
    display: block;
    width: 100%;
}
.padding-overall{
    padding-left: 15%;
    padding-right: 15%;
}
.height-90{
    height: 90px;
}