.custom-entry-btn-icon {
    font-size: 23px !important;
    margin-left: 1px !important;
    float: right !important;
    position: fixed !important;
    margin-top: 6px !important;
    margin-right: -10px !important;
    color: #2980C2 !important;
}
.custom-entry-button {
    width: 160px !important;
}
.text {
    z-index: 2000;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    top: calc(50% + 40px);
  }