.custom-entry-btn-icon {
    font-size: 23px !important;
    margin-left: 1px !important;
    float: right !important;
    position: relative !important;
    margin-top: 6px !important;
    margin-right: -10px !important;
    color: #2980C2 !important;
}
.custom-entry-button {
    width: auto !important;
}
.notSetteledInvoicesMessage {
    color:#ff0000 !important;
}

.custom-table {
    color:#ff0000 !important;
}
table.custom-table th {
    border:  2px solid #ff0000 !important
}
table.custom-table td {
    border:  2px solid #ff0000 !important
}
.custom-entry-btn-text {
    font-size: 18px;
    cursor: pointer;
}

.invoicefrm {
    overflow: auto;
}

.invoicefrmrow {
    // background: #ecf3f9;
    // padding: 5px;    
    margin-top: 0px !important;
    height: 44px;
}


.invoicefrmrow input.mat-input-element {
    margin-top: -.0625em;
}

.invoicefrmrow div {
    border-bottom: 1px solid #89A8C9 !important;
    border-left: 1px solid #89Abc9;
    height: 44px;
    vertical-align: middle;
}

.invoicefrmrow div:last-child {
    border-right: 1px solid #89Abc9;
}

.invoicefrmrow ::ng-deep .mat-form-field-underline {
    display: none;
    height:0 !important
}

.invoicefrmrow ::ng-deep .mat-form-field-infix {
    margin-top: -5px;

}

.invoicefrmrow ::ng-deep .mat-form-field-placeholder{
    color:#ccc !important;
}

.custom-entry-btn-icon {
    margin-right:20px !important;
}

// .invoice-bulk-table-label {
//     font-size:18px;
// }

.text {
    z-index: 2000;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    top: calc(50% + 40px);
  }
  @media (max-width: 2399px) and (min-width: 1900px) {
    .card-height-720 {
        min-height: 435px !important;
    }
    }
    @media (max-width: 1899px) and (min-width: 1200px) {
    .card-height-605 {
        min-height: 433px !important;
    }
    }
    @media (max-width: 1199px) and (min-width: 992px) {
    .card-height-605 {
        min-height: 432px !important;
    }
    }
    ::ng-deep.my-toggle > label > div > div > div.mat-slide-toggle-thumb {
    background-color: #1aed11 !important;
    }
    ::ng-deep.my-toggle > label > div.mat-slide-toggle-bar {
    background-color: #1aed11 !important;
    }
    .fieldset_invoice{
        margin-left: 20px;
    }