.custom-entry-btn-icon {
    font-size: 23px !important;
    margin-left: 1px !important;
    float: right !important;
    position: relative !important;
    margin-top: 6px !important;
    margin-right: -10px !important;
    color: #2980C2 !important;
}
.custom-entry-button {
    width: auto !important;
}
.text {
    z-index: 2000;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    top: calc(50% + 40px);
  }
  @media (max-width: 2399px) and (min-width: 1900px) {
    .card-height-720 {
        min-height: 435px !important;
    }
    }
    @media (max-width: 1899px) and (min-width: 1200px) {
    .card-height-605 {
        min-height: 433px !important;
    }
    }
    @media (max-width: 1199px) and (min-width: 992px) {
    .card-height-605 {
        min-height: 432px !important;
    }
    }
    ::ng-deep.my-toggle > label > div > div > div.mat-slide-toggle-thumb {
    background-color: #1aed11 !important;
    }
    ::ng-deep.my-toggle > label > div.mat-slide-toggle-bar {
    background-color: #1aed11 !important;
    }
    .fieldset_invoice{
        margin-left: 20px;
    }